<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:section name="tx_mooxnews_domain_model_tag">
		<f:if condition="{folders -> f:count()}>0">			
			<f:render partial="Table/Body/Mod3/Controls/Move" arguments="{_all}" />
		</f:if>		
		<a class="moox-control" href="#" onclick="top.launchView('tx_mooxnews_domain_model_tag', '{tag.uid}'); return false;" title="Infos von {tag.title} anzeigen [UID: {category.uid}]">
			<core:icon identifier="actions-document-info" />
		</a>
		<a class="moox-control" href="{n:be.link(action:'edit',table:'tx_mooxnews_domain_model_tag',uid:tag.uid,returnUrl:returnUrl)}" title="{tag.title} bearbeiten [UID: {category.uid}]">
			<core:icon identifier="actions-document-open" />	
		</a>
		<f:if condition="{tag.hidden} == 1">
			<f:then>
				<a class="moox-control" href="{n:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_tag][{tag.uid}][hidden]=0', redirectUrl: returnUrl)}" title="Tag aktivieren">
					<core:icon identifier="actions-edit-unhide" />
				</a>
			</f:then>
			<f:else>
				<a class="moox-control" href="{n:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_tag][{tag.uid}][hidden]=1', redirectUrl: returnUrl)}" title="Tag deaktivieren">
					<core:icon identifier="actions-edit-hide" />
				</a>
			</f:else>
		</f:if>				
		<n:be.removeTag tag="{tag}" />		
	</f:section>
	
	<td class="col-control">
		<div class="btn-toolbar pull-right" role="toolbar">		
			<div class="btn-group" role="group">
				<f:switch expression="{table}">
					<f:case value="tx_mooxnews_domain_model_tag">															
						<f:render section="tx_mooxnews_domain_model_tag" arguments="{_all}" />
					</f:case>							
				</f:switch>			
			</div>
		</div>
	</td>
	
</div>