<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:for each="{replacements}" as="replacement">
		<v:variable.set name="speaker.title" value="{v:format.replace(substring: replacement.search, content: speaker.title, replacement: replacement.replace)}" />
	</f:for>		
	<tr class="db_list_normal speaker-detail" style="display:none" id="speaker-detail-{speaker.uid}">	
		<td colspan="{v:math.sum(a:'{fields->f:count()}',b:1)}">
			<div class="form-horizontal well well-sm" style="margin-bottom:0px;padding-left:49px;padding-top:10px">
				<div class="form-group" style="margin-bottom:0px">
					<label for="title" class="col-sm-2 control-label" style="text-align:left">Name:</label>
					<div class="col-sm-10 form-control-static">
						<div class="value">{f:format.raw(value: speaker.title)}</div>
					</div>		
				</div>	
				<f:if condition="{speaker.position}!=''">
					<div class="form-group" style="margin-bottom:0px">
						<label for="title" class="col-sm-2 control-label" style="text-align:left">Position/Firma:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{f:format.raw(value: speaker.position)}</div>
						</div>		
					</div>	
				</f:if>
				<f:if condition="{speaker.description}!=''">
					<div class="form-group" style="margin-bottom:0px">
						<label for="title" class="col-sm-2 control-label" style="text-align:left">Beschreibung:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value" style="max-width: 600px">{f:format.raw(value: speaker.description)}</div>
						</div>		
					</div>	
				</f:if>
				<f:if condition="{speaker.image->f:count()}>0">
					<div class="form-group clearfix" style="margin-bottom:0px">
						<label for="{field.name}" class="col-sm-2 control-label" style="text-align:left">{label}</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">
								<f:for each="{speaker.image}" as="image" iteration="iteration">
									<f:image src="{image.uid}" class="img-thumbnail" treatIdAsReference="1" title="{image.originalResource.title}" alt="{image.originalResource.alternative}" height="80c" width="80c" />																			
								</f:for>															
							</div>
						</div>		
					</div>	
				</f:if>
			</div>
		</td>							
	</tr>
	
</div>