<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">
	
	<f:layout name="General" />
	<!--
		=====================
			Templates/News/List.html
	-->
	
	<f:section name="content">
		<v:variable.set name="showFilter" value="0" />
		<f:if condition="{settings.hideFilter}!=1">
			<f:if condition="{types -> f:count()}>0">
				<v:variable.set name="showFilter" value="1" />
			</f:if>
			<f:if condition="{categories}">
				<v:variable.set name="showFilter" value="1" />
			</f:if>
			<f:if condition="{targets}">
				<v:variable.set name="showFilter" value="1" />
			</f:if>
			<f:if condition="{years}">
				<v:variable.set name="showFilter" value="1" />
			</f:if>
		</f:if>	
		<f:if condition="{showFilter}">				
			<f:if condition="{settings.templateLayout}!=2"> 					
				<f:render partial="List/Filter" section="form" arguments="{_all}" />
			</f:if>
		</f:if>
		<f:if condition="{news}">
			<f:then>
				<f:if condition="{settings.templateLayout}<2">
					<div class="news-list-view clearfix" id="news-container-{contentObjectData.uid}">
						<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</f:then>
							<f:else>
								<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
									<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
										<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
									</f:for>
								</n:widget.paginate>
							</f:else>
						</f:if>
					</div>
				</f:if>
			</f:then>
			<f:else>
				<div class="no-news-found">
					<div class="alert alert-info" role="alert"><f:translate key="list_nonewsfound" /></div>
				</div>
			</f:else>
		</f:if>	
	</f:section>

</html>