{namespace n=Neulandlotsen\MooxNews\ViewHelpers}
<!--
	=====================
		Partials/List/ItemTopNews.html
-->

	<n:excludeDisplayedNews newsItem="{newsItem}" />
	
			<f:if condition="{newsItem.falMedia}">
				<f:then>
					<f:if condition="{newsItem.falMediaPreviews}">
						<f:then>
							<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
								<f:if condition="{mediaElement.originalResource.type} == 2">
									<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" width="1170c" height="450c" />
								</f:if>
							</f:alias>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
								<span class="no-media-element"></span>
							</f:if>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{settings.displayDummyIfNoMedia}">
						<f:then>
							<n:link newsItem="{newsItem}" settings="{settings}">
								<span class="no-media-element"></span>
							</n:link>
						</f:then>
					</f:if>
				</f:else>
			</f:if>
		<div class="carousel-caption moox-news-content">
			<div class="moox-news-content-meta">
				<span class="moox-news-content-date"><n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date></span>
				<span class="moox-news-content-category news-list-category">{newsItem.firstCategory.title}</span>
			</div>
			<div class="moox-news-content-teaser">
				<div class="moox-news-content-taser-head">
					<h3>
						<n:link newsItem="{newsItem}" settings="{settings}">
							{newsItem.title}
						</n:link>
					</h3>
					<f:if condition="{newsItem.teaser}">
						<f:then>						
							<f:format.html><f:format.crop maxCharacters="250" respectWordBoundaries="1">{newsItem.teaser}</f:format.crop></f:format.html>
						</f:then>
						<f:else>
							<f:if condition="{settings.cropMaxCharacters}">
								<f:then>
									<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
								</f:then>
									<f:format.html><f:format.crop maxCharacters="300" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
								<f:else>
								</f:else>
							</f:if>
						</f:else>											
					</f:if>
					<n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-default more">
						<f:translate key="more-link" />
					</n:link>
				</div>
			</div>
		</div>