<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	
	<f:spaceless>
		<f:if condition="{task.newsCount}>0">
			<v:variable.set name="popover" value="" />
			<f:for each="{task.news}" as="newsItem" iteration="iteration">
				<v:variable.set name="popover" value="{popover}<div class='popover-item'>{newsItem.title} [UID: {newsItem.uid}]</div>" />
			</f:for>
		</f:if>
	</f:spaceless>
	<div class="panel panel-primary panel-task" id="panel-task-{task.uid}">
		<div class="panel-heading clearfix"><span class="pull-left" style="margin-left:-5px;margin-right:10px"><core:icon identifier="mooxmailer_icons_scheduler" size="default" /></span><h3>{task.description}<br><small>[UID: {task.uid}]</small></h3></div>
		<div class="panel-body">
			<div class="task">
				<div class="row">
					<div class="col-md-5">
						<strong>Versand von:</strong>
					</div>
					<div class="col-md-7">
						<f:switch expression="{task.type}">
							<f:case value="MooxNewsSendTask">
								<f:comment><core:icon identifier="ext-news-type-default" />&nbsp; </f:comment>News
							</f:case>
							<f:defaultCase></f:defaultCase>
						</f:switch>
					</div>
				</div>
				<div class="row<f:if condition="({task.newsLimit}>0) && {task.newsCount}<{task.newsLimit}"> row-warning</f:if>">
					<div class="col-md-5">
						<strong>Anzahl vorbereiteter News:</strong>
					</div>
					<div class="col-md-7">
						<a href="javascript:void()" data-uid="{task.uid}" data-html="1" data-content="{popover}" data-title="Ausgewählte Einträge" data-trigger="click" data-placement="bottom" data-container=".moox-mailer-module" data-toggle="{f:if(condition:'{task.newsCount}>0',then:'popover')}">{task.newsCount}<f:if condition="{task.newsLimit}>0"> von {task.newsLimit}</a></f:if>
					</div>
				</div>
				<f:if condition="{task.disable}">
					<f:then>
						<div class="row">
							<div class="col-md-5">
								<strong>Automatische Ausführung:</strong>
							</div>
							<div class="col-md-7">
								deaktiviert (nur manuelle Ausführung)
							</div>
						</div>
					</f:then>
					<f:else>
						<div class="row">
							<div class="col-md-5">
								<strong>Nächste automatische Ausführung:</strong>
							</div>
							<div class="col-md-7">
								<f:comment><core:icon identifier="actions-edit-pick-date" /> </f:comment>{task.nextRun}
							</div>
						</div>
					</f:else>
				</f:if>
				<div class="row">
					<div class="col-md-5">
						<strong>Eingeschlossene Kategorien:</strong>
					</div>
					<div class="col-md-7">
						<f:comment><div class="pull-left" style="display:inline-block"><core:icon identifier="mimetypes-x-sys_category" /></div></f:comment>
						<div class="category-display" style="margin-left:0px">
							<v:variable.set name="categoriesText" value="" />
							<v:variable.set name="categoriesTooltip" value="" />
							<f:if condition="{task.includedCategories -> f:count()}>0">
								<f:then>
									<f:for each="{task.includedCategories}" as="category" iteration="iteration2">
										<v:variable.set name="categoriesText" value="{categoriesText}{category.title}{f:if(condition: iteration2.isLast, else: ', ')}" />
										<v:variable.set name="categoriesTooltip" value="{categoriesTooltip}{category.title}{f:if(condition: iteration2.isLast, else: '&#10;')}" />
									</f:for>
								</f:then>
								<f:else>
									<v:variable.set name="categoriesText" value="Alle Kategorien" />
									<v:variable.set name="categoriesTooltip" value="Alle Kategorien" />
								</f:else>
							</f:if>
							<span title="{categoriesTooltip -> f:format.raw()}"><f:format.crop maxCharacters="200">{categoriesText}</f:format.crop></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<strong>Ausgeschlossene Kategorien:</strong>
					</div>
					<div class="col-md-7">
						<f:comment><div class="pull-left" style="display:inline-block"><core:icon identifier="mimetypes-x-sys_category" /></div></f:comment>
						<div style="margin-left:0px">
							<v:variable.set name="categoriesText" value="" />
							<v:variable.set name="categoriesTooltip" value="" />
							<f:if condition="{task.excludedCategories -> f:count()}>0">
								<f:then>
									<f:for each="{task.excludedCategories}" as="category" iteration="iteration2">
										<v:variable.set name="categoriesText" value="{categoriesText}{category.title}{f:if(condition: iteration2.isLast, else: ', ')}" />
										<v:variable.set name="categoriesTooltip" value="{categoriesTooltip}{category.title}{f:if(condition: iteration2.isLast, else: '&#10;')}" />
									</f:for>
								</f:then>
								<f:else>
									<v:variable.set name="categoriesText" value="Keine Kategorien" />
									<v:variable.set name="categoriesTooltip" value="Keine Kategorien" />
								</f:else>
							</f:if>
							<span title="{categoriesTooltip -> f:format.raw()}"><f:format.crop maxCharacters="100">{categoriesText}</f:format.crop></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer clearfix right">
			<f:if condition="{mc:be.security.check(permission:'tables_modify',value:'tx_scheduler_task')}">
				<a href="{f:be.uri(route:'system_txschedulerM1')}&CMD=edit&tx_scheduler[uid]={task.uid}&returnUrl={returnUrl -> f:format.urlencode()}" class="btn btn-default btn-task">
					<core:icon identifier="mooxmailer_icons_scheduler" overlay="overlay-edit" /> Job bearbeiten
				</a>&nbsp;
			</f:if>
			<f:if condition="{task.newsLimit}>0 && {task.newsCount}>0 && {task.newsCount}<{task.newsLimit}">
				<f:then>
					<f:link.action class="btn btn-primary btn-task pull-right t3js-modal-trigger" arguments="{uid:task.uid}" action="executeTask" data="{
						severity:'warning',
						title:'Mails versenden',
						content:'Es wurden bisher weniger als {task.newsLimit} News für den Versand markiert. Wollen Sie den Mailer-Job \"{task.description}\" trotzdem ausführen?',
						button-close-text:'abbrechen',
						button-ok-text:'jetzt wirklich {task.newsCount} von {task.newsLimit} versenden'
					}">
						<core:icon identifier="mooxmailer_icons_scheduler" /> Jetzt versenden
					</f:link.action>
				</f:then>
				<f:else>
					<f:if condition="{task.newsCount}>0">
						<f:then>
							<f:link.action class="btn btn-primary btn-task pull-right t3js-modal-trigger" arguments="{uid:task.uid}" action="executeTask" data="{
								severity:'info',
								title:'Mails versenden',
								content:'Wollen Sie den Mailer-Job \"{task.description}\" wirklich ausführen?',
								button-close-text:'abbrechen'
								button-ok-text:'jetzt wirklich versenden'
							}">
								<core:icon identifier="mooxmailer_icons_scheduler" /> Jetzt versenden
							</f:link.action>
						</f:then>
						<f:else>
							<button class="btn btn-primary btn-task pull-right" disabled="disabled">
								<core:icon identifier="mooxmailer_icons_scheduler" /> Jetzt versenden
							</button>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</div>
	</div>

</div>