<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <footer class="page-footer">
       <f:if condition="{record.layout}==1">
            <v:page.rootline as="rootline">
                <f:spaceless>
                    <v:variable.set name="returnPage" value="" />
                    <f:for each="{rootline}" as="page" iteration="iteration">
                        <f:if condition="{iteration.index}>0 && {returnPage}=='' && {page.doktype}==1">
                            <v:variable.set name="returnPage" value="{page.uid}" />
                        </f:if>
                    </f:for>
                </f:spaceless>
                <f:if condition="{returnPage}">
                    <div class="page-footer-blue">
                        <div class="container">
                            <a href="{f:uri.page(pageUid:returnPage)}" class="page-backlink" title="{f:if(condition:backlinkLabel,then:backlinkLabel,else:'zur Übersicht')}"><img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/back.svg" class="img-back img-fluid" alt="{f:if(condition:backlinkLabel,then:backlinkLabel,else:'zur Übersicht')}">{f:if(condition:backlinkLabel,then:backlinkLabel,else:'zur Übersicht')}</a>
                        </div>
                    </div>
                </f:if>
            </v:page.rootline>
        </f:if>
        <div class="page-footer-grey">
            <div class="container">
                <div class="row row-footer">
                    <div class="col-12 col-lg-4 col-social">
                        <f:link.typolink parameter="{f:if(condition:linkTargetFacebook, then:linkTargetFacebook, else:'#')}" class="page-sociallink facebook" title="Facebook">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/facebook.svg" class="img-logo img-fluid" alt="Facebook">
                        </f:link.typolink>
                        <f:link.typolink parameter="{f:if(condition:linkTargetYoutube, then:linkTargetYoutube, else:'#')}" class="page-sociallink youtube" title="YouTube">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/youtube.svg" class="img-logo img-fluid" alt="YouTube">
                        </f:link.typolink>
                        <f:link.typolink parameter="{f:if(condition:linkTargetWordpress, then:linkTargetWordpress, else:'#')}" class="page-sociallink blog" title="Wordpress">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/wpblog.svg" class="img-logo img-fluid" alt="Wordpress">
                        </f:link.typolink>
                    </div>
                    <div class="col-12 col-lg-4 col-meta">
                        <f:render partial="Navigation" section="Meta" arguments="{_all}" />
                    </div>
                    <div class="col-12 col-lg-4 col-copy">
                        © {v:system.timestamp() -> f:format.date(format:'Y')} heco GmbH
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>