<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <header class="page-header">
        <div class="page-header-shadow">

        </div>
        <div class="container">
            <div class="row row-header">
                <div class="col-4 col-logo-lang">
                    <div class="header-logo">
                        <a href="{v:site.url()}" title="heco: Startseite">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/logo_heco.svg" class="img-logo img-fluid" alt="heco Logo">
                        </a>
                    </div>
                    <v:page.languageMenu defaultIsoFlag="de" defaultLanguageLabel="deutsch" labelOverwrite="de,en,cz" hideNotTranslated="1">
                        <f:if condition="{languageMenu -> f:count()}>0">
                            <div class="header-languages">
                                <f:for each="{languageMenu}" as="language" iteration="iteration">
                                    <f:if condition="{iteration.index}>0"><span class="language-separator">&middot;</span></f:if><a class="language-link" href="{language.url}">{language.label}</a>
                                </f:for>
                            </div>
                        </f:if>
                    </v:page.languageMenu>
                </div>
                <div class="col-8 col-switcher">
                    <div class="switcher-icons d-none d-sm-block">
                        <f:link.page pageUid="86" class="switcher-link" title="{v:page.info(pageUid:86,field:'title')}">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_01.png" class="img-switcher img-switcher-1" alt="{v:page.info(pageUid:86,field:'title')}">
                        </f:link.page>
                        <f:link.page pageUid="87" class="switcher-link" title="{v:page.info(pageUid:87,field:'title')}">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_02.png" class="img-switcher img-switcher-2" alt="{v:page.info(pageUid:87,field:'title')}">
                        </f:link.page>
                        <f:link.page pageUid="88" class="switcher-link" title="{v:page.info(pageUid:88,field:'title')}">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_03.png" class="img-switcher img-switcher-3" alt="{v:page.info(pageUid:88,field:'title')}">
                        </f:link.page>
                        <f:link.page pageUid="89" class="switcher-link" title="{v:page.info(pageUid:89,field:'title')}">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_04.png" class="img-switcher img-switcher-4" alt="{v:page.info(pageUid:89,field:'title')}">
                        </f:link.page>
                        <f:link.page pageUid="90" class="switcher-link" title="{v:page.info(pageUid:90,field:'title')}">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_05.png" class="img-switcher img-switcher-5" alt="{v:page.info(pageUid:90,field:'title')}">
                        </f:link.page>
                        <f:link.page pageUid="91" class="switcher-link" title="{v:page.info(pageUid:91,field:'title')}">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_06.png" class="img-switcher img-switcher-6" alt="{v:page.info(pageUid:91,field:'title')}">
                        </f:link.page>
                        <f:link.page pageUid="92" class="switcher-link" title="{v:page.info(pageUid:92,field:'title')}">
                            <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_07.png" class="img-switcher img-switcher-7" alt="{v:page.info(pageUid:92,field:'title')}">
                        </f:link.page>
                        <f:comment>
                            <f:link.typolink parameter="{f:if(condition:linkTargetProduct1, then:linkTargetProduct1, else:'#')}" class="switcher-link" title="Produktgruppe 1">
                                <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_01.png" class="img-switcher img-switcher-1 " alt="Produktgruppe 1">
                            </f:link.typolink>
                            <f:link.typolink parameter="{f:if(condition:linkTargetProduct2, then:linkTargetProduct2, else:'#')}" class="switcher-link" title="Produktgruppe 2">
                                <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_02.png" class="img-switcher img-switcher-2 " alt="Produktgruppe 2">
                            </f:link.typolink>
                            <f:link.typolink parameter="{f:if(condition:linkTargetProduct3, then:linkTargetProduct3, else:'#')}" class="switcher-link" title="Produktgruppe 3">
                                <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_03.png" class="img-switcher img-switcher-3 " alt="Produktgruppe 3">
                            </f:link.typolink>
                            <f:link.typolink parameter="{f:if(condition:linkTargetProduct4, then:linkTargetProduct4, else:'#')}" class="switcher-link" title="Produktgruppe 4">
                                <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_04.png" class="img-switcher img-switcher-4 " alt="Produktgruppe 4">
                            </f:link.typolink>
                            <f:link.typolink parameter="{f:if(condition:linkTargetProduct5, then:linkTargetProduct5, else:'#')}" class="switcher-link" title="Produktgruppe 5">
                                <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_05.png" class="img-switcher img-switcher-5 " alt="Produktgruppe 5">
                            </f:link.typolink>
                            <f:link.typolink parameter="{f:if(condition:linkTargetProduct6, then:linkTargetProduct6, else:'#')}" class="switcher-link" title="Produktgruppe 6">
                                <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_06.png" class="img-switcher img-switcher-6 " alt="Produktgruppe 6">
                            </f:link.typolink>
                            <f:link.typolink parameter="{f:if(condition:linkTargetProduct7, then:linkTargetProduct7, else:'#')}" class="switcher-link" title="Produktgruppe 7">
                                <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/Produkte_07.png" class="img-switcher img-switcher-7 " alt="Produktgruppe 7">
                            </f:link.typolink>
                        </f:comment>
                    </div>
                    <div class="switcher-global-link">
                        <f:link.page pageUid="93" class="switcher-link" title="{v:page.info(pageUid:93,field:'title')}">{v:page.info(pageUid:93,field:'title')}</f:link.page>
                        <f:comment>
                            <f:link.typolink parameter="{f:if(condition:linkTargetProducts, then:linkTargetProducts, else:'#')}" title="zu den Produkten">zu den Produkten</f:link.typolink>
                        </f:comment>
                    </div>
                </div>
            </div>
            <div class="row row-header-top">

                <div class="col-6 col-switcher">

                </div>
            </div>
        </div>

    </header>

</div>