<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:section name="Default">
        <f:if condition="{bootstrapSettings.navigation.main.show} && {bootstrapSettings.navigation.main.startPage}">
           <nav class="navbar navbar-expand-lg" id="main-navbar">
               <div class="mx-auto text-center">
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-label">MENÜ</span>
                       <span class="navbar-toggler-icon"><i class="fa fa-align-justify" aria-hidden="true"></i></span>
                   </button>
                   <div class="collapse navbar-collapse" id="main-nav">
                       <v:menu entryLevel="{bootstrapSettings.navigation.main.entryLevel}" pageUid="{bootstrapSettings.navigation.main.startPage}" useShortcutUid="{bootstrapSettings.navigation.main.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.main.useShortcutData}" classLast="nav-item-last" classFirst="nav-item-first" >
                           <f:if condition="{menu}">
                               <ul class="navbar-nav">
                                   <f:for each="{menu}" as="page0" iteration="iteration">
                                       <li class="nav-item{f:if(condition:page0.hasSubPages,then:' dropdown')} p{page0.uid} color-{page0.layout} {page0.class}">
                                           <a accesskey="{iteration.cycle}" class="nav-link" href="{page0.link}" title="{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}">{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}<f:if condition="{page0.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                       </li>
                                   </f:for>
                               </ul>
                           </f:if>
                       </v:menu>
                   </div>
               </div>
            </nav>
        </f:if>
    </f:section>

    <f:section name="Meta">
        <f:if condition="{bootstrapSettings.navigation.meta.show} && {bootstrapSettings.navigation.meta.startPage}">
            <nav class="nav nav-meta{f:if(condition:bootstrapSettings.navigation.meta.additionalClass,then:' {bootstrapSettings.navigation.meta.additionalClass}')}">
                <v:menu entryLevel="{bootstrapSettings.navigation.meta.entryLevel}" pageUid="{bootstrapSettings.navigation.meta.startPage}" useShortcutUid="{bootstrapSettings.navigation.meta.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.meta.useShortcutData}" classLast="nav-item-last" classFirst="nav-item-first" >
                    <f:if condition="{menu}">
                        <f:for each="{menu}" as="page0" iteration="iteration">
                            <f:if condition="{iteration.index}>0"><span class="nav-link meta-separator">/</span></f:if>
                            <a accesskey="{iteration.cycle}" class="nav-link" href="{page0.link}" title="{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}">{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}<f:if condition="{page0.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                        </f:for>
                    </f:if>
                </v:menu>
            </nav>
        </f:if>
    </f:section>

    <f:section name="Breadcrumb">
        <nav class="heco-breadcrumb clearfix" aria-label="breadcrumb">
            <a href="{v:site.url()}" class="breadcrumb-link" title="heco: {f:translate(key:'template.all.homepage')}">
                <span class="title"><img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/home.svg" class="img-home" alt="{f:translate(key:'template.all.homepage')}"> {f:translate(key:'template.all.homepage')}</span><span class="arrow"></span>
            </a>
            <v:page.breadCrumb as="breadcrumb" showHiddenInMenu="1" entryLevel="2" levels="1" expandAll="1" class="breadcrumb" classFirst="first" classLast="last" classActive="active" classCurrent="current" useShortcutUid="true" linkActive="1" linkCurrent="1" endLevel="4">
                <f:for each="{breadcrumb}" as="breadcrumbItem" iteration="iteration">
                    <f:if condition="{breadcrumbItem.doktype}!=7">
                        <a href="{f:uri.page(pageUid:breadcrumbItem.uid)}" class="breadcrumb-link{f:if(condition:breadcrumbItem.active,then:' active')}{f:if(condition:breadcrumbItem.current,then:' current')}" title="{f:if(condition: breadcrumbItem.nav_title, then: breadcrumbItem.nav_title, else: breadcrumbItem.title)}">
                            <span class="title">{breadcrumbItem.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</span><f:if condition="!{iteration.isLast}"><span class="arrow"></span></f:if>
                        </a>
                    </f:if>
                </f:for>
            </v:page.breadCrumb>
        </nav>
    </f:section>

</div>