<f:layout name="Tasks" />

<f:section name="content">

	<f:flashMessages />

	<div class="tx-moox-mailer-admin">
		<h1 class="tx-moox-mailer-admin-h1">
			<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> MOOX-Mailer
		</h1>
		<f:render partial="Options" arguments="{_all}" />
		<f:render partial="Buttons" arguments="{isExecute: 1, currentTask: currentTask}" />
		<div class="tx-moox-mailer-admin-body">
			<f:if condition="{currentTask}">
				<f:then>					
					<div class="tx-moox-mailer-admin-info">												
						<div class="tx-moox-mailer-admin-header">
							Protokol der Ausführung
						</div>
						<div class="tx-moox-mailer-admin-log">
							<f:format.raw>{log}</f:format.raw>
						</div>
					</div>					
				</f:then>
				<f:else>
					<div class="tx-moox-mailer-admin-notask">
						Keine Mailer-Job gewählt
					</div>				
				</f:else>
			</f:if>
		</div>
	</div>

</f:section>