<f:layout name="Ajax" />
<f:section name="content">
	<f:if condition="{users -> f:count()}>0">
		<f:then>
			<f:render partial="UserList" arguments="{currentUser: currentUser, users: users}" />				
		</f:then>
		<f:else>
			<div class="user-noothers">Keine Benutzer betroffen</div>
		</f:else>
	</f:if>
	<div class="user-list-footer">				
		<a href="#" id="user-list-close" class="pointer" title="schließen">schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span></a>
	</div>
</f:section>