{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mx=Neulandlotsen\MooxMailer\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">

	<f:flashMessages />
		
	<div class="tx-moox-mailer-admin">				
		<div class="tx-moox-mailer-admin-index">
			<f:if condition="{noFolders}">
				<f:then>
					<div class="tx-moox-mailer-admin-nofolders">
						<div style="margin-bottom: 25px">Die System-Ordner des Mailers die zur Nutzung notwendig sind, wurden noch nicht erzeugt.</div>								
						<f:if condition="{role}">
							<f:then>
								<f:be.security.ifHasRole role="{role}">
									<f:then>
										<f:link.action action="generateFolders" arguments="{index: 1}" title="Ordner jetzt erzeugen">
											<span class="t3-icon t3-icon-apps t3-icon-apps-pagetree t3-icon-pagetree-folder-default">&nbsp;</span>&nbsp;</span> Ordner jetzt erzeugen
										</f:link.action>
									</f:then>
									<f:else>
										<div>Bitte wenden Sie sich an Ihren Administrator.</div>
									</f:else>
								</f:be.security.ifHasRole>
							</f:then>
							<f:else>
								<f:link.action action="generateFolders" arguments="{index: 1}" title="Ordner jetzt erzeugen">
									<span class="t3-icon t3-icon-apps t3-icon-apps-pagetree t3-icon-pagetree-folder-default">&nbsp;</span>&nbsp;</span> Ordner jetzt erzeugen
								</f:link.action>
							</f:else>
						</f:if>
													
					</div>							
				</f:then>
				<f:else>				
					<f:if condition="{sentNewsletters -> f:count()}>0">
						<h1 class="tx-moox-mailer-admin-h1" id="section-sent">
							<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />Gesendete Newsletter
						</h1>
						<div class="typo3-messages">
							<div class="typo3-message message-information">								
								<div class="message-body">Hier werden die zuletzt gesendeten Newsletter angezeigt</div>
							</div>
						</div>
						<f:if condition="{redirector}=='showSentNewsletter'">							
							<f:if condition="{object.page}>0">								
								<div class="tx-moox-mailer-admin-body">				
									<div class="tx-moox-mailer-admin-iframe-newsletter-subject">									
										<mx:replaceMarkers object="{object}">{object.subject}</mx:replaceMarkers>
										<f:link.action action="index" id="newsletter-preview-close" class="pointer" title="schließen">schließen <core:icon identifier="actions-close" /></f:link.action>
									</div>
									<div class="tx-moox-mailer-admin-iframe tx-moox-mailer-admin-iframe-newsletter">					
										<div class=" tx-moox-mailer-admin-iframe-content tx-moox-mailer-admin-iframe-content-newsletter">
											<iframe style="width:100%;height:800px" id="newsletter-preview-iframe" src="<f:uri.action absolute="1" action="showSentNewsletterIframe" controller="Newsletter" arguments="{uid: object.uid}" />" marginheight="0" marginwidth="0" frameborder="0"></iframe>
										</div>
									</div>									
								</div>
							</f:if>
						</f:if>
						<f:if condition="{redirector}=='showSentStats'">														
							<f:if condition="{object.page}>0">								
								<div class="tx-moox-mailer-admin-stats">				
									<div class="tx-moox-mailer-admin-stats-header">									
										<mx:replaceMarkers object="{object}">{object.subject}</mx:replaceMarkers>
										<f:link.action action="index" id="newsletter-preview-close" class="pointer" title="schließen">schließen <core:icon identifier="actions-close" /></f:link.action>
									</div>
									<div class="tx-moox-mailer-admin-stats-body">
										<div class="tx-moox-mailer-admin-stats-table">
											<div class="tx-moox-mailer-admin-stats-table-header">
												Statistik
											</div>
											<table width="100%" cellspacing="0" cellpadding="0">												
												<tr>
													<td><strong>Status:</strong></td>
													<td>
														<v:variable.set name="jobState" value="" />
														<f:if condition="{object.job}!=''">
															<v:variable.set name="jobState" value="{mx:getJobState(type:'newsletter',object:object)}" />
															<div class="stats-state">
																<div class="stats-state-outer<f:if condition="{jobState.completed}"> completed</f:if>">
																	<f:if condition="{jobState.percentageOpposite}>0">
																		<f:then>
																			<div class="stats-state-inner" style="width: {jobState.percentageOpposite}%">&nbsp;</div>
																		</f:then>
																		<f:else>
																			{jobState.description}
																		</f:else>															
																	</f:if>
																</div>
																<div class="stats-state-percentage">
																	{jobState.percentage}%
																</div>
																<div class="stats-state-info">
																	{jobState.processed} von {jobState.sent} Mail(s) versendet.
																	<f:if condition="{jobState.left}>0">															
																		Noch {jobState.left} Mail(s) übrig.
																	</f:if>
																</div>
															</div>
														</f:if>
														<f:if condition="{jobState.processed}!=''">
															<f:then>
																<v:variable.set name="received" value="{jobState.processed}" />
															</f:then>
															<f:else>
																<v:variable.set name="received" value="{object.sentCount}" />
															</f:else>															
														</f:if>
														<v:variable.set name="received" value="{v:math.subtract(a: received, b: object.fails)}" />
														<v:variable.set name="received" value="{v:math.subtract(a: received, b: object.bounces)}" />
													</td>
												</tr>
												<tr>
													<td><strong>Gesendet am:</strong></td>
													<td><f:format.date format="d.m.Y H:i:s">{object.sent}</f:format.date></td>
												</tr>
												<tr>
													<td><strong>Gesendete Mails:</strong></td>
													<td>{object.sentCount}</td>
												</tr>
												<tr>
													<td><strong>Fehler beim Versand:</strong></td>
													<td>{object.fails}</td>
												</tr>
												<tr>
													<td><strong>Rücklaufer (Bounces):</strong></td>
													<td>{object.bounces}</td>
												</tr>
												<tr>
													<td><strong>Zugestellte Mails:</strong></td>
													<td>{received}</td>
												</tr>
												<tr>
													<td><strong>Erste Öffnung:</strong></td>
													<td>
														<f:if condition="{object.firstOpening}>0">
															<f:then>
																<f:format.date format="d.m.Y H:i:s">{object.firstOpening}</f:format.date>
															</f:then>
															<f:else>
																Bisher noch keine Öffnung
															</f:else>
														</f:if>														
													</td>
												</tr>
												<tr>
													<td><strong>Letzte Öffnung:</strong></td>
													<td>
														<f:if condition="{object.lastOpening}>0">
															<f:then>
																<f:format.date format="d.m.Y H:i:s">{object.lastOpening}</f:format.date>
															</f:then>
															<f:else>
																Bisher noch keine Öffnung
															</f:else>
														</f:if>														
													</td>
												</tr>
												<tr>
													<td><strong>Öffnungen [absolut]:</strong></td>
													<td>{object.openings}</td>
												</tr>
												<tr>
													<td><strong>Öffnungen [unique]:</strong></td>
													<td>{object.openingsUnique}</td>
												</tr>
												<tr>
													<td><strong>Erster Klick:</strong></td>
													<td>
														<f:if condition="{object.firstClick}>0">
															<f:then>
																<f:format.date format="d.m.Y H:i:s">{object.firstClick}</f:format.date>
															</f:then>
															<f:else>
																Bisher noch kein Klick
															</f:else>
														</f:if>														
													</td>
												</tr>
												<tr>
													<td><strong>Letzter Klick:</strong></td>
													<td>
														<f:if condition="{object.lastClick}>0">
															<f:then>
																<f:format.date format="d.m.Y H:i:s">{object.lastClick}</f:format.date>
															</f:then>
															<f:else>
																Bisher noch kein Klick
															</f:else>
														</f:if>														
													</td>
												</tr>
												<tr>
													<td><strong>Klicks [absolut]:</strong></td>
													<td>{object.clicks}</td>
												</tr>
												<tr>
													<td><strong>Klicks [unique]:</td>
													<td>{object.clicksUnique}</td>
												</tr>											
											</table>
										</div>
										<f:if condition="{clicks -> f:count()}>0">
											<div class="tx-moox-mailer-admin-stats-table">
												<div class="tx-moox-mailer-admin-stats-table-header">
													Top 10 Links
												</div>
												<table width="100%" cellspacing="0" cellpadding="0">
													<tr>
														<th><strong>Klicks</strong></th>
														<th><strong>Url</strong></th>
														<th><strong>ID</strong></th>
														<th><strong>Target</strong></th>
													</tr>
													<f:for each="{clicks}" as="click" iteration="iteration">
														<tr>
															<td>{click.clicks}</td>
															<td>
																<a href="{click.url}" target="_blank"><span class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxmailer_domain_model_click t3-icon-tx_mooxmailer_domain_model_click-default">&nbsp;</span></a>
																<span title="{click.url}">{click.url -> f:format.crop(maxCharacters:80)}</span>
															</td>
															<td>{click.id}</td>
															<td>{click.target}</td>
														</tr>													
													</f:for>
												</table>
											</div>
										</f:if>
										<div style="text-align: right; margin-top: 15px">
											<f:link.action style="background-color: #BBB;color: #FFF;display: inline-block;padding: 8px" controller="Newsletter" action="statsPdf" arguments="{uid:object.uid}" title="Statistik für {object.title} anzeigen">
												<img valign="middle" class="icon-newsletter-stats-pdf" src="{f:uri.resource(path:'Icons/icon-stats-pdf.png')}" width="16" height="16" alt="Statistik downloaden" title="Statistik downloaden" /> Statistik downloaden
											</f:link.action>
										</div>
									</div>									
								</div>								
							</f:if>
						</f:if>
						<f:if condition="{redirector}=='showSentReceivers'">														
							<div class="tx-moox-mailer-admin-body">				
								<div class="tx-moox-mailer-admin-receivers-title">									
									Empfänger von "{object.title}" [{count} Empfänger | <core:icon identifier="status-user-frontend" /> {usersCount} | <span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-pages-contains-mxaddress" data-identifier="tcarecords-pages-contains-mxaddress"><span class="icon-markup"><img src="/typo3conf/ext/moox_address/ext_icon.svg" width="16" height="16"></span></span> {addressesCount}]
									<f:link.action action="index" id="newsletter-preview-close" class="pointer" title="schließen">schließen <core:icon identifier="actions-close" /></f:link.action>
								</div>
								<div class="tx-moox-mailer-admin-receivers">
									<f:if condition="{usersCount}>0">
										<div class="tx-moox-mailer-admin-receivers-user">
											<f:for each="{receiverUsers}" as="receiverUser" iteration="iteration">
												<f:if condition="{extConf.useMailerTracking}">
													<f:then>
														<core:icon identifier="status-user-frontend" /> {receiverUser.feUser.0.lastname}{f:if(condition: receiverUser.feUser.0.lastName, then: ' ')}{receiverUser.feUser.0.firstName} | {receiverUser.feUser.0.username} | {f:if(condition: receiverUser.feUser.0.zip, then: '{receiverUser.feUser.0.zip} | ')}{receiverUser.feUser.0.email} | {receiverUser.feUser.0.company}
													</f:then>
													<f:else>
														<core:icon identifier="status-user-frontend" /> {receiverUser.lastname}{f:if(condition: receiverUser.lastName, then: ' ')}{receiverUser.firstName} | {receiverUser.username} | {f:if(condition: receiverUser.zip, then: '{receiverUser.zip} | ')}{receiverUser.email} | {receiverUser.company}
													</f:else>
												</f:if>												
												{f:if(condition: iteration.isLast, else: '<br />')}
											</f:for>
										</div>
									</f:if>
									<f:if condition="{addressesCount}>0">
										<div class="tx-moox-mailer-admin-receivers-addresses">
											<f:for each="{receiverAddresses}" as="receiverAddress" iteration="iteration">
												<f:if condition="{extConf.useMailerTracking}">
													<f:then>
														<span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-pages-contains-mxaddress" data-identifier="tcarecords-pages-contains-mxaddress"><span class="icon-markup"><img src="/typo3conf/ext/moox_address/ext_icon.svg" width="16" height="16"></span></span> {receiverAddress.address.0.surname}{f:if(condition: receiverAddress.address.0.surname, then: ' ')}{receiverAddress.address.0.forename} | {f:if(condition: receiverAddress.feUser.0.zip, then: '{receiverAddress.feUser.0.zip} | ')}{receiverAddress.address.0.email} | {receiverAddress.address.0.company}
													</f:then>
													<f:else>
														<span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-pages-contains-mxaddress" data-identifier="tcarecords-pages-contains-mxaddress"><span class="icon-markup"><img src="/typo3conf/ext/moox_address/ext_icon.svg" width="16" height="16"></span></span> {receiverAddress.surname}{f:if(condition: receiverAddress.surname, then: ' ')}{receiverAddress.forename} | {f:if(condition: receiverAddress.zip, then: '{receiverAddress.zip} | ')}{receiverAddress.email} | {receiverAddress.company}
													</f:else>
												</f:if>												
												{f:if(condition: iteration.isLast, else: '<br />')}
											</f:for>
										</div>
									</f:if>
								</div>
							</div>
						</f:if>
						<ul class="list-unstyled">
							<f:for each="{sentNewsletters}" as="sent" iteration="iteration">
								<v:variable.set name="isOpen" value="false" />
								<f:if condition="{redirector}=='previewNewsletter'">
									<f:then>
										<f:if condition="{object.uid}=={sent.uid}">
											<v:variable.set name="isOpen" value="true" />											
										</f:if>
									</f:then>
									<f:else>
										<f:if condition="{iteration.isFirst}">
											<v:variable.set name="isOpen" value="true" />
										</f:if>
									</f:else>
								</f:if>								
								<li class="sent{f:if(condition:isOpen,then:' open')}" id="sent-{sent.uid}">
									<div class="sent-title">									
										<a class="sent-expander" href="#" title="{sent.title} [UID: {sent.uid}]">
											<span class="sent-expander-down"><core:icon identifier="actions-move-down" /></span>
											<span class="sent-expander-up"><core:icon identifier="actions-move-up" /></span>
											{sent.title}
										</a>
									</div>
									<div class="sent-details" id="sent-details-{sent.uid}">	
										<div class="sent-description">									
											<v:variable.set name="jobState" value="" />
											<f:if condition="{sent.job}!=''">
												<v:variable.set name="jobState" value="{mx:getJobState(type:'newsletter',object:sent)}" />
												<span class="sent-label">Status:</span>
												<div class="sent-description-state">
													<div class="sent-description-state-outer<f:if condition="{jobState.completed}"> completed</f:if>">
														<f:if condition="{jobState.percentageOpposite}>0">
															<f:then>
																<div class="sent-description-state-inner" style="width: {jobState.percentageOpposite}%">&nbsp;</div>
															</f:then>
															<f:else>
																{jobState.description}
															</f:else>															
														</f:if>
													</div>
													<div class="sent-description-state-percentage">
														{jobState.percentage}%
													</div>
													<div class="sent-description-state-info">
														{jobState.processed} von {jobState.sent} Mail(s) versendet.
														<f:if condition="{jobState.left}>0">															
															Noch {jobState.left} Mail(s) übrig.
														</f:if>
													</div>
												</div>
											</f:if>
											<div class="sent-description-tstamp">
												<span class="sent-label">Gesendet am:</span> 
												<f:format.date format="d.m.Y H:i:s">{sent.sent}</f:format.date>								
											</div>
											<div class="sent-description-subject">						
												<span class="sent-label">Betreff:</span> 
												<mx:replaceMarkers object="{sent}">{sent.sentSubject}</mx:replaceMarkers>
											</div>
											<div class="sent-description-subject">						
												<span class="sent-label">Seite die versendet wurde:</span> 
												<f:if condition="{sent.page}>0">
													<f:then>
														{mx:getPageInfo(uid: sent.page, field: 'title')} [UID: {sent.page}]
													</f:then>
													<f:else>
														Noch nicht gewählt
													</f:else>
												</f:if>
											</div>
											<f:if condition="{sent.userFolders}!=''">
												<v:variable.set name="userFolders" value="{mx:getFolders(serializedFolders: sent.userFolders)}" />
												<f:if condition="{userFolders -> f:count()}>0">
													<div class="sent-description-user-folders">						
														<span class="sent-label">Eingeschlossene Benutzer-Ordner:</span> 
														<f:for each="{userFolders}" as="userFolder" iteration="iteration2">
															<span title="{userFolder.title} [UID: {userFolder.uid}]">{userFolder.title}</span>{f:if(condition: iteration2.isLast, else: ',')}
														</f:for>
													</div>
												</f:if>
											</f:if>
											<f:if condition="{sent.zipmode}!=''">
												<div class="sent-description-zipmode">						
													<span class="sent-label">Postleitzahlenbereich eingeschränkt:</span> 
													ja
												</div>
											</f:if>
											<f:if condition="{sent.addressFolders}!=''">
												<v:variable.set name="addressFolders" value="{mx:getFolders(serializedFolders: sent.addressFolders)}" />
												<f:if condition="{addressFolders -> f:count()}>0">
													<div class="sent-description-address-folders">						
														<span class="sent-label">Eingeschlossene Adress-Ordner:</span> 
														<f:for each="{addressFolders}" as="addressFolder" iteration="iteration2">
															<span title="{addressFolder.title} [UID: {addressFolder.uid}]">{addressFolder.title}</span>{f:if(condition: iteration2.isLast, else: ',')}														
														</f:for>
													</div>
												</f:if>
											</f:if>
											<div class="sent-description-sender-name">						
												<span class="sent-label">Absender-Name:</span> 
												{sent.senderName}
											</div>
											<div class="sent-description-sender-email">						
												<span class="sent-label">Absender-Email:</span> 
												{sent.senderEmail}
											</div>
											<f:if condition="{sent.replyToEmail}!=''">
												<div class="sent-description-reply-to-email">						
													<span class="sent-label">Antwort-Email:</span> 
													{sent.replyToEmail}
												</div>
											</f:if>	
											<f:if condition="{sent.userFolders}!=''">
												<div class="sent-description-autologin">						
													<span class="sent-label">Autogin:</span> 
													{f:if(condition: sent.autologin, then: 'aktiviert', else: 'deaktiviert')}
												</div>
											</f:if>											
										</div>
										<div class="sent-buttons">												
											<f:link.action section="section-sent" action="index" arguments="{uid: sent.uid, redirector: 'showSentNewsletter'}" class="tx-moox-mailer-admin-buttons-newsletter" title="Newsletter anzeigen">Newsletter anzeigen</f:link.action>
											<f:if condition="{extConf.useMailerTracking}">
												<f:link.action section="section-sent" action="index" arguments="{uid: sent.uid, redirector: 'showSentStats'}" class="tx-moox-mailer-admin-buttons-stats" title="Statistik des Newsletters anzeigen">Statistik anzeigen</f:link.action>
											</f:if>
											<f:link.action section="section-sent" action="index" arguments="{uid: sent.uid, redirector: 'showSentReceivers'}" class="tx-moox-mailer-admin-buttons-receiver" title="Empfänger der Mail anzeigen">Empfänger anzeigen</f:link.action>
											<f:link.action action="addFolderSelect" controller="Newsletter" arguments="{uid: sent.uid, redirectorController: 'Mailer', redirectorAction: 'index'}" class="tx-moox-mailer-admin-buttons-recycle" title="Als neuen Entwurf übernehmen">Als neuen Entwurf übernehmen</f:link.action>
										</div>
									</div>
								</li>							
							</f:for>
						</ul>													
					</f:if>
					<h1 class="tx-moox-mailer-admin-h1" id="section-drafts">
						<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />Entwürfe
					</h1>
					<f:if condition="{drafts -> f:count()}>0">						
						<f:then>
							<div class="typo3-messages">
								<div class="typo3-message message-information">								
									<div class="message-body">Hier werden die zuletzt bearbeiteten Newsletter-Entwürfe angezeigt</div>
								</div>
							</div>
							<f:if condition="{redirector}=='previewNewsletter'">							
								<f:if condition="{object.page}>0">								
									<div class="tx-moox-mailer-admin-newsletter">				
										<div class="tx-moox-mailer-admin-newsletter-subject">									
											<mx:replaceMarkers object="{object}">{object.subject}</mx:replaceMarkers>
											<f:link.action action="index" id="newsletter-preview-close" class="pointer" title="schließen">schließen <core:icon identifier="actions-close" /></f:link.action>
										</div>
										<f:if condition="{users -> f:count()}>0">											
											<f:render partial="UserSelector" arguments="{currentUser: currentUser, users: users, page: object.page}" />
										</f:if>
										<div class="tx-moox-mailer-admin-iframe tx-moox-mailer-admin-iframe-newsletter">					
											<div class="tx-moox-mailer-admin-iframe-content tx-moox-mailer-admin-iframe-content-newsletter">
												<iframe style="width:100%;height:800px" id="newsletter-preview-iframe" src="<f:uri.action absolute="1" action="previewIframe" controller="Newsletter" arguments="{page:object.page,uid:object.uid,hash:object.hash}" />" marginheight="0" marginwidth="0" frameborder="0"></iframe>
											</div>
										</div>									
									</div>
								</f:if>
							</f:if>						
							<f:if condition="{redirector}=='showDraftReceivers'">														
								<div class="tx-moox-mailer-admin-receivers">				
									<div class="tx-moox-mailer-admin-receivers-title">									
										Empfänger von "{object.title}" [{count} Empfänger | <core:icon identifier="status-user-frontend" /> {usersCount} | <span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-pages-contains-mxaddress" data-identifier="tcarecords-pages-contains-mxaddress"><span class="icon-markup"><img src="/typo3conf/ext/moox_address/ext_icon.svg" width="16" height="16"></span></span> {addressesCount}]
										<f:link.action action="index" id="newsletter-preview-close" class="pointer" title="schließen">schließen <core:icon identifier="actions-close" /></f:link.action>
									</div>
									<div class="tx-moox-mailer-admin-receivers-list">
										<f:if condition="{usersCount}>0">
											<div class="tx-moox-mailer-admin-receivers-user">
												<f:for each="{receiverUsers}" as="receiverUser" iteration="iteration">
													<core:icon identifier="status-user-frontend" /> {receiverUser.lastname}{f:if(condition: receiverUser.lastName, then: ' ')}{receiverUser.firstName} | {receiverUser.username} | {f:if(condition: receiverUser.zip, then: '{receiverUser.zip} | ')}{receiverUser.email} | {receiverUser.company}
													{f:if(condition: iteration.isLast, else: '<br />')}
												</f:for>
											</div>
										</f:if>
										<f:if condition="{addressesCount}>0">
											<div class="tx-moox-mailer-admin-receivers-addresses">
												<f:for each="{receiverAddresses}" as="receiverAddress" iteration="iteration">
													<span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-pages-contains-mxaddress" data-identifier="tcarecords-pages-contains-mxaddress"><span class="icon-markup"><img src="/typo3conf/ext/moox_address/ext_icon.svg" width="16" height="16"></span></span> {receiverAddress.surname}{f:if(condition: receiverAddress.surname, then: ' ')}{receiverAddress.forename} | {f:if(condition: receiverAddress.zip, then: '{receiverAddress.zip} | ')}{receiverAddress.email} | {receiverAddress.company}
													{f:if(condition: iteration.isLast, else: '<br />')}
												</f:for>
											</div>
										</f:if>
									</div>
								</div>
							</f:if>
							<ul class="list-unstyled">
								<f:for each="{drafts}" as="draft" iteration="iteration">
									<v:variable.set name="isOpen" value="false" />
									<f:if condition="{redirector}=='previewNewsletter'">
										<f:then>
											<f:if condition="{object.uid}=={draft.uid}">
												<v:variable.set name="isOpen" value="true" />											
											</f:if>
										</f:then>
										<f:else>
											<f:if condition="{iteration.isFirst}">
												<v:variable.set name="isOpen" value="true" />
											</f:if>
										</f:else>
									</f:if>								
									<li class="draft{f:if(condition:isOpen,then:' open')}" id="draft-{draft.uid}">
										<div class="draft-title">									
											<a class="draft-expander" href="#" title="{draft.title} [UID: {draft.uid}]">
												<span class="draft-expander-down"><core:icon identifier="actions-move-down" /></span>
												<span class="draft-expander-up"><core:icon identifier="actions-move-up" /></span>
												{draft.title}
											</a>
										</div>
										<div class="draft-details" id="draft-details-{draft.uid}">	
											<div class="draft-description">									
												<div class="draft-description-tstamp">
													<span class="draft-label">Zuletzt bearbeitet am:</span> 
													<f:format.date format="d.m.Y H:i:s">{draft.tstamp}</f:format.date>								
												</div>
												<div class="draft-description-subject">						
													<span class="draft-label">Betreff:</span> 
													<mx:replaceMarkers object="{draft}">{draft.subject}</mx:replaceMarkers>
												</div>
												<div class="draft-description-subject">						
													<span class="draft-label">Seite die versendet wird:</span> 
													<f:if condition="{draft.page}>0">
														<f:then>
															{mx:getPageInfo(uid: draft.page, field: 'title')} [UID: {draft.page}]
														</f:then>
														<f:else>
															Noch nicht gewählt
														</f:else>
													</f:if>
												</div>
												<f:if condition="{draft.userFolders}!=''">
													<v:variable.set name="userFolders" value="{mx:getFolders(serializedFolders: draft.userFolders)}" />
													<f:if condition="{userFolders -> f:count()}>0">
														<div class="draft-description-user-folders">						
															<span class="draft-label">Eingeschlossene Benutzer-Ordner:</span> 
															<f:for each="{userFolders}" as="userFolder" iteration="iteration2">
																<span title="{userFolder.title} [UID: {userFolder.uid}]">{userFolder.title}</span>{f:if(condition: iteration2.isLast, else: ',')}
															</f:for>
														</div>
													</f:if>
												</f:if>
												<f:if condition="{draft.addressFolders}!=''">
													<v:variable.set name="addressFolders" value="{mx:getFolders(serializedFolders: draft.addressFolders)}" />
													<f:if condition="{addressFolders -> f:count()}>0">
														<div class="draft-description-address-folders">						
															<span class="draft-label">Eingeschlossene Adress-Ordner:</span> 
															<f:for each="{addressFolders}" as="addressFolder" iteration="iteration2">
																<span title="{addressFolder.title} [UID: {addressFolder.uid}]">{addressFolder.title}</span>{f:if(condition: iteration2.isLast, else: ',')}														
															</f:for>
														</div>
													</f:if>
												</f:if>
												<f:if condition="{draft.zipmode}!=''">
													<div class="draft-description-zipmode">						
														<span class="draft-label">Postleitzahlenbereich eingeschränkt:</span> 
														ja
													</div>
												</f:if>
												<f:if condition="{draft.testAddressFolders}!=''">
													<v:variable.set name="testAddressFolders" value="{mx:getFolders(serializedFolders: draft.testAddressFolders)}" />
													<f:if condition="{testAddressFolders -> f:count()}>0">
														<div class="draft-description-address-folders">						
															<span class="draft-label">Adress-Ordner für Testversand:</span> 
															<f:for each="{testAddressFolders}" as="addressFolder" iteration="iteration2">
																<span title="{addressFolder.title} [UID: {addressFolder.uid}]">{addressFolder.title}</span>{f:if(condition: iteration2.isLast, else: ',')}														
															</f:for>
														</div>
													</f:if>
												</f:if>
												<div class="draft-description-sender-name">						
													<span class="draft-label">Absender-Name:</span> 
													{draft.senderName}
												</div>
												<div class="draft-description-sender-email">						
													<span class="draft-label">Absender-Email:</span> 
													{draft.senderEmail}
												</div>
												<f:if condition="{draft.replyToEmail}!=''">
													<div class="draft-description-reply-to-email">						
														<span class="draft-label">Antwort-Email:</span> 
														{draft.replyToEmail}
													</div>
												</f:if>
												<f:if condition="{draft.userFolders}!=''">
													<div class="draft-description-autologin">						
														<span class="draft-label">Autogin:</span> 
														{f:if(condition: draft.autologin, then: 'aktiviert', else: 'deaktiviert')}
													</div>
												</f:if>
											</div>
											<div class="draft-buttons">
												<f:link.action action="edit" controller="Newsletter" arguments="{uid: draft.uid, redirectorController: 'Mailer', redirectorAction: 'index'}" class="tx-moox-mailer-admin-buttons-edit" title="Entwurf bearbeiten">Entwurf bearbeiten</f:link.action>		
												<f:if condition="{draft.page}>0">
													<f:link.action section="section-drafts" action="index" arguments="{uid: draft.uid, redirector: 'previewNewsletter'}" class="tx-moox-mailer-admin-buttons-newsletter-preview" title="Vorschau der Mail anzeigen">Vorschau der Mail</f:link.action>
												</f:if>
												<f:link.action section="section-drafts" action="index" arguments="{uid: draft.uid, redirector: 'showDraftReceivers'}" class="tx-moox-mailer-admin-buttons-receiver" title="Empfänger der Mail anzeigen">Empfänger anzeigen</f:link.action>											
												<f:if condition="{draft.page}>0">
													<v:variable.set name="isSendable" value="{draft.addressFolders}{draft.userFolders}" />
													<v:variable.set name="isSendableTest" value="{draft.testAddressFolders}" />
													<f:if condition="{isSendable}!=''">						
														<f:then>
															<v:variable.set name="isSendable" value="true" />
														</f:then>
														<f:else>
															<v:variable.set name="isSendable" value="false" />
														</f:else>						
													</f:if>
													<f:if condition="{isSendableTest}!=''">						
														<f:then>
															<v:variable.set name="isSendableTest" value="true" />
														</f:then>
														<f:else>
															<v:variable.set name="isSendableTest" value="false" />
														</f:else>						
													</f:if>
												</f:if>
												<f:if condition="{isSendableTest}">
													<f:link.action action="testSend" controller="Newsletter" arguments="{uid: draft.uid, redirectorController: 'Mailer', redirectorAction: 'index'}" class="tx-moox-mailer-admin-buttons-test-send" title="Jetzt als Test versenden" onclick="return window.confirm('Wollen Sie den Newsletter wirklich jetzt als Test an die gewählten Test-Empfänger versenden?');">Testversand</f:link.action>
												</f:if>
												<f:if condition="{isSendable}">
													<f:link.action action="send" controller="Newsletter" arguments="{uid: draft.uid, redirectorController: 'Mailer', redirectorAction: 'index'}" class="tx-moox-mailer-admin-buttons-send" title="Jetzt versenden" onclick="return window.confirm('Wollen Sie den Newsletter wirklich jetzt versenden?');">Jetzt versenden</f:link.action>
												</f:if>
												<f:link.action action="delete" controller="Newsletter" arguments="{uid: draft.uid, redirectorController: 'Mailer', redirectorAction: 'index'}" class="tx-moox-mailer-admin-buttons-delete" title="Entwurf löschen" onclick="return window.confirm('Wollen Sie diesen Newsletter-Entwurf wirklich löschen?')">Entwurf löschen</f:link.action>
											</div>
										</div>
									</li>							
								</f:for>
							</ul>
						</f:then>
						<f:else>
							<div class="typo3-messages">
								<div class="alert alert-notice">
									<div class="media">
										<div class="media-left">
											<span class="fa-stack fa-lg">
												<i class="fa fa-circle fa-stack-2x"></i>
												<i class="fa fa-lightbulb-o fa-stack-1x"></i>
											</span> 
										</div>
										<div class="media-body">
											<p class="alert-message">
												Bis jetzt wurde noch kein Entwurf erstellt. Zum Erstellen eines Entwurfs nutzen Sie das Icon <span class="fa fa-plus-square fa-lg" aria-hidden="true"></span> links in der oberen Leiste oder wechseln Sie über das Auswahl-Feld zum Bereich "Newsletter". Beachten Sie, dass Sie für eine vollständigen Entwurf zunächst eine entsprechende Seite im Seitenbaum anlegen müssen um diese versenden zu können.
											</p>
										</div>
									</div>
								</div>								
							</div>
							<div>&nbsp;</div>
						</f:else>
					</f:if>
					<f:if condition="{newsInstalled}">
						<h1 class="tx-moox-mailer-admin-h1" id="section-tasks">
							<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> Tasks
						</h1>
						
						<f:if condition="{redirector}=='executeTask'">
							<div class="task-log">
								<div class="task-log-header">
									Protokol der Ausführung
									<f:link.action action="index" class="tx-moox-mailer-admin-preview-close" title="schließen">
										schließen <core:icon identifier="actions-close" />
									</f:link.action>
								</div>
								<div class="task-log-content">
									<f:format.raw>{log}</f:format.raw>
								</div>
							</div>
						</f:if>
						<f:if condition="{redirector}=='previewNewsTask'">
							<div class="task-preview">
								<div class="task-preview-header">
									Vorschau der Mails
									<f:link.action action="index" class="tx-moox-mailer-admin-preview-close" title="schließen">
										schließen <core:icon identifier="actions-close" />
									</f:link.action>
								</div>
								<div class="task-preview-content">
									<f:if condition="{mails -> f:count()}>0">
										<f:then>
											<f:for each="{mails}" as="mail" iteration="iteration">
												<div class="tx-moox-mailer-admin-iframe">
													<div class="tx-moox-mailer-admin-iframe-header">{mail.subject}</div>
													<div class="tx-moox-mailer-admin-iframe-content">
														<iframe style="width:100%;height:800px" src="<f:uri.action action="previewNewsIframe" arguments="{uid:'all', taskUid: taskUid, index: mail.index}" />" marginheight="0" marginwidth="0" frameborder="0"></iframe>
													</div>
												</div>
											</f:for>
										</f:then>
											Derzeit sind für diesen Mailer keine passenden Artikel ausgewählt.
										<f:else>
										</f:else>
									</f:if>
								</div>
							</div>						
						</f:if>
						<f:if condition="{redirector}=='previewTask'">
							<div class="task-log">
								<div class="task-log-header">
									Vorschau der Ausführung
									<f:link.action action="index" class="tx-moox-mailer-admin-preview-close" title="schließen">
										schließen <core:icon identifier="actions-close" />
									</f:link.action>
								</div>
								<div class="task-log-content">
									<f:if condition="{preview.mode}=='daemon'">
										<f:then>
											<p><strong>{preview.prepared} Mail(s) werden vorbereitet.</strong></p>
										</f:then>
										<f:else>
											<p><strong>{preview.sent} Mail(s) werden direkt versendet.</strong></p>
										</f:else>
									</f:if>									
									<f:if condition="{preview.validAddresses -> f:count()}>0">							
										<f:if condition="{preview.mode}=='daemon'">
											<f:then>
												<p><strong>Es werden Mails an folgende Adressaten vorbereitet:</strong></p>
											</f:then>
											<f:else>
												<p><strong>Es werden Mails an folgende Adressaten versendet:</strong></p>
											</f:else>
										</f:if>										
										<f:for each="{preview.validAddresses}" as="address" iteration="iteration">
											{address.name} &lt;{address.address}&gt; | {address.count} Mail(s)<br>
										</f:for>
									</f:if>									
									<f:if condition="{preview.invalidAddresses -> f:count()}>0">
										<p><strong>An folgende Adressaten kann der Versand nicht erfolgen:</strong></p>
										<f:for each="{preview.invalidAddresses}" as="address" iteration="iteration">
											{address.name} &lt;{address.address}&gt; | {address.message} | {address.count} Fehler<br>
										</f:for>
									</f:if>
								</div>
							</div>
						</f:if>
						<f:if condition="{tasks -> f:count()}>0">
							<f:then>
								<div class="typo3-messages">
									<div class="typo3-message message-information">								
										<div class="message-body">Hier werden die derzeit eingerichteten Tasks des automatischen News-Mailers angezeigt</div>
									</div>
								</div>
								<ul class="list-unstyled">
									<f:for each="{tasks}" as="task" iteration="iteration">
										<v:variable.set name="isOpen" value="false" />
										<f:if condition="{isTask}">
											<f:then>
												<f:if condition="{taskUid}=={task.taskUid}">
													<v:variable.set name="isOpen" value="true" />											
												</f:if>
											</f:then>
											<f:else>
												<f:if condition="{iteration.isFirst}">
													<v:variable.set name="isOpen" value="true" />
												</f:if>
											</f:else>
										</f:if>
										<li class="task{f:if(condition:isOpen,then:' open')}" id="task-{task.taskUid}">
											<div class="task-title">									
												<a class="task-expander" href="#" title="{task.description} [UID: {task.taskUid}]">
													<span class="task-expander-down"><core:icon identifier="actions-move-down" /></span>
													<span class="task-expander-up"><core:icon identifier="actions-move-up" /></span>
													{task.description}
												</a>																				
											</div>
											<div class="task-details" id="task-details-{task.taskUid}">
												<div class="task-description">
													<div class="task-description-type">
														<span class="task-label">Versand von:</span> 
														<f:switch expression="{task.taskType}">
															<f:case value="MooxNewsSendTask">
																<core:icon identifier="ext-news-type-default" />&nbsp; News
															</f:case>
															<f:defaultCase></f:defaultCase>
														</f:switch>
													</div>												
													<div class="task-description-nextRun">
														<span class="task-label">Nächste automatische Ausführung:</span> <core:icon identifier="actions-edit-pick-date" /> {task.nextRun}
													</div>
													<div class="task-description-categories">
														<span class="task-label">Eingeschlossene Kategorien:</span> <core:icon identifier="mimetypes-x-sys_category" />														
														<v:variable.set name="categoriesText" value="" />
														<v:variable.set name="categoriesTooltip" value="" />
														<f:if condition="{task.includedCategories -> f:count()}>0">
															<f:then>
																<f:for each="{task.includedCategories}" as="category" iteration="iteration2">
																	<v:variable.set name="categoriesText" value="{categoriesText}{category.title}{f:if(condition: iteration2.isLast, else: ', ')}" />
																	<v:variable.set name="categoriesTooltip" value="{categoriesTooltip}{category.title}{f:if(condition: iteration2.isLast, else: '&#10;')}" />
																</f:for>
															</f:then>
															<f:else>
																<v:variable.set name="categoriesText" value="Alle Kategorien" />
																<v:variable.set name="categoriesTooltip" value="Alle Kategorien" />
															</f:else>
														</f:if>
														<span title="{categoriesTooltip -> f:format.raw()}"><f:format.crop maxCharacters="100">{categoriesText}</f:format.crop></span>
													</div>
													<div class="task-description-categories">
														<span class="task-label">Ausgeschlossene Kategorien:</span> <core:icon identifier="mimetypes-x-sys_category" />
														<v:variable.set name="categoriesText" value="" />
														<v:variable.set name="categoriesTooltip" value="" />
														<f:if condition="{task.excludedCategories -> f:count()}>0">
															<f:then>
																
																<f:for each="{task.excludedCategories}" as="category" iteration="iteration2">
																	<v:variable.set name="categoriesText" value="{categoriesText}{category.title}{f:if(condition: iteration2.isLast, else: ', ')}" />
																	<v:variable.set name="categoriesTooltip" value="{categoriesTooltip}{category.title}{f:if(condition: iteration2.isLast, else: '&#10;')}" />
																</f:for>
															</f:then>
															<f:else>
																<v:variable.set name="categoriesText" value="Keine Kategorien" />
																<v:variable.set name="categoriesTooltip" value="Keine Kategorien" />
															</f:else>
														</f:if>
														<span title="{categoriesTooltip -> f:format.raw()}"><f:format.crop maxCharacters="100">{categoriesText}</f:format.crop></span>
													</div>									
												</div>
												<div class="task-buttons">
													<f:if condition="{role}">
														<f:then>
															<f:be.security.ifHasRole role="{role}">
																<f:link.action action="setCurrentTask" arguments="{taskUid: task.taskUid}" additionalParams="{id: task.taskUid}" class="tx-moox-mailer-admin-buttons-info" title="Details anzeigen">Details anzeigen</f:link.action>
															</f:be.security.ifHasRole>
														</f:then>
														<f:else>
															<f:link.action action="setCurrentTask" arguments="{taskUid: task.taskUid,}" additionalParams="{id: task.taskUid}" class="tx-moox-mailer-admin-buttons-info" title="Details anzeigen">Details anzeigen</f:link.action>
														</f:else>
													</f:if>																		
													<f:link.action action="executeTask" arguments="{uid: task.taskUid, redirectorAction: 'index'}" class="tx-moox-mailer-admin-buttons-execute" title="Manuell ausführen" onclick="return window.confirm('Wollen Sie den Mailvorgang für diesen Task wirklich manuell starten?');">Jetzt Manuell ausführen</f:link.action>
													<f:link.action action="index" arguments="{uid: task.taskUid, redirector: 'previewNewsTask'}" class="tx-moox-mailer-admin-buttons-mails" title="Vorschau der Mails anzeigen">Vorschau der Mails</f:link.action>										
													<f:link.action action="index" arguments="{uid: task.taskUid, redirector: 'previewTask'}" class="tx-moox-mailer-admin-buttons-preview" title="Vorschau der Ausführung anzeigen">Vorschau der Ausführung</f:link.action>
												</div>
											</div>
										</li>							
									</f:for>
								</ul>
							</f:then>
							<f:else>
								<div class="typo3-messages">
									<div class="typo3-message message-notice">								
										<div class="message-body">Bis jetzt wurden noch kein Tasks eingerichten. Zum Einrichten eines Tasks nutzen Sie den Planer <img src="/typo3/sysext/scheduler/Resources/Public/Icons/module-scheduler.svg" width="16" height="16">. Sei finden den Planer in der Navigation im Bereich System.</div>
									</div>
								</div>
								<div>&nbsp;</div>
							</f:else>
						</f:if>
					</f:if>
				</f:else>			
			</f:if>
		</div>
	</div>

</f:section>