<f:layout name="Tasks" />

<f:section name="content">

	<f:flashMessages />

	<div class="tx-moox-mailer-admin">
		<h1 class="tx-moox-mailer-admin-h1">
			<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> MOOX-Mailer
		</h1>
		<f:render partial="Options" arguments="{_all}" />
		<f:render partial="Buttons" arguments="{isPreview: 1, currentTask: currentTask}" />
		<div class="tx-moox-mailer-admin-body">
			<f:if condition="{currentTask}">
				<f:then>					
					<div class="tx-moox-mailer-admin-info">												
						<div class="tx-moox-mailer-admin-header">
							Vorschau der nächsten Ausführung
						</div>
						<div class="tx-moox-mailer-admin-log">
							<f:if condition="{preview.mode}=='daemon'">
								<f:then>
									<p><strong>{preview.prepared} Mail(s) werden vorbereitet.</strong></p>
								</f:then>
								<f:else>
									<p><strong>{preview.sent} Mail(s) werden direkt versendet.</strong></p>
								</f:else>
							</f:if>
							
							<f:if condition="{preview.validAddresses -> f:count()}>0">							
								<f:if condition="{preview.mode}=='daemon'">
									<f:then>
										<p><strong>Es werden Mails an folgende Adressaten vorbereitet:</strong></p>
									</f:then>
									<f:else>
										<p><strong>Es werden Mails an folgende Adressaten versendet:</strong></p>
									</f:else>
								</f:if>
								
								<f:for each="{preview.validAddresses}" as="address" iteration="iteration">
									{address.name} &lt;{address.address}&gt; | {address.count} Mail(s)<br>
								</f:for>
							</f:if>
							
							<f:if condition="{preview.invalidAddresses -> f:count()}>0">
								<p><strong>An folgende Adressaten kann der Versand nicht erfolgen:</strong></p>
								<f:for each="{preview.invalidAddresses}" as="address" iteration="iteration">
									{address.name} &lt;{address.address}&gt; | {address.message} | {address.count} Fehler<br>
								</f:for>
							</f:if>
						</div>
					</div>					
				</f:then>
				<f:else>
					<div class="tx-moox-mailer-admin-notask">
						Keine Mailer-Job gewählt
					</div>				
				</f:else>
			</f:if>
		</div>
	</div>

</f:section>