<f:layout name="Tasks" />

<f:section name="content">

	<f:flashMessages />

	<div class="tx-moox-mailer-admin">
		<h1 class="tx-moox-mailer-admin-h1">
			<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> MOOX-Mailer
		</h1>
		<f:render partial="Options" arguments="{_all}" />
		<f:render partial="Buttons" arguments="{isMails: 1, currentTask: currentTask}" />
		<div class="tx-moox-mailer-admin-body">
			<f:if condition="{currentTask}">
				<f:then>					
					<div class="tx-moox-mailer-admin-info">												
						<div class="tx-moox-mailer-admin-header">
							Derzeit sind folgende Mails für den Versand vorbereitet [<f:if condition="{currentUser}"><f:then>{currentUser.lastName} {currentUser.firstName} | {currentUser.username} | {currentUser.email}</f:then><f:else>Alle Benutzer</f:else></f:if>]
							<f:link.action action="showNews" class="tx-moox-mailer-admin-preview-close" title="schließen">
								schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
							</f:link.action>							
						</div>
						<f:for each="{mails}" as="mail" iteration="iteration">
							<div class="tx-moox-mailer-admin-iframe">
								<div class="tx-moox-mailer-admin-iframe-header">{mail.subject}</div>
								<div class="tx-moox-mailer-admin-iframe-content">
									<iframe style="width:100%;height:1000px" src="<f:uri.action action="previewNewsIframe" arguments="{uid:uid, index: mail.index}" />" marginheight="0" marginwidth="0" frameborder="0"></iframe>
								</div>
							</div>
						</f:for>
					</div>					
				</f:then>
				<f:else>
					<div class="tx-moox-mailer-admin-notask">
						Keine Mailer-Job gewählt
					</div>				
				</f:else>
			</f:if>
		</div>
	</div>

</f:section>