<f:layout name="Tasks" />

<f:section name="content">

	<f:flashMessages />

	<div class="tx-moox-mailer-admin">
		<h1 class="tx-moox-mailer-admin-h1">
			<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> MOOX-Mailer
		</h1>
		<f:if condition="{currentTask}">
			<f:render partial="Options" arguments="{_all}" />
			<f:render partial="Buttons" arguments="{isInfo: 1, currentTask: currentTask}" />
		</f:if>
		<div class="tx-moox-mailer-admin-body">
			<f:if condition="{currentTask}">
				<f:then>
					<div class="tx-moox-mailer-admin-info">
						<div class="tx-moox-mailer-admin-header">
							Mailer-Einstellungen
						</div>
						<div class="tx-moox-mailer-admin-table">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<thead>
									<tr>
										<th>Einstellung</th>
										<th>Wert</th>
									</tr>
								</thead>								
								<f:if condition="{currentTask.taskType}=='MooxNewsSendTask'">
									<f:then>
										<f:render partial="MooxNewsSendTask" arguments="{_all}" />
									</f:then>
								</f:if>																
							</table>
						</div>
					</div>					
				</f:then>
				<f:else>
					<f:if condition="{noFolders}">
						<f:then>
							<div class="tx-moox-mailer-admin-nofolders">
								<div style="margin-bottom: 25px">Die System-Ordner des Mailers die zur Nutzung notwendig sind, wurden noch nicht erzeugt.</div>								
								<f:link.action action="generateFolders" title="Ordner jetzt erzeugen">
									<span class="t3-icon t3-icon-apps t3-icon-apps-pagetree t3-icon-pagetree-folder-default">&nbsp;</span>&nbsp;</span> Ordner jetzt erzeugen
								</f:link.action>								
							</div>							
						</f:then>
						<f:else>
							<div class="tx-moox-mailer-admin-notask">
								Keine Mailer-Job gewählt
							</div>
						</f:else>
					
					</f:if>
				</f:else>
			</f:if>
		</div>
	</div>

</f:section>