{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Tasks" />

<f:section name="content">

	<f:flashMessages />

	<div class="tx-moox-mailer-admin">
		<h1 class="tx-moox-mailer-admin-h1">
			<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> MOOX-Mailer
		</h1>
		<f:render partial="Options" arguments="{_all}" />
		<f:render partial="Buttons" arguments="{isMails: 1, currentTask: currentTask}" />
		<div class="tx-moox-mailer-admin-body">
			<f:if condition="{currentTask}">
				<f:then>
					<f:if condition="{users}">
						<div class="tx-moox-mailer-admin-filter">
							<div class="tx-moox-mailer-admin-option">								
								<div id="user-selector">						
									<img class="current-user-icon pointer" width="16" height="16" alt="Liste" align="center" title="Liste" src="../typo3/sysext/t3skin/icons/module_web_list.gif">
									<span id="user-expander" class="pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
									<span class="pointer" title="{currentUser.lastName} {currentUser.firstName} | {currentUser.username} &lt;{currentUser.email}&gt; [UID: {currentUser.uid}]">
										<f:if condition="{currentUser}">
											<f:then>
												<f:if condition="{currentUser.type}=='feuser'">
													<f:then>
														{currentUser.lastName} {currentUser.firstName} | {currentUser.username} | {currentUser.email}&nbsp;&nbsp;&nbsp;[UID: {currentUser.uid}]
													</f:then>
													<f:else>
														{currentUser.lastName} {currentUser.firstName} | {currentUser.email}&nbsp;&nbsp;&nbsp;[Adresse]
													</f:else>
												</f:if>												
											</f:then>
											<f:else>
												Alle Benutzer
											</f:else>
										</f:if>
									</span>					
								</div>
								<div class="clear"></div>
							</div>
							<div class="user-list" id="user-list">
								<f:if condition="{users -> f:count()}>20">
									<div class="user-list-navigation">
										<a href="#userNav0">Nach oben</a>										
										<f:for each="{users}" as="user" iteration="iteration">
											<f:if condition="{currentUser.email} != {user.email}">			
												<f:if condition="{user.lastName} != ''">
													<f:then>
														<v:variable.set name="firstChar" value="{v:format.substring(content: user.lastName, start: 0, length: 1)}" />
													</f:then>
													<f:else>
														<f:if condition="{user.firstName} != ''">
															<f:then>
																<v:variable.set name="firstChar" value="{v:format.substring(content: user.firstName, start: 0, length: 1)}" />
															</f:then>
															<f:else>
																<v:variable.set name="firstChar" value="{v:format.substring(content: user.username, start: 0, length: 1)}" />
																<v:variable.set name="firstChar" value="{v:format.case(string: firstChar, case: 'upper')}" />								
															</f:else>
														</f:if>														
													</f:else>
												</f:if>
												<f:if condition="{firstChar} != {currentChar}">
													<v:variable.set name="currentChar" value="{firstChar}" />					
													<a href="#userNav{currentChar}">{currentChar}</a>					
												</f:if>
											</f:if>
										</f:for>
									</div>
								</f:if>
								<div class="user-list-inner">	
									<f:if condition="{users -> f:count()}>0">
										<f:then>
											<f:render partial="UserList" arguments="{currentUser: currentUser, users: users}" />				
										</f:then>
										<f:else>
											<div class="user-noothers">Keine Benutzer betroffen</div>
										</f:else>
									</f:if>								
								</div>
								<div class="user-list-footer">				
									<a href="#" id="user-list-close" class="pointer" title="schließen">schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span></a>
								</div>
							</div>
						</div>
					</f:if>
					<div class="tx-moox-mailer-admin-info">
						<f:if condition="{news -> f:count()}>0">
							<f:then>
								<div class="tx-moox-mailer-admin-header">
									Derzeit sind folgende Nachrichten für den Versand vorbereitet
								</div>
								<div class="tx-moox-mailer-admin-table">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<thead>
											<tr>
												<th></th>
												<th>Titel</th>										
											</tr>
										</thead>								
										<f:if condition="{currentTask.taskType}=='MooxNewsSendTask'">
											<f:then>
												<f:render partial="MooxNewsList" arguments="{_all}" />
											</f:then>
										</f:if>																
									</table>
								</div>
								<div class="clear"></div>
								<div class="tx-moox-mailer-admin-footer">
									<f:link.action action="previewNews" arguments="{uid:'all'}" title="Vorschau aller Mails/News anzeigen">
										<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-view">&nbsp;</span> Vorschau aller Mails/News anzeigen
									</f:link.action>
								</div>
							</f:then>
							<f:else>
								<div class="tx-moox-mailer-admin-nomails">
									Derzeit sind keine Mails für den Versand ausgewählt.
								</div>
							</f:else>
						</f:if>
					</div>					
				</f:then>
				<f:else>
					<div class="tx-moox-mailer-admin-notask">
						Keine Mailer-Job gewählt
					</div>				
				</f:else>
			</f:if>
		</div>
	</div>

</f:section>