<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Core/DefaultContent" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxcore.contents.mooxcore_csscontainer') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_core/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="cssContainer" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="MOOX" />
			<flux:form.option.icon value="EXT:moox_core/ext_icon.svg" />
			<flux:form.sheet name="configuration" label="{ll}:flux.cssContainer.sheet.configuration">
				<flux:field.select name="tag"
								   label="{ll}:flux.cssContainer.fields.tag"
								   items="{contentSettings.tags}"
								   default="{contentSettings.defaults.tag}"
				/>
				<flux:field.input name="classes" label="{ll}:flux.cssContainer.fields.classes" />
			</flux:form.sheet>
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column colPos="0" name="content" label="{ll}:flux.cssContainer.fields.content"/>
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Preview"></f:section>

	<f:section name="Main">
		<{tag}<f:if condition="{classes}"> class="{classes}"</f:if>>
			<flux:content.render area="content"/>
		</{tag}>
	</f:section>
	
</div>
