<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Core/DefaultContent" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxcore.contents.mooxcore_embedvideo') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_core/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="embedVideo" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="MOOX" />
			<flux:form.option.icon value="EXT:moox_core/ext_icon.svg" />
			<flux:form.sheet name="videoUrl" label="{ll}:flux.embedVideo.sheet.videoUrl">
				<flux:field.input name="videoUrl" label="{ll}:flux.embedVideo.sheet.videoUrl.videoUrl" placeholder="{ll}:flux.embedVideo.sheet.videoUrl.videoUrl.placeholder" />
				<flux:field.input name="videoWidth" label="{ll}:flux.embedVideo.sheet.videoUrl.videoWidth" default="{contentSettings.defaults.videoWidth}" />
				<flux:field.input name="videoHeight" label="{ll}:flux.embedVideo.sheet.videoUrl.videoHeight" default="{contentSettings.defaults.videoHeight}" />
			</flux:form.sheet>
			<flux:form.sheet name="embedVideo" label="{ll}:flux.embedVideo.sheet.embedVideo">
				<flux:field.text name="videoIframe" label="{ll}:flux.embedVideo.sheet.embedVideo.videoIframe" cols="100" rows="10" />
			</flux:form.sheet>
			<flux:form.sheet name="additionalCSS" label="{ll}:flux.embedVideo.sheet.additionalCSS">
				<flux:field.input name="videoIframeCustomCSS" label="{ll}:flux.embedVideo.sheet.additionalCSS.videoIframeCustomCSS" />
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		{v:variable.set(value:"LLL:EXT:moox_core/Resources/Private/Language/locallang.xlf",name:"ll")}
		<div class="panel panel-primary">
			<div class="panel-heading"><f:translate key="{ll}:flux.embedVideo.previewHeader" /></div>
			<div class="panel-body">
				<div class="video-container" style="width: 600px: max-width: 100%">
					<f:render section="Video" arguments="{_all}" />
				</div>
			</div>
		</div>		
	</f:section>

	<f:section name="Main">
		<div class="video-container {videoIframeCustomCSS}">
			<f:render section="Video" arguments="{_all}" />			
		</div>
	</f:section>
	
	<f:section name="Video">
		{v:variable.set(value:"LLL:EXT:moox_core/Resources/Private/Language/locallang.xlf",name:"ll")}
		<f:if condition="{videoUrl}!=''">
			<f:then>
				<v:condition.string.contains haystack="{videoUrl}" needle="v=">
					<f:then>
						<v:variable.set value="{v:iterator.explode(content:videoUrl,glue:'v=')}" name="videoId" />
						<v:variable.set value="{v:iterator.last(haystack:videoId)}" name="videoId" />
						<v:variable.set value="{v:iterator.explode(content:videoId,glue:'&')}" name="videoId" />
						<v:variable.set value="{v:iterator.first(haystack:videoId)}" name="videoId" />
					</f:then>
					<f:else>
						<v:condition.string.contains haystack="{videoUrl}" needle="youtu.be/">
							<f:then>									
								<v:variable.set value="{v:iterator.explode(content:videoUrl,glue:'youtu.be/')}" name="videoId" />
								<v:variable.set value="{v:iterator.last(haystack:videoId)}" name="videoId" />
								<v:variable.set value="{v:iterator.explode(content:videoId,glue:'?')}" name="videoId" />
								<v:variable.set value="{v:iterator.first(haystack:videoId)}" name="videoId" />																															
							</f:then>	
						</v:condition.string.contains>
					</f:else>
				</v:condition.string.contains>
				<f:if condition="{videoId}!=''">
					<f:then>
						<iframe width="{videoWidth}" height="{videoHeight}" src="https://www.youtube.com/embed/{videoId}" frameborder="0" style="max-width:100%" allow="autoplay; encrypted-media" allowfullscreen></iframe>						
					</f:then>
					<f:else>
						<f:translate key="{ll}:flux.embedVideo.noVideo" />
					</f:else>
				</f:if>
				
			</f:then>
			<f:else>
				<f:if condition="{videoIframe}!=''">
					<f:then>
						<v:variable.set value="{v:format.replace(content: videoIframe, substring: 'http:', replacement: 'https:')}" name="videoIframe" />	
						<f:format.raw>{videoIframe}</f:format.raw>
					</f:then>
					<f:else>
						<f:translate key="{ll}:flux.embedVideo.noVideo" />
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:section>
	
</div>
