<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	  xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{configuration.insertAbove}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration,position:'top'}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration,position:'bottom'}" />
</f:if>

<f:section name="paginator">
	<f:if condition="{pagination.numberOfPages} > 1">
		<f:spaceless>
			<f:if condition="{settings.list.paginate}">
				<f:if condition="{pagination.previousPage}">
					<f:if condition="{pagination.previousPage} > 1">
						<f:then>
							<n:headerData><link rel="prev" href="{mc:widget.uri(useCacheHash:configuration.useCacheHash,arguments: {currentPage: pagination.previousPage}) -> f:format.htmlentities()}" /></n:headerData>
						</f:then>
						<f:else>
							<n:headerData><link rel="prev" href="{mc:widget.uri() -> f:format.htmlentities()}" /></n:headerData>
						</f:else>
					</f:if>
				</f:if>
				<f:if condition="{pagination.nextPage}">
					<n:headerData><link rel="next" href="{mc:widget.uri(useCacheHash:configuration.useCacheHash, arguments: {currentPage: pagination.nextPage}) -> f:format.htmlentities()}" /></n:headerData>
				</f:if>
			</f:if>
			<f:if condition="{pagination.current} > 1">
				<v:variable.set name="pageTitle" value="{f:if(condition:'{v:page.info(field:\"seo_title\")}',then:'{v:page.info(field:\"seo_title\")}',else:'{v:page.info(field:\"title\")}')}" />
				<n:titleTag>
					<f:format.htmlentitiesDecode>{pageTitle} | {pagination.current}</f:format.htmlentitiesDecode>
				</n:titleTag>
			</f:if>
		</f:spaceless>
		<nav class="row nav-news nav-news-{position} nav-news-blue {f:if(condition:additionalClass,then:'{additionalClass} ')}clearfix">
			<ul class="pagination col-9">
				<li class="page-item{f:if(condition:'{pagination.previousPage}',else:' disabled')} previous">
					<f:if condition="{pagination.previousPage}">
						<f:then>
							<mc:widget.link class="page-link" rel="prev" arguments="{currentPage: pagination.previousPage}" useCacheHash="{configuration.useCacheHash}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" ><f:translate key="paginate_previous" /></mc:widget.link>
						</f:then>
						<f:else>
							<span class="page-link"><f:translate key="paginate_previous" /></span>
						</f:else>
					</f:if>
				</li>
				<f:if condition="{pagination.displayRangeStart} > 1">
					<li class="page-item first">
						<mc:widget.link class="page-link" arguments="{currentPage:1}" useCacheHash="{configuration.useCacheHash}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}">1</mc:widget.link>
					</li>
				</f:if>
				<f:if condition="{pagination.hasLessPages}">
					<li class="page-item spacer"><span class="page-link">...</span></li>
				</f:if>
				<f:for each="{pagination.pages}" as="page">
					<f:if condition="{page.isCurrent}">
						<f:then>
							<li class="page-item active" aria-current="page"><span class="page-link">{page.number} <span class="sr-only">(aktuell)</span></span></li>
						</f:then>
						<f:else>
							<li class="page-item">
								<f:if condition="{page.number} > 1">
									<f:then>
										<mc:widget.link class="page-link" arguments="{currentPage: page.number}" useCacheHash="{configuration.useCacheHash}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}">{page.number}</mc:widget.link>
									</f:then>
									<f:else>
										<mc:widget.link class="page-link" useCacheHash="{configuration.useCacheHash}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}">{page.number}</mc:widget.link>
									</f:else>
								</f:if>
							</li>
						</f:else>
					</f:if>
				</f:for>
				<f:if condition="{pagination.hasMorePages}">
					<li class="page-item spacer"><span class="page-link">...</span></li>
				</f:if>
				<f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
					<li class="page-item last">
						<mc:widget.link class="page-link" useCacheHash="{configuration.useCacheHash}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" arguments="{currentPage: pagination.numberOfPages}">{pagination.numberOfPages}</mc:widget.link>
					</li>
				</f:if>
				<li class="page-item {f:if(condition:'{pagination.nextPage}',else:' disabled')} next">
					<f:if condition="{pagination.nextPage}">
						<f:then>
							<mc:widget.link class="page-link"useCacheHash="{configuration.useCacheHash}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" arguments="{currentPage: pagination.nextPage}">
								<f:translate key="paginate_next" />
							</mc:widget.link>
						</f:then>
						<f:else>
							<span class="page-link"><f:translate key="paginate_next" /></span>
						</f:else>
					</f:if>
				</li>
			</ul>
			<div class="display col-3 d-none d-md-block text-right">
				<f:translate key="paginate_overall" arguments="{0:pagination.current,1:pagination.numberOfPages}" />
			</div>
		</nav>
	</f:if>
</f:section>

</html>