#tx-moox-mailer-admin-overlay 
{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
}

.tx-moox-mailer-admin {

}

.tx-moox-mailer-admin .icon-bright .icon-color {
	fill: #DDDDDD !important;
}

.tx-moox-mailer-admin img.moox-icon {
	float: left;
	margin-right: 10px;
}

.typo3-docheader-buttons a {	
	display: inline-block;	
}

.typo3-docheader-buttons .buttongroup {	
	margin-top: -2px;
}

.typo3-docheader-buttons input[type="submit"]{
	border: 0px;
	padding: 0px;
	margin: 0px;	
}

.typo3-messages {
	margin-bottom: 20px !important;
}

.tx-moox-mailer-admin a {
	text-decoration: none !important;
}

.tx-moox-mailer-admin .clear {
	clear: both;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-options {
	background-color: #DDDDDD;
	border-top: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	padding: 10px;
	padding-top: 5px;
	margin-bottom: 20px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-footer {
	margin-top: 15px;	
	margin-bottom: 5px;
	text-align: right;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-footer a, .tx-moox-mailer-admin .tx-moox-mailer-admin-nofolders a {	
	background-color: #EEEEEE;
	font-weight: bold;
	padding: 10px;
	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-footer a:hover, .tx-moox-mailer-admin .tx-moox-mailer-admin-nofolders a:hover {	
	background-color: #DDDDDD;	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-filter {
	margin-bottom: 10px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-log {
	margin-top: 10px;
	min-height: 400px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-nomails {
	text-align: center;
	padding: 50px;
	background-color: #EEEEEE;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-noschedules {
	text-align: center;
	padding: 50px;
	background-color: #EEEEEE;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-notask {
	text-align: center;
	padding: 50px;
	background-color: #EEEEEE;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-nofolders {
	text-align: center;
	padding: 50px;
	background-color: #FFFFFF;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-iframe {
	margin-top: 10px;
	background-color: #EEEEEE;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-iframe-newsletter {
	margin-top: 0px;	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-receivers {
	border: 2px solid #DDDDDD;	
	margin-bottom: 10px;
	padding: 2px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-receivers-title {
	background-color: #666666;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-receivers-list {
	margin-top: 2px;
	background-color: #EEEEEE;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	height: 500px;
	overflow: auto;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-receivers-users {

}

.tx-moox-mailer-admin .tx-moox-mailer-admin-receivers-addresses {
	margin-top: 10px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-newsletter {
	border: 2px solid #DDDDDD;	
	margin-bottom: 10px;
	padding: 2px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-newsletter .tx-moox-mailer-admin-filter {
	margin-bottom: 0px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-newsletter-subject {
	background-color: #666666;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-preview-close {	
	display: inline-block;
	float: right;
	color: #FFFFFF;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-iframe-content {
	margin-top: 10px;	
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 10px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-iframe-content-newsletter {
	margin-top: 0px;	
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-iframe-content iframe{
	height: 400px;
}

.tx-moox-mailer-admin  .tx-moox-mailer-admin-iframe-content-newsletter iframe {
	height: 600px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-iframe-header {
	background-color: #DDDDDD;
	font-weight: bold;
	padding: 5px;
	margin-bottom: 5px;
}

.tx-moox-mailer-admin  .tx-moox-mailer-admin-option {
	
}

.tx-moox-mailer-admin  .tx-moox-mailer-admin-option label {
	margin-top: 5px;
}

.tx-moox-mailer-admin  .tx-moox-mailer-admin-option label {
	font-weight: bold;
}

.tx-moox-mailer-admin .actions a{
	text-decoration: none;
}

.tx-moox-mailer-admin  #task-selector {
	padding: 10px;
	background-color: #FFFFFF;
}

.tx-moox-mailer-admin .task-list {	
	display: none;
	border: 1px solid #CCCCCC;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tx-moox-mailer-admin .task-noothers {	
	background-color: #FFFFFF;
	padding:5px;
}

.tx-moox-mailer-admin .task-icon {	
	float: left;
	margin-right: 10px;
}

.tx-moox-mailer-admin .task-list .task-title {
	margin-left: 5px;
}

.tx-moox-mailer-admin .task-list ul {
	margin: 0px;
	margin-bottom: -2px;
}

.tx-moox-mailer-admin .task-list ul li {
	background-color: #FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	padding: 5px;
	padding-left: 15px;
}

.tx-moox-mailer-admin .task-list ul li:hover {
	background-color: #EEEEEE;
	
}


.tx-moox-mailer-admin .task-list ul li.task-last {
	border: 0px;
}

.tx-moox-mailer-admin .task-list ul li a {
	display: block;
	text-decoration: none;
}

.tx-moox-mailer-admin .task-list-footer {
	padding-left: 20px;
	border-top: 2px solid #999999;
	margin-top: -1px;
	background-color: #BBBBBB;
	color: #FFFFFF;
	line-height: 25px;
	font-weight: bold;
	text-align: right;
}

.tx-moox-mailer-admin a#task-list-close {
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;	
}

.tx-moox-mailer-admin a#newsletter-preview-close {
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;
	float: right;
}

.tx-moox-mailer-admin  #user-selector {
	padding: 10px;
	background-color: #FFFFFF;
}

.tx-moox-mailer-admin .user-list {	
	display: none;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;	
}

.tx-moox-mailer-admin .user-list-navigation {		
	
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;	
	background-color: #BBBBBB;	
	line-height: 32px;
	font-weight: bold;
	padding-left: 16px;
}

.tx-moox-mailer-admin .user-list-navigation a {			
	color: #333333;	
	margin-right: 5px;
	padding-right: 10px;
	border-right: 1px solid #999999;
}

.tx-moox-mailer-admin .user-list-navigation a:hover {			
	color: #666666;	
}

.tx-moox-mailer-admin .user-list-inner {		
	border: 1px solid #CCCCCC;	
		
	max-height: 400px;
	overflow: auto;
}

.tx-moox-mailer-admin .user-noothers {	
	background-color: #FFFFFF;
	padding:5px;
}

.tx-moox-mailer-admin .user-icon {	
	float: left;
	margin-right: 10px;
}

.tx-moox-mailer-admin .user-list .user-title {
	margin-left: 5px;
}

.tx-moox-mailer-admin .user-list ul {
	margin: 0px;
	margin-bottom: -2px;
}

.tx-moox-mailer-admin .user-list ul li {
	background-color: #FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	padding: 5px;
	padding-left: 15px;
}

.tx-moox-mailer-admin .user-list ul li.separator {
	background-color: #DDDDDD;
	font-weight: bold;
	border-bottom: 0px;
}

.tx-moox-mailer-admin .user-list ul li:hover {
	background-color: #EEEEEE;
	
}

.tx-moox-mailer-admin .user-list ul li.separator:hover {
	background-color: #DDDDDD;	
}

.tx-moox-mailer-admin .user-list ul li.user-last {
	border: 0px;
}

.tx-moox-mailer-admin .user-list ul li a {
	display: block;
	text-decoration: none;
}

.tx-moox-mailer-admin .user-list-footer {
	padding-left: 20px;
	border-top: 1px solid #999999;	
	background-color: #BBBBBB;
	color: #FFFFFF;
	line-height: 25px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 10px
}

.tx-moox-mailer-admin a#user-list-close {
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;	
}

.tx-moox-mailer-admin .pointer {
	cursor: pointer;
}

.tx-moox-mailer-admin-buttons {	
	font-weight: bold;	
}

.tx-moox-mailer-admin-buttons a {
	color: #000000;
	line-height: 28px;
	display: inline-block;
	padding: 3px;
	padding-right: 10px;
	background-position: 10px 5px;
	background-color: #EEEEEE;
	cursor: pointer;
	text-decoration: none;
}

.tx-moox-mailer-admin-buttons a:hover,.tx-moox-mailer-admin-buttons a.active {
	background-color: #DDDDDD;
}

a.tx-moox-mailer-admin-buttons-info {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/info.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-mails {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/mails.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-execute {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/execute.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-edit {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/edit.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-send {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/send.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-test-send {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/test_send.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-newsletter {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/newsletter.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-stats {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/stats.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-newsletter-preview {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/newsletter_preview.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-recycle {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/recycle.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-continue {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/continue.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-receiver {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/receiver.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-delete {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/delete.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-preview {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/preview.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-logfile {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/logfile.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-generate {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/folder.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

a.tx-moox-mailer-admin-buttons-timetable {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/timetable.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

.tx-moox-mailer-admin-body {
	background-color: #DDDDDD;
	padding: 10px;
}

.tx-moox-mailer-admin-stats {
	border: 2px solid #DDDDDD;
	background-color: #FFFFFF;
	padding: 2px;
	margin-bottom: 10px;
}

.tx-moox-mailer-admin-stats-header {
	background-color: #666666;
	color: #FFFFFF;	
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
}

.tx-moox-mailer-admin-stats-body {
	background-color: #EEEEEE;	
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px
}

.tx-moox-mailer-admin-stats-table {
	margin-top: 20px;
}

.tx-moox-mailer-admin-stats-table-header {
	background-color: #666666;
	color: #FFFFFF;	
	font-weight: bold;
	padding: 5px;
}

.tx-moox-mailer-admin-stats-table td {
	background-color: #FFFFFF;
	padding: 5px;
	border-bottom: 2px solid #EEEEEE;
}

.tx-moox-mailer-admin-stats-table th {
	background-color: #FFFFFF;
	padding: 5px;
	border-bottom: 2px solid #EEEEEE;
	text-align: left;
}

.tx-moox-mailer-admin-info {
	background-color: #FFFFFF;
	padding: 10px;
	margin-bottom: 10px;
}

.tx-moox-mailer-admin-schedule {
	background-color: #FFFFFF;
	padding: 10px;
}

.tx-moox-mailer-admin-header {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
}

.tx-moox-mailer-admin-table {

}

.tx-moox-mailer-admin-table table th {
	background-color: #dadada;
	color: #000000;
	padding: 5px;
	text-align: left;
}

.tx-moox-mailer-admin-table-row {
	
}

.tx-moox-mailer-admin-table-row-even {
	background-color: #f3f3f3;
}

.tx-moox-mailer-admin-table-row-odd {

}

.tx-moox-mailer-admin-table {
	border-bottom: 1px solid #f3f3f3;
}

.tx-moox-mailer-admin-table-label {
	font-weight: bold;
	padding: 5px;
}

.tx-moox-mailer-admin-table-value {	
	padding: 5px;
}

.tx-moox-mailer-admin .news-info-field {
	display: none;	
}

.tx-moox-mailer-admin .news-info-field-content {
	margin-left: 6px;
	margin-right: 20px;
	border-top: 1px solid #BBBBBB;
}

.tx-moox-mailer-admin .news-info-field-content-inner {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 50px;
	
}

.tx-moox-mailer-admin .news-info-field-content-inner .allowed {
	color: green;
	font-weight: bold;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form {
	background-color: #FFFFFF;
	padding: 10px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-header {		
	background-color: #BBBBBB;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-header.current-year {		
	background-color: #d6e9c6;
	color: #3c763d;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item {		
	background-color: #EEEEEE;	
	line-height: 30px;
	margin-bottom: 5px
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item.current-week {		
	background-color: #d6e9c6;
	color: #3c763d;
	font-weight: bold;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item-disabled {		
	background-color: #F9F9F9;	
	color: #BBBBBB;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item:hover {		
	background-color: #DDDDDD;		
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item label {
	display: inline-block;
	width: 140px;
	padding-left: 10px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item select {
	height: 25px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item input[type="text"]{
	width: 99.2%;
	margin: 0px;
	padding: 0.3%;
	line-height: 22px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item textarea{
	width: 99.2%;
	margin: 0px;
	padding: 0.3%;	
	height: 500px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .typo3-messages, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .typo3-message {
	margin-bottom: 10px !important;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .list-unstyled {
	/*margin-top: 5px;*/
	/*margin-bottom: 30px;*/
	margin: 0px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-log, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-preview {
	border: 2px solid #DDDDDD;	
	margin-bottom: 10px;
	padding: 2px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task .task-details,
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task .task-expander-up {
	display: none;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task.open .task-details {
	display: block;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task.open .task-expander-up {
	display: inline-block;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task.open .task-expander-down {
	display: none;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft {
	border: 2px solid #DDDDDD;	
	margin-bottom: 10px;
	padding: 2px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft .draft-details,
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft .draft-expander-up {
	display: none;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft.open .draft-details {
	display: block;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft.open .draft-expander-up {
	display: inline-block;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft.open .draft-expander-down {
	display: none;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent {
	border: 2px solid #DDDDDD;	
	margin-bottom: 10px;
	padding: 2px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent .sent-details,
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent .sent-expander-up {
	display: none;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent.open .sent-details {
	display: block;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent.open .sent-expander-up {
	display: inline-block;
}
.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent.open .sent-expander-down {
	display: none;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-log {
	max-height: 400px;
	overflow: auto;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-preview {
	max-height: 600px;
	overflow: auto;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-title, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-log-header, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-preview-header {
	background-color: #666666;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-title a {
	color: #FFFFFF;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft-title {
	background-color: #666666;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft-title a {
	color: #FFFFFF;	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-title {
	background-color: #666666;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-title a {
	color: #FFFFFF;	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-description-state, .tx-moox-mailer-admin .stats-state {
	display: inline-block;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-description-state-outer, .tx-moox-mailer-admin .stats-state-outer {
	background: #4bafe5; /* Old browsers */
	background: -moz-linear-gradient(top,  #4bafe5 0%, #1680aa 22%, #1680aa 79%, #4bafe5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4bafe5), color-stop(22%,#1680aa), color-stop(79%,#1680aa), color-stop(100%,#4bafe5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4bafe5 0%,#1680aa 22%,#1680aa 79%,#4bafe5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4bafe5 0%,#1680aa 22%,#1680aa 79%,#4bafe5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4bafe5 0%,#1680aa 22%,#1680aa 79%,#4bafe5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4bafe5 0%,#1680aa 22%,#1680aa 79%,#4bafe5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bafe5', endColorstr='#4bafe5',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	height: 20px;
	width: 200px;
	overflow: hidden;
	text-align: right;
	border-radius: 6px;
	border: 2px solid #EEEEEE;
	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-description-state-outer.completed, .tx-moox-mailer-admin .stats-state-outer.completed {
	background: #55e50d; /* Old browsers */
	background: -moz-linear-gradient(top,  #55e50d 0%, #39ad16 24%, #39ad16 79%, #55e50d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55e50d), color-stop(24%,#39ad16), color-stop(79%,#39ad16), color-stop(100%,#55e50d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #55e50d 0%,#39ad16 24%,#39ad16 79%,#55e50d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #55e50d 0%,#39ad16 24%,#39ad16 79%,#55e50d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #55e50d 0%,#39ad16 24%,#39ad16 79%,#55e50d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #55e50d 0%,#39ad16 24%,#39ad16 79%,#55e50d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55e50d', endColorstr='#55e50d',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	text-align: center;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-description-state-inner, .tx-moox-mailer-admin .stats-state-inner {
	background-color: #FFF;
	display: inline-block;
	height: 20px;	
	overflow: hidden;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-description-state-percentage, .tx-moox-mailer-admin .stats-state-percentage {
	display: inline-block;
	margin-top: 2px;
	vertical-align: top;
	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-description, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-log-content, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-preview-content {
	background-color: #EEEEEE;
	margin-bottom: 2px;
	padding: 20px;
	line-height: 20px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft-description {
	background-color: #EEEEEE;
	margin-bottom: 2px;
	padding: 20px;
	line-height: 20px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-description {
	background-color: #EEEEEE;
	margin-bottom: 2px;
	padding: 20px;
	line-height: 20px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-label {		
	display: inline-block;
	width: 250px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft-label {		
	display: inline-block;
	width: 250px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-label {		
	display: inline-block;
	width: 250px;
	vertical-align: top;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-buttons {		
	background-color: #F6F6F6;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft-buttons {		
	background-color: #F6F6F6;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-buttons {		
	background-color: #F6F6F6;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-buttons a {
	color: #000000;
	line-height: 28px;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	background-position: 10px 5px;
	background-color: #DDDDDD;
	cursor: pointer;
	text-decoration: none;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft-buttons a {
	color: #000000;
	line-height: 28px;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	background-position: 10px 5px;
	background-color: #DDDDDD;
	cursor: pointer;
	text-decoration: none;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-buttons a {
	color: #000000;
	line-height: 28px;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	background-position: 10px 5px;
	background-color: #DDDDDD;
	cursor: pointer;
	text-decoration: none;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-buttons a:hover, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .task-buttons a.active {
	background-color: #CCCCCC;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft-buttons a:hover, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .draft-buttons a.active {
	background-color: #CCCCCC;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-buttons a:hover, .tx-moox-mailer-admin .tx-moox-mailer-admin-index .sent-buttons a.active {
	background-color: #CCCCCC;
}