#tx-moox-mailer-admin-overlay 
{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
}

.tx-moox-mailer-admin {

}

.tx-moox-mailer-admin-stats {
	border: 2px solid #DDDDDD;
	background-color: #FFFFFF;
	padding: 2px;
	margin-bottom: 10px;
}

.tx-moox-mailer-admin-stats-header {
	background-color: #666666;
	color: #FFFFFF;	
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
}

.tx-moox-mailer-admin-stats-body {
	background-color: #EEEEEE;	
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px
}

.tx-moox-mailer-admin-stats-table {
	margin-top: 20px;
}

.tx-moox-mailer-admin-stats-table-header {
	background-color: #666666;
	color: #FFFFFF;	
	font-weight: bold;
	padding: 5px;
}

.tx-moox-mailer-admin-stats-table td {
	background-color: #FFFFFF;
	padding: 5px;
	border-bottom: 2px solid #EEEEEE;
}

.tx-moox-mailer-admin-stats-table th {
	background-color: #FFFFFF;
	padding: 5px;
	border-bottom: 2px solid #EEEEEE;
	text-align: left;
}

.tx-moox-mailer-admin h1 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	vertical-align: middle;
}

.tx-moox-mailer-admin h1.newsletter-preview {
	margin-top: 25px;	
}

.tx-moox-mailer-admin iframe {
	height: 600px;
}

.tx-moox-mailer-admin img.moox-icon {
	float: left;
	margin-right: 10px;
}

.typo3-docheader-buttons a {	
	display: inline-block;	
}

.typo3-docheader-buttons .buttongroup {	
	margin-top: -2px;
}

.typo3-docheader-buttons input[type="submit"]{
	border: 0px;
	padding: 0px;
	margin: 0px;	
}

.tx-moox-mailer-admin-table .sort-up {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tx-moox-mailer-admin-table .sort-asc a, .tx-moox-mailer-admin-table .sort-desc a {
	color: #888888;	
}

.tx-moox-mailer-admin-table .sort-asc a:hover, .tx-moox-mailer-admin-table .sort-desc a:hover {
	color: #FFFFFF;	
}

.tx-moox-mailer-admin-table .sort-asc.active a, .tx-moox-mailer-admin-table .sort-desc.active a  {
	color: #FFFFFF;	
}

.tx-moox-mailer-admin input.remove-image {
	border: 0px;
}

.tx-moox-mailer-admin input.add-image {
	padding: 6px;
}


.typo3-messages {
	margin-bottom: 20px !important;
}

img.mailing-state {
	vertical-align: middle;
}

.tx-moox-mailer-admin #typo3-dblist-pagination {
	background-color: #EEEEEE;
	padding-left: 10px;
	margin-top: 15px;
}

.tx-moox-mailer-admin a {
	text-decoration: none !important;
}

.tx-moox-mailer-admin .clear {
	clear: both;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-nonewsletters {
	text-align: center;
	padding: 50px;
	background-color: #EEEEEE;
}

.tx-moox-mailer-admin .actions a{
	text-decoration: none;
}

.tx-moox-mailer-admin .pointer {
	cursor: pointer;
}

.tx-moox-mailer-admin-buttons {	
	font-weight: bold;	
}

.tx-moox-mailer-admin-buttons a {
	color: #000000;
	line-height: 28px;
	display: inline-block;
	padding: 3px;
	padding-right: 10px;
	background-position: 10px 5px;
	background-color: #EEEEEE;
	cursor: pointer;
	text-decoration: none;
}

a.tx-moox-mailer-admin-buttons-continue {
	background-image: url(/typo3conf/ext/moox_mailer/Resources/Public/Icons/Administration/continue.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

.tx-moox-mailer-admin-buttons a:hover,.tx-moox-mailer-admin-buttons a.active {
	background-color: #DDDDDD;
}

.tx-moox-mailer-admin-filter {
	background-color: #EDEDED;
	border-top: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	padding: 12px;
	margin-bottom: 5px;
	font-family: Share, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.tx-moox-mailer-admin form {
	margin-bottom: 0px !important;
}

.tx-moox-mailer-admin-filter .filter-field {
	padding: 2px 0;
}

.tx-moox-mailer-admin-filter .filter-field select {
	height: 25px;
	line-height: 25px;	
}

.tx-moox-mailer-admin-filter .filter-field input {
	height: 25px;
	line-height: 25px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
}

.tx-moox-mailer-admin-filter .filter-state {
	width: 70%;
}

.tx-moox-mailer-admin-filter .filter-per-page {
	width: 29%;
}

.tx-moox-mailer-admin-filter .filter-query {
	width: 88%;
	float: left;
}

.tx-moox-mailer-admin-filter .filter-submit {
	width: 10%;
	float: right;
}

.tx-moox-mailer-admin-filter .filter-field label {
	display: block;
	float: left;
	width: 150px;
}

.tx-moox-mailer-admin-filter .filter-field h2 {
	font-family: Share, Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
	margin-bottom: 5px;
	display: inline-block;
	background-color: #FFFFFF;
	color: #585858;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.tx-moox-mailer-admin-filter .filter-field label.label-folder-import {
	display: block;
	float: left;
	width: 200px;
}

.tx-moox-mailer-admin-filter .folder-list {		
	display: none;
	border: 1px solid #CCCCCC;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	margin-bottom: 10px;	
	margin-top: 10px;	
}

.tx-moox-mailer-admin-filter .folder-list-import {
	margin-left: 200px;
}

.tx-moox-mailer-admin-filter .folder-list-footer {
	padding-left: 20px;
	border-top: 2px solid #999999;
	margin-top: -1px;
	background-color: #BBBBBB;
	color: #FFFFFF;
	font-weight: bold;
	text-align: right;
}

.tx-moox-mailer-admin-filter a#folder-list-close {
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;	
}

.tx-moox-mailer-admin-filter .folder-noothers {	
	background-color: #FFFFFF;
	padding:5px;
}

.tx-moox-mailer-admin-filter .folder-icon {	
	float: left;
	margin-right: 10px;
}

.tx-moox-mailer-admin-filter .current-folder-icon {		
	
}

.tx-moox-mailer-admin-filter .folder-list ul {
	margin: 0px;
	margin-bottom: -2px;
}

.tx-moox-mailer-admin-filter .folder-list ul li {
	background-color: #FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	padding: 3px;
	padding-left: 15px;
}

.tx-moox-mailer-admin-filter .folder-list ul li:hover {
	background-color: #F1F1F1;	
}

.tx-moox-mailer-admin-filter .folder-list ul li.active {
	background-color: #F1F1F1;	
}

.tx-moox-mailer-admin-filter .folder-list ul li.folder-last {
	border: 0px;
}

.tx-moox-mailer-admin-filter .folder-list ul li a {
	display: block;
	text-decoration: none;
}

.tx-moox-mailer-admin-body {
	background-color: #DDDDDD;
	padding: 10px;
}

.tx-moox-mailer-admin-header {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
}

.tx-moox-mailer-admin-table {
	border-bottom: 1px solid #f3f3f3;
}

.tx-moox-mailer-admin-table  .newsletter-details {
	display: none;
}

.tx-moox-mailer-admin-table  .newsletter-details-content{
	margin: 5px;	
	padding: 20px;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	background-color: #F9F9F9;
}

.tx-moox-mailer-admin-table  .newsletter-details-content-inner{
	margin-bottom: 10px;
}

.tx-moox-mailer-admin-table  .newsletter-details-content-inner img {
	margin-top: 5px;
	border: 1px solid #BBBBBB;
	padding: 3px;
}

.tx-moox-mailer-admin-table  .newsletter-details-content-inner .newsletter-images .newsletter-image-thumb {
	float: left;
	margin-right: 5px;
}

.tx-moox-mailer-admin-table table th {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	text-align: left;
}

.tx-moox-mailer-admin-table-row {
	
}

.tx-moox-mailer-admin-table-row-even {
	background-color: #f3f3f3;
}

.tx-moox-mailer-admin-table-row-odd {
	background-color: #FFFFFF;
}

.tx-moox-mailer-admin-table-row:hover {
	background-color: #d9edf7;
}

.tx-moox-mailer-admin-table-label {
	font-weight: bold;
	padding: 5px;
}

.tx-moox-mailer-admin-table-value {	
	padding: 5px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form {
	background-color: #EEEEEE;
	padding: 10px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form  .typo3-messages {
	margin-bottom: 0px !important;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-header {		
	background-color: #BBBBBB;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	/*max-width: 800px;*/		
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-header.has-error {
	background-color: #d9534f;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item {		
	background-color: #EEEEEE;	
	line-height: 30px;
	margin-bottom: 5px
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item.has-error {
	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item.has-error input {
	border-color: #d9534f;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item-disabled {		
	background-color: #F9F9F9;	
	color: #BBBBBB;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item label {
	display: inline-block;
	width: 140px;
	padding-left: 10px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item select {
		
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item select#newsletter-page {
	/*width: 810px;*/
	width: 100%;
	margin: 0px;
	height: 30px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item select#newsletter-user-folders {
	/*width: 810px;*/
	width: 100%;
	margin: 0px;	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item select#newsletter-address-folders {
	/*width: 810px;*/
	width: 100%;
	margin: 0px;	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item select#newsletter-test-address-folders {
	/*width: 810px;*/
	width: 100%;
	margin: 0px;	
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item select#newsletter-zipmode {
	/*width: 810px;*/
	width: 100%;
	margin: 0px;	
	height: 30px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item select#newsletter-move-to-folder {
	/*width: 810px;*/
	width: 100%;
	margin: 0px;	
	height: 30px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item input[type="text"]{
	/*width: 795px;*/
	width: 99.2%;
	margin: 0px;
	padding: 0.3%;
	line-height: 22px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item input#import-separator {
	width: 20px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-item textarea{
	/*width: 800px;*/
	width: 100%;
	margin: 0px;
	display: block;
	height: 500px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-submit {		
	margin-top: 15px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-form-submit input[type="submit"]{		
	line-height: 22px;
}

.tx-moox-mailer-admin  #user-selector {
	padding: 10px;
	background-color: #FFFFFF;
}

.tx-moox-mailer-admin .user-list {	
	display: none;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;	
}

.tx-moox-mailer-admin .user-list-navigation {		
	
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;	
	background-color: #BBBBBB;	
	line-height: 32px;
	font-weight: bold;
	padding-left: 16px;
}

.tx-moox-mailer-admin .user-list-navigation a {			
	color: #333333;	
	margin-right: 5px;
	padding-right: 10px;
	border-right: 1px solid #999999;
}

.tx-moox-mailer-admin .user-list-navigation a:hover {			
	color: #666666;	
}

.tx-moox-mailer-admin .user-list-inner {		
	border: 1px solid #CCCCCC;	
	max-height: 400px;
	overflow: auto;
}

.tx-moox-mailer-admin .user-noothers {	
	background-color: #FFFFFF;
	padding:5px;
}

.tx-moox-mailer-admin .user-icon {	
	float: left;
	margin-right: 10px;
}

.tx-moox-mailer-admin .user-list .user-title {
	margin-left: 5px;
}

.tx-moox-mailer-admin .user-list ul {
	margin: 0px;
	margin-bottom: -2px;
}

.tx-moox-mailer-admin .user-list ul li {
	background-color: #FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	padding: 5px;
	padding-left: 15px;
}

.tx-moox-mailer-admin .user-list ul li.separator {
	background-color: #DDDDDD;
	font-weight: bold;
	border-bottom: 0px;
}

.tx-moox-mailer-admin .user-list ul li:hover {
	background-color: #EEEEEE;
	
}

.tx-moox-mailer-admin .user-list ul li.separator:hover {
	background-color: #DDDDDD;	
}

.tx-moox-mailer-admin .user-list ul li.user-last {
	border: 0px;
}

.tx-moox-mailer-admin .user-list ul li a {
	display: block;
	text-decoration: none;
}

.tx-moox-mailer-admin .user-list-footer {
	padding-left: 20px;
	border-top: 1px solid #999999;	
	background-color: #BBBBBB;
	color: #FFFFFF;
	line-height: 25px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 10px
}

.tx-moox-mailer-admin a#user-list-close {
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;	
}

.tx-moox-mailer-admin .icon-newsletter-send {
	width: 16px;
	height: 16px;
	font-size: 1px;
	line-height: 0;
}

.tx-moox-mailer-admin .icon-newsletter-save-send {
	width: 16px;
	height: 16px;
	font-size: 1px;
	line-height: 0;
	background-image: url('/typo3conf/ext/moox_mailer/Resources/Public/Icons/icon-save-send.png') !important;
}

.tx-moox-mailer-admin .add-folder-select-buttons {		
	margin-top: 5px;
	text-align: right;
}

.tx-moox-mailer-admin  .add-folder-select-buttons a {
	color: #FFFFFF;
	line-height: 28px;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	background-position: 10px 5px;
	background-color: #999999;
	cursor: pointer;
	text-decoration: none;
}


.tx-moox-mailer-admin  .add-folder-select-buttons a:hover, .tx-moox-mailer-admin  .add-folder-select-buttons a.active {
	background-color: #AAAAAA;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-newsletter-log {
	border: 2px solid #DDDDDD;	
	margin-bottom: 10px;
	padding: 2px;
	margin-top: 10px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-newsletter-log-header {
	background-color: #666666;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

.tx-moox-mailer-admin .tx-moox-mailer-admin-newsletter-log-content {
	margin-top: 2px;
	background-color: #EEEEEE;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 22px;
	height: 300px;
	overflow: auto;
}

.tx-moox-mailer-admin .stats-state {
	display: inline-block;
}

.tx-moox-mailer-admin .stats-state-outer {
	background: #4bafe5; /* Old browsers */
	background: -moz-linear-gradient(top,  #4bafe5 0%, #1680aa 22%, #1680aa 79%, #4bafe5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4bafe5), color-stop(22%,#1680aa), color-stop(79%,#1680aa), color-stop(100%,#4bafe5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4bafe5 0%,#1680aa 22%,#1680aa 79%,#4bafe5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4bafe5 0%,#1680aa 22%,#1680aa 79%,#4bafe5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4bafe5 0%,#1680aa 22%,#1680aa 79%,#4bafe5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4bafe5 0%,#1680aa 22%,#1680aa 79%,#4bafe5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bafe5', endColorstr='#4bafe5',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	height: 20px;
	width: 200px;
	overflow: hidden;
	text-align: right;
	border-radius: 6px;
	border: 2px solid #EEEEEE;
	
}

.tx-moox-mailer-admin .stats-state-outer.completed {
	background: #55e50d; /* Old browsers */
	background: -moz-linear-gradient(top,  #55e50d 0%, #39ad16 24%, #39ad16 79%, #55e50d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55e50d), color-stop(24%,#39ad16), color-stop(79%,#39ad16), color-stop(100%,#55e50d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #55e50d 0%,#39ad16 24%,#39ad16 79%,#55e50d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #55e50d 0%,#39ad16 24%,#39ad16 79%,#55e50d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #55e50d 0%,#39ad16 24%,#39ad16 79%,#55e50d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #55e50d 0%,#39ad16 24%,#39ad16 79%,#55e50d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55e50d', endColorstr='#55e50d',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	text-align: center;
}

.tx-moox-mailer-admin .stats-state-inner {
	background-color: #FFF;
	display: inline-block;
	height: 20px;	
	overflow: hidden;
}

.tx-moox-mailer-admin .stats-state-percentage {
	display: inline-block;
	margin-top: 2px;
	vertical-align: top;
	
}