<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxMailer/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:layout name="{f:if(condition:refresh,then:'Ajax',else:'Mod9')}" />
	<f:section name="ajax"><f:render partial="Module/Mod9/List/Body" arguments="{_all}" /></f:section>
	<f:section name="content">
		<div class="moox-module moox-mailer-module moox-mailer-module-mod9 use-ajax" id="{v:system.uniqId(prefix: 'moox-mailer-module-')}">
			<f:render partial="Module/Mod9/List/Filter" arguments="{_all}" />
			<f:render partial="Module/Mod9/List/Body" arguments="{_all}" />
		</div>
	</f:section>
	<f:section name="buttons">
		<f:render partial="Module/Buttons" section="addTemplate" arguments="{_all}" />
	</f:section>
</div>

