<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxMailer/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Iframe" />

	<f:section name="content">	
		<div><f:format.raw>{preview}</f:format.raw></div>
	</f:section>
	
</div>