<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxMailer/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div class="form-group">
		<label class="sr-only" for="hidden">aktiviert/deaktiviert?</label>
		<f:form.select property="hidden" prependOptionLabel="aktivierte und deaktivierte" options="{
			0:'nur aktivierte',
			1:'nur deaktivierte'
		}" id="hidden" class="form-control is-grouped-filter auto-submit" />
	</div>
	
</div>