<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxMailer/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:if condition="{label}">
		<f:then>
			<v:variable.set name="label" value="{f:translate(key:label,default:label)}" />
		</f:then>
		<f:else>
			<v:variable.set name="label" value="Einträge" />
		</f:else>
	</f:if>
	<div class="form-group">
		<label class="sr-only" for="perPage">{label} pro Seite</label>
		<f:form.select property="perPage" options="{
			10:'10 {label} pro Seite',
			25:'25 {label} pro Seite',
			50:'50 {label} pro Seite',
			100:'100 {label} pro Seite',
			500:'500 {label} pro Seite'
		}" id="perPage" class="form-control is-grouped-filter auto-submit" />
	</div>
	
</div>