<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxMailer/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<div class="form-group has-feedback has-clear">
		<label class="sr-only" for="query">Suchbegriff eingeben</label>
		<f:form.textfield style="width:100%" property="query" id="query" class="form-control is-grouped-filter auto-submit" placeholder="Suchbegriff eingeben" />	
		<span class="clearer form-control-feedback form-control-clear" aria-hidden="true">
			<core:icon identifier="actions-close" size="small" />
		</span>
	</div>
	
</div>