{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Newsletter" />


<!-- ****************************************************************************************** -->
<!-- ****************************************************************************************** -->
<!-- *************************************** CONFIGURATION ************************************ -->
<!-- ****************************************************************************************** -->
<!-- ****************************************************************************************** -->

<!-- TEMPLATE CONFIGURATION :: START -->  
<f:section name="Configuration">
	
	<!-- CONFIGURATION :: DEFAULT-TEMPLATE :: START -->
	<flux:form id="moox-newsletter" label="MOOX-Newsletter" description="MOOX-Newsletter (Standard-Template)" options="{icon: '/typo3conf/ext/moox_mailer/Resources/Public/Icons/default_newsletter_template.png'}">
            	
		<flux:form.sheet name="configuration" label="Konfiguration">							
			<flux:field.input name="version" label="Versionsnummer des Newsletters" />
			<flux:field.text name="teaser" label="Teaser-Text des Newsletters" />
			<flux:field.file name="logo" label="Newsletter-Logo" allowed="jpg,jpeg,png,gif" />
		</flux:form.sheet>
		
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="1" name="Inhalt" label="Inhalt" />
			</flux:grid.row>
		</flux:grid>
		
	</flux:form>	
</f:section>
<!-- TEMPLATE CONFIGURATION :: END -->  

<!-- ****************************************************************************************** -->
<!-- ****************************************************************************************** -->
<!-- ************************************* MAIN-PAGE-SECTION ********************************** -->
<!-- ****************************************************************************************** -->
<!-- ****************************************************************************************** -->


<!-- TEMPLATE MARKUP :: START -->

<f:section name="content">
	<v:content.render column="1" />
</f:section>
<!-- TEMPLATE MARKUP :: END -->  

<!-- ****************************************************************************************** -->