<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div class="form-group">
		<div class="btn-group btn-moox-mailer-frequency-selector btn-group-mobile-block">
			<button type="button" class="btn btn-default btn-mailer-frequency-selector dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="current">
					<v:condition.type.isString value="{filter.mailerFrequency}">
						<f:then>
							<f:switch expression="{filter.mailerFrequency}">
								<f:case value="0">
									<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-hidden" /> Kein Versand				
								</f:case>
								<f:case value="1">
									<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-shortcut" /> Direkter Versand
								</f:case>
								<f:case value="2">
									<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-scheduled" /> Kumulierter Versand
								</f:case>							
							</f:switch>
						</f:then>
						<f:else>
							<core:icon identifier="mooxmailer_icons_frequency_control" size="small"  /> Alle Versandarten
						</f:else>
					</v:condition.type.isString>
				</span> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu moox-module-dropdown">						
				<li>
					<a href="#" class="moox-mailer-frequency-selector additional-equals-filter auto-submit" data-value="" data-target="mailer-frequency-selector">
						<core:icon identifier="mooxmailer_icons_frequency_control" size="small"  /> Alle Versandarten
					</a>
				</li>
				<li>
					<a href="#" class="moox-mailer-frequency-selector additional-equals-filter auto-submit" data-value="0" data-target="mailer-frequency-selector">
						<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-hidden" /> Kein Versand
					</a>
				</li>
				<li>
					<a href="#" class="moox-mailer-frequency-selector additional-equals-filter auto-submit" data-value="1" data-target="mailer-frequency-selector">
						<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-shortcut" /> Direkter Versand
					</a>
				</li>
				<li>
					<a href="#" class="moox-mailer-frequency-selector additional-equals-filter auto-submit" data-value="2" data-target="mailer-frequency-selector">
						<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-scheduled" /> Kumulierter Versand
					</a>
				</li>
			</ul>
			<f:form.hidden property="mailerFrequency" class="input-mailer-frequency-selector is-grouped-filter" />
		</div>		
	</div>
	
</div>