<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	
	<f:if condition="{n:be.security.check(permission:'tables_modify',value:'tx_mooxnewsseminar_domain_model_speaker')}">
        <v:variable.set name="show" value="0" />
        <f:for each="{types}" key="type" as="label" iteration="iteration">
            <f:if condition="{type}=='moox_news_seminar'">
                <f:if condition="({filter.type}=='') || ({filter.type}=='moox_news_seminar')">
                    <v:variable.set name="show" value="1" />
                </f:if>
            </f:if>
        </f:for>
        <f:if condition="{show}">
            <li>
                <a title="Referenten anzeigen" href="{n:be.link(action:'list',table:'tx_mooxnewsseminar_domain_model_speaker',storagePage:filter.page,returnUrl:returnUrl)}">
                    <core:icon identifier="list_icon_moox_news_seminar_speaker" size="small" /> Referenten
                </a>
            </li>
        </f:if>
    </f:if>

</div>