<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<th class="col-{field.name}">
		<v:variable.set name="orderingFieldTxt"><f:translate key="list.{field.name}" extensionName="{field.extkey}"/></v:variable.set>
		<f:if condition="{orderingFieldTxt}==''">
			<v:variable.set name="orderingFieldTxt"><f:translate key="{field.label}" default="{field.name}" /></v:variable.set>			
		</f:if>		
		<v:variable.set name="orderingField" value="{field.name}" />
		<f:for each="{field.additional}" as="additionalField" iteration="iteration">
			<f:comment>TODO: Fallback to default label</f:comment>
			<v:variable.set name="orderingFieldTxt">{orderingFieldTxt} | <f:translate key="list.{additionalField}" default="{additionalField}" /></v:variable.set>
			<v:variable.set name="orderingField" value="{orderingField}|{additionalField}" />
		</f:for>	
		<f:if condition="{nosort}">
			<f:then>
				{orderingFieldTxt}
			</f:then>
			<f:else>
				<f:if condition="{ordering.field}!={orderingField}">
					<f:then>
						<f:link.action class="change-ordering" action="ordering" arguments="{ordering:{field:orderingField,direction:'asc'},returnUrl:returnUrl}" title="Nach \"{orderingFieldTxt}\" sortieren">
							{orderingFieldTxt}
						</f:link.action>
					</f:then>
					<f:else>
						<f:if condition="{ordering.direction}=='asc'">
							<f:then>
								<v:variable.set name="direction" value="desc" />
							</f:then>
							<f:else>
								<v:variable.set name="direction" value="asc" />
							</f:else>
						</f:if>	
						<f:link.action class="change-ordering active" action="ordering" arguments="{ordering:{field:orderingField,direction:direction},returnUrl:returnUrl}" title="Nach \"{orderingFieldTxt}\" sortieren">
							{orderingFieldTxt}
						</f:link.action>
					</f:else>
				</f:if>	
				<span class="ordering ordering-asc">
					<f:link.action class="change-ordering" action="ordering" arguments="{ordering:{field:orderingField,direction:'asc'},returnUrl:returnUrl}" title="Nach \"{orderingFieldTxt}\" aufsteigend sortieren">						
						<f:if condition="({ordering.field}=={orderingField}) && ({ordering.direction}=='asc')">
							<f:then>
								<span class="ordering-icon"><core:icon identifier="mooxnews_actions-sort-up-active" size="small" /></span>
							</f:then>
							<f:else>
								<span class="ordering-icon"><core:icon identifier="mooxnews_actions-sort-up" size="small" /></span>
							</f:else>
						</f:if>						
					</f:link.action>
				</span> 
				<span class="ordering ordering-desc">
					<f:link.action class="change-ordering" action="ordering" arguments="{ordering:{field:orderingField,direction:'desc'},returnUrl:returnUrl}" title="Nach \"{orderingFieldTxt}\" Absteigend sortieren">						
						<f:if condition="({ordering.field}=={orderingField}) && ({ordering.direction}=='desc')">
							<f:then>
								<span class="ordering-icon"><core:icon identifier="mooxnews_actions-sort-down-active" size="small" /></span>
							</f:then>
							<f:else>
								<span class="ordering-icon"><core:icon identifier="mooxnews_actions-sort-down" size="small" /></span>
							</f:else>
						</f:if>								
					</f:link.action>
				</span>
			</f:else>
		</f:if>	
	</th>

</div>