<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div id="moox-news-module-body" class="moox-module-body" data-url="{f:uri.action(action:'list',noCache:1)}" data-return-url="{returnUrl}">	
		<f:if condition="{targets->f:count()}>0">
			<f:then>			
				<f:be.widget.paginate objects="{targets}" as="paginatedTargets" configuration="{
					itemsPerPage: filter.perPage, 
					insertAbove: 0, 
					insertBelow: 1
				}">
					<f:form class="moox-module-table-wrapper well well-sm clearfix" id="moox-module-multiple-selector-form" name="multiple" action="multiple" noCache="1">					
						<table class="table table-striped table-hover">
							<thead>
								<tr class="t3-row-header">
									<f:for each="{fields}" as="field" iteration="iteration">
										<f:render partial="Table/Header/Column" arguments="{ordering:ordering, filter:filter, field:field, iteration:iteration}" />																						
									</f:for>
									<th class="col-control">Funktionen</th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{paginatedTargets}" as="target" iteration="iteration">												
									<f:render partial="Module/Mod2/List/Body/Item" arguments="{_all}" />							
								</f:for>
							</tbody>						
						</table>						
					</f:form>		
				</f:be.widget.paginate>
			</f:then>
			<f:else>
				<f:be.infobox>Keine Zielgruppen gefunden</f:be.infobox>
			</f:else>
		</f:if>
	</div>
	
</div>