<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	
	<v:tag name="{v:variable.get(name: 'settings.container.types.{record.CType}') -> v:or(alternative: settings.container.types.default)}">
		
		<v:tag name="h{record.header_layout -> v:or(alternative: settings.header.type)}" hideIfEmpty="1">
			{record.header -> f:format.raw()}
		</v:tag>			
		<f:render section="Main" />
		
	</v:tag>
	
</div>
