<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:spaceless>
        {v:variable.typoscript(path: 'plugin.tx_mooxcore.settings') -> v:variable.set(name: 'coreSettings')}
        {v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.settings') -> v:variable.set(name: 'bootstrapSettings')}
		{f:render(partial:"Core/Meta",arguments:'{page:page,coreSettings:coreSettings,microsoft:1,apple:1,google:1,favicons:1}')}

    </f:spaceless>
    <div class="page-wrap">
        <f:render section="Content" />
    </div>
	
</div>