.frame {
	&.frame-type-mooxtemplateheco_locationbox {
		.row-locationbox {
			.col-locationbox {
				.locationbox-image {
					margin-bottom: 18px;
					.img-location {

					}
				}
				.locationbox-wrap {
					.row-locationbox-address {
						.col-locationbox-address {
							.locationbox-address {
								margin-bottom: 18px;
								@include media-breakpoint-up(md) {
									height: 200px;
								}
								@include media-breakpoint-up(lg) {
									height: 158px;
								}
								background: #F2F2F2;
								padding-top: 17px;
								padding-bottom: 17px;
								padding-left: 19px;
								padding-right: 19px;
								line-height: 24px;
								font-size: 18px;
								font-family: 'Roboto', sans-serif;
								.title {
									font-weight: bold;
									font-size: 20px;
									line-height: 22px;
									font-family: 'Manjari', sans-serif;
									margin-bottom: 10px;
								}
								.name {
									font-weight: bold;
								}
								.street {

								}
								.city {

								}
							}
						}
					}
					.row-locationbox-contact {
						.col-locationbox-contact {
							.locationbox-contact {
								@include media-breakpoint-up(lg) {
									height: 50px;
								}
								line-height: 50px;
								background: #F2F2F2;
								font-family: 'Roboto', sans-serif;
								font-size: 18px;
								padding-left: 20px;
								padding-right: 20px;
								.phone {
									display: inline-block;
									.label {
										font-weight: bold;
										display: inline-block;
										margin-right: 5px;
									}
									margin-right: 20px;
								}
								.mail {
									display: inline-block;
									.label {
										font-weight: bold;
										display: inline-block;
										margin-right: 5px;
									}
									margin-right: 20px;
								}
								.url {
									display: inline-block;
									.label {
										font-weight: bold;
										display: inline-block;
										margin-right: 5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.frame-type-mooxtemplateheco_contactboxslides,
	&.frame-type-mooxtemplateheco_contactelement {
		margin-bottom: 20px;
		h2 {
			margin-top: 0px;
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 22px;
			color: #5A6166;
		}
		.row-contactbox {
			.col-contactbox {
				.contactbox {
					margin-bottom: 34px;
					.img-contact {
						max-width: 134px;
						max-height: 134px;
						border-radius: 100%;
						box-shadow: 0px 3px 6px #333;
						position: absolute;
						top: 7px;
					}
					.contactinfo {
						height: 150px;
						margin-left: 67px;
						padding-left: 84px;
						padding-top: 21px;
						padding-bottom: 21px;
						background: #FFFFFF;
						.name {
							font-weight: bold;
							font-size: 18px;
							line-height: normal;
						}
						.title {
							font-size: 16px;
							line-height: normal;
							margin-bottom: 25px;
						}
						.phone {
							font-size: 16px;
							line-height: 20px;
						}
						.email {
							font-size: 16px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.contactelement {
			background-color: rgba(229,229,229,1);
			padding-top: 25px;
			padding-right: 25px;
			padding-left: 50px;
			padding-bottom: 35px;
			text-align: left;
			margin-bottom: 20px;
			.text {
				font-family: "Helvetica Neue", "Arial", sans-serif;
				font-size: 24px;
				font-weight: bold;
				margin-top: 40px;
			}
			.contactperson {
				text-align: left;
				font-size: 22px;
				font-weight: bold;
				margin-left: 67px;
				margin-bottom: 15px;
			}
			.row-contactbox {
				.col-contactbox {
					.contactbox {
						margin-bottom: 0px;
					}
				}
			}
		}
	}
	&.frame-type-mooxtemplateheco_tile,
	&.frame-type-mooxtemplateheco_socialtile,
	&.frame-type-mooxtemplateheco_backlinktile,
	&.frame-type-mooxtemplateheco_graytile,
	&.frame-type-mooxtemplateheco_linkelement {
		.tile {
			position: relative;
			width: 100%;
			height: 267px;
			overflow: hidden;
			margin-bottom: 18px;
			.img-tile {
				display: block;
				min-width: 100%;
				height: auto;
				min-height: 267px;
			}
			.tile-overlay {
				position: absolute;
				top: 0;
				height: 100%;
				padding-top: 26px;
				padding-left: 28px;
				padding-right: 28px;
				padding-bottom: 26px;
				width: 100%;
				color: $white;
				.title {
					font-size: 34px;
					line-height: 40px;
				}
				.subtitle {
					font-size: 16px;
					line-height: 21px;
				}
				.tile-hover {
					display: none;
					.text {
						font-size: 16px;
						line-height: 21px;
						color: $white;
					}
					.link {
						font-size: 20px;
						line-height: 32px;
						color: $white;
						display: inline-block;
						.fa {
							float: right;
							margin-left: 15px;
							font-size: 32px;
							line-height: 32px;
						}
					}
				}
				&.hover:hover {
					text-decoration: none;
					background-color: rgba(0,93,157,0.77);
					.title {
						color: $white;
					}
					.subtitle {
						display: none;
					}
					.tile-hover {
						display: block;
					}
				}
			}
			&.tile-social {
				.tile-overlay {
					.tile-hover {
						vertical-align: middle;
						text-align: center;
						padding-top: 40px;
						.tile-sociallink {
							margin-left: 10px;
							margin-right: 10px;
						}
					}
				}
			}
			&.tile-dark {
				.tile-overlay {
					color: #83888B;
				}
			}
			&.tile-double {
				@include media-breakpoint-up(lg) {
					min-height: 552px;
				}
				.tile-overlay {
					.title {
						color: $white;
					}
				}
			}
			&.tile-back {
				background-color: rgba(0,93,157,1);
				display: flex;
				align-items:center;
				justify-content: center;
				width: 100%;
				font-size: 28px;
				line-height: 1.3;
				color: $white;
				text-decoration: none;
				font-family: 'Roboto', sans-serif;
				img {
					margin-right: 15px;
					width: 32px;
				}
			}
			&.tile-gray {
				font-family: 'Roboto', sans-serif;
				h2 {
					color: #5A6166;
					font-size: 74px;
					margin-bottom: 0px;
				}
				h3 {
					color: #5A6166;
					font-size: 24px;
					font-weight: bold;
					margin-bottom: 22px;
				}
				.text {
					color: #83888B;
					font-size: 24px;
					line-height: 1.2;
				}
				background-color: rgba(229,229,229,1);
				text-align: center;
				width: 100%;
				padding: 10px;
			}
			&.tile-link {
				height: 80px;
				font-family: 'Helvetica Neue';
				color: $blue;
				font-size: 24px;
				font-weight: bold;
				background-color: #EAEAEA;
				vertical-align: middle;
				display: flex;
				align-items:center;
				justify-content: center;
				text-align: center;
				width: 100%;
				padding: 10px;
				&.tile-double {
					@include media-breakpoint-up(lg) {
						min-height: 160px;
					}
				}
				&:hover {
					background-color: $blue;
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
	&.frame-type-mooxtemplateheco_teaser {
		.teaser {
			position: relative;
			width: 100%;
			height: 400px;
			overflow: hidden;
			margin-bottom: 18px;
			.img-teaser {
				display: block;
				min-width: 100%;
				height: auto;
				min-height: 400px;
			}
			.teaser-overlay {
				position: absolute;
				top: 0;
				height: 100%;
				padding-top: 26px;
				padding-left: 28px;
				padding-right: 28px;
				padding-bottom: 26px;
				width: 100%;
				color: $white;
				.title {
					font-size: 34px;
					line-height: 40px;
				}
				.subtitle {
					font-size: 16px;
					line-height: 21px;
				}
				.text {
					font-size: 22px;
					font-weight: bold;
					background: $white;
					opacity: 0.88;
					padding: 32px;
					max-width: 460px;
					max-height: 260px;
					color: $body-color;
					display: inline-block;
					position: absolute;
					bottom: 26px;
					line-height: 1.3;
					p:last-child {
						margin-bottom: 0px;
					}
				}
			}
			&.teaser-dark {
				.teaser-overlay {
					color: #83888B;
				}
			}
		}
	}
	&.frame-type-textpic, &.frame-type-text, &.frame-type-image, &.frame-type-uploads {
		margin-bottom:  $grid-gutter-width;
		h2 {
			font-size: 34px;
			font-weight: bold;
			margin-bottom: 12px;
		}
		h3 {
			font-family: Helvetica;
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 12px;
		}
		p {
			font-family: Helvetica;
			font-size: 20px;
		}
		&.frame-layout-1 {
			p {
				font-size: 16px;
			}
		}
	}
	&.frame-type-textpic {
		.ce-textpic {
			.ce-gallery {
				width: 100%;
				float: none;
				.ce-column {
					float: none;
				}
				@include media-breakpoint-up(lg) {
					max-width: 49%;
					width: auto;
				}
			}
			&.ce-left {
				.ce-gallery {
					@include media-breakpoint-up(lg) {
						float: left;
						.ce-column {
							float: left;
						}
					}
				}
			}
			&.ce-right {
				.ce-gallery {
					@include media-breakpoint-up(lg) {
						float: right;
						.ce-column {
							float: right;
						}
					}
				}
			}
			&.ce-intext.ce-right, &.ce-intext.ce-left {
				.ce-gallery {
					margin-left: 0px;
					margin-right: 0px;
				}
			}
			@include media-breakpoint-up(lg) {
				&.ce-intext.ce-left {
					.ce-gallery {
						margin-right: $grid-gutter-width*2;
					}
				}
				&.ce-intext.ce-right {
					.ce-gallery {
						margin-left: $grid-gutter-width*2;
					}
				}
			}

		}
	}
	&.frame-type-uploads {
		ul.ce-uploads {
			li {
				margin-top: 5px;
				margin-bottom: 5px;
				background: #EAEAEA;
				padding-left: 25px;
				padding-right: 50px;
				padding-top: 13px;
				padding-bottom: 13px;
				a {
					font-family: Roboto, Helvetica, Arial, sans-serif;
					font-size: 20px;
					font-weight: bold;
					display: block;
					&:before {
						content: '\f019';
						font-family: FontAwesome;
						font-weight: normal;
						font-style: normal;
						font-size: 24px;
						text-decoration:none;
						display: inline-block;
						position: absolute;
						right: 25px;
						margin-top:-2px;
					}
				}
				&:hover {
					background: $blue;
					a {
						color: $white;
						text-decoration: none;
					}

				}
			}
		}
	}
	&.frame-type-mooxbootstrap4_dynamictable, &.frame-type-mooxtemplateheco_exhibitioncalendar {
		header {
			h2 {
				font-weight: bold;
				font-size: 34px;
				margin-bottom: 30px;
			}
		}
		table {
			th {
				background-color: #005D9D;
				color: $white;
			}
			td, th {
				border-right: 1px solid $white;
				&:last-child {
					border-right: 0px;
				}
			}

			&.table-striped {
				thead {
					th {
						vertical-align: middle;
						/*white-space:nowrap;*/
						font-family: Arial, Verdana, sans-serif;
						font-size: 16px;
						font-weight: bold;
						line-height: 16px;
					}
				}
				tbody {
					tr:nth-of-type(odd) {
						background-color: #F2F2F2;
					}
					tr:nth-of-type(even) {
						background-color: #EAEAEA;
					}
					td {
						font-family: Arial, Verdana, sans-serif;
						font-size: 16px;
						line-height: 16px;
						vertical-align: middle;
						padding-top: 0.5rem;
						padding-bottom: 0.25rem;
						/*white-space:nowrap;*/
						&.type-link, &.type-file {
							&.file-pdf {
								a {
									width: 25px;
									height: 32px;
									display: inline-block;
									background-repeat: no-repeat;
									background-size: contain;
									background-image: url(/typo3conf/ext/moox_template_heco/Resources/Public/Images/pdf.svg);
									.fa-file-pdf-o {
										display: none;
									}
								}
							}

						}
					}
				}
			}
		}
	}
	&.frame-type-mooxtemplateheco_exhibitioncalendar {
		table {
			thead {
				tr {
					th {

					}
				}
			}
			tbody {
				tr {
					td.employee {
						min-width: 350px;
					}
				}
			}
		}
		div.employee {
			margin-top: 4px;
			margin-bottom: 8px;
			.employee-image {
				max-width: 109px;
				float: left;
				display: inline-block;
				.img-employee {
					max-width: 109px;
					max-height: 109px;
					border-radius: 100%;
					box-shadow: 0px 3px 6px #333;
				}
			}
			.employee-info {
				margin-left: $grid-gutter-width*1.5;
				display: inline-block;
				.name {
					font-weight: bold;
					font-size: 18px;
					line-height: normal;
					margin-bottom: 3px;
					margin-top:5px;
				}
				.title {
					font-size: 16px;
					line-height: normal;
					margin-bottom: 20px;
					font-family: Roboto, Helvetica, Arial, sans-serif;
				}
				.phone {
					font-size: 16px;
					line-height: 20px;
					font-family: Roboto, Helvetica, Arial, sans-serif;
				}
				.email {
					font-size: 16px;
					line-height: 20px;
					font-family: Roboto, Helvetica, Arial, sans-serif;
				}
			}
		}
		.cross {
			font-size: 48px;
		}
	}
	&.frame-type-mooxbootstrap4_blockquote {
		blockquote {
			border-left: 5px solid #5A6166;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 30px;
			ul {
				padding-left: 20px;
				&:last-child {
					margin-bottom: 0px;
				}
			}
			p {
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	&.frame-type-mooxtemplateheco_linklist {
		.linklist {
			a.link {
				display: block;
				font-family: Roboto, Helvetica, Arial, sans-serif;
				font-weight: bold;
				font-size: 20px;
				height: 80px;
				line-height: 80px;
				color: $blue;
				background-color: #E5E5E5;
				padding-left: 35px;
				padding-right: 35px;
				margin-bottom:  $grid-gutter-width;
				&:hover {
					text-decoration: none;
					color: $white;
					background-color: $blue;
				}
			}
		}

	}
}

main {
	.page-content {
		.row {
			&.row-6-6 {
				div[class^="col-"] {
					.frame-type-textpic, .frame-type-text, .frame-type-image, .frame-type-uploads {
						margin-right: $grid-gutter-width/2;
						margin-left: $grid-gutter-width/2;
					}
					&:first-child {
						.frame-type-textpic, .frame-type-text, .frame-type-image, .frame-type-uploads {
							margin-right: $grid-gutter-width/2;
							margin-left: 0px;
						}
					}
					&:last-child {
						.frame-type-textpic, .frame-type-text, .frame-type-image, .frame-type-uploads {
							margin-left: $grid-gutter-width/2;
							margin-right: 0px;
						}
					}
				}
			}
		}
	}
}

.background-grey {
	&.frame-type-mooxtemplateheco_tile {
		.tile {
			.tile-overlay {
				.title {
					font-size: 28px;
				}
			}
			&.tile-back {
				.tile-backlink {
					font-size: 28px;
				}
			}
		}
	}
}

