/* Your local CSS File */
@font-face {
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 100;
  src: local('Manjari Light'), local('Manjari-Light'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/Manjari-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 400;
  src: local('Manjari'), local('Manjari-Regular'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/Manjari-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Manjari';
  font-style: normal;
  font-weight: 700;
  src: local('Manjari Bold'), local('Manjari-Bold'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/Manjari-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Light'), local('Roboto-Light'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue Light'), local('Helvetica-Neue-Light'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/HelveticaNeueLt.ttf) format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue'), local('Helvetica-Neue-Regular'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/HelveticaNeue.ttf) format('truetype');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'), url(/typo3conf/ext/moox_template_heco/Resources/Public/Fonts/HelveticaNeueBd.ttf) format('truetype');
}

.myheco {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  em {
    font-weight: normal;
    margin-right:3px;
  }
}