.page-footer {
	.page-footer-blue {
		background-color: #005D9D;
		padding-top: 15.5px;
		padding-bottom: 15.5px;
		a.page-backlink {
			img {
				margin-right: 15px;
			}
			color: $white;
			font-family: 'Roboto', sans-serif;
			font-size: 22px;
			font-weight: bold;
			display: inline-block;
		}
	}
	.page-footer-grey {
		background-color: #83888B;
		font-size: 16px;
		color: $white;
		.row-footer {
			.col-social {
				line-height: 50px;
				text-align: center;
				@include media-breakpoint-up(lg) {
					line-height: 108px;
					text-align: left;
				}
				.page-sociallink {
					margin-right: 28px;
					&.facebook {

					}
					&.youtube {

					}
					&.blog {

					}
				}
			}
			.col-meta {
				line-height: 50px;
				@include media-breakpoint-up(lg) {
					line-height: 108px;
				}
				.nav.nav-meta {
					.nav-link {
						color: $white;
						padding: 0px;
						&.meta-separator {
							padding-left: 7px;
							padding-right: 7px;
						}
					}
				}
			}
			.col-copy {
				line-height: 50px;
				text-align: center;
				@include media-breakpoint-up(lg) {
					line-height: 108px;
					text-align: right;
				}
			}
		}
	}
}