header.page-header {
	background-color: #EAEAEA;
	.page-header-shadow {
		background-color: $white;
		box-shadow: 1px 1px 5px #d6d6d6;
		height: 52px;
	}
	.row-header {
		height: 108px;
		.col-logo-lang {
			.header-logo {
				margin-top: 30px;
				.img-logo {

				}
			}
			.header-languages {
				margin-left: 65px;
				a.language-link {
					font-size: 12px;
				}
				span.language-separator {
					font-size: 12px;
					padding-left:3px;
					padding-right:3px;
				}
			}
		}
		.col-switcher {
			text-align: right;
			.switcher-icons {
				margin-top: 15px;
				.switcher-link {
					.img-switcher {
						&:hover {
							margin-top: -10px;
						}
					}
				}
			}
			.switcher-global-link {
				a {
					font-size: 12px;
				}
			}
		}
	}
}

.moox-carousel {
  &.carousel {
	margin-top: 1px;
	margin-bottom: 15px;
	.carousel-indicators {
	  margin-bottom: 3px;
	  li {
		background-color: #DDD;
	  }
	}
	.carousel-control-prev {
	  top: 25%;
	  bottom: auto;
	}
	.carousel-control-next {
	  top: 25%;
	  bottom: auto;
	}
	.carousel-caption {
	  position: static;
	  text-align: left;
	  padding: 15px !important;
	  border: 1px solid #dee2e6!important;
	  border-radius: .25rem;
	  border-top-left-radius: 0px;
	  border-top-right-radius: 0px;
	  h5 {
		font-size: 1.4rem;
		color: #0075A9;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	  }
	  p {
		font-size: 1rem;
		color: #666;
	  }
	  a {
		color: #0075A9;
	  }
	}
  }
}

.row-phone {
	.col-phone {
		@extend .text-right;
		padding-top: 0.7rem;
		padding-bottom: 0.1rem;
		a,span {			
			
			font-size: 1.3em;
			font-weight: bold;
			color: $blue;	
			&:hover {
				text-decoration: none;
				color: $blue;
			}
			i {
				vertical-align: middle;
				margin-left: 10px;
				margin-right: 10px;	
				color: $blue;
				font-size: 1.8em;
				margin-top: -5px;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.moox-carousel {
	&.carousel {
	  .carousel-indicators {
		li {
		  background-color: #FFF;
		}
	  }
	  .carousel-caption {
		border: 0px;
		border-radius: 0;
		position: absolute;
		background: rgba(255,255,255,.9);
		right: 50%;
		left: 3%;
		bottom: 30px;
		max-height: 230px;
	  }
	  .carousel-control-prev {
		left: auto;
		right: 4%;
		width: 2%;
		top: 0;
		bottom: 0;
	  }
	  .carousel-control-next {
		width: 2%;
		right: 1%;
		top: 0;
		bottom: 0;
	  }
	}
  }
}