#main-navbar {
	background-color: #83888B;
	position: relative;
	padding-top: 8.5px;
	padding-bottom: 8.5px;
	.navbar-toggler {
		background-color: $blue;
		color: #FFF;
		border-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		padding-top: 3px;
		padding-bottom: 3px;		
		.navbar-toggler-icon {
			color: #FFF;
			.fa {
				margin-left: 5px;
				margin-top: 3px;
			}
		}
	}
	.navbar-nav {
		margin: 0 auto;
		&>li.nav-item {
			padding-left: 26px;
			padding-right: 26px;
			@include media-breakpoint-up(lg) {
				border-right: 1px solid #5A6166;
				position: relative;
			}
			&:last-child {
				border-right: 0px;
			}
			&>a.nav-link {
				text-align: center;
				color: $white;
				height: auto;
				line-height: inherit;
				font-family: Manjari;
				font-size: 22px;
				line-height: 22px;
				letter-spacing: 0;
				padding: 0px;
				padding-top: 8.0px;
				padding-bottom: 5.0px;
			}
			&:hover, &.active {
				&>a.nav-link {
					color: #000000;
				}
				@include media-breakpoint-up(lg) {
					&:after {
						content: ' ';
						position: absolute;
						border: solid 10px transparent;
						border-top: solid 0px transparent;
						border-width: 10px;
						top: 43.5px;
						left: 50%;
						margin-left: -10px;
						border-color: #83888B transparent transparent transparent;
						z-index: 100;
					}
				}
			}
		}
	}
	.dropdown-toggle::after {
		margin-left: .5em;
	}
	li {
		&>a:hover,
		&.show>a,
		&.active>a {
			color: #000000;
		}
	}
}

nav.heco-breadcrumb {
	display: block;
	padding: 0px;
	margin-top: 36px;
	margin-bottom: 36px;
	background: none;
	a {
		display: none;
		@include media-breakpoint-up(lg) {
			display: inline-block;
		}
		margin-right: 5px;
		.title {
			background: #E5E5E5;
			line-height: 26px;
			padding-left: 10px;
			padding-right: 10px;
			display: inline-block;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			img {
				float: left;
				margin-top: 3px;
				margin-right: 6px;
			}
		}
		.arrow {
			position: relative;
			top: 2px;
			z-index: 10;
			display: inline-block;
			width: 0;
			height: 0;
			border-bottom: 6px solid transparent;  /* left arrow slant */
			border-top: 6px solid transparent; /* right arrow slant */
			border-left: 6px solid #E5E5E5; /* bottom, add background color here */
			font-size: 0;
			line-height: 0;
		}
		&.current {
			.title {
				color: #5A6166;
			}
		}
	}
}
main {
	.page-content {
		&.contactpage {
			nav.heco-breadcrumb {
				position: relative;
				top: 38px;
				margin: 0px;
			}
		}
	}
}
