.news {
  .infinite-scrolling {
    .nav.nav-news, .news-item-media-pagination {
        display:none;
    }
    .ias-spinner {
      margin-bottom: 16px;
    }
    .ias-trigger {
      background-color: #005D9D;
      color: $white;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      line-height: 64px;
      font-weight: bold;
      &.ias-trigger-prev {
        margin-bottom: 16px;
      }
      &.ias-trigger-next {

      }
    }
  }
  .news-filter {
    .news-filter-years {
      .row-years {
        @include media-breakpoint-up(lg) {
          margin-left: -($grid-gutter-width*3);
          margin-right: -($grid-gutter-width*3);
        }
      }
      .year-group {
        display: none;
        .news-filter-year {
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          padding-left: 10px;
          padding-right: 10px;
          &.active, &:hover {
            text-decoration: none;
            background: #f2f2f2;
            color: $body-color;
          }
        }
      }
    }
    .news-filter-year-prev, .news-filter-year-next {
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      line-height: 28px;
      &:hover {
        text-decoration: none;
      }
      &.disabled {
        cursor: not-allowed;
        color: $body-color;
        opacity: 0.5;
      }
    }

    h2.current-year {
      margin-top: 40px;
      margin-bottom: 40px;
      font-family: 'Roboto', sans-serif;
      font-size: 92px;
      font-weight: bold;
    }

    .news-filter-pages {
      .row-pages {
        @include media-breakpoint-up(lg) {
          margin-left: -16px;
          margin-right: -16px;
        }
      }
      &.scrollable {
        .row-pages {
          @include media-breakpoint-up(lg) {
            margin-left: -($grid-gutter-width*3);
            margin-right: -($grid-gutter-width*3);
          }
        }
      }
      .page-group {
        display: none;
        .news-filter-page {
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          padding-left: 10px;
          padding-right: 10px;
          &.active, &:hover {
            text-decoration: none;
            background: #f2f2f2;
            color: $body-color;
          }
        }
      }
    }
    .news-filter-page-prev, .news-filter-page-next {
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      line-height: 28px;
      &:hover {
        text-decoration: none;
      }
      &.disabled {
        cursor: not-allowed;
        color: $body-color;
        opacity: 0.5;
      }
    }

    h2.current-page {
      margin-top: 40px;
      margin-bottom: 40px;
      font-family: 'Roboto', sans-serif;
      font-size: 92px;
      font-weight: bold;
    }
  }
  .news-list {
    &.news-list-history {
      .row.news-item-history {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 16px;
        .col-content {
          background-color: #F2F2F2;
          .news-item-content {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 16px;
            padding-bottom: 16px;
            @include media-breakpoint-up(md) {
              min-height: 215px;
            }
            h2 {
              font-family: 'Roboto', sans-serif;
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 20px;
            }
            text {
              font-family: 'Roboto', sans-serif;
              font-size: 16px;
            }
          }
        }
        .col-image {
          background-color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          .news-item-image {
            img {
              max-height: 215px;
            }
          }
          &.col-image-left {
            padding-left: 4.5px;
            border: 9px solid #F2F2F2;
            @include media-breakpoint-up(md) {
              border-left: none;
            }
          }
          &.col-image-right {
            padding-right: 4.5px;
            border: 9px solid #F2F2F2;
            @include media-breakpoint-up(md) {
              border-left: none;
            }
          }
        }
      }
    }
    &.news-list-employee {
      .row.news-item-employee {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 16px;
        .col-content {
          background-color: #F2F2F2;
          .news-item-content {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 16px;
            padding-bottom: 16px;
            @include media-breakpoint-up(md) {
              min-height: 215px;
            }
            h2 {
              font-family: 'Roboto', sans-serif;
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 20px;
            }
            text {
              font-family: 'Roboto', sans-serif;
              font-size: 16px;
            }
          }
        }
        .col-image {
          background-color: $white;
          border: 9px solid #F2F2F2;
          background-repeat: no-repeat;
          background-position: center center;
          &.bg-contain {
            background-size: cover;
          }
          @include media-breakpoint-up(lg) {
            background-size: auto;

          }
          @include media-breakpoint-up(lg) {
            border-left: none;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          .news-item-image {
            min-height: 215px;
            display: flex;
            flex: 0 0 100%;
            a {
              display: flex;
              flex: 0 0 100%;
              min-height: 215px;
            }
            img {
              /*max-height: 215px;*/
            }
          }
        }
      }
    }
  }
  .news-detail {
      margin-top: 50px;
      h3.news-detail-year {
        font-family: 'Roboto', sans-serif;
        font-size: 93px;
        font-weight: bold;
        line-height: .75;
      }
      h2.news-detail-title {
        font-size: 34px;
        font-weight: bold;
      }
      h4.news-detail-subtitle {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
      }
      .col-download {
        .btn.btn-download {
          box-shadow: 0px 3px 6px #BBBBBB;
          padding-top: 27px;
          padding-bottom: 27px;
          font-family: 'Roboto', sans-serif;
          font-size: 18px;
          font-weight: bold;
          display: block;
          width: 100%;
        }
      }
      .news-detail-subnavi {
        margin-top: 50px;
        margin-bottom: 35px;
        a.news-detail-subnavi-link {
          white-space:nowrap;
          display:inline-block;
          margin-bottom: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 14px;
          padding-right: 14px;
          margin-right: 20px;
          &.active, &:hover {
            text-decoration: none;
            background: #f2f2f2;
            color: $body-color;
          }
        }
      }
      .news-gallery {
        .row-images {
          .col-image {
            margin-bottom: ($grid-gutter-width);
          }
        }
      }
  }
}