.select2-container--default {
  .select2-selection--single {
      border-radius: 0px !important;
  }
}
input, select {
  &.form-control {
      border-radius: 0px !important;
  }
}

.btn, .alert, .gj-picker-bootstrap, .list-group-item {
  border-radius: 0px !important;
}

.typo3-messages {
  margin: 0px !important;
  margin-bottom: 15px !important;
  padding: 0px !important;
  li {
    list-style-type: none !important;
  }
}

.ce-table-striped-bordered {
  @extend .table-bordered;
  @extend .table-striped;
}