/* stylelint-disable selector-list-comma-newline-after */

@keyframes fadeInNavbar {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.93;
	}
}

.fadeInNavbar {
	-webkit-animation-name: fadeInNavbar;
	animation-name: fadeInNavbar;
}

html {
	position: relative;
	min-height: 100%;
	height: 100%;
}

body {
	& > .container {
		overflow: hidden;
	}
}

@include media-breakpoint-up(lg) {
	body {
		& > .container {
			overflow: visible;
		}
	}
}

p {

}

main {
	.background-white {
		background: $white;
	}
	.background-grey {
		background: #EAEAEA;
	}
	.page-content {
		min-height: 400px;
		&.startpage {
			overflow:hidden;
			.startpage-background {
				.img-background {
					display: none;
				}
				@include media-breakpoint-up(lg) {
					position: relative;
					width: 100%;
					.img-background {
						display: block;
						width: 100%;
						height: auto;
					}
				}
				.startpage-overlay {
					padding-bottom: 50px;
					@include media-breakpoint-up(lg) {
						position: absolute;
						top: 0;
						height: 100%;
						padding-bottom: 0px;
					}
					width: 100%;
					background-color: rgba(0,93,157,0.77);
					h1 {
						display: block;
						text-align: center;
						color: $white;
						padding-top: 50px;
						padding-bottom: 50px;
						@include media-breakpoint-up(xl) {
							margin-top: 86px;
							margin-bottom: 86px;
						}
						font-size: 44px;
					}
					.row-startpage-teaser {
						.col-startpage-teaser {
							.startpage-teaser {
								margin-left: 4px;
								margin-right: 4px;
								margin-bottom: 20px;
								color: $white;
								text-decoration: none;
								display: block;
								-webkit-box-shadow: 2px 6px 13px 0px rgba(0,2,132,0.5);
								-moz-box-shadow: 2px 6px 13px 0px rgba(0,2,132,0.5);
								box-shadow: 2px 6px 13px 0px rgba(0,2,132,0.5);
								background-color: rgba(0,93,157,1);
								.startpage-teaser-image {
									height: 268px;
									@include media-breakpoint-up(lg) {
										height: 222px;
									}
									@include media-breakpoint-up(xl) {
										height: 268px;
									}
									overflow: hidden;
									img {
										width: 100%;
									}
								}
								.startpage-teaser-title {
									line-height: 72px;
									text-align: center;
									font-size: 34px;
									@include media-breakpoint-up(lg) {
										font-size: 28px;
									}
									@include media-breakpoint-up(xl) {
										font-size: 34px;
									}

								}

							}
						}
					}

				}
			}
		}
		&.contactpage {
			overflow:hidden;
			.background-white {
				padding-top: 64px;
				padding-bottom: 64px;
			}
			.background-grey {
				padding-top: 44px;
				padding-bottom: 44px;
			}
			.contactmap-background {
				.img-background {

				}
				position: relative;
				width: 100%;
				.img-background {
					display: block;
					width: 100%;
					height: auto;
				}
				.contactmap-overlay {
					position: absolute;
					top: 0;
					height: 100%;
					margin-bottom: 0px;
					width: 100%;
				}
			}
			.contactmenu-header {
				line-height: 48px;
				font-size: 18px;
				text-align: center;
				@include media-breakpoint-up(md) {
					font-size: 28px;
					text-align: left;
				}
				@include media-breakpoint-up(lg) {
					line-height: 72px;
					font-size: 34px;
				}
				background-color: rgba(0,93,157,1);
				color: $white;
				.contactmenu-header-switch, .contactmenu-header-info {
					cursor: pointer;
					text-align: center;
					@include media-breakpoint-up(md) {
						text-align: left;
					}
					.fa {
						margin-top: 5px;
						font-size: 32px;
						margin-right: 5px;
						@include media-breakpoint-up(md) {
							font-size: 48px;
							margin-right: 0px;
						}
						float: right;
					}
				}
			}
			.contactmenu-background {
				.img-background {
					display: none;
				}
				@include media-breakpoint-up(lg) {
					position: relative;
					width: 100%;
					.img-background {
						display: block;
						width: 100%;
						height: auto;
					}
				}
				.contactmenu-overlay {
					padding-bottom: 50px;
					@include media-breakpoint-up(lg) {
						position: absolute;
						top: 0;
						height: 100%;
						padding-bottom: 0px;
					}
					width: 100%;
					background-color: rgba(0,93,157,0.77);
					.row-contactpage-menu {
						padding-top: 12px;
						padding-bottom: 12px;
						@include media-breakpoint-up(xl) {
							padding-top: 48px;
							padding-bottom: 48px;
						}
						.col-contactpage-menu {
							.contactpage-box {
								margin-bottom: 20px;
								background-color: #F2F2F2;
								padding-top: 16px;
								padding-left: 30px;
								padding-right: 30px;
								padding-bottom: 16px;
								min-height: 260px;
								@include media-breakpoint-up(xl) {
									padding-top: 23px;
									padding-left: 40px;
									padding-right: 40px;
									padding-bottom: 23px;
									min-height: 290px;
								}
								h2 {
									margin-top: 0px;
									color: #5A6166;
									font-size: 24px;
								}
								div.contactpage-list {
									padding-left: 2px;
									.contactpage-item {
										.circle {
											display: inline-block;
											background: $white;
											border-radius: 50%;
											height:6px;
											width:6px;
											position: relative;
											box-shadow: 0 0 0 1px #5A6166;
											margin:1px;
											margin-right: 10px;
										}
										.link {
											font-family: 'Roboto', sans-serif;
											font-size: 14px;
											@include media-breakpoint-up(xl) {
												font-size: 16px;
											}
										}
										&:hover {
											.circle {
												background:rgba(0,93,157,1);
												height:6px;
												width:6px;
												box-shadow: 0 0 0 1px rgba(0,93,157,1);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
        &.knowledgepage {
            .row-knowledgepage-teaser {
                .col-knowledgepage-teaser {
                    .knowledgepage-teaser {
                      background: #ebebeb;
                      padding-top: 24px;
                      padding-left: 40px;
                      padding-right: 40px;
                      padding-bottom: 24px;
						@include media-breakpoint-up(md) {
							height: 265px;
						}
                      margin-bottom: 18px;
                      background-repeat: no-repeat;

						background-position: -10000px;
						@include media-breakpoint-up(lg) {
							background-position: top right;
							padding-top: 32px;
							padding-left: 56px;
							padding-right: 56px;
							padding-bottom: 32px;
						}
                      h2 {
                        font-size: 34px;
                        font-weight: bold;
                        margin: 0px;
                      }
						h3 {
							font-size: 14px;
							font-family: Roboto, Helvetica, Arial, sans-serif;
							font-weight: normal;
							font-style: italic;
							margin-top: 0px;
							display: block;
							margin-bottom: 20px;
						}
                      div.knowledgepage-list {
                        padding-left: 2px;
						  margin-top: 8px;

                        .knowledgepage-item {
                          .circle {
                            display: inline-block;
                            background: $white;
                            border-radius: 50%;
                            height: 6px;
                            width: 6px;
                            position: relative;
                            box-shadow: 0 0 0 1px #5A6166;
                            margin: 1px;
                            margin-right: 10px;
                          }

                          .link {
                            font-family: 'Roboto', sans-serif;
                            font-size: 14px;
                            @include media-breakpoint-up(xl) {
                              font-size: 16px;
                            }
                            line-height: 26px;
                          }

                          &:hover {
                            .circle {
                              background: rgba(0, 93, 157, 1);
                              height: 6px;
                              width: 6px;
                              box-shadow: 0 0 0 1px rgba(0, 93, 157, 1);
                            }
                          }
                        }
                      }
                    }
                }
            }
        }
		&.exhibitionpage {
			.row-exhibitionpage-teaser {
				.col-exhibitionpage-teaser {
					.exhibitionpage-teaser {
						display: block;
						margin-bottom: 25px;
						color: $body-color;
						.exhibitionpage-teaser-image {
							position: relative;
							width: 100%;
							height: 267px;
							overflow: hidden;
							.img-exhibitionpage-teaser {
								display: block;
								min-width: 100%;
								height: auto;
								min-height: 267px;
							}
							.exhibitionpage-teaser-image-overlay {
								position: absolute;
								top: 0;
								height: 100%;
								padding-top: 26px;
								padding-left: 28px;
								padding-right: 28px;
								padding-bottom: 26px;
								width: 100%;
								color: $white;
								display: flex;
								justify-content: center;
								align-items: center;
								text-align: center;
								.exhibitionpage-teaser-image-title {
									display: none;
									font-family: Roboto, Helvetica, Arial, sans-serif;
									font-size: 22px;
									margin: 0px;
								}
							}
						}
						h2.exhibitionpage-teaser-title {
							font-family: Roboto, Helvetica, Arial, sans-serif;
							font-size: 18px;
							font-weight: bold;
							margin-top: 10px;
							margin-bottom: 5px;
						}
						h3.exhibitionpage-teaser-subtitle {
							font-size: 18px;
							font-family: Roboto, Helvetica, Arial, sans-serif;
							font-weight: normal;
							margin-top: 0px;
							display: block;
							margin-bottom: 0px;
						}
						&:hover {
							text-decoration: none;
							color: $body-color;
							.exhibitionpage-teaser-image {
								.exhibitionpage-teaser-image-overlay {
									background-color: rgba(0,93,157,0.77);
									.exhibitionpage-teaser-image-title {
										display: inline-block;
									}
								}
							}
						}
					}
				}
			}
		}
		&.marketingpage {
			.row-marketingpage-teaser {
				.col-marketingpage-teaser {
					.marketingpage-teaser {
						display: block;
						margin-bottom: 25px;
						color: $body-color;
						.marketingpage-teaser-image {
							position: relative;
							width: 100%;
							height: 267px;
							overflow: hidden;
							.img-marketingpage-teaser {
								display: block;
								min-width: 100%;
								height: auto;
								min-height: 267px;
							}
							.marketingpage-teaser-image-overlay {
								position: absolute;
								top: 0;
								height: 100%;
								padding-top: 26px;
								padding-left: 28px;
								padding-right: 28px;
								padding-bottom: 26px;
								width: 100%;
								color: $white;
								display: flex;
								justify-content: center;
								align-items: center;
								text-align: center;
								.marketingpage-teaser-image-overlay-inner {
									display: none;
									.marketingpage-teaser-image-year {
										font-size: 24px;
										margin: 0px;
										margin-bottom: 25px;
									}
									.marketingpage-teaser-image-title {
										font-family: Roboto, Helvetica, Arial, sans-serif;
										font-size: 22px;
										font-weight: bold;
										margin: 0px;
									}
									.marketingpage-teaser-image-subtitle {
										font-family: Roboto, Helvetica, Arial, sans-serif;
										font-size: 16px;
										margin: 0px;
										margin-top: 10px;
									}
								}

							}
						}
						h2.marketingpage-teaser-year {
							font-family: Roboto, Helvetica, Arial, sans-serif;
							font-size: 18px;
							margin-top: 10px;
							margin-bottom: 5px;
						}
						&:hover {
							text-decoration: none;
							color: $body-color;
							.marketingpage-teaser-image {
								.marketingpage-teaser-image-overlay {
									background-color: rgba(0,93,157,0.77);
									.marketingpage-teaser-image-overlay-inner {
										display: inline-block;
									}
								}
							}
						}
					}
				}
			}
		}
		&.defaultpage, &.knowledgepage {
			.background-white {
				padding-bottom: 25px;
			}
			.background-grey {
				padding-top: 44px;
				padding-bottom: 44px;
			}
		}

	}
}

.flex-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
	.h-md-250 { height: 250px; }
}