{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Templates" />

<f:section name="content">

	<f:flashMessages />	
	<div class="tx-moox-mailer-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />Neue Vorlage</h1>
		<div class="tx-moox-mailer-admin-body">
			<div class="tx-moox-mailer-admin-form">				
				<div class="tx-moox-mailer-admin-form-header">
					Titel der Vorlage (* Pflichtfeld)
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.textfield required="1" type="text" property="title" placeholder="Titel der Vorlage" id="template-title" />
				</div>
				<div class="tx-moox-mailer-admin-form-header">
					Mail-Betreff
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.textfield type="text" property="subject" placeholder="Betreff" id="template-subject" />
				</div>
				<div class="tx-moox-mailer-admin-form-header">
					[Versender] Email-Adresse
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.textfield type="text" property="sender_address" placeholder="Versender-Email-Adresse" id="template-sender-address" />
				</div>
				<div class="tx-moox-mailer-admin-form-header">
					[Versender] Name
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.textfield type="text" property="sender_name" placeholder="Versender-Name" id="template-sender-name" />
				</div>
				<div class="tx-moox-mailer-admin-form-header">
					[Antwort] Email-Adresse
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.textfield type="text" property="reply_to_address" placeholder="Antwort-Email-Adresse" id="template-reply-to-address" />
				</div>
				<div class="tx-moox-mailer-admin-form-header">
					HTML/FLUID-Code der Vorlage
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.textarea property="template"  />					
				</div>														
			</div>
		</div>
	</div>
</f:section>