<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:section name="tx_mooxnews_domain_model_news">
		<f:if condition="{conf.moveEditIconToFirstPosition} == 1">
			<a class="moox-control" href="{n:be.editRecord(parameters: 'edit[tx_mooxnews_domain_model_news][{item.uid}]=edit', redirectUrl: returnUrl)}" title="{item.title} bearbeiten [UID: {item.uid}]">
				<core:icon identifier="actions-document-open" />	
			</a>
		</f:if>
		<f:if condition="{folders->f:count()}>0">
			<f:render partial="Table/Body/Mod1/Controls/Move" arguments="{_all}" />
		</f:if>
		<f:if condition="{languages->f:count()}>0">
			<f:render partial="Table/Body/Mod1/Controls/Translate" arguments="{_all}" />
		</f:if>
		<f:comment>
			<a class="moox-control" href="{f:uri.action(action:'duplicate',arguments:{uid:item.uid,returnUrl: returnUrl})}" title="Eintrag duplizieren">
				<core:icon identifier="actions-duplicates" />
			</a>
		</f:comment>
		<f:if condition="{folders->f:count()}>0">
			<f:then>
				<f:render partial="Table/Body/Mod1/Controls/Copy" arguments="{_all}" />
			</f:then>
			<f:else>
				<a class="moox-control" href="{f:uri.action(action:'copy',arguments:{uid:item.uid,returnUrl: returnUrl})}" title="Eintrag kopieren">
					<core:icon identifier="actions-duplicates" />
				</a>
			</f:else>
		</f:if>
		<f:render partial="Table/Body/Mod1/Controls/Pdf" arguments="{_all}" />
		<a class="moox-control" href="{f:uri.action(action:'ics',arguments:{newsUid:item.uid})}" title="Eintrag als ICS-Datei exportieren">
			<core:icon identifier="mooxnews_actions-ics" />
		</a>		
		<f:if condition="{controls->f:count()}>0">	
			<f:for each="{controls}" as="control" iteration="iteration">		
				<f:render partial="Table/Body/Mod1/Controls/{control}" arguments="{_all}" />
			</f:for>
		</f:if>		
		<a class="moox-control" href="#" onclick="top.launchView('tx_mooxnews_domain_model_news', '{item.uid}'); return false;" title="Infos von {item.title} anzeigen [UID: {item.uid}]">
			<core:icon identifier="actions-document-info" />
		</a>
		<f:render partial="Table/Body/Mod1/Controls/Preview" arguments="{_all}" />
		<f:if condition="{conf.moveEditIconToFirstPosition} == 0">			
			<a class="moox-control" href="{n:be.editRecord(parameters: 'edit[tx_mooxnews_domain_model_news][{item.uid}]=edit', redirectUrl: returnUrl)}" title="{item.title} bearbeiten [UID: {item.uid}]">
				<core:icon identifier="actions-document-open" />	
			</a>
		</f:if>
		<f:if condition="{item.hidden} == 1">
			<f:then>
				<a class="moox-control" href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][hidden]=0', redirectUrl: returnUrl)}" title="Eintrag aktivieren">
					<core:icon identifier="actions-edit-unhide" />
				</a>
			</f:then>
			<f:else>
				<a class="moox-control" href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][hidden]=1', redirectUrl: returnUrl)}" title="Eintrag deaktivieren">
					<core:icon identifier="actions-edit-hide" />
				</a>
			</f:else>
		</f:if>		
		<f:if condition="{item.Istopnews} == 1">
			<f:then>
				<a class="moox-control" href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][istopnews]=0', redirectUrl: returnUrl)}" title="Eintrag als Top-Eintrag markieren">
					<core:icon identifier="actions-system-shortcut-active" />
				</a>
			</f:then>
			<f:else>
				<a class="moox-control" href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][istopnews]=1', redirectUrl: returnUrl)}" title="Markierung als Top-Eintrag entfernen">
					<core:icon identifier="actions-system-shortcut-new" />
				</a>
			</f:else>
		</f:if>
		<n:be.removeNews newsItem="{item}" />		
	</f:section>
	<td class="col-control">
		<div class="btn-toolbar pull-right" role="toolbar">		
			<div class="btn-group" role="group">
				<f:switch expression="{table}">
					<f:case value="tx_mooxnews_domain_model_news">															
						<f:render section="tx_mooxnews_domain_model_news" arguments="{_all}" />
					</f:case>						
				</f:switch>			
			</div>
		</div>
	</td>
	
</div>