<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:for each="{replacements}" as="replacement">
		<v:variable.set name="template.title" value="{v:format.replace(substring: replacement.search, content: template.title, replacement: replacement.replace)}" />
	</f:for>		
	<tr class="db_list_normal template-detail" style="display:none" id="template-detail-{template.uid}">	
		<td colspan="{v:math.sum(a:'{fields->f:count()}',b:1)}">
			<div class="form-horizontal well well-sm" style="margin-bottom:0px;padding-left:49px;padding-top:10px">
				<div class="form-group" style="margin-bottom:0px">
					<label for="title" class="col-sm-2 control-label" style="text-align:left">Bezeichnung:</label>
					<div class="col-sm-10 form-control-static">
						<div class="value">{f:format.raw(value: template.title)}</div>
					</div>		
				</div>
				<f:if condition="{template.subject}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="subject" class="col-sm-2 control-label" style="text-align:left">Mail-Betreff:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{template.subject}</div>
						</div>
					</div>
				</f:if>
				<f:if condition="{template.senderAddress}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="senderAddress" class="col-sm-2 control-label" style="text-align:left">[Versender] Email-Adresse:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{template.senderAddress}</div>
						</div>
					</div>
				</f:if>
				<f:if condition="{template.senderName}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="senderName" class="col-sm-2 control-label" style="text-align:left">[Versender] Name:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{template.senderName}</div>
						</div>
					</div>
				</f:if>
				<f:if condition="{template.replyToAddress}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="replyToAddress" class="col-sm-2 control-label" style="text-align:left">[Antwort] Email-Adresse:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{template.replyToAddress}</div>
						</div>
					</div>
				</f:if>
			</div>
		</td>							
	</tr>
	
</div>