.moox-mailer-module .task .row {
     margin-bottom: 1px;
     padding-top: 8px;
     padding-bottom: 8px;
     background-color: #FFF;
}

.moox-mailer-module .task .row {
    margin-bottom: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #FFF;
}

.moox-mailer-module .task .row-warning {
   background-color: #fcf8e3;
}

.moox-mailer-module .panel-task {
    border-color: #20a64b;
}

.moox-mailer-module .category-display {
    min-height: 100px;
    max-height: 100px;
}

.moox-mailer-module .panel-task .panel-heading {
   background-color: #20a64b;
}

.moox-mailer-module .panel-task .panel-heading h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    display: inline-block;
}

.moox-mailer-module .panel-task .panel-heading h3 small {
    color: inherit;
}

.moox-mailer-module .panel-task .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #eee;
}

.moox-mailer-module .btn.btn-task {
    background-color: #20a64b;
    border-color: #20a64b;
    color: #FFF;
}
.moox-mailer-module .btn.btn-task:hover {
    opacity: 0.8;
}

.moox-mailer-module .popover .popover-title {
    background-color: #20a64b;
	color: #FFF;
}

.moox-mailer-module .popover .arrow {
	border: 0px;
	background-color: #20a64b;
}
.moox-mailer-module .popover.left .arrow:after {
	border-left-color: #20a64b;
}
.moox-mailer-module .popover.right .arrow:after {
	border-right-color: #20a64b;
}
.moox-mailer-module .popover.top .arrow:after {
	border-top-color: #20a64b;
}
.moox-mailer-module .popover.bottom .arrow:after {
	border-bottom-color: #20a64b;
}