@media print {
	body {
		overflow: visible !important;
	}
	.module-body {
		padding-top: 0px !important;
	}
	.module-docheader, 
	.moox-module-filter, 
	nav.pagination-wrap, 
	.moox-module-body th.col-control, 
	.moox-module-body td.col-control, 
	.moox-module-body th.col-lastlogin, 
	.moox-module-body td.col-lastlogin, 
	span.ordering,
	a.t3js-contextmenutrigger,		
	span.icon-up,
	span.icon-down {
		display: none !important;
	}
	td {
		vertical-align: top !important;
	}
	th a.change-ordering {
		color: #FFF !important;
	}
	.moox-module-table-wrapper {
		padding: 0px !important;
	}		
}