<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:section name="addNews">
		<f:if condition="{types->f:count()}>0">		
			<f:if condition="{types->f:count()}==1">
				<f:then>					
					<a title="{types->v:iterator.first()} hinzufügen" href="{n:be.link(action:'add',table:'tx_mooxnews_domain_model_news',storagePage:filter.page,type:'{types->v:iterator.keys()->v:iterator.first()}',language:filter.language,returnUrl:returnUrl)}" class="btn btn-default btn-sm">
						<core:icon identifier="list_icon_{types->v:iterator.keys()->v:iterator.first()}" size="small" overlay="overlay-new" /> {types->v:iterator.first()}							
					</a>					
				</f:then>
				<f:else>
					<div class="btn-group btn-add-news">
						<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<core:icon identifier="actions-document-new" size="small" /> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu moox-module-dropdown">
							<f:for each="{types}" key="type" as="label" iteration="iteration">
								<f:if condition="{iteration.index}>0">
									<li role="separator" class="divider"></li>
								</f:if>
								<li>
									<a title="{label} hinzufügen" href="{n:be.link(action:'add',table:'tx_mooxnews_domain_model_news',storagePage:filter.page,type:type,returnUrl:returnUrl)}">
										<core:icon identifier="list_icon_{type}" size="small" overlay="overlay-new" /> {label}
									</a>									
								</li>								
							</f:for>							
						</ul>
					</div>
				</f:else>				
			</f:if>
		</f:if>
	</f:section>
	
	<f:section name="addRelation">
		<f:if condition="{n:be.security.check(permission:'tables_modify',value:'sys_category')}">
			<v:variable.set name="showRelations" value="1" />
			<v:variable.set name="showCategoryRelation" value="1" />
		</f:if>
		<f:if condition="{n:be.security.check(permission:'tables_modify',value:'tx_mooxnews_domain_model_target')}">
			<v:variable.set name="showRelations" value="1" />
			<v:variable.set name="showTargetRelation" value="1" />
		</f:if>
		<f:if condition="{n:be.security.check(permission:'tables_modify',value:'tx_mooxnews_domain_model_tag')}">
			<v:variable.set name="showRelations" value="1" />
			<v:variable.set name="showTagRelation" value="1" />
		</f:if>
		<f:if condition="{showRelations} || {addItems->f:count()}>0">
			<div class="btn-group btn-add-news">
				<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<core:icon identifier="mimetypes-x-content-link" size="small" /> <span class="caret"></span>
				</button>			
				<ul class="dropdown-menu moox-module-dropdown">				
					<f:if condition="{showCategoryRelation}">
						<li>
							<a title="Kategorie hinzufügen" href="{n:be.link(action:'add',table:'sys_category',storagePage:filter.page,returnUrl:returnUrl)}">
								<core:icon identifier="ext-news-category" size="small" overlay="overlay-new" /> Kategorie
							</a>						
						</li>						
					</f:if>
					<f:if condition="{showTargetRelation}">
						<li role="separator" class="divider"></li>
						<li>
							<a title="Zielgruppe hinzufügen" href="{n:be.link(action:'add',table:'tx_mooxnews_domain_model_target',storagePage:filter.page,returnUrl:returnUrl)}">
								<core:icon identifier="ext-news-target" size="small" overlay="overlay-new" /> Zielgruppe
							</a>						
						</li>
					</f:if>
					<f:if condition="{showTagRelation}">
						<li role="separator" class="divider"></li>
						<li>
							<a title="Tag hinzufügen" href="{n:be.link(action:'add',table:'tx_mooxnews_domain_model_tag',storagePage:filter.page,returnUrl:returnUrl)}">
								<core:icon identifier="ext-news-tag" size="small" overlay="overlay-new" /> Tag
							</a>						
						</li>
					</f:if>
					<f:if condition="{addItems->f:count()}>0">	
						<f:for each="{addItems}" as="item" iteration="iteration">		
							<li role="separator" class="divider"></li>
							<f:render partial="Module/List/Button/Add/{item}" arguments="{_all}" />
						</f:for>
					</f:if>
				</ul>
			</div>
		</f:if>
	</f:section>
	
	<f:section name="selectAction">
		<div class="btn-group btn-select-module">
			<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<core:icon identifier="{icon}" size="small" /> <f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:{module}.action.{action}" /> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu moox-module-dropdown">
				<li>
					<a href="{f:uri.action(controller:'Mod1',action:'list')}">
						<core:icon identifier="ext-news-wizard-icon" size="small" /> <f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:mod1.action.list" />
					</a>											
				</li>
				<li role="separator" class="divider"></li>
				<li>
					<a href="{f:uri.action(controller:'Mod2',action:'list')}">
						<core:icon identifier="ext-news-target" size="small" /> <f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:mod2.action.list" />
					</a>											
				</li>
				<li role="separator" class="divider"></li>
				<li>
					<a href="{f:uri.action(controller:'Mod3',action:'list')}">
						<core:icon identifier="ext-news-tag" size="small" /> <f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:mod3.action.list" />
					</a>											
				</li>
				<f:comment>
					<li role="separator" class="divider"></li>										
					<li>
						<a href="{f:uri.action(controller:'Mod1',action:'populate')}">
							<core:icon identifier="actions-system-help-open" size="small" /> <f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:mod1.action.populate" />
						</a>											
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="{f:uri.action(controller:'Mod1',action:'import')}">
							<core:icon identifier="actions-database-import" size="small" /> <f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:mod1.action.import" />
						</a>											
					</li>
				</f:comment>
				<f:if condition="{moduleItems->f:count()}>0">	
					<f:for each="{moduleItems}" as="item" iteration="iteration">		
						<li role="separator" class="divider"></li>
						<f:render partial="Module/List/Button/Module/{item}" arguments="{_all}" />
					</f:for>
				</f:if>
			</ul>
		</div>
	</f:section>
	
	<f:section name="addCategory">
		<a title="Kategorie hinzufügen" href="{n:be.link(action:'add',table:'sys_category',storagePage:filter.page,returnUrl:returnUrl)}" class="btn btn-default btn-sm">
			<core:icon identifier="ext-news-tag" overlay="overlay-new" size="small" /> Kategorie					
		</a>
	</f:section>
	
	<f:section name="addTarget">
		<a title="Zielgruppe hinzufügen" href="{n:be.link(action:'add',table:'tx_mooxnews_domain_model_target',storagePage:filter.page,returnUrl:returnUrl)}" class="btn btn-default btn-sm">
			<core:icon identifier="ext-news-target" overlay="overlay-new" size="small" /> Zielgruppe							
		</a>
	</f:section>
	
	<f:section name="addTag">
		<a title="Tag hinzufügen" href="{n:be.link(action:'add',table:'tx_mooxnews_domain_model_tag',storagePage:filter.page,returnUrl:returnUrl)}" class="btn btn-default btn-sm">
			<core:icon identifier="ext-news-tag" overlay="overlay-new" size="small" /> Tag					
		</a>
	</f:section>
			
</div>