<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<td class="col-control">
		<div class="btn-toolbar pull-right" role="toolbar">		
			<div class="btn-group" role="group">
				<a class="moox-control" href="#" onclick="top.launchView({table}, '{template.uid}'); return false;" title="Infos von &quot;{template.autoName}&quot; anzeigen [UID: {template.uid}]">
					<core:icon identifier="actions-document-info" />
				</a>
				<a class="moox-control" href="{f:uri.action(action:'copy',arguments:{uid:template.uid,returnUrl: returnUrl})}" title="Template &quot;{template.autoName}&quot; kopieren [UID: {template.uid}]">
					<core:icon identifier="actions-duplicates" />
				</a>
				<a class="moox-control" href="{mc:be.link(action:'edit',table:table,uid:template.uid,returnUrl:returnUrl)}" title="&quot;{template.autoName}&quot; bearbeiten [UID: {template.uid}]">
					<core:icon identifier="actions-document-open" />	
				</a>
				<f:if condition="{template.hidden} == 1">
					<f:then>
						<a class="moox-control" href="{mc:be.issueCommand(parameters: 'data[{table}][{template.uid}][hidden]=0', redirectUrl: returnUrl)}" title="Vorlage &quot;{template.autoName}&quot; aktivieren [UID: {template.uid}]">
							<core:icon identifier="actions-edit-unhide" />
						</a>
					</f:then>
					<f:else>
						<a class="moox-control" href="{mc:be.issueCommand(parameters: 'data[{table}][{template.uid}][hidden]=1', redirectUrl: returnUrl)}" title="Vorlage &quot;{template.autoName}&quot; deaktivieren [UID: {template.uid}]">
							<core:icon identifier="actions-edit-hide" />
						</a>
					</f:else>
				</f:if>
				<v:security.allow admin="1">
					<mc:be.removeObject object="{template}" table="{table}" />
				</v:security.allow>		
			</div>
		</div>
	</td>
	
</div>