<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	
	<tr class="db_list_normal news-row" id="news-row-{newsItem.uid}">	
		<td class="col-multiple">
			<f:form.checkbox class="selector-checkbox" name="selection[]" value="{newsItem.uid}" />
		</td> 
		<f:render partial="Table/Body/Columns" arguments="{table:table,fields:fields,item:newsItem,replacements:replacements,fieldsSeparator:fieldsSeparator}" />
		<f:render partial="Table/Body/Mod1/Controls" arguments="{table:table,folders:folders,controls:controls,storagePage:storagePage,item:newsItem,defaultPreviewBaseUrl:defaultPreviewBaseUrl,returnUrl:returnUrl}" />																								
	</tr>
	<f:render partial="Module/List/Body/Item/Detail" arguments="{conf:conf,fields:previewFields,item:newsItem,replacements:replacements,returnUrl:returnUrl}" />
	
</div>