<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<div class="form-group">
		<div class="btn-group btn-group-mobile-block">
			<button type="button" class="btn btn-default page-selector dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="current"><f:if condition="{storagePage}>0"><f:then><core:icon identifier="apps-pagetree-folder-contains-news" size="small" /> {n:be.getPageInfo(uid:storagePage,field:'title')} [UID: {storagePage}]</f:then><f:else><core:icon identifier="apps-pagetree-drag-place-denied" size="small" /> <f:if condition="{types->f:count()}>1"><f:then>Einträge</f:then><f:else>{types -> v:iterator.first()}</f:else></f:if> ohne Ordner</f:else></f:if></span> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu moox-module-dropdown">
				<f:comment>
					<li>
						<a href="#" class="page-selector auto-submit" data-uid="0"><core:icon identifier="apps-pagetree-drag-place-denied" size="small" /> <f:if condition="{types->f:count()}>1"><f:then>Einträge</f:then><f:else>{types -> v:iterator.first()}</f:else></f:if> ohne Ordner</a>
					</li>		
				</f:comment>
				<f:for each="{groupedFolders}" as="groupedFolder" key="rootpage">
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">{rootpage}</li>			
					<f:for each="{groupedFolder}" as="folder">
						<li data-toggle="tooltip" data-placement="right" title="Pfad: <f:for each="{folder.rootline}" as="path">\{path.title}</f:for> [UID: {folder.uid} | Rootpage: {folder.rootpage.title}]">																	
							<a href="#" class="page-selector auto-submit" data-uid="{folder.uid}"><core:icon identifier="apps-pagetree-folder-contains-news" size="small" /> {folder.title} [UID: {folder.uid}]</a>
						</li>	
					</f:for>
				</f:for>		
			</ul>
		</div>
		<f:form.hidden property="page" class="page-selector is-grouped-filter" />
	</div>
	
</div>
	