<html xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Rss" />

<f:section name="Configuration">
	<flux:form id="mooxnewsrsspage" label="LLL:flux.form.label.rsspage">
		<flux:form.option.icon value="EXT:moox_news/Resources/Public/Icons/Templates/Page/RssPage.png" />
		<flux:field.custom name="description" label="LLL:flux.form.label.nooptions" />
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="maincontent" label="LLL:flux.form.label.rsspage.maincontent" />
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Content"><v:content.render column="0" /></f:section>


</html>