<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<div class="moox-control-group" role="group">
		<div type="button" class="moox-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<core:icon identifier="actions-page-move" size="small" />
		</div>
		<ul class="dropdown-menu dropdown-menu-right moox-module-dropdown" style="min-width:50%">						
			<li class="dropdown-header">In welchen Ordner wollen Sie die Zielgruppe verschieben?</li>
			<li role="separator" class="divider"></li>
			<f:if condition="{storagePage}!='0'">
				<li>								
					<f:link.action action="move" arguments="{pid:0,uid:target.uid}" title="UID: 0">
						<core:icon identifier="apps-pagetree-drag-place-denied" size="small" /> Aus aktuellem Ordner entfernen
					</f:link.action>
				</li>			
			</f:if>						
			<f:for each="{folders}" as="groupedFolders" key="rootpage">
				<li role="separator" class="divider"></li>
				<li class="dropdown-header">{rootpage}</li>			
				<f:for each="{groupedFolders}" as="folder">			
					<f:if condition="{storagePage}!={folder.uid}">
						<li data-toggle="tooltip" data-placement="bottom" title="Pfad: <f:for each="{folder.rootline}" as="path">\{path.title}</f:for> [UID: {folder.uid} | Rootpage: {folder.rootpage.title}]">																	
							<f:link.action action="move" arguments="{uid:target.uid,pid:folder.uid}">
								<core:icon identifier="apps-pagetree-folder-contains-news" size="small" /> {folder.title} [UID: {folder.uid}]										
							</f:link.action>
						</li>
					</f:if>
				</f:for>
			</f:for>											
		</ul>
	</div>
	
</div>