<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:section name="toScheduler">
		<f:if condition="{mc:be.security.check(permission:'tables_modify',value:'tx_scheduler_task')}">
			<f:be.link class="btn btn-default" route="system_txschedulerM1">
				<core:icon identifier="mimetypes-x-tx_scheduler_task_group" /> Zum Planer
			</f:be.link>&nbsp;
		</f:if>
	</f:section>
	<f:section name="toJobList">
		<f:link.action class="btn btn-default btn-task pull-right" action="list">
			<core:icon identifier="actions-view-go-back" /> Zurück zur Übersicht
		</f:link.action>
	</f:section>

	<f:section name="addNewsTask">
		<f:if condition="{mc:be.security.check(permission:'tables_modify',value:'tx_scheduler_task')}">
			<a href="{f:be.uri(route:'system_txschedulerM1')}&CMD=add&tx_scheduler[class]={f:format.urlencode(value:'Neulandlotsen\MooxMailer\Tasks\MooxNewsSendTask')}&returnUrl={returnUrl -> f:format.urlencode()}" class="btn btn-default">
				<core:icon identifier="mooxmailer_icons_scheduler" overlay="overlay-new" /> Neuen News-Job konfigurieren
			</a>&nbsp;
		</f:if>
	</f:section>
	<f:section name="addTemplate">
		<f:if condition="{mc:be.security.check(permission:'tables_modify',value:'tx_mooxmailer_domain_model_template')}">
			<a title="Vorlage hinzufügen" href="{mc:be.link(action:'add',table:'tx_mooxmailer_domain_model_template',storagePage:settings.templateStoragePid,returnUrl:returnUrl)}" class="btn btn-default btn-sm">
				<core:icon identifier="mooxmailer_icons_template" overlay="overlay-new" size="small" />	Template
			</a>
		</f:if>
	</f:section>
</div>