<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Import" />

	<f:section name="content">	
		<div class="tx-moox-news-admin">
			<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> Frontend-Benutzer importieren</h1>		
			<div class="tx-moox-news-admin-body">
				
				<div class="tx-moox-news-admin-filter">				
					<div class="filter-field">
						<label for="folder" class="label-folder-import">
							In diesen Ordner importieren:
						</label>
						<div id="selected-folder">
							<img class="current-folder-icon pointer" width="16" height="16" alt="Liste" align="center" title="Liste" src="../typo3/sysext/t3skin/icons/module_web_list.gif">
							<span id="folder-expander" class="pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
							<span class="pointer folder" title="Pfad: <f:for each="{rootline}" as="path">\{path.title}</f:for> [UID: {page}]"><f:if condition="{folder}">{v:page.info(pageUid: folder, field: 'title')} / </f:if><f:if condition="{page}>0"><f:then>{v:page.info(pageUid: page, field: 'title')}&nbsp;&nbsp;&nbsp;[UID: {page} | Rootpage: {rootpage.title}]</f:then><f:else>Adressen ohne Ordner</f:else></f:if></span>
						</div>
						<div class="clear"></div>
					</div>
					<div class="folder-list folder-list-import" id="folder-list">
						<f:if condition="{folders}">
							<f:then>
								<f:render partial="FolderList" arguments="{page: page, folders: folders, action: 'index'}" />
							</f:then>
							<f:else>
								<div class="folder-noothers">Keine anderen Ordner gefunden</div>
							</f:else>
						</f:if>
						<div class="folder-list-footer">							
							<a href="#" id="folder-list-close" class="pointer" title="schließen">schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span></a>
						</div>
					</div>
				</div>
				<div class="tx-moox-news-admin-form">				
					<f:form action="index" enctype="multipart/form-data" controller="Import" noCache="1" method="POST" id="importForm" name="import" object="{object}">
						<div class="tx-moox-news-admin-form-header<f:if condition="{allErrors.file}"> has-error</f:if>">
							Import-Datei
						</div>
						<div class="tx-moox-news-admin-form-item<f:if condition="{allErrors.file}"> has-error</f:if>">
							<f:form.upload property="file" id="import-file" />
						</div>
						<div class="tx-moox-news-admin-form-header<f:if condition="{allErrors.format}"> has-error</f:if>">
							Import-Format
						</div>
						<div class="tx-moox-news-admin-form-item<f:if condition="{allErrors.format}"> has-error</f:if>">
							<f:form.textfield type="text" property="format" id="import-format" />
						</div>
						<div class="tx-moox-news-admin-form-header<f:if condition="{allErrors.separator}"> has-error</f:if>">
							Import-Trennzeichen
						</div>
						<div class="tx-moox-news-admin-form-item<f:if condition="{allErrors.separator}"> has-error</f:if>">
							<f:form.textfield type="text" property="separator" class="import-separator" id="import-separator" />
						</div>
						<div class="tx-moox-news-admin-form-header">
							Import-Modus
						</div>
						<div class="tx-moox-news-admin-form-item">
							<f:form.select property="mode" id="import-mode" options="{1:'Vorhandene Benutzer überschreiben',2:'Vorhandene Benutzer ergänzen',0:'Nur neue Benutzer importieren'}" />
						</div>
						<f:if condition="{feGroups}">
							<div class="tx-moox-news-admin-form-header">
								Import-Benutzergruppen (überschreibt, wenn Gruppen gewählt, Werte aus Import-Datei)
							</div>
							<div class="tx-moox-news-admin-form-item">
								<f:form.select property="feGroups" multiple="1" size="5" id="import-fe-groups" options="{feGroups}" />
							</div>
						</f:if>
						<f:if condition="{mailerActive}">
							<div class="tx-moox-news-admin-form-header">
								Empfang von Newslettern für importierte Benutzer unterbinden (überschreibt, wenn gesetzt, Werte aus Import-Datei)
							</div>
							<div class="tx-moox-news-admin-form-item">
								<f:form.checkbox property="disallowMailing" value="1" class="import-disallow-mailing" id="import-disallow-mailing" />
							</div>
						</f:if>
						<div class="tx-moox-news-admin-form-header">
							Neue Benutzer beim Import deaktivieren
						</div>
						<div class="tx-moox-news-admin-form-item">
							<f:form.checkbox property="disableNew" value="1" class="import-disable-new" id="import-disable-new" />						
						</div>
						<div class="tx-moox-news-admin-form-header">
							Passwörter beim Import/Update verschlüsseln (wenn plain in CSV-Datei)
						</div>
						<div class="tx-moox-news-admin-form-item">
							<f:form.checkbox property="encodePassword" value="1" class="import-encode-password" id="import-encode-password" />
						</div>
						<div class="tx-moox-news-admin-form-header">
							Erste Zeile überspringen
						</div>					
						<div class="tx-moox-news-admin-form-item">
							<f:form.checkbox property="skipFirst" value="1" class="import-skip-first" id="import-skip-first" />
						</div>
						<div class="tx-moox-news-admin-form-submit">
							<f:form.submit property="process" id="import-process" value="importieren" />							
						</div>
					</f:form>
				</div>
			</div>
		</div>
	</f:section>
	
</div>