<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	
	<div class="moox-control-group" role="group">
		<div class="moox-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<f:switch expression="{item.mailerFrequency}">
				<f:case value="1">
					<span title="Dieser Eintrag ist für den direkten Versand markiert">
						<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-shortcut" />
					</span>
				</f:case>
				<f:case value="2">
					<span title="Dieser Eintrag ist für den kummulierten Versand markiert">
						<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-scheduled" />
					</span>
				</f:case>
				<f:defaultCase>
					<span title="Dieser Eintrag ist nicht für den Versand markiert">
						<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-hidden" />
					</span>
				</f:defaultCase>
			</f:switch>			
		</div>
		<ul class="dropdown-menu dropdown-menu-right moox-module-dropdown" style="min-width:50%">						
			<f:switch expression="{item.mailerFrequency}">
				<f:case value="1">
					<li>								
						<a href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][mailer_frequency]=0', redirectUrl: returnUrl)}" title="Eintrag aktivieren">
							<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-hidden" /> Diesen Eintrag nicht versenden
						</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>								
						<a href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][mailer_frequency]=2', redirectUrl: returnUrl)}" title="Eintrag aktivieren">
							<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-scheduled" /> Zu kumuliertem Versand wechseln
						</a>
					</li>
				</f:case>
				<f:case value="2">
					<li>								
						<a href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][mailer_frequency]=0', redirectUrl: returnUrl)}" title="Eintrag aktivieren">
							<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-hidden" /> Diesen Eintrag nicht versenden
						</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>								
						<a href="{n:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][mailer_frequency]=1', redirectUrl: returnUrl)}" title="Eintrag aktivieren">
							<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-shortcut" /> Zu direktem Versand wechseln
						</a>
					</li>
				</f:case>
				<f:defaultCase>
					<li>								
						<a href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][mailer_frequency]=2', redirectUrl: returnUrl)}" title="Eintrag aktivieren">
							<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-scheduled" /> Für kumulierten Versand markieren
						</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>								
						<a href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{item.uid}][mailer_frequency]=1', redirectUrl: returnUrl)}" title="Eintrag aktivieren">
							<core:icon identifier="mooxmailer_icons_frequency_control" size="small" overlay="overlay-shortcut" /> Für direkten Versand markieren
						</a>
					</li>
				</f:defaultCase>
			</f:switch>												
		</ul>
	</div>

</div>