<!DOCTYPE html>
<html lang="de" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <head>
        <meta charset="utf-8" />
        <title>{f:if(condition:newsItem.alternativeTitle,then:newsItem.alternativeTitle,else:newsItem.title)}</title>
        <link rel="stylesheet" type="text/css" href="{f:if(condition:settings.cssfiles.pdf,then:settings.cssfiles.pdf,else:'{f:uri.resource(path:\'Css/pdf.css\',absolute:1)}')}" media="print" />
        <f:render section="css" />
    </head>
    <body>
        <f:render section="content" arguments="{_all}" />
    </body>
</html>

