<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
     data-namespace-typo3-fluid="true">

	<f:if condition="{settings.cssBootstrap}">
		<v:asset.style path="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" standalone="1" external="1" />		
	</f:if>
	<f:if condition="{settings.cssFile}">
		<v:asset.style path="{settings.cssFile}" />	
	</f:if>
	<div id="ajaxnews-c{contentObjectData.uid}" class="ajaxnews">
		<f:flashMessages />
		<f:render section="content" />
	</div>

</div>