<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:if condition="{configuration.insertAbove}">
		<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
	</f:if>
	
	<f:renderChildren arguments="{contentArguments}" />
	
	<f:if condition="{configuration.insertBelow}">
		<f:render section="paginator" arguments="{pagination: pagination,configuration:configuration}" />
	</f:if>
	
	<f:section name="paginator">
		<f:if condition="{pagination.numberOfPages} > 1">
			<f:if condition="{settings.list.paginate}">
				<f:if condition="{pagination.previousPage}">
					<f:if condition="{pagination.previousPage} > 1">
						<f:then>
							<n:headerData><link rel="prev" href="{f:widget.uri(arguments: {currentPage: pagination.previousPage}) -> f:format.htmlentities()}" /></n:headerData>
						</f:then>
						<f:else>
							<n:headerData><link rel="prev" href="{f:widget.uri() -> f:format.htmlentities()}" /></n:headerData>
						</f:else>
					</f:if>
				</f:if>
				<f:if condition="{pagination.nextPage}">
					<n:headerData><link rel="next" href="{f:widget.uri(arguments: {currentPage: pagination.nextPage}) -> f:format.htmlentities()}" /></n:headerData>
				</f:if>
			</f:if>
	
			<div class="news-page-navigation row">
				<div class="col-sm-4 col-xs-12">
					<div class="pages-info">
						<f:translate key="paginate_overall" arguments="{0:pagination.current,1:pagination.numberOfPages}" />
					</div>
				</div>
				<div class="col-sm-8 col-xs-12">
					<ul class="pagination">
						<f:if condition="{pagination.previousPage}">
							<li class="previous">
								<f:if condition="{pagination.previousPage} > 1">
									<f:then>
										<f:widget.link rel="prev" arguments="{currentPage: pagination.previousPage}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" ><f:translate key="paginate_previous" /></f:widget.link>
									</f:then>
									<f:else>
										<f:widget.link rel="prev" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}"><f:translate key="paginate_previous" /></f:widget.link>
									</f:else>									
								</f:if>
							</li>
						</f:if>
						<f:if condition="{pagination.displayRangeStart} > 1">
							<li class="first">
								<f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}">1</f:widget.link>
							</li>
						</f:if>
						<f:if condition="{pagination.hasLessPages}">
							<li><span>....</span></li>
						</f:if>
						<f:for each="{pagination.pages}" as="page">
							<f:if condition="{page.isCurrent}">
								<f:then>
									<li class="active"><span>{page.number} <span class="sr-only">(current)</span></span></li>	
								</f:then>
								<f:else>
									<li>
										<f:if condition="{page.number} > 1">
											<f:then>
												<f:widget.link arguments="{currentPage: page.number}" addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}">{page.number}</f:widget.link>
											</f:then>
											<f:else>
												<f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}">{page.number}</f:widget.link>
											</f:else>
										</f:if>
									</li>
								</f:else>
							</f:if>
						</f:for>
						<f:if condition="{pagination.hasMorePages}">
							<li><span>....</span></li>
						</f:if>
						<f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
							<li class="last">
								<f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" arguments="{currentPage: pagination.numberOfPages}">{pagination.numberOfPages}</f:widget.link>
							</li>
						</f:if>
						<f:if condition="{pagination.nextPage}">
							<li class="last next">
								<f:widget.link addQueryStringMethod="{configuration.addQueryStringMethod}" section="{configuration.section}" arguments="{currentPage: pagination.nextPage}">
									<f:translate key="paginate_next" />
								</f:widget.link>
							</li>
						</f:if>
					</ul>
				</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
			</div>
			<div class="news-clear clearfix"></div>
		</f:if>
	</f:section>

</html>