#tx-moox-news-overlay 
{   
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
}
.ajaxnews-no-news-found {
	margin-top: 30px;
	margin-bottom: 30px;
}
.ajaxnews-filterset {
	margin-bottom: 15px;
}
.ajaxnews-filterset input, 
.ajaxnews-filterset select, 
.ajaxnews-filterset .input-group-addon, 
.ajaxnews-filterset .selectivity-input, 
.ajaxnews-filterset .selectivity-single-select,
nav .btn,
.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span,
.ajaxnews-filter-reset {
	border-radius: 0px;
	border: 0px;
	margin: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.ajaxnews-filterset .selectivity-input {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	margin-bottom: 3px;
	
}
.ajaxnews-filterset .selectivity-dropdown {
	margin-top: 3px;
	border-radius: 0px;
}
.datepicker-dropdown {
	border-radius: 0px;	
}
.ajaxnews-filterset .ajaxnews-filter-datepicker {

}
.ajaxnews-filterset .ajaxnews-filter-input {
	height: 40px;	
	width: 250px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 3px;
}
.ajaxnews-filterset  .input-group.date {
	width: 250px;
	height: 40px;
	vertical-align: middle;
	margin-bottom: 3px;
}
.ajaxnews-filterset  .input-group.date input {	
	height: 40px;
	border: 0px;
	display: inline-block;
	vertical-align: middle;
}
.ajaxnews-filterset  .input-group.date span.input-group-addon {
	border: 0px;	
	background-color: #D9D9D9;
	vertical-align: middle;
}

.ajaxnews-filter-reset {
	line-height: 26px;
	width: 100%;
}

nav .btn {
	color: #666;
}
nav.ajaxnews-paginateUp {
	margin-bottom: 15px;
}
nav.ajaxnews-paginateDown {
	margin-top: 15px;
}
nav.ajaxnews-paginateAppend {
	margin-top: 15px;
}
nav.ajaxnews-paginateForwardBackward {
	margin-bottom: 15px;
}

.ajaxnews-char-navigation {
	/*text-align: center;*/
	background-color: #FFF; 
	margin-bottom: 3px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	display: inline-block;
	clear: both;
}

.ajaxnews-char-navigation .ajaxnews-char {
	border: 0px;
	margin: 0px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	line-height: 40px;
	border-right: 1px solid #dddddd;
	float: left;
	min-width: 25px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.ajaxnews-char-navigation .ajaxnews-char-all, .ajaxnews-char-navigation .ajaxnews-char-other {
	width: auto;
}

.ajaxnews-char-navigation .ajaxnews-char:hover, .ajaxnews-char-navigation .ajaxnews-char-active {
	color: #FFF;
	background-color: #337ab7;
}

.ajaxnews-char-navigation .ajaxnews-char-last  {
	border: 0px;
}

.ajaxnews-paginator {
	text-align: center;
	display: block;
}

.ajaxnews .panel {
	border-radius: 0px;
}
