<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxNewsSeminar/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:for each="{fields}" as="field" iteration="iteration">	
		<v:variable.set name="text" value="" />
		<v:variable.set name="class" value="" />
		<f:switch expression="{field.name}">
			<f:case value="default" default="1">
				<f:if condition="{field.type}=='datetime'">
					<f:then>
						<v:variable.set name="text" value="{m:getValue(item:item,field:field.name)}" />
						<f:if condition="{text}>0">
							<f:then>
								<v:variable.set name="text" value="{f:format.date(format: 'd.m.Y H:i', date: text)}" />	
							</f:then>
							<f:else>
								<v:variable.set name="text" value="" />
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<v:variable.set name="text" value="{m:getValue(item:item,field:field.name)}" />
						<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
					</f:else>
				</f:if>
			</f:case>
		</f:switch>
		<f:for each="{field.additional}" as="additionalField">
			<f:switch expression="{additionalField.name}">
				<f:case value="default" default="1">
					<f:if condition="{additionalField.type}=='datetime'">
						<f:then>
							<v:variable.set name="additionalText" value="{m:getValue(item:item,field:additionalField.name)}" />
							<f:if condition="{additionalText}>0">
								<f:then>
									<v:variable.set name="additionalText" value="{f:format.date(format: "d.m.Y H:i", date: additionalText)}" />	
								</f:then>
								<f:else>
									<v:variable.set name="additionalText" value="" />
								</f:else>
							</f:if>
							<v:variable.set name="additionalText" value="{f:format.date(format: "d.m.Y H:i", date: additionalText)}" />					
						</f:then>
						<f:else>
							<v:variable.set name="additionalText" value="{m:getValue(item:item,field:additionalField.name)}" />
							<v:variable.set name="additionalText" value="{f:format.stripTags(value: additionalText)}" />
						</f:else>
					</f:if>				
				</f:case>
			</f:switch>
			<v:variable.set name="text" value="{text}{fieldsSeparator}{additionalText}" />
		</f:for>
		<v:variable.set name="title" value="{text}" />
		<f:for each="{replacements}" as="replacement">		
			<v:variable.set name="text" value="{v:format.replace(substring: replacement.search, content: text, replacement: replacement.replace)}" />
		</f:for>
		<f:if condition="{field.lenght}>0">
			<v:variable.set name="text" value="{text -> f:format.crop(maxCharacters: field.lenght)}" />				
		</f:if>
		<f:if condition="{iteration.isFirst}">
			<f:then>
				<td>
					<a href="#" class="t3js-contextmenutrigger" data-table="{table}" data-uid="{item.uid}" style="text-decoration:none">
						<span data-toggle="tooltip" data-title="UID:{item.uid}" data-html="true" data-placement="right" data-original-title="" title="">
							<m:be.buttons.iconForRecord table="{table}" uid="{item.uid}" title="{item.autoName}" />
						</span>
					</a>					
					<f:switch expression="{table}">
						<f:case value="tx_mooxnewsseminar_domain_model_speaker">
							<a class="show-detail {class}" style="margin-left:5px" href="#" data-uid="{item.uid}">
								<span class="icon-down"><core:icon identifier="actions-move-down" size="small" /></span><span class="icon-up" style="display:none"><core:icon identifier="actions-move-up" size="small" /></span> {text -> f:format.raw()}
							</a>
						</f:case>								
					</f:switch>								
				</td>
			</f:then>
			<f:else>
				<td class="col-{field.name}">				
					<span title="{title} [UID: {item.uid}]"<f:if condition="{class}"> class="{class}"</f:if>>{text -> f:format.raw()}</span>
				</td>
			</f:else>
		</f:if>				
	</f:for>
	
</div>