<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:if condition="{settings.cssFile}">
		<n:includeFile path="{settings.cssFile}" />
	</f:if>
	
	<div class="news">
		<f:flashMessages />
		<f:render section="content" />
	</div>

</html>