{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Schedules" />

<f:section name="content">

	<f:flashMessages />	
	<div class="tx-moox-mailer-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />Neuer Vorlagen-Zeitplan</h1>
		<div class="tx-moox-mailer-admin-body">
			<div class="tx-moox-mailer-admin-form">				
				<div class="tx-moox-mailer-admin-form-header">
					Titel des Zeitplans
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.textfield required="1" type="text" property="title" placeholder="Titel des Zeitplans" id="schedule-title" />
				</div>
				<f:for each="{years}" as="year" iteration="iteration">
					<div class="tx-moox-mailer-admin-form-header<f:if condition="{year.year}=={currentYear}"> current-year</f:if>">{year.year}</div>
					<f:for each="{year.weeks}" as="week" iteration="iteration2">						
						<f:if condition="{year.year}<{currentYear}">
							<f:then>
								<v:variable.set name="disableSelect" value="true" />				
							</f:then>
							<f:else>
								<f:if condition="{year.year}=={currentYear}">
									<f:then>
										<f:if condition="{week}<{currentWeek}">
											<f:then>
												<v:variable.set name="disableSelect" value="true" />					
											</f:then>
											<f:else>
												<v:variable.set name="disableSelect" value="false" />	
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<v:variable.set name="disableSelect" value="false" />	
									</f:else>
								</f:if>
							</f:else>
						</f:if>
						<f:if condition="{disableSelect}">
							<f:then>
								<div class="tx-moox-mailer-admin-form-item tx-moox-mailer-admin-form-item-disabled tx-moox-mailer-admin-form-item-{f:if(condition: iteration.isEven, then: 'even', else: 'odd')}<f:if condition="{year.year}=={currentYear}"><f:if condition="{week}=={currentWeek}"> current-week</f:if></f:if>">
									<label>Woche {year.year}/{week}</label>
									<v:variable.set name="lookupIndex" value="templates_{year.year}_{week}" />									
									<f:form.select options="{options}" disabled="true" value="{v:variable.get(name: 'object.{lookupIndex}')}" />
									<f:form.hidden property="templates_{year.year}_{week}" />
								</div>
							</f:then>									
							<f:else>
								<div class="tx-moox-mailer-admin-form-item tx-moox-mailer-admin-form-item-{f:if(condition: iteration.isEven, then: 'even', else: 'odd')}<f:if condition="{year.year}=={currentYear}"><f:if condition="{week}=={currentWeek}"> current-week</f:if></f:if>">
									<label>Woche {year.year}/{week}</label>
									<f:form.select property="templates_{year.year}_{week}" options="{options}" />
								</div>
							</f:else>
						</f:if>					
					</f:for>						
				</f:for>															
			</div>
		</div>
	</div>
</f:section>