<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />

<!--
	=====================
		Templates/Tag/List.html
-->

<f:section name="content">
	<f:if condition="{tags}">
		<ul class="nav nav-sidebar tag-menu-view">
			<f:for each="{tags}" as="tag">
				<li class="{f:if(condition:'{tag.uid} == {overwriteDemand.tags}',then:'active',else:'')}">
					<f:link.page title="{tag.title}" pageUid="{settings.listPid}" additionalParams="{tx_mooxnews_pi1:{overwriteDemand:{tags: tag}}}">
						{tag.title}
					</f:link.page>
				</li>
			</f:for>
		</ul>
	</f:if>
</f:section>
</html>