﻿<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div id="moox-news-module-filter" class="moox-module-filter" data-url="{f:uri.action(action:'filter',noCache:1)}">	
		<f:form class="well well-sm form-inline use-ajax" id="moox-module-filter-form" name="filter" object="{filter}" action="filter" noCache="1">
			<f:render partial="Module/List/Filter/Page" arguments="{_all}" />
			<f:render partial="Module/Mod1/List/Filter/Languages" arguments="{_all}" />
			<f:render partial="Module/Mod1/List/Filter/Types" arguments="{_all}" />
			<f:render partial="Module/Mod1/List/Filter/Categories" arguments="{_all}" />
			<f:render partial="Module/Mod1/List/Filter/Group" arguments="{_all}" />
			<f:if condition="{filters->f:count()}>0">	
				<f:for each="{filters}" as="additionalFilter" iteration="iteration">		
					<f:render partial="Module/Mod1/List/Filter/{additionalFilter}" arguments="{_all}" />
				</f:for>
			</f:if>
			<f:render partial="Module/List/Filter/Hidden" arguments="{_all}" />
			<f:render partial="Module/Mod1/List/Filter/IsTopNews" arguments="{_all}" />
			<f:render partial="Module/Mod1/List/Filter/Year" arguments="{_all}" />
			<f:render partial="Module/List/Filter/PerPage" arguments="{_all}" />
			<f:render partial="Module/List/Filter/Query" arguments="{_all}" />

			<f:if condition="{types->f:count()}==1">
				<f:then>
					<f:if condition="{filter->f:count()}>3">
						<v:variable.set name="reset" value="1" />
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{filter->f:count()}>2">
						<v:variable.set name="reset" value="1" />
					</f:if>
				</f:else>
			</f:if>
			<f:if condition="{reset}">
				<div class="form-group">
					<f:link.action class="btn btn-default btn-mobile-block filter-reset" action="filter" arguments="{reset:1}" title="Filter zurücksetzen">
						<core:icon identifier="actions-edit-undo" size="small" /> Filter zurücksetzen
					</f:link.action>
				</div>				
			</f:if>
		</f:form>
	</div>
	
</div>