<a xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_backlinktile') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="backlinktile" label="{ll}:flux.backlinktile.label" description="{ll}:flux.backlinktile.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.backlinktile.sheet.content">
				<flux:field.select name="height"
								   label="{ll}:flux.backlinktile.fields.height"
								   items="{
                                              0:{0:'{ll}:flux.backlinktile.fields.height.1',1:'1'},
                                              1:{0:'{ll}:flux.backlinktile.fields.height.2',1:'2'}
                                          }"
								   required="1"
								   default="{contentSettings.defaults.height}"
				/>
				<flux:field.input name="link"
								  label="LLL:flux.backlinktile.fields.link">
					<flux:wizard.link activeTab="url" />
				</flux:field.input>
				<flux:field.input name="title"
								  label="{ll}:flux.backlinktile.fields.title"
								  required="1"
								  default="{contentSettings.defaults.title}"
				/>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		<div style="text-align: center;margin:-10px;padding:10px;background-color: rgba(0,93,157,1);color:white;height:{f:if(condition:'{height}==2',then:'418px',else:'200px')}">
			<a style="display: inline-block;margin-top: 40px;color:white" href="{f:if(condition:link.then:'{f:uri.typolink(parameter:link)}',else:'javascript:window.history.back()')}" class="page-backlink" title="{title}">
				<img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/back.svg" class="img-back" alt="{f:if(condition:title,then:title,else:'zur Übersicht')}" style="margin-right:10px" />{f:if(condition:title,then:' {title}')}
			</a>
		</div>
	</f:section>

	<f:section name="Main">
		<a class="tile tile-back tile-single" href="">
			{f:if(condition:title,then:' {title -> v:format.replace(substring:\'myheco\',replacement:\'<span class="myheco"><em>my</em>heco</span>\') -> f:format.raw()}')}
		</a>
	</f:section>
	
</div>