<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_contactelement') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="contactelement" label="{ll}:flux.contactelement.label" description="{ll}:flux.contactelement.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.contactelement.sheet.content">
				<flux:field.inline.fal collapseAll="true"
									   name="image"
									   label="{ll}:flux.contactelement.fields.image"
									   createNewRelationLinkTitle="{ll}:flux.contactelement.fields.chooseImage"
									   required="1"
									   allowedExtensions="jpg,png,svg"
									   maxItems="1"
									   minItems="1"
				/>
				<flux:field.input name="name"
								  label="{ll}:flux.contactelement.fields.name"
								  required="1"
				/>
				<flux:field.input name="title"
								  label="{ll}:flux.contactelement.fields.title"
				/>
				<flux:field.input name="phone"
								  label="{ll}:flux.contactelement.fields.phone"
				/>
				<flux:field.input name="mail"
								  eval="email"
								  label="{ll}:flux.contactelement.fields.mail"
				/>
				<flux:field.input name="text"
								  label="{ll}:flux.contactelement.fields.text"
				/>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<div>
			<div>
				<div class="row">
					<div class="col-sm-12">
						<div class="contactperson"><f:translate key="{ll}:flux.contactelement.fields.contactPerson" /></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
						<f:if condition="{image}">
							<f:then>
								<f:image src="{image.id}" treatIdAsReference="1" width="160c" title="{name}" alt="{name}" class="img-fluid" />
							</f:then>
						</f:if>
					</div>
					<div class="col-sm-9">
						<strong><div>{name}</div></strong>
						<f:if condition="{title}">
							<div>{title}</div>
						</f:if>
						<f:if condition="{phone}">
							<div>{phone}</div>
						</f:if>
						<f:if condition="{mail}">
							<div>{mail}</div>
						</f:if>
					</div>
				</div>
			</div>
		</div>
	</f:section>

	<f:section name="Main">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<div class="contactelement">
			<div class="row">
				<div class="col-lg-6 col-xl-6 col-left">
					<div class="text">{text}</div>
				</div>
				<div class="d-none d-xl-flex col-xl-1"></div>
				<div class="col-lg-6 col-xl-5 col-right">
					<div class="row">
						<div class="col-sm-12">
							<div class="contactperson"><f:translate key="{ll}:flux.contactelement.fields.contactPerson" /></div>
						</div>
					</div>
					<div class="row row-contactbox">
						<div class="col-9 offset-1 col-lg-11 offset-lg-0 col-contactbox">
							<div class="contactbox">
								{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
								<f:if condition="{image}">
									<f:then>
										<f:image src="{image.id}" treatIdAsReference="1" width="160c" title="{name}" alt="{name}" class="img-contact" />
									</f:then>
								</f:if>
								<div class="contactinfo">
									<div class="name">{name}&nbsp;</div>
									<div class="title">{title}&nbsp;</div>
									<div class="phone"><f:if condition="{phone}"><f:translate key="{ll}:flux.contactelement.fields.phoneText" /> <a href="tel:{phone}">{phone}</a></f:if>&nbsp;</div>
									<div class="email"><f:if condition="{mail}">{f:link.email(email:mail)}</f:if>&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:section>
	
</div>