<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_contactbox') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="contactbox" label="{ll}:flux.contactbox.label" description="{ll}:flux.contactbox.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.contactbox.sheet.content">
				<flux:field.inline.fal collapseAll="true"
									   name="image"
									   label="{ll}:flux.contactbox.fields.image"
									   createNewRelationLinkTitle="{ll}:flux.contactbox.fields.chooseImage"
									   required="1"
									   allowedExtensions="jpg,png,svg"
									   maxItems="1"
									   minItems="1"
				/>
				<flux:field.input name="name"
								  label="{ll}:flux.contactbox.fields.name"
								  required="1"
				/>
				<flux:field.input name="title"
								  label="{ll}:flux.contactbox.fields.title"
				/>
				<flux:field.input name="phone"
								  label="{ll}:flux.contactbox.fields.phone"
				/>
				<flux:field.input name="mail"
								  eval="email"
								  label="{ll}:flux.contactbox.fields.mail"
				/>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<div>
			<div>
				<div class="row">
					<div class="col-sm-3">
						{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
						<f:if condition="{image}">
							<f:then>
								<f:image src="{image.id}" treatIdAsReference="1" width="160c" title="{name}" alt="{name}" class="img-fluid" />
							</f:then>
						</f:if>
					</div>
					<div class="col-sm-9">
						<strong><div>{name}</div></strong>
						<f:if condition="{title}">
							<div>{title}</div>
						</f:if>
						<f:if condition="{phone}">
							<div>{phone}</div>
						</f:if>
						<f:if condition="{mail}">
							<div>{mail}</div>
						</f:if>
					</div>
				</div>
			</div>
		</div>
	</f:section>

	<f:section name="Main">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<div>
			<div class="row">
				<div class="col-sm-3">
					{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
					<f:if condition="{image}">
						<f:then>
							<f:image src="{image.id}" treatIdAsReference="1" width="160c" title="{name}" alt="{name}" class="img-fluid" />
						</f:then>
					</f:if>
				</div>
				<div class="col-sm-9">
					<div><strong>{name}</strong></div>
					<f:if condition="{title}">
						<div>{title}</div>
					</f:if>
					<f:if condition="{phone}">
						<div><f:translate key="{ll}:flux.contactbox.fields.phoneText" /> {phone}</div>
					</f:if>
					<f:if condition="{mail}">
						<div>{mail}</div>
					</f:if>
				</div>
			</div>
		</div>
	</f:section>
	
</div>