<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_contactboxslides') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="contactboxslides" label="{ll}:flux.contactboxslides.label" description="{ll}:flux.contactboxslides.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.contactboxslides.sheet.content">
				<flux:form.section name="elements" label="{ll}:flux.contactboxslides.fields.elements">
					<flux:form.object name="element" label="{ll}:flux.contactboxslides.fields.element">
						<flux:field.input name="name"
										  label="{ll}:flux.contactboxslides.fields.name"
										  required="1"
						/>
						<flux:field.input name="title"
										  label="{ll}:flux.contactboxslides.fields.title"
						/>
						<flux:field.input name="phone"
										  label="{ll}:flux.contactboxslides.fields.phone"
						/>
						<flux:field.input name="mail"
										  eval="email"
										  label="{ll}:flux.contactboxslides.fields.mail"
						/>
						<flux:field.file allowed="jpg,png,gif,svg" name="image" label="{ll}:flux.contactboxslides.fields.image" useFalRelation="1" showThumbnails="1" />
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<f:if condition="{elements}">
			<div class="row" style="margin-top: 10px">
				<f:for each="{elements}" as="element" iteration="iteration">
					<f:alias map="{item: element.element}">
						<div class="col-sm-4">
							<div class="row">
								<div class="col-sm-3">
									<f:if condition="{item.image} && {v:condition.string.isNumeric(then:1,else:0,value:item.image)}">
										<f:then>
											<f:image src="file:{item.image}" title="{item.name}" alt="{item.name}" class="img-fluid" />
										</f:then>
									</f:if>
								</div>
								<div class="col-sm-9">
									<div><strong>{item.name}</strong></div>
									<f:if condition="{item.title}">
										<div>{item.title}</div>
									</f:if>
									<f:if condition="{item.phone}">
										<div><f:translate key="{ll}:flux.contactboxslides.fields.phoneText" /> {item.phone}</div>
									</f:if>
									<f:if condition="{item.mail}">
										<div>{item.mail}</div>
									</f:if>
								</div>
							</div>
						</div>
					</f:alias>
				</f:for>
			</div>
		</f:if>
	</f:section>

	<f:section name="Main">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<f:if condition="{elements}">
			<div class="row row-contactbox">
				<f:for each="{elements}" as="element" iteration="iteration">
					<f:alias map="{item: element.element}">
						<div class="col-12 col-md-6 col-xl-4 col-contactbox">
							<div class="contactbox">
								<f:if condition="{item.image} && {v:condition.string.isNumeric(then:1,else:0,value:item.image)}">
									<f:then>
										<f:image src="file:{item.image}" title="{item.name}" alt="{item.name}" class="img-contact" />
									</f:then>
								</f:if>
								<div class="contactinfo">
									<div class="name">{item.name -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}&nbsp;</div>
									<div class="title">{item.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}&nbsp;</div>
									<div class="phone"><f:if condition="{item.phone}"><f:translate key="{ll}:flux.contactboxslides.fields.phoneText" /> <a href="tel:{item.phone}">{item.phone}</a></f:if>&nbsp;</div>
									<div class="email"><f:if condition="{item.mail}">{f:link.email(email:item.mail)}</f:if>&nbsp;</div>
								</div>
							</div>
						</div>
					</f:alias>
				</f:for>
			</div>
		</f:if>
	</f:section>
	
</div>