<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_exhibitioncalendar') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="exhibitioncalendar" label="{ll}:flux.exhibitioncalendar.label" description="{ll}:flux.exhibitioncalendar.description" enabled="{contentSettings.enabled}">
			<f:if condition="{colcount}<1">
				<v:variable.set name="colcount" value="1" />
			</f:if>
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="calendar" label="{ll}:flux.exhibitioncalendar.sheet.calendar">
				<flux:form.section name="employees" label="{ll}:flux.exhibitioncalendar.fields.employees">
					<flux:form.object name="employee" label="{ll}:flux.exhibitioncalendar.fields.employee">
						<flux:field.input name="name"
										  label="{ll}:flux.exhibitioncalendar.fields.name"
										  required="1"
						/>
						<flux:field.input name="title"
										  label="{ll}:flux.exhibitioncalendar.fields.title"
						/>
						<flux:field.input name="phone"
										  label="{ll}:flux.exhibitioncalendar.fields.phone"
						/>
						<flux:field.input name="mail"
										  eval="email"
										  label="{ll}:flux.exhibitioncalendar.fields.mail"
						/>
						<flux:field.file name="image" label="{ll}:flux.exhibitioncalendar.fields.image" useFalRelation="1" showThumbnails="1" />
						<v:iterator.for from="1" to="12" iteration="i">
							<v:variable.set name="label" value="{v:variable.get(name: 'th_col_{i.cycle}')}" />
							<f:if condition="{label}==''">
								<f:then>
									<v:variable.set name="label" value="{f:translate(key:'{ll}:flux.exhibitioncalendar.fields.row.label')} {i.cycle}" />
								</f:then>
								<f:else>
									<v:variable.set name="label" value="{label->f:format.date(format:'%a %d.%m.%Y')}" />
								</f:else>
							</f:if>
							<flux:field.checkbox displayCond="FIELD:days.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}" />
						</v:iterator.for>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="days" label="{ll}:flux.exhibitioncalendar.sheet.days" description="{ll}:flux.exhibitioncalendar.sheet.days.hint">
				<flux:field.select name="colcount" label="{ll}:flux.exhibitioncalendar.fields.colcount" items="{1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12}" default="{contentSettings.defaults.colcount}" requestUpdate="1" />
				<v:iterator.for from="1" to="12" iteration="i">
					<flux:field.input eval="date" displayCond="FIELD:days.colcount:>=:{i.cycle}" name="th_col_{i.cycle}" label="{f:translate(key:'{ll}:flux.exhibitioncalendar.fields.header.name')} {i.cycle}" requestUpdate="1" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.header')}" />
				</v:iterator.for>
			</flux:form.sheet>
		</flux:form>
		
	</f:section>
	
	<f:section name="Table">		
		<div class="table-responsive">
			<table class="table table-striped"<f:if condition="{preview}"> style="margin-bottom:0px"</f:if>>			
				<thead>
					<tr>
						<th></th>
						<v:iterator.for from="1" to="{colcount}" iteration="i">
							<f:spaceless>
								<v:variable.set name="label" value="{v:variable.get(name: 'th_col_{i.cycle}')}" />
								<f:if condition="{label}!=''">
									<v:variable.set name="label" value="{label->f:format.date(format:'%a %d.%m.')}" />
								</f:if>
							</f:spaceless>
							<th class="text-center">{label}</th>
						</v:iterator.for>
					</tr>
				</thead>
				<tbody>
					<f:for each="{employees}" as="employee" iteration="iteration">
						<tr>
							<td class="employee">
								<div class="employee">
									<div class="employee-image"<f:if condition="{preview}"> style="display:inline-block;max-width:109px;float:left;margin-right:10px;"</f:if>>
										<f:if condition="{employee.employee.image} && {v:condition.string.isNumeric(then:1,else:0,value:employee.employee.image)}">
											<f:then>
												<f:image src="file:{employee.employee.image}" title="{employee.employee.name}" alt="{employee.employee.name}" class="img-{f:if(condition:preview,then:'fluid',else:'employee')}" />
											</f:then>
										</f:if>
									</div>
									<div class="employee-info"<f:if condition="{preview}"> style="display:inline-block"</f:if>>
										<div class="name">{employee.employee.name}&nbsp;</div>
										<div class="title">{employee.employee.title}&nbsp;</div>
										<div class="phone"><f:if condition="{employee.employee.phone}">{f:translate(key:'{ll}:flux.exhibitioncalendar.fields.phone.label')} <a href="tel:{employee.employee.phone}">{employee.employee.phone}</a></f:if>&nbsp;</div>
										<div class="email"><f:if condition="{employee.employee.mail}">{f:link.email(email:employee.employee.mail)}</f:if>&nbsp;</div>
									</div>
								</div>
							</td>
							<v:iterator.for from="1" to="{colcount}" iteration="i">
								<f:spaceless>
									<v:variable.set name="value" value="{v:variable.get(name: 'employee.employee.td_col_{i.cycle}')}" />
								</f:spaceless>
								<td class="text-center"><f:if condition="{value}"><span class="cross">&#10005;</span></f:if></td>
							</v:iterator.for>
						</tr>
					</f:for>						
				</tbody>
			</table>
		</div>
	</f:section>
	
	<f:section name="Preview"><v:variable.set name="preview" value="1" /><f:render section="Table" arguments="{_all}" /></f:section>
	<f:section name="Main">{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}<f:render section="Table" arguments="{_all}" /></f:section>
	
</div>