<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_graytile') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="graytile" label="{ll}:flux.graytile.label" description="{ll}:flux.graytile.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.graytile.sheet.content">
				<flux:field.select name="height"
								   label="{ll}:flux.graytile.fields.height"
								   items="{
                                              0:{0:'{ll}:flux.graytile.fields.height.1',1:'1'},
                                              1:{0:'{ll}:flux.graytile.fields.height.2',1:'2'}
                                          }"
								   required="1"
								   default="{contentSettings.defaults.height}"
				/>
				<flux:field.input name="title"
								  label="{ll}:flux.graytile.fields.title"
								  required="1"
				/>
				<flux:field.input name="subtitle"
								  label="{ll}:flux.graytile.fields.subtitle"
				/>
				<flux:field.text name="text"
								  label="{ll}:flux.graytile.fields.text"
				/>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		<div style="text-align: center; margin:-10px; padding:10px; background-color: rgba(229,229,229,1); height: {f:if(condition: '{height}==2', then: '418px', else: '200px')}">
			<div><strong>{title}</strong></div>
			<div><strong>{subtitle}</strong></div>
			<div>{text -> f:format.nl2br()}</div>
		</div>
	</f:section>

	<f:section name="Main">
		<div class="tile tile-gray tile-{f:if(condition: '{height}==2', then: 'double', else: 'single')}">
			<h2>{title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</h2>
			<h3>{subtitle -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</h3>
			<div class="text">{text -> f:format.nl2br() -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</div>
		</div>
	</f:section>
	
</div>