<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="ContentNoHeaderLayout" />

    <f:section name="Configuration">
        {v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_hecocolumns') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
        <flux:form id="hecocolumns" label="{ll}:flux.hecoColumns.label" description="{ll}:flux.hecoColumns.description" enabled="{contentSettings.enabled}">
            <flux:form.option.group value="Heco" />
            <flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
            <flux:form.sheet name="configuration" label="{ll}:flux.hecoColumns.sheet.configuration">
                <flux:field.select name="split"
                                   label="{ll}:flux.hecoColumns.fields.split"
                                   items="{contentSettings.splits}"
                                   default="{contentSettings.defaults.split}"
                />
                <flux:field.checkbox name="backendSplit"
                                     label="{ll}:flux.hecoColumns.fields.backendSplit"
                                     default="{contentSettings.defaults.backendSplit}"
                />
                <v:variable.set name="cols" value="{v:iterator.explode(content:split,glue:'-')}" />
                <flux:grid>
                    <flux:grid.row>
                        <flux:grid.column colPos="0" colspan="{f:if(condition:backendSplit,then:cols.0,else:1)}" name="col1" label="Spalte 1"/>
                        <flux:grid.column colPos="1" colspan="{f:if(condition:backendSplit,then:cols.1,else:1)}" name="col2" label="Spalte 2"/>
                        <f:if condition="{cols.2}">
                            <flux:grid.column colPos="2" colspan="{f:if(condition:backendSplit,then:cols.2,else:1)}" name="col3" label="Spalte 3"/>
                        </f:if>
                        <f:if condition="{cols.3}">
                            <flux:grid.column colPos="3" colspan="{f:if(condition:backendSplit,then:cols.3,else:1)}" name="col4" label="Spalte 4"/>
                        </f:if>
                    </flux:grid.row>
                </flux:grid>
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview"></f:section>

    <f:section name="Main">
        <div class="row row-{split}">
            <f:switch expression="{split}">
                <f:case value="3-6-3">
                    <div class="col-12 col-md-6 col-lg-3">
                        <flux:content.render area="col1"/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <flux:content.render area="col2"/>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3">
                        <flux:content.render area="col3"/>
                    </div>
                </f:case>
                <f:case value="6-3-3">
                    <div class="col-12 col-md-12 col-lg-6">
                        <flux:content.render area="col1"/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <flux:content.render area="col2"/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <flux:content.render area="col3"/>
                    </div>
                </f:case>
                <f:case value="3-3-6">
                    <div class="col-12 col-md-6 col-lg-3">
                        <flux:content.render area="col1"/>
                    </div>
                    <div class="col-12 col-md-6  col-lg-3">
                        <flux:content.render area="col2"/>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6">
                        <flux:content.render area="col3"/>
                    </div>
                </f:case>
                <f:case value="3-3-3-3">
                    <div class="col-12 col-md-6 col-lg-3">
                        <flux:content.render area="col1"/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <flux:content.render area="col2"/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <flux:content.render area="col3"/>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <flux:content.render area="col4"/>
                    </div>
                </f:case>
                <f:defaultCase>
                    <div class="col-12 col-md-6">
                        <flux:content.render area="col1"/>
                    </div>
                    <div class="col-12 col-md-6">
                        <flux:content.render area="col2"/>
                    </div>
                </f:defaultCase>
            </f:switch>
        </div>
    </f:section>

</div>