<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_linklist') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="linklist" label="{ll}:flux.linklist.label" description="{ll}:flux.linklist.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.linklist.sheet.content">
				<flux:form.section name="elements" label="{ll}:flux.linklist.fields.elements">
					<flux:form.object name="element" label="{ll}:flux.linklist.fields.element">
						<flux:field.input name="link"
										  label="LLL:flux.linklist.fields.link"
										  required="1">
							<flux:wizard.link activeTab="url" />
						</flux:field.input>
						<flux:field.input name="title"
										 label="{ll}:flux.linklist.fields.title"
										 required="0"
						/>
						<flux:field.file name="file" label="{ll}:flux.linklist.fields.file" useFalRelation="1" showThumbnails="1" />
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<f:if condition="{elements}">
			<div class="linklist">
				<f:for each="{elements}" as="element" iteration="iteration">
					<f:alias map="{item: element.element}">
						<a href="{f:uri.typolink(parameter:item.link)}" style="display:block">
							{f:if(condition: '{item.title}', then: '{item.title}', else: '{f:uri.typolink(parameter:item.link)}')}
						</a>
					</f:alias>
				</f:for>
			</div>
		</f:if>
	</f:section>

	<f:section name="List">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<f:if condition="{elements}">
			<div class="linklist">
				<f:for each="{elements}" as="element" iteration="iteration">
					<f:alias map="{item: element.element}">
						<f:link.typolink parameter="{item.link}" class="link">
							{f:if(condition: '{item.title}', then: '{item.title -> v:format.replace(substring:\'myheco\',replacement:\'<span class="myheco"><em>my</em>heco</span>\') -> f:format.raw()}', else: '{f:uri.typolink(parameter:item.link)}')}
						</f:link.typolink>
					</f:alias>
				</f:for>
			</div>
		</f:if>
	</f:section>

	<f:section name="Main">
		<f:render section="List" arguments="{_all}" />
	</f:section>
	
</div>