<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_linkelement') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="linkelement" label="{ll}:flux.linkelement.label" description="{ll}:flux.linkelement.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.linkelement.sheet.content">
				<flux:field.select name="height"
								   label="{ll}:flux.linkelement.fields.height"
								   items="{
                                              0:{0:'{ll}:flux.linkelement.fields.height.1',1:'1'},
                                              1:{0:'{ll}:flux.linkelement.fields.height.2',1:'2'}
                                          }"
								   required="1"
								   default="{contentSettings.defaults.height}"
				/>
				<flux:field.input name="link"
								  label="LLL:flux.linkelement.fields.link"
								  required="1">
					<flux:wizard.link activeTab="url" />
				</flux:field.input>
				<flux:field.text name="title"
								  label="{ll}:flux.linkelement.fields.title"
								  required="0"
				/>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		<a href="{f:uri.typolink(parameter:link)}" style="vertical-align:middle;display:flex;align-items:center;justify-content:center;text-align:center;margin:-10px;padding:10px;background-color:rgba(229,229,229,1);color:rgba(0,93,157,1);height: {f:if(condition: '{height}==2', then: '150px', else: '75px')}">
			<span style="font-weight: bold">{f:if(condition: '{title}', then: '{title -> f:format.nl2br()}', else: '{f:uri.typolink(parameter: link)}')}</span>
		</a>
	</f:section>

	<f:section name="Main">
		<f:link.typolink parameter="{link}" class="tile tile-link tile-{f:if(condition: '{height}==2', then: 'double', else: 'single')}">{f:if(condition: '{title}', then: '{title -> f:format.nl2br()  -> v:format.replace(substring:\'myheco\',replacement:\'<span class="myheco"><em>my</em>heco</span>\') -> f:format.raw()}', else: '{f:uri.typolink(parameter: link)}')}</f:link.typolink>
	</f:section>
	
</div>