<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_locationbox') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="locationbox" label="{ll}:flux.locationbox.label" description="{ll}:flux.locationbox.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="common" label="{ll}:flux.locationbox.sheet.common">
				<flux:field.inline.fal collapseAll="true"
									   name="image"
									   label="{ll}:flux.locationbox.fields.image"
									   createNewRelationLinkTitle="{ll}:flux.locationbox.fields.chooseImage"
									   required="1"
									   allowedExtensions="jpg,png,svg"
									   maxItems="1"
									   minItems="1"
				/>
				<flux:field.input name="phone"
								  label="{ll}:flux.locationbox.fields.phone"
				/>
				<flux:field.input name="mail"
								  label="{ll}:flux.locationbox.fields.mail"
				/>
				<flux:field.input name="link"
								  label="LLL:flux.locationbox.fields.link"
								  required="0">
					<flux:wizard.link activeTab="url" />
				</flux:field.input>
			</flux:form.sheet>
			<flux:form.sheet name="address1" label="{ll}:flux.locationbox.sheet.address1">
				<flux:field.input name="address1.title"
								  label="{ll}:flux.locationbox.fields.title"
								  required="1"
				/>
				<flux:field.input name="address1.name"
								  label="{ll}:flux.locationbox.fields.name"
				/>
				<flux:field.input name="address1.street"
								  label="{ll}:flux.locationbox.fields.street"
				/>
				<flux:field.input name="address1.city"
								  label="{ll}:flux.locationbox.fields.city"
				/>
			</flux:form.sheet>
			<flux:form.sheet name="address2" label="{ll}:flux.locationbox.sheet.address2">
				<flux:field.input name="address2.title"
								  label="{ll}:flux.locationbox.fields.title"
				/>
				<flux:field.input name="address2.name"
								  label="{ll}:flux.locationbox.fields.name"
				/>
				<flux:field.input name="address2.street"
								  label="{ll}:flux.locationbox.fields.street"
				/>
				<flux:field.input name="address2.city"
								  label="{ll}:flux.locationbox.fields.city"
				/>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<div class="row">
			<div class="col-sm-4">
				{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
				<f:if condition="{image}">
					<f:then>
						<f:image src="{image.id}" treatIdAsReference="1" width="160c" title="{img.title}" alt="{name}" class="img-responsive" />
					</f:then>
				</f:if>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">
						<div><strong>{address1.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</strong></div>
						<f:if condition="{address1.name}">
							<div>{address1.name -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</div>
						</f:if>
						<f:if condition="{address1.street}">
							<div>{address1.street}</div>
						</f:if>
						<f:if condition="{address1.city}">
							<div>{address1.city}</div>
						</f:if>
					</div>
					<f:if condition="{address2.title}">
						<div class="col-sm-4">
							<div><strong>{address2.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</strong></div>
							<f:if condition="{address2.name}">
								<div>{address2.name -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</div>
							</f:if>
							<f:if condition="{address2.street}">
								<div>{address2.street}</div>
							</f:if>
							<f:if condition="{address2.city}">
								<div>{address2.city}</div>
							</f:if>
						</div>
					</f:if>
				</div>
				<div class="row">
					<div class="{f:if(condition: '{address2.title}', then: 'col-sm-8', else: 'col-sm-4')}">
						<f:if condition="{phone}">
							<div>{phone}</div>
						</f:if>
						<f:if condition="{mail}">
							<div>{mail}</div>
						</f:if>
						<f:if condition="{link}">
							<v:variable.set name="title" value="{link->v:iterator.explode(glue:' ')->v:iterator.last()}" />
							<div>
								<f:link.typolink parameter="{link}">{title}</f:link.typolink>
							</div>
						</f:if>
					</div>
				</div>
			</div>
		</div>
	</f:section>

	<f:section name="Main">
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<div class="row row-locationbox" >
			<div class="col-12 col-md-4 col-locationbox">
				{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
				<div class="locationbox-image">
					<f:if condition="{image}">
						<f:then>
							<f:image src="{image.id}" treatIdAsReference="1" title="{img.title}" alt="{name}" class="img-fluid img-location" />
						</f:then>
					</f:if>
				</div>
			</div>
			<div class="col-12 col-md-8 col-locationbox">
				<div class="locationbox-wrap">
					<div class="row row-locationbox-address">
						<div class="col-sm-6 col-locationbox-address" >
							<div class="locationbox-address">
								<div class="title">{address1.title}</div>
								<f:if condition="{address1.name}">
									<div class="name">{address1.name}</div>
								</f:if>
								<f:if condition="{address1.street}">
									<div class="street">{address1.street}</div>
								</f:if>
								<f:if condition="{address1.city}">
									<div class="city">{address1.city}</div>
								</f:if>
							</div>
						</div>
						<div class="col-sm-6 col-locationbox-address">
							<div class="locationbox-address">
								<div class="title">{address2.title}</div>
								<f:if condition="{address2.name}">
									<div class="name">{address2.name}</div>
								</f:if>
								<f:if condition="{address2.street}">
									<div class="street">{address2.street}</div>
								</f:if>
								<f:if condition="{address2.city}">
									<div class="city">{address2.city}</div>
								</f:if>
							</div>
						</div>
					</div>
					<div class="row row-locationbox-contact">
						<div class="col-sm-{f:if(condition:'{address2.title}',then:'12', else: '6')} col-locationbox-contact">
							<div class="locationbox-contact">
								<f:if condition="{phone}">
									<div class="phone"><span class="label"><f:translate key="{ll}:flux.locationbox.fields.phoneText" /></span> <a href="tel:{phone}">{phone}</a></div>
								</f:if>
								<f:if condition="{mail}">
									<div class="mail"><span class="label"><f:translate key="{ll}:flux.locationbox.fields.mailText" /></span> {f:link.email(email:mail)}</div>
								</f:if>
								<f:if condition="{link}">
									<v:variable.set name="title" value="{link->v:iterator.explode(glue:' ')->v:iterator.last()}" />
									<div class="url">
										<span class="label"><f:translate key="{ll}:flux.locationbox.fields.linkText" /></span> <f:link.typolink parameter="{link}">{f:if(condition:'{title}!=\'_blank\'',then:title)}</f:link.typolink>
									</div>
								</f:if>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:section>
	
</div>