<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_socialtile') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="socialtile" label="{ll}:flux.socialtile.label" description="{ll}:flux.socialtile.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.socialtile.sheet.content">
				<flux:field.select name="height"
								   label="{ll}:flux.socialtile.fields.height"
								   items="{
                                              0:{0:'{ll}:flux.socialtile.fields.height.1',1:'1'},
                                              1:{0:'{ll}:flux.socialtile.fields.height.2',1:'2'}
                                          }"
								   required="1"
								   default="{contentSettings.defaults.height}"
				/>
				<flux:field.inline.fal collapseAll="true"
									   name="image"
									   label="{ll}:flux.socialtile.fields.image"
									   createNewRelationLinkTitle="{ll}:flux.socialtile.fields.chooseImage"
									   required="1"
									   allowedExtensions="jpg,png,svg"
									   maxItems="1"
									   minItems="1"
				/>
				<flux:field.select name="colorScheme"
								   label="{ll}:flux.socialtile.fields.colorScheme"
								   items="{
                                              0:{0:'{ll}:flux.socialtile.fields.colorScheme.light',1:'1'},
                                              1:{0:'{ll}:flux.socialtile.fields.colorScheme.dark',1:'2'}
                                          }"
								   required="1"
								   default="{contentSettings.defaults.colorScheme}"
				/>
				<flux:field.input name="title"
								  label="{ll}:flux.socialtile.fields.title"
				/>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
		<div style="margin:-10px;padding:10px;background-image: url('/{image.url}'); background-size: cover; color: {f:if(condition: '{colorScheme}==1', then: 'white', else: 'gray')}; height: {f:if(condition: '{height}==2', then: '418px', else: '200px')}">
			<div>{title}</div>
			<f:link.page pageUid="95" target="_blank" class="tile-sociallink facebook" title="Facebook">
				<img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/facebook.svg" class="img-logo img-fluid" alt="Facebook">
			</f:link.page>
			<f:link.page pageUid="96" target="_blank" class="tile-sociallink youtube" title="YouTube">
				<img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/youtube.svg" class="img-logo img-fluid" alt="YouTube">
			</f:link.page>
			<f:link.page pageUid="97" target="_blank" class="tile-sociallink blog" title="Wordpress">
				<img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/wpblog.svg" class="img-logo img-fluid" alt="Wordpress">
			</f:link.page>
		</div>
	</f:section>

	<f:section name="Main">
		{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
		<div class="tile tile-social tile-{f:if(condition: '{colorScheme}==1', then: 'light', else: 'dark')} tile-{f:if(condition: '{height}==2', then: 'double', else: 'single')}">
			<img src="{image.url}" class="img-tile" title="{title}"/>
			<div class="tile-overlay hover">
				<div class="title">{title}</div>
				<div class="tile-hover">
					<f:link.page pageUid="95" target="_blank" class="tile-sociallink facebook" title="Facebook">
						<img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/facebook.svg" class="img-logo img-fluid" alt="Facebook">
					</f:link.page>
					<f:link.page pageUid="96" target="_blank" class="tile-sociallink youtube" title="YouTube">
						<img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/youtube.svg" class="img-logo img-fluid" alt="YouTube">
					</f:link.page>
					<f:link.page pageUid="97" target="_blank" class="tile-sociallink blog" title="Wordpress">
						<img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/wpblog.svg" class="img-logo img-fluid" alt="Wordpress">
					</f:link.page>
				</div>
			</div>
		</div>
	</f:section>
	
</div>