<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_teaser') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="teaser" label="{ll}:flux.teaser.label" description="{ll}:flux.teaser.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.teaser.sheet.content">
				<flux:field.inline.fal collapseAll="true"
									   name="image"
									   label="{ll}:flux.teaser.fields.image"
									   createNewRelationLinkTitle="{ll}:flux.teaser.fields.chooseImage"
									   required="1"
									   allowedExtensions="jpg,png,svg"
									   maxItems="1"
									   minItems="1"
				/>
				<flux:field.select name="colorScheme"
								   label="{ll}:flux.teaser.fields.colorScheme"
								   items="{
                                              0:{0:'{ll}:flux.teaser.fields.colorScheme.light',1:'1'},
                                              1:{0:'{ll}:flux.teaser.fields.colorScheme.dark',1:'2'}
                                          }"
								   required="1"
								   default="{contentSettings.defaults.colorScheme}"
				/>
				<flux:field.input name="title"
								  label="{ll}:flux.teaser.fields.title"
				/>
				<flux:field.input name="subtitle"
								  label="{ll}:flux.teaser.fields.subtitle"
				/>
				<flux:field.text name="text"
								 label="{ll}:flux.teaser.fields.text"
								 clear="1"
								 enableRichText="1"
				/>
				<f:comment>
					<flux:field.input name="linkText"
									  label="{ll}:flux.teaser.fields.linkText"
									  default="{contentSettings.defaults.linkText}"
					/>
					<flux:field.input name="linkTarget"
									  label="{ll}:flux.teaser.fields.linkTarget">
						<flux:wizard.link activeTab="Page"
										  label="{ll}:flux.teaser.fields.linkTarget"
						/>
					</flux:field.input>
				</f:comment>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
		<div style="margin:-10px;padding:10px;background-image: url('/{image.url}'); background-size: cover; color: {f:if(condition: '{colorScheme}==1', then: 'white', else: 'gray')}; height:418px">
			<div>{title}</div>
			<f:if condition="{subtitle}">
				<f:then>
					<div>{subtitle}</div>
				</f:then>
			</f:if>
		</div>
	</f:section>

	<f:section name="Main">
		{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
		<div class="teaser teaser-{f:if(condition: '{colorScheme}==1', then: 'light', else: 'dark')}">
			<f:image src="{image.url}" treatIdAsReference="1" maxHeight="400" class="img-teaser" title="{title}" />
			<div class="teaser-overlay">
				<div class="title">{title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</div>
				<div class="subtitle">{subtitle -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</div>
				<f:if condition="{text}">
					<div class="text">{text -> f:format.html()}</div>
				</f:if>
			</div>
		</div>
	</f:section>
	
</div>