<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentNoHeaderLayout" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.contents.mooxtemplateheco_tile') -> v:variable.set(name: 'contentSettings')}
		{v:variable.set(value:"LLL:EXT:moox_template_heco/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="tile" label="{ll}:flux.tile.label" description="{ll}:flux.tile.description" enabled="{contentSettings.enabled}">
			<flux:form.option.group value="Heco" />
			<flux:form.option.icon value="EXT:moox_template_heco/ext_icon.svg" />
			<flux:form.sheet name="content" label="{ll}:flux.tile.sheet.content">
				<flux:field.select name="height"
								   label="{ll}:flux.tile.fields.height"
								   items="{
                                              0:{0:'{ll}:flux.tile.fields.height.1',1:'1'},
                                              1:{0:'{ll}:flux.tile.fields.height.2',1:'2'}
                                          }"
								   required="1"
								   default="{contentSettings.defaults.height}"
				/>
				<flux:field.inline.fal collapseAll="true"
									   name="image"
									   label="{ll}:flux.tile.fields.image"
									   createNewRelationLinkTitle="{ll}:flux.tile.fields.chooseImage"
									   required="1"
									   allowedExtensions="jpg,png,svg"
									   maxItems="1"
									   minItems="1"
				/>
				<flux:field.select name="colorScheme"
								   label="{ll}:flux.tile.fields.colorScheme"
								   items="{
                                              0:{0:'{ll}:flux.tile.fields.colorScheme.light',1:'1'},
                                              1:{0:'{ll}:flux.tile.fields.colorScheme.dark',1:'2'}
                                          }"
								   required="1"
								   default="{contentSettings.defaults.colorScheme}"
				/>
				<flux:field.input name="title"
								  label="{ll}:flux.tile.fields.title"
				/>
				<flux:field.input name="subtitle"
								  label="{ll}:flux.tile.fields.subtitle"
				/>
				<flux:field.text name="text"
								 label="{ll}:flux.tile.fields.text"
								 clear="1"
								 enableRichText="1"
				/>
				<flux:field.input name="linkText"
								  label="{ll}:flux.tile.fields.linkText"
								  default="{contentSettings.defaults.linkText}"
				/>
				<flux:field.input name="linkTarget"
								  label="{ll}:flux.tile.fields.linkTarget">
					<flux:wizard.link activeTab="Page"
									  label="{ll}:flux.tile.fields.linkTarget"
					/>
				</flux:field.input>
			</flux:form.sheet>
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
		<div style="margin:-10px;padding:10px;background-image: url('/{image.url}'); background-size: cover; color: {f:if(condition: '{colorScheme}==1', then: 'white', else: 'gray')}; height: {f:if(condition: '{height}==2', then: '418px', else: '200px')}">
			<div>{title}</div>
			<f:if condition="{subtitle}">
				<f:then>
					<div>{subtitle}</div>
				</f:then>
			</f:if>
		</div>
	</f:section>

	<f:section name="Main">
		{v:content.resources.fal(field:'image',record:record) -> v:iterator.first() -> v:variable.set(name: 'image')}
		<div class="tile tile-{f:if(condition: '{colorScheme}==1', then: 'light', else: 'dark')} tile-{f:if(condition: '{height}==2', then: 'double', else: 'single')}">
			<f:image src="{image.url}" treatIdAsReference="1" maxHeight="{f:if(condition:'{height}==2',then:552,else:267)}" class="img-tile" title="{title}" />
			<f:if condition="{linkTarget}">
				<f:then>
					<a class="tile-overlay{f:if(condition:'{title} || {text}',then:' hover')}" href="{f:uri.typolink(parameter:linkTarget)}">
				</f:then>
				<f:else>
					<div class="tile-overlay{f:if(condition:'{title} || {text}',then:' hover')}">
				</f:else>
			</f:if>
			<h2 class="title">{title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</h2>
			<h3 class="subtitle">{subtitle -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</h3>
			<f:if condition="{title} || {text}">
				<div class="tile-hover">
					<f:if condition="{text}">
						<f:then>
							<div class="text"><f:format.html>{text}</f:format.html></div>
						</f:then>
					</f:if>
					<f:if condition="{linkTarget}">
						<f:then>
							<span class="link">{f:if(condition: '{linkText}', then: '{linkText}', else: '{f:uri.typolink(parameter: linkTarget)}')}<i class="fa fa-caret-right" aria-hidden="true"></i></span>
						</f:then>
					</f:if>
				</div>
			</f:if>
			<f:if condition="{linkTarget}">
				<f:then>
					</a>
				</f:then>
				<f:else>
					</div>
				</f:else>
			</f:if>
		</div>
	</f:section>
	
</div>