<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:layout name="{f:if(condition:refresh,then:'Ajax',else:'Mod4')}" />
	<f:section name="ajax"><f:render partial="Module/Mod4/List/Body" arguments="{_all}" /></f:section>
	<f:section name="content">
		<div class="moox-module moox-news-module moox-news-module-mod4 use-ajax" id="{v:system.uniqId(prefix: 'moox-news-module-')}">
			<f:render partial="Module/Mod4/List/Filter" arguments="{_all}" />
			<f:render partial="Module/Mod4/List/Body" arguments="{_all}" />
		</div>
	</f:section>
	<f:section name="buttons">
		<f:render partial="Module/Buttons" section="addCategory" arguments="{_all}" />
	</f:section>
</div>