<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:for each="{replacements}" as="replacement">
		<v:variable.set name="tag.title" value="{v:format.replace(substring: replacement.search, content: tag.title, replacement: replacement.replace)}" />
	</f:for>		
	<tr class="db_list_normal tag-detail" style="display:none" id="tag-detail-{tag.uid}">	
		<td colspan="{v:math.sum(a:'{fields->f:count()}',b:1)}">
			<div class="form-horizontal well well-sm" style="margin-bottom:0px;padding-left:49px;padding-top:10px">
				<div class="form-group" style="margin-bottom:0px">
					<label for="title" class="col-sm-2 control-label" style="text-align:left">Name:</label>
					<div class="col-sm-10 form-control-static">
						<div class="value">{f:format.raw(value: tag.title)}</div>
					</div>		
				</div>					
			</div>
		</td>							
	</tr>
	
</div>