<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">

	<f:layout name="General" />

	<f:section name="content">
		<f:if condition="{contentObjectData.uid}=={contentObjectUid}">
			<f:then>
				<f:render partial="Detail/Item" arguments="{newsItem: newsItem, settings:settings}" />
			</f:then>
			<f:else>
				<f:if condition="{contentObjectUid}==0">
					<f:render partial="Detail/Item" arguments="{newsItem: newsItem, settings:settings}" />
				</f:if>
			</f:else>
		</f:if>
	</f:section>
	
</html>