<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">
	  
	<f:layout name="General" />

	<f:section name="content">
		<v:variable.set name="showFilter" value="0" />
		<v:variable.set name="showPrimaryFilter" value="0" />
		<f:if condition="{settings.hideAllFilter}!=1">
			<f:if condition="{settings.hideTypeFilter}!=1">
				<f:if condition="{types -> f:count()}>0">
					<v:variable.set name="showFilter" value="1" />
					<v:variable.set name="showPrimaryFilter" value="1" />
				</f:if>
			</f:if>
			<f:if condition="{settings.hideCategoryFilter}!=1">
				<f:if condition="{categories}">
					<v:variable.set name="showFilter" value="1" />
					<v:variable.set name="showPrimaryFilter" value="1" />
				</f:if>
			</f:if>
			<f:if condition="{settings.hideTagFilter}!=1">
				<f:if condition="{tags}">
					<v:variable.set name="showFilter" value="1" />
					<v:variable.set name="showPrimaryFilter" value="1" />
				</f:if>
			</f:if>
			<f:if condition="{settings.hideTargetFilter}!=1">
				<f:if condition="{targets}">
					<v:variable.set name="showFilter" value="1" />
					<v:variable.set name="showPrimaryFilter" value="1" />
				</f:if>
			</f:if>
			<f:if condition="{settings.hideYearFilter}!=1">
				<f:if condition="{years}">
					<v:variable.set name="showFilter" value="1" />
					<v:variable.set name="showPrimaryFilter" value="1" />
				</f:if>
			</f:if>
			<f:if condition="{settings.hidePeriodFilter}!=1">
				<v:variable.set name="showFilter" value="1" />			
			</f:if>
			<f:if condition="{settings.hideQueryFilter}!=1">
				<v:variable.set name="showFilter" value="1" />			
			</f:if>
			<f:if condition="{extendedFilters -> f:count()}>0">		
				<v:variable.set name="showFilter" value="1" />
			</f:if>
		</f:if>
		<f:if condition="{showFilter}">
			<div class="ajaxnews-filterset ajaxnews-filter-selectivity">
				<f:render partial="List/Filter" section="form" arguments="{_all}" />
			</div>
		</f:if>
		<div class="ajaxnews-list">
			<f:if condition="{news}">
				<f:then>
					<n:widget.paginator objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
						<div class="ajaxnews-list-inner news-list-view clearfix">
							<f:comment>
								<v:variable.set name="listGroupTmp" value="" />
								<v:variable.set name="groupsOpened" value="0" />
								<v:variable.set name="groupsClosed" value="0" />
							</f:comment>
							<f:for each="{paginatedNews}" as="newsItem" iteration="iteration">				
								<f:comment>	
									<f:if condition="{settings.list.paginate.mode}!='append'">
										<f:if condition="{demand.type}=='moox_news_extender'">
											<v:variable.set name="extendedFieldName" value="mooxNewsExtenderNewFilter" />
											<v:variable.set name="noGroup" value="Ungruppiert" />								
										</f:if>
										<f:if condition="{demand.type}=='moox_news_repertoire'">
											<v:variable.set name="extendedFieldName" value="mooxNewsRepertoireComposer" />
											<v:variable.set name="noGroup" value="Ohne Komponist" />								
										</f:if>
									</f:if>
									<f:if condition="{extendedFieldName}!=''">
										<f:then>
											<v:variable.set name="panel" value="0" />
											<v:variable.set name="listGroup" value="{n:getExtendedField(newsItem:newsItem, extendedFieldName:extendedFieldName)}" />
											<f:if condition="{listGroup}==''">
												<v:variable.set name="listGroup" value="{noGroup}" />
											</f:if>
											<f:if condition="{listGroup}!={listGroupTmp}">																		
												<f:if condition="{listGroupTmp}!=''">								
													</div>
													</div>
													<v:variable.set name="groupsClosed" value="{v:math.sum(a: groupsClosed, b: 1)}" />
												</f:if>
												<v:variable.set name="groupsOpened" value="{v:math.sum(a: groupsOpened, b: 1)}" />
												<div class="panel panel-default">
													<div class="panel-heading">
														<strong>{listGroup}</strong>
													</div>
													<div class="panel-body">
												<v:variable.set name="listGroupTmp" value="{listGroup}" />
											</f:if>
										</f:then>
										<f:else>
											<v:variable.set name="panel" value="1" />
										</f:else>
									</f:if>
								</f:comment>
								<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings, panel:panel, contentObject: contentObjectData}" />							
							</f:for>
							<f:comment>
								<f:if condition="{groupsOpened}>{groupsClosed}">
									</div>
									</div>						
								</f:if>
							</f:comment>
						</div>
					</n:widget.paginator>				
				</f:then>
				<f:else>
					<div class="ajaxnews-no-news-found">
						<div class="alert alert-info" role="alert"><f:translate key="list_nonewsfound" /></div>
					</div>	
				</f:else>
			</f:if>
		</div>
	</f:section>
	
</html>