<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:layout name="{f:if(condition:refresh,then:'Ajax',else:'Mod1')}" />
	<f:section name="ajax"><f:render partial="Module/Mod1/List/Body" arguments="{_all}" /></f:section>
	<f:section name="content">
		<div class="moox-module moox-news-module moox-news-module-mod1 use-ajax" data-plugin="{plugin -> f:format.case(mode:'lower')}" id="{v:system.uniqId(prefix: 'moox-news-module-')}">
			<f:render partial="Module/Mod1/List/Filter" arguments="{_all}" />
			<f:render partial="Module/Mod1/List/Body" arguments="{_all}" />
		</div>
	</f:section>
	<f:section name="buttons">
		<f:render partial="Module/Buttons" section="addNews" arguments="{_all}" />
		<f:render partial="Module/Buttons" section="addRelation" arguments="{_all}" />
		<f:if condition="{buttons->f:count()}>0">	
			<f:for each="{buttons}" as="additionalButton" iteration="iteration">						
				<f:render partial="Module/List/Button/{additionalButton}" arguments="{_all}" />
			</f:for>
		</f:if>
	</f:section>						
</div>