<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:layout name="{f:if(condition:refresh,then:'Ajax',else:'Mod1')}" />
	<f:section name="ajax"><f:render partial="Module/Mod1/List/Body" arguments="{_all}" /></f:section>
	<f:section name="content">
		<div class="moox-module moox-news-module moox-news-module-mod1" id="{v:system.uniqId(prefix: 'moox-news-module-')}">
			<div id="moox-news-module-body" class="moox-module-body">	
				<f:if condition="{items->f:count()}>0">
					<f:then>
						<f:be.infobox>Folgende Einträge wurden für die Funktion <strong>{message}</strong> ausgewählt. Soll die Funktion wirklich auf die gewählten Einträge angewendet werden?</f:be.infobox>
						<f:form class="moox-module-table-wrapper form-inline" id="moox-module-multiple-confirmation-form" name="multiple" action="multiple" noCache="1">
							<f:switch expression="{function}">
								<f:case value="duplicate">
									<div class="panel panel-default">
										<div class="panel-heading"><core:icon identifier="actions-system-extension-configure" /> Einstellungen</div>
										<div class="panel-body">
											<div class="form-group" >
												<label for="settings[prefix]">Textzusatz für duplizierte Elemente:</label><br>
												<f:form.textfield name="settings[prefix]" value="" class="form-control" />
											</div>
										</div>
									</div>								
								</f:case>
								<f:case value="copy">
									<div class="panel panel-default">
										<div class="panel-heading"><core:icon identifier="actions-system-extension-configure" /> Einstellungen</div>
										<div class="panel-body">
											<div class="form-group" >
												<label for="settings[prefix]">Textzusatz für duplizierte Elemente:</label><br>
												<f:form.textfield name="settings[prefix]" value="" class="form-control" />
											</div>
											<div class="form-group" >
												<label for="settings[pid]">Order in dem die Kopie(n) erstellt werden soll:</label><br>
												<f:form.select name="settings[pid]" class="form-control">
													<f:for each="{groupedFolders}" as="groupedFolder" key="rootpage">
														<f:form.select.option value="#">Kopie(n) im aktuelle Ordner erstellen</f:form.select.option>
														<f:form.select.optgroup label="{rootpage}">
															<f:for each="{groupedFolder}" as="folder">
																<f:form.select.option value="{folder.uid}">{folder.title} [UID: {folder.uid}]</f:form.select.option>
															</f:for>
														</f:form.select.optgroup>
													</f:for>
												</f:form.select>
											</div>
										</div>
									</div>								
								</f:case>
								<f:case value="move">
									<div class="panel panel-default">
										<div class="panel-heading"><core:icon identifier="actions-system-extension-configure" /> Einstellungen</div>
										<div class="panel-body">
											<div class="form-group" >
												<label for="settings[pid]">Order in den die Einträge verschoben werden sollen:</label><br>
												<f:form.select name="settings[pid]" class="form-control">
													<f:for each="{groupedFolders}" as="groupedFolder" key="rootpage">
														<f:form.select.optgroup label="{rootpage}">
															<f:for each="{groupedFolder}" as="folder">
																<f:form.select.option value="{folder.uid}">{folder.title} [UID: {folder.uid}]</f:form.select.option>
															</f:for>
														</f:form.select.optgroup>
													</f:for>
												</f:form.select>
											</div>
										</div>
									</div>								
								</f:case>
								<f:defaultCase>
									<v:variable.set name="additionalSettings"><v:variable.get name="settings.backendAdditionalMultiple.settings.{function}" /></v:variable.set>
									<f:if condition="{additionalSettings}!=''">
										<div class="panel panel-default">
											<div class="panel-heading"><core:icon identifier="actions-system-extension-configure" /> Einstellungen</div>
											<div class="panel-body">
												<f:render partial="Module/Multiple/{additionalSettings}" arguments="{_all}" />
											</div>
										</div>
									</f:if>
								</f:defaultCase>
							</f:switch>
							<div class="well well-sm">
								<table class="table table-striped table-hover">
									<thead>
										<tr class="t3-row-header">
											<th class="col-title">Titel</th>
											<th class="col-title">UID</th>
										</tr>
									</thead>
									<tbody>
										<f:for each="{items}" as="item" iteration="iteration">				
											<tr class="db_list_normal news-row" id="news-row-{newsItem.uid}">
												<td>{item.title}</td>
												<td>{item.uid}</td>
											</tr>
											<f:form.hidden name="selection[]" value="{item.uid}" />
										</f:for>
									</tbody>						
								</table>
							</div>
							<div class="moox-module-multiple-confirmation clearfix">
								<f:form.hidden name="confirmed" value="1" />
								<f:form.hidden name="function" value="{function}" />
								<f:form.hidden name="returnUrl" value="{returnUrl}" />
								<a href="{returnUrl}" class="btn btn-primary btn-return form-control pull-left" title="zurück">zurück</a>
								<f:form.submit class="btn btn-primary btn-execute form-control pull-right" value="wirklich ausführen" />
							</div>
						</f:form>
					</f:then>
					<f:else>
						<f:be.infobox>Keine Einträge ausgewählt</f:be.infobox>
					</f:else>
				</f:if>
			</div>
		</div>
	</f:section>
	<f:section name="buttons">
		<f:render partial="Module/Buttons" section="addNews" arguments="{_all}" />
	</f:section>						
</div>

