<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Pdf" />

    <f:section name="content"><f:if condition="{newsItem}">
        <h1>{newsItem.title}</h1>
        <f:format.html>{newsItem.bodytext}</f:format.html>
        <f:if condition="{newsItem.contentElements}">
            <div>&nbsp;</div>
            <div>
                <f:cObject typoscriptObjectPath="lib.tx_mooxnews.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
            </div>
        </f:if>
    </f:if></f:section>

    <f:section name="css"><style>
        body {
            font-family: Arial, Verdana, sans-serif;
            font-size: 12px;
        }
        table {
            width: 100%;
        }
        table th {
            background-color: #0075a9;
            padding: 5px;
            color: #FFF;
        }
        table td {
            background-color: #EEE;
            padding: 5px;
        }
        table tfoot td {
           font-weight: bold;
        }
    </style></f:section>
</div>