<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 xmlns:mailer="http://typo3.org/ns/Neulandlotsen/MooxMailer/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:layout name="Mod1" />
	<f:section name="content">
		<div class="moox-module moox-news-module moox-news-module-mod1 use-ajax" id="{v:system.uniqId(prefix: 'moox-news-module-')}">
			Populate.html											
		</div>
	</f:section>
	<f:section name="buttons">
		Buttons
	</f:section>						
</div>

