<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div id="moox-mailer-module-body" class="moox-module-body" data-url="{f:uri.action(action:'list',noCache:1)}" data-return-url="{returnUrl}">	
		<f:if condition="{tasks->f:count()}>0">
			<f:then>
				<div class="row">
					<f:for each="{tasks}" as="task" iteration="iteration">
						<div class="col-md-6 col-job">
							<f:render partial="Module/Mod1/List/Body/Item" arguments="{_all}" />
						</div>
					</f:for>
				</div>
			</f:then>
			<f:else>
				<f:be.infobox>Keine Jobs gefunden</f:be.infobox>
			</f:else>
		</f:if>
	</div>
	
</div>