<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:link.action class="btn btn-sm btn-default" action="list" title="Abbrechen">
		<core:icon identifier="actions-document-close" size="small" />
	</f:link.action>
	<f:form.button type="submit" property="save" class="btn btn-sm btn-default" title="speichern">									
		<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save" data-identifier="actions-document-save">
			<span class="icon-markup">
				<core:icon identifier="actions-document-save" size="small" />												
			</span>	
		</span>
	</f:form.button>
	<f:form.button type="submit" property="saveAndNew" class="btn btn-sm btn-default" title="speichern und danach weitere Vorlage anlegen">									
		<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save-new" data-identifier="actions-document-save-new">
			<span class="icon-markup">
				<core:icon identifier="actions-document-save-new" size="small" />												
			</span>	
		</span>
	</f:form.button>
	<f:form.button type="submit" property="saveAndClose" class="btn btn-sm btn-default" title="speichern und zur Liste">									
		<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save-close" data-identifier="actions-document-save-close">
			<span class="icon-markup">
				<core:icon identifier="actions-document-save-close" size="small" />												
			</span>	
		</span>
	</f:form.button>
	
</div>