<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
    
    <f:layout name="Administration"/>

    <f:section name="menu">
        <ul class="sidebar-menu">
            <li class="header">NAVIGATION</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        </ul><!-- /.sidebar-menu -->
    </f:section>

    <f:section name="main">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span class="fa fa-dashboard"></span> Dashboard
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="" frameborder="0" allowfullscreen></iframe>
            </div>

        </section><!-- /.content -->

    </f:section>
    
</div>