#moox-MooxNewsMod2 .typo3-messages {
	margin-top: 15px;
}

#moox-MooxNewsMod2 .typo3-messages .alert {
	margin-bottom: 5px;
}

.moox-news-module .moox-module-body .target-detail .form-control-static {
	padding: 0px;
}

.moox-news-module .moox-module-body .target-detail .form-control-static .value {
	background-color: #FFF;
	padding: 8px;
	width: 98%;
	margin-bottom: 2px;
}