.moox-news-select-sortable-tree .well-tree {
	background-color: #fff;
	max-height: 600px;
	overflow: auto;
	padding: 5px;	
}

.moox-news-select-sortable-tree .tceforms-multiselect {
	height: 600px;
	max-height: 600px;
}

.moox-news-select-sortable-tree .well-tree ul {
	list-style-type: none;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-0 {
	padding-left: 0px;
}

.moox-news-select-sortable-tree .well-tree ul li.tree-selector-item {
	line-height: 22px;
	/*cursor: pointer;*/
	background-color: #F2F2F2;
	border-bottom: 1px solid #FFF;
}

.span.is-main, span.not-main, span.do-add {
	cursor: pointer;
}

.moox-news-select-sortable-tree .well-tree ul li.tree-selector-item:hover {
	background-color: #ddd;
}

.moox-news-select-sortable-tree .well-tree ul li.tree-selector-item span.icon {
	margin-right: 8px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-0 li.tree-selector-item {
	padding-left: 5px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-1 li.tree-selector-item {
	margin-left: -36px;
	padding-left: 36px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-2 li.tree-selector-item {
	margin-left: -72px;
	padding-left: 72px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-3 li.tree-selector-item {
	margin-left: -108px;
	padding-left: 108px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-4 li.tree-selector-item {
	margin-left: -144px;
	padding-left: 144px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-5 li.tree-selector-item {
	margin-left: -180px;
	padding-left: 180px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-6 li.tree-selector-item {
	margin-left: -216px;
	padding-left: 216px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-7 li.tree-selector-item {
	margin-left: -252px;
	padding-left: 252px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-8 li.tree-selector-item {
	margin-left: -288px;
	padding-left: 288px;
}

.moox-news-select-sortable-tree .well-tree ul.tree-selector-9 li.tree-selector-item {
	margin-left: -324px;
	padding-left: 324px;
}

