<html xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="DefaultPage" />

<f:section name="Configuration">
	<flux:form id="mooxcoreblankpage" label="LLL:flux.form.label.blankpage">
		<flux:form.option.icon value="EXT:moox_core/Resources/Public/Icons/Templates/Page/BlankPage.png" />
		<flux:field.custom name="description" label="LLL:flux.form.label.nooptions" />
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="0" colspan="3" name="maincontent" label="LLL:flux.form.label.startpage.maincontent" />
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Content">
	<main role="main">
		<v:content.render column="0" />
	</main>
</f:section>

</html>