<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<tr class="db_list_normal news-detail" style="display:none" id="news-detail-{item.uid}">	
		<td colspan="{v:math.sum(a:'{fields->f:count()}',b:1)}">
			<div class="form-horizontal well well-sm" style="margin-bottom:0px;padding-left:49px;padding-top:10px">
				<f:for each="{fields}" as="field" iteration="iteration">
					<v:variable.set name="label" value="{f:translate(key:field.label,default:field.name)}" />
					<v:variable.set name="text" value="" />
					<v:variable.set name="class" value="" />
					<f:switch expression="{field.name}">
						<f:case value="type">
							<v:variable.set name="type" value="{n:getValue(item:item,field:field.name)}" />
							<v:variable.set name="type" value="{v:variable.get(name:'field.items.{type}')}" />
							<div class="form-group clearfix" style="margin-bottom:0px">
								<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
								<div class="col-sm-9 form-control-static">
									<div class="value"><core:icon identifier="{type.icon}" size="small" /> <f:translate key="{type.label}" /></div>
								</div>		
							</div>
						</f:case>
						<f:defaultCase>
							<f:if condition="{field.type}!=''">
								<f:then>
									<f:switch expression="{field.type}">
										<f:case value="datetime">
											<v:variable.set name="datetime" value="{n:getValue(item:item,field:field.name)}" />
											<f:if condition="{datetime}>0">
												<f:if condition="{datetime -> f:format.date(format:'H:i')}!='00:00'">
													<f:then>
														<v:variable.set name="datetime" value="{f:format.date(format: 'd.m.Y H:i', date: datetime)} Uhr" />
													</f:then>
													<f:else>
														<v:variable.set name="datetime" value="{f:format.date(format: 'd.m.Y', date: datetime)}" />
													</f:else>
												</f:if>
												<div class="form-group clearfix" style="margin-bottom:0px">
													<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
													<div class="col-sm-9 form-control-static">
														<div class="value">{datetime}</div>
													</div>		
												</div>																							
											</f:if>
										</f:case>
										<f:case value="date">
											<v:variable.set name="date" value="{n:getValue(item:item,field:field.name)}" />
											<f:if condition="{date}>0">
												<v:variable.set name="date" value="{f:format.date(format: 'd.m.Y', date: date)}" />
												<div class="form-group clearfix" style="margin-bottom:0px">
													<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
													<div class="col-sm-9 form-control-static">
														<div class="value">{date}</div>
													</div>		
												</div>												
											</f:if>																				
										</f:case>
										<f:case value="boolean">
											<v:variable.set name="boolean" value="{n:getValue(item:item,field:field.name)}" />
											<v:variable.set name="boolean" value="{f:if(condition:boolean,then:'ja',else:'nein')}" />
											<div class="form-group clearfix" style="margin-bottom:0px">
												<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
												<div class="col-sm-9 form-control-static">
													<div class="value">{boolean}</div>
												</div>
											</div>
										</f:case>
										<f:case value="currency">
											<v:variable.set name="currency" value="{n:getValue(item:item,field:field.name)}" />
											<f:if condition="{currency}!=''">
												<div class="form-group clearfix" style="margin-bottom:0px">
													<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
													<div class="col-sm-9 form-control-static">
														<div class="value">{n:getValue(item:item,field:field.name) -> f:format.currency(currencySign:'€')}</div>
													</div>		
												</div>												
											</f:if>																				
										</f:case>
										<f:case value="list">
											<v:variable.set name="list" value="{n:getValue(item:item,field:field.name)}" />
											<f:if condition="{list}===true || {v:condition.type.isArray(then:1,else:0,value:list)}">
												<f:if condition="{list->f:count()}>0">
													<div class="form-group clearfix" style="margin-bottom:0px">
														<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
														<div class="col-sm-9 form-control-static">
															<div class="value">
																<f:for each="{list}" as="listItem" iteration="iteration">
																	<div title="UID: {listItem.uid}">
																		<f:if condition="{iteration.isFirst}">
																			<f:then>
																				<f:if condition="{field.icons.main}">
																					<f:then>
																						<core:icon identifier="{field.icons.main}" size="small" />
																					</f:then>
																					<f:else>
																						<f:if condition="{field.icons.default}">
																							<core:icon identifier="{field.icons.default}" size="small" />
																						</f:if>
																					</f:else>
																				</f:if>
																			</f:then>
																			<f:else>
																				<f:if condition="{field.icons.default}">
																					<core:icon identifier="{field.icons.default}" size="small" />
																				</f:if>
																			</f:else>
																		</f:if>
																		{listItem.title}
																	</div>
																</f:for>
															</div>
														</div>
													</div>
												</f:if>
											</f:if>
										</f:case>
										<f:case value="images">
											<v:variable.set name="images" value="{n:getValue(item:item,field:field.name)}" />
											<f:if condition="{images->f:count()}>0">
												<div class="form-group clearfix" style="margin-bottom:0px">
													<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
													<div class="col-sm-9 form-control-static">
														<div class="value">
															<f:for each="{images}" as="image" iteration="iteration">
																<f:image src="{image.uid}" class="img-thumbnail" treatIdAsReference="1" title="{image.originalResource.title}" alt="{image.originalResource.alternative}" height="80c" width="80c" />																			
															</f:for>															
														</div>
													</div>		
												</div>	
											</f:if> 
										</f:case>
										<f:case value="html">																	
											<v:variable.set name="text" value="{n:getValue(item:item,field:field.name)}" />
											<f:for each="{replacements}" as="replacement">		
												<v:variable.set name="text" value="{v:format.replace(substring: replacement.search, content: text, replacement: replacement.replace)}" />
											</f:for>
											<f:if condition="{text}!=''">
												<div class="form-group clearfix" style="margin-bottom:0px">
													<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
													<div class="col-sm-9 form-control-static">
														<div class="text">{text -> f:format.nl2br() -> f:format.raw()}</div>
													</div>		
												</div>
											</f:if>	
										</f:case>
										<f:case value="text">
											<v:variable.set name="text" value="{n:getValue(item:item,field:field.name)}" />
											<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
											<f:for each="{replacements}" as="replacement">		
												<v:variable.set name="text" value="{v:format.replace(substring: replacement.search, content: text, replacement: replacement.replace)}" />
											</f:for>
											<f:if condition="{text}!=''">
												<div class="form-group clearfix" style="margin-bottom:0px">
													<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
													<div class="col-sm-9 form-control-static">
														<div class="text">{text -> f:format.raw()}</div>
													</div>		
												</div>
											</f:if>	
										</f:case>
										<f:defaultCase>
											<v:variable.set name="text" value="{n:getValue(item:item,field:field.name)}" />
											<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
											<f:for each="{replacements}" as="replacement">		
												<v:variable.set name="text" value="{v:format.replace(substring: replacement.search, content: text, replacement: replacement.replace)}" />
											</f:for>
											<f:if condition="{text}!=''">
												<div class="form-group clearfix" style="margin-bottom:0px">
													<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
													<div class="col-sm-9 form-control-static">
														<div class="value">{text -> f:format.raw()}</div>
													</div>		
												</div>
											</f:if>	
										</f:defaultCase>
									</f:switch>
								</f:then>
								<f:else>
									<v:variable.set name="text" value="{n:getValue(item:item,field:field.name)}" />
									<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
									<f:for each="{replacements}" as="replacement">		
										<v:variable.set name="text" value="{v:format.replace(substring: replacement.search, content: text, replacement: replacement.replace)}" />
									</f:for>
									<f:if condition="{text}!=''">
										<div class="form-group" style="margin-bottom:0px">
											<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">{label}</label>
											<div class="col-sm-9 form-control-static">
												<div class="value">{text -> f:format.raw()}</div>
											</div>		
										</div>
									</f:if>	
								</f:else>
							</f:if>	
						</f:defaultCase>
					</f:switch>										
				</f:for>
				<f:if condition="!{filter.language} || {filter.language}=={v:variable.get(name:'languages.0.languageId',useRawKeys:1)}">
					<f:if condition="{translations->f:count()}>1">
						<div class="form-group clearfix" style="margin-bottom:0px">
							<label for="{field.name}" class="col-sm-3 control-label" style="text-align:left">Übersetzungen</label>
							<div class="col-sm-9 form-control-static">
								<div class="value">
									<f:for each="{languages}" as="language">
										<f:if condition="{language.languageId}!={defaultLanguageId}">
											<v:variable.set name="translation" value="{v:variable.get(name:'translations.{language.languageId}',useRawKeys:1)}" />
											<f:if condition="{translation}">
												<div class="language">
													<a data-toggle="tooltip" data-placement="bottom" title="Sprache {language.navigationTitle} bearbeiten [UID: {translation.uid}]" href="{n:be.editRecord(parameters: 'edit[tx_mooxnews_domain_model_news][{translation.uid}]=edit', redirectUrl: returnUrl)}">
														<span class="t3js-icon icon icon-size-small icon-state-default">
															<span class="icon-markup">
																<img height="16" src="/typo3/sysext/core/Resources/Public/Icons/Flags/{language.flagIdentifier->v:format.replace(substring:'flags-',replacement:'')->v:format.case(case:'upper')}.png" />
															</span>
															<f:if condition="{translation.hidden}"><span class="icon-overlay icon-overlay-hidden"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/overlay/overlay-hidden.svg" width="16" height="16"></span></f:if>
														</span>
														{translation.title}
													</a>
												</div>
											</f:if>
										</f:if>
									</f:for>
								</div>
							</div>
						</div>
					</f:if>
				</f:if>
				<f:if condition="{previewPartials->f:count()}>0">
					<f:for each="{previewPartials}" as="previewPartialArray" key="typeOfPreviewPartial" iteration="iteration">
						<f:if condition="({typeOfPreviewPartial}=='all') || {typeOfPreviewPartial}=={item.type}">
							<f:for each="{previewPartialArray}" as="previewPartial" iteration="iteration2">
								<div class="news-detail-{previewPartial}">
									<f:render partial="Module/Mod1/List/Body/Item/{previewPartial}" arguments="{_all}" />
								</div>
							</f:for>
						</f:if>
					</f:for>
				</f:if>				
			</div>
		</td>							
	</tr>
	
</div>