<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->

<n:excludeDisplayedNews newsItem="{newsItem}" />
<v:variable.set name="cropMaxCharacters" value="{f:if(condition: settings.cropMaxCharacters, then: settings.cropMaxCharacters, else: '250')}" />
<div class="card card-news card-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' card-topnews')} mb-3 border-0" itemscope="itemscope" itemtype="http://schema.org/Article">
    <div class="card-body p-3">
            <span class="float-right p-2">
                <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}"><f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date><meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" /></time>
            </span>
        <h2 itemprop="headline">{newsItem.title -> f:format.raw()}</h2>
        <h3>Bereich</h3>
        <f:if condition="{newsItem.teaser}">
            <f:then>
                {newsItem.teaser -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
            </f:then>
            <f:else>
                {newsItem.bodytext -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
            </f:else>
        </f:if>
        <a href="{n:link(newsItem:newsItem,uriOnly:1,settings:settings)}" title="{newsItem.title}" class="btn btn-news">mehr lesen</a>
    </div>
</div>

</html>