<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxNewsSeminar/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:section name="tx_mooxnewsseminar_domain_model_speaker">
		<f:if condition="{folders -> f:count()}>0">			
			<f:render partial="Table/Body/Mod2/Controls/Move" arguments="{_all}" />
		</f:if>		
		<a class="moox-control" href="#" onclick="top.launchView('tx_mooxnewsseminar_domain_model_speaker', '{speaker.uid}'); return false;" title="Infos von {speaker.title} anzeigen [UID: {category.uid}]">
			<core:icon identifier="actions-document-info" />
		</a>
		<a class="moox-control" href="{m:be.link(action:'edit',table:'tx_mooxnewsseminar_domain_model_speaker',uid:speaker.uid,returnUrl:returnUrl)}" title="{speaker.title} bearbeiten [UID: {category.uid}]">
			<core:icon identifier="actions-document-open" />	
		</a>
		<f:if condition="{speaker.hidden} == 1">
			<f:then>
				<a class="moox-control" href="{m:be.issueCommand(parameters: 'data[tx_mooxnewsseminar_domain_model_speaker][{speaker.uid}][hidden]=0', redirectUrl: returnUrl)}" title="Referent aktivieren">
					<core:icon identifier="actions-edit-unhide" />
				</a>
			</f:then>
			<f:else>
				<a class="moox-control" href="{m:be.issueCommand(parameters: 'data[tx_mooxnewsseminar_domain_model_speaker][{speaker.uid}][hidden]=1', redirectUrl: returnUrl)}" title="Referent deaktivieren">
					<core:icon identifier="actions-edit-hide" />
				</a>
			</f:else>
		</f:if>				
		<m:be.removeSpeaker speaker="{speaker}" />		
	</f:section>
	
	<td class="col-control">
		<div class="btn-toolbar pull-right" role="toolbar">		
			<div class="btn-group" role="group">
				<f:switch expression="{table}">
					<f:case value="tx_mooxnewsseminar_domain_model_speaker">															
						<f:render section="tx_mooxnewsseminar_domain_model_speaker" arguments="{_all}" />
					</f:case>							
				</f:switch>			
			</div>
		</div>
	</td>
	
</div>