<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

<v:variable.set name="pageContent" value="{v:content.render(column:0,pageUid:page)}" />
<f:if condition="{pageContent}!=''">
	<f:format.raw>{pageContent}</f:format.raw>
</f:if>

</div>
