<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:spaceless>
        <f:if condition="!{rowsPerLoad}">
            <v:variable.set name="rowsPerLoad" value="3" />
        </f:if>
        <f:if condition="!{imageCols}">
            <v:variable.set name="imageCols" value="3" />
        </f:if>
        <f:if condition="{imageCols}>12">
            <v:variable.set name="imageCols" value="12" />
        </f:if>
        <f:if condition="{imageCols}==5 || ({imageCols}>=7 && {imageCols}<=11)">
            <v:variable.set name="imageCols" value="3" />
        </f:if>
        <f:switch expression="{imageCols}">
            <f:case value="1">
                <v:variable.set name="colClass" value="col-md-12" />
            </f:case>
            <f:case value="2">
                <v:variable.set name="colClass" value="col-md-6" />
            </f:case>
            <f:case value="3">
                <v:variable.set name="colClass" value="col-md-4" />
            </f:case>
            <f:case value="4">
                <v:variable.set name="colClass" value="col-md-3" />
            </f:case>
            <f:case value="6">
                <v:variable.set name="colClass" value="col-md-2" />
            </f:case>
            <f:case value="12">
                <v:variable.set name="colClass" value="col-md-1" />
            </f:case>
        </f:switch>
        <v:variable.set name="imagesPerPage" value="{v:math.product(a:rowsPerLoad,b:imageCols)}" />
        <v:variable.set name="images" value="{newsItem.media ->v:iterator.filter(filter:2,propertyName:'originalResource.type')}" />
        <v:variable.set name="imagesPageCount" value="{images -> f:count() -> v:math.division(b:imagesPerPage) -> v:math.ceil()}" />
        <f:if condition="{currentPage}<2">
            <v:variable.set name="currentPage" value="1" />
        </f:if>
        <v:variable.set name="prevPage" value="{currentPage -> v:math.subtract(b:1)}" />
        <v:variable.set name="nextPage" value="{currentPage -> v:math.sum(b:1)}" />
        <f:if condition="{nextPage}>{imagesPageCount}">
            <v:variable.set name="nextPage" value="0" />
        </f:if>
        <v:variable.set name="imagesStart" value="1" />
        <f:if condition="{currentPage}>1">
            <v:variable.set name="imagesStart" value="{currentPage -> v:math.subtract(b:1) -> v:math.product(b:imagesPerPage) -> v:math.sum(b:1)}" />
        </f:if>
        <v:variable.set name="imagesEnd" value="{imagesStart -> v:math.sum(b:imagesPerPage) -> v:math.subtract(b:1)}" />
    </f:spaceless>
    <f:if condition="{images -> f:count()}>0">
        <f:if condition="{imagesPageCount}>1">
            <div class="news-detail-media-pagination">
                <f:if condition="{prevPage}>1">
                    <n:link class="news-detail-media-pagination-prev" currentPage="{prevPage}" newsItem="{newsItem}" settings="{settings}" title="prev">&laquo;</n:link>
                </f:if>
                <f:if condition="{prevPage}==1">
                    <n:link class="news-detail-media-pagination-prev" newsItem="{newsItem}" settings="{settings}" title="prev">&laquo;</n:link>
                </f:if>
                <n:link newsItem="{newsItem}" settings="{settings}" class="news-detail-media-pagination-link" title="1">1</n:link>
                <v:iterator.loop iteration="iteration" count="{imagesPageCount -> v:math.subtract(b:1)}">
                    <n:link newsItem="{newsItem}" settings="{settings}" class="news-detail-media-pagination-link" title="{iteration.cycle -> v:math.sum(b:1)}" currentPage="{iteration.cycle -> v:math.sum(b:1)}">{iteration.cycle -> v:math.sum(b:1)}</n:link>
                </v:iterator.loop>
                <f:if condition="{nextPage}>0">
                    <n:link class="news-detail-media-pagination-next" currentPage="{nextPage}" newsItem="{newsItem}" settings="{settings}" title="next">&raquo;</n:link>
                </f:if>
            </div>
        </f:if>
        <div class="news-gallery single-lightbox infinite-gallery">
            <div class="row row-images">
                <f:for each="{images}" as="image" iteration="iteration">
                    <f:if condition="{iteration.cycle}>={imagesStart} && {iteration.cycle}<={imagesEnd}">
                        <div class="{colClass} col-image">
                            <a class="lightbox" href="{v:uri.image(src:image.uid,maxW:1280,treatIdAsReference:1)}" title="{image.originalResource.title}">
                                <f:image src="{image.uid}" treatIdAsReference="1" class="img-fluid" width="400c" height="300c" alt="{image.originalResource.alternative}"></f:image>
                            </a>
                        </div>
                    </f:if>
                </f:for>
            </div>
        </div>
    </f:if>