<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div class="moox-control-group" role="group">
		<div class="moox-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<core:icon identifier="actions-duplicates" />
		</div>
		<ul class="dropdown-menu dropdown-menu-right moox-module-dropdown" style="min-width:50%">
			<li class="dropdown-header">In welchen Ordner wollen Sie den Eintrag kopieren?</li>
			<li role="separator" class="divider"></li>
			<li data-toggle="tooltip" data-placement="bottom" title="Aktueller Ordner">
				<f:link.action action="copy" arguments="{uid:item.uid,returnUrl: returnUrl}">
					<core:icon identifier="apps-pagetree-folder-contains-news" size="small" /> Kopie in aktuellem Ordner erstellen [UID: {storagePage}]
				</f:link.action>
			</li>
			<f:for each="{groupedFolders}" as="groupedFolder" key="rootpage">
				<li role="separator" class="divider"></li>
				<li class="dropdown-header">{rootpage}</li>
				<f:for each="{groupedFolder}" as="folder">
					<v:variable.set name="showFolder" value="1" />
					<f:if condition="{storagePage}=={folder.uid}">
						<f:then>
							<v:variable.set name="showFolder" value="0" />
						</f:then>
						<f:else>
							<f:if condition="{folder.news_types}!=''">
								<v:variable.set name="testTypes" value="{v:iterator.explode(content: folder.news_types, glue: ',')}" />
								<v:condition.iterator.contains needle="{item.type}" haystack="{testTypes}">
									<f:else>
										<v:variable.set name="showFolder" value="0" />
									</f:else>
								</v:condition.iterator.contains>
							</f:if>
						</f:else>
					</f:if>
					<f:if condition="{showFolder}">
						<li data-toggle="tooltip" data-placement="bottom" title="Pfad: <f:for each="{folder.rootline}" as="path">\{path.title}</f:for> [UID: {folder.uid} | Rootpage: {folder.rootpage.title}]">
							<f:link.action action="copy" arguments="{uid:item.uid,pid:folder.uid,returnUrl: returnUrl}">
								<core:icon identifier="apps-pagetree-folder-contains-news" size="small" /> {folder.title} [UID: {folder.uid}]
							</f:link.action>
						</li>
					</f:if>
				</f:for>
			</f:for>
		</ul>
	</div>
	
</div>