<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:if condition="{conf.showBackendPdfLink}>0">
		<f:spaceless>
			<f:if condition="{conf.showBackendPdfLink}==1">
				<f:then>
					<v:variable.set name="pdfUrl" value="{m:be.pdfUrl(newsItem:item)}" />
				</f:then>
				<f:else>
					<v:variable.set name="pdfUrl" value="{f:uri.action(action:'pdf',arguments:{uid:item.uid})}" />
				</f:else>
			</f:if>
		</f:spaceless>
		<f:if condition="{pdfUrl}!=''">
			<div class="moox-control-group" role="group">
				<div class="moox-control">
					<a title="PDF-Version des Eintrags anzeigen" href="#" onclick="var pdfWindow = window.open('{pdfUrl}','newTYPO3frontendWindow');pdfWindow.focus();">
						<core:icon identifier="mimetypes-pdf" />
					</a>
				</div>
			</div>
		</f:if>
	</f:if>

</div>	