<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<v:variable.set name="previewUrl" value="{m:be.previewUrl(newsItem:item,settings:settings)}" />
	<f:if condition="{previewUrl}!=''">				
		<a class="moox-control" title="Vorschau des Eintrags anzeigen" href="#" onclick="var previewWindow = window.open('{previewUrl}','newTYPO3frontendWindow');previewWindow.focus();">
			<core:icon identifier="actions-preview" />	
		</a>	
	</f:if>
	
</div>