<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:spaceless>
		<f:if condition="{filter.language}">
			<f:then>
				<v:variable.set name="currentFlag" value="{v:variable.get(name:'languages.{filter.language}.flagIdentifier',useRawKeys:1)}" />
				<v:variable.set name="currentLanguageId" value="{v:variable.get(name:'languages.{filter.language}.languageId',useRawKeys:1)}" />
			</f:then>
			<f:else>
				<v:variable.set name="currentFlag" value="{v:variable.get(name:'languages.0.flagIdentifier',useRawKeys:1)}" />
				<v:variable.set name="currentLanguageId" value="{v:variable.get(name:'languages.0.languageId',useRawKeys:1)}" />
			</f:else>
		</f:if>
		<f:comment><v:variable.set name="currentState" value="{v:variable.get(name:'translations.{currentLanguageId}.hidden',useRawKeys:1)}" /></f:comment>
		<v:variable.set name="currentState" value="{item.hidden}" />
		<v:variable.set name="defaultLanguageId" value="{v:variable.get(name:'languages.0.languageId',useRawKeys:1)}" />
	</f:spaceless>
	<div class="moox-control-group" role="group">
		<f:if condition="({item.l10nParent}==0) && {item.sysLanguageUid}=={defaultLanguageId}">
			<f:then>
				<div class="moox-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img width="16" height="16" src="/typo3/sysext/core/Resources/Public/Icons/Flags/{currentFlag->v:format.replace(substring:'flags-',replacement:'')->v:format.case(case:'upper')}.png" />
				</div>
				<ul class="dropdown-menu dropdown-menu-right moox-module-dropdown" style="min-width:50%">
					<li class="dropdown-header">In welche(r) Sprache wollen Sie den Eintrag übersetzen/bearbeiten?</li>
					<li role="separator" class="divider"></li>
					<f:for each="{languages}" as="language">
						<f:if condition="(!{filter.language} && {iteration.index}>0) || {language.languageId}!={filter.language}">
							<li>
								<div>
									<f:if condition="{language.languageId}!={defaultLanguageId}">
										<v:variable.set name="translation" value="{v:variable.get(name:'translations.{language.languageId}',useRawKeys:1)}" />
										<f:if condition="{translation}">
											<f:then>
												<a data-toggle="tooltip" data-placement="bottom" title="Sprache {language.navigationTitle} bearbeiten [UID: {translation.uid}]" style="display: inline-block;width:86%" href="{n:be.editRecord(parameters: 'edit[tx_mooxnews_domain_model_news][{translation.uid}]=edit', redirectUrl: returnUrl)}">
													<span class="t3js-icon icon icon-size-small icon-state-default">
														<span class="icon-markup">
															<img height="16" src="/typo3/sysext/core/Resources/Public/Icons/Flags/{language.flagIdentifier->v:format.replace(substring:'flags-',replacement:'')->v:format.case(case:'upper')}.png" />
														</span>
														<f:if condition="{translation.hidden}"><span class="icon-overlay icon-overlay-hidden"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/overlay/overlay-hidden.svg" width="16" height="16"></span></f:if>
													</span>
													{language.navigationTitle} bearbeiten
												</a>
												<f:if condition="{translation.hidden} == 1">
													<f:then>
														<a data-toggle="tooltip" data-placement="bottom" title="Eintrag in Sprache [{language.navigationTitle}] aktivieren" style="display:inline-block;width:5%;text-align:right" href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{translation.uid}][hidden]=0', redirectUrl: returnUrl)}">
															<core:icon identifier="actions-edit-unhide" />
														</a>
													</f:then>
													<f:else>
														<a data-toggle="tooltip" data-placement="bottom" title="Eintrag in Sprache [{language.navigationTitle}] deaktivieren" style="display:inline-block;width:5%;text-align:right" href="{mc:be.issueCommand(parameters: 'data[tx_mooxnews_domain_model_news][{translation.uid}][hidden]=1', redirectUrl: returnUrl)}">
															<core:icon identifier="actions-edit-hide" />
														</a>
													</f:else>
												</f:if>
												<n:be.removeTranslation translationItem="{translation}" languageTitle="{language.navigationTitle}" />
											</f:then>
											<f:else>
												<a data-toggle="tooltip" data-placement="bottom" title="In Sprache {language.navigationTitle} übersetzen" style="display: inline-block" href="{n:be.translateRecord(table:'tx_mooxnews_domain_model_news',recordId:item.uid,recordPid:item.pid,languageId:language.languageId)}">
													<img height="16" src="/typo3/sysext/core/Resources/Public/Icons/Flags/{language.flagIdentifier->v:format.replace(substring:'flags-',replacement:'')->v:format.case(case:'upper')}.png" /> In {language.navigationTitle} übersetzen
												</a>
											</f:else>
										</f:if>
									</f:if>
								</div>
							</li>
						</f:if>
					</f:for>
				</ul>
			</f:then>
			<f:else>
				<f:spaceless>
					<f:if condition="{item.l10nParent}==0">
						<f:then>
							<v:variable.set name="tooltip" value="Dieser Eintrag wurde ursprünglich nicht in der Standardsprache [{v:variable.get(name:'languages.0.title',useRawKeys:1)}] erstellt und kann daher nicht übersetzt werden." />
						</f:then>
						<f:else>
							<v:variable.set name="tooltip" value="Wechseln Sie zur Standardsprache [{v:variable.get(name:'languages.0.title',useRawKeys:1)}] um andere Übersetzungen dieses Eintrags zu bearbeiten bzw. zu erstellen." />
						</f:else>
					</f:if>
				</f:spaceless>
				<div class="moox-control" data-toggle="tooltip" data-placement="bottom" title="{tooltip}">
					<img<f:if condition="{item.l10nParent}!=0"> style="opacity:0.3"</f:if> width="16" height="16" src="/typo3/sysext/core/Resources/Public/Icons/Flags/{currentFlag->v:format.replace(substring:'flags-',replacement:'')->v:format.case(case:'upper')}.png" />
				</div>
			</f:else>
		</f:if>
	</div>
	
</div>