<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div id="moox-news-module-body" class="moox-module-body" data-url="{f:uri.action(action:'list',noCache:1)}" data-return-url="{returnUrl}">	
		<f:if condition="{templates->f:count()}>0">
			<f:then>			
				<f:be.widget.paginate objects="{templates}" as="paginatedTemplates" configuration="{
					itemsPerPage: 25, 
					insertAbove: 0, 
					insertBelow: 1
				}">
					<table class="table table-striped table-hover">
						<thead>
							<tr class="t3-row-header">
								<f:for each="{fields}" as="field" iteration="iteration">
									<f:render partial="Table/Header/Column" arguments="{ordering:ordering, filter:filter, field:field, iteration:iterationm nosort:1}" />																						
								</f:for>
								<th class="col-control"></th>
							</tr>
						</thead>
						<tbody>
							<f:for each="{paginatedTemplates}" as="template" iteration="iteration">				
								<f:render partial="Template/List/Body/Item" arguments="{_all}" />							
							</f:for>
						</tbody>						
					</table>				
				</f:be.widget.paginate>
			</f:then>
			<f:else>
				<f:be.infobox>Keine Templates gefunden</f:be.infobox>
			</f:else>
		</f:if>
	</div>
	
</div>