<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:section name="form">
		<f:spaceless>
			<v:variable.set name="currentPageUid" value="{v:page.info(field:'uid')}" />
			<v:variable.set name="currentPageTitle" value="{v:page.info(field:'title')}" />
		</f:spaceless>
		<f:if condition="!{settings.hideAllFilter}">
			<div class="news-filter news-filter-{class}">
				<f:comment>
					<f:render partial="List/Filter/Years" arguments="{settings:settings,overwriteDemand:overwriteDemand,showAllFilter:0}" />
					<h2 class="current-year">{overwriteDemand.calendar}</h2>
				</f:comment>
				<f:render partial="List/Filter/Pages" arguments="{settings:settings,overwriteDemand:overwriteDemand,currentPage:currentPageUid}" />
				<h2 class="current-year">{currentPageTitle}</h2>
			</div>
		</f:if>
	</f:section>

</div>