<f:section name="form">
	<div class="news-filter">
		<f:form name="overwriteDemand" object="{overwriteDemand}" actionUri="{f:uri.page(noCache: 1)}" method="POST" class="form-horizontal" additionalAttributes="{role: 'form'}">
			<div class="form-group">
				<f:if condition="{types -> f:count()}>0">
					<f:render section="types" arguments="{types: types}" />
				</f:if>
				<f:if condition="{categories}">
					<f:render section="categories" arguments="{categories: categories, categoriesTree:categoriesTree}" />
				</f:if>
				<f:if condition="{targets}">
					<f:render section="targets" arguments="{targets: targets}" />
				</f:if>
				<f:if condition="{years}">
					<f:render section="years" arguments="{years: years}" />
				</f:if>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<f:form.submit value="filtern" class="btn btn-default pull-right" />
				</div>
			</div>
		</f:form>
	</div>	
</f:section>

<f:section name="categories">
	<div class="col-sm-6 filter filterCategory">
		<label class="sr-only">Kategorie</label>
		<f:form.select prependOptionValue="0" prependOptionLabel="Alle Kategorien" property="categories" options="{categories}" class="form-control" />
		<f:form.hidden property="categoryConjunction" value="or" />
		<f:form.hidden property="includeSubCategories" value="1" />
	</div>
</f:section>

<f:section name="targets">
	<div class="col-sm-6 filter filterTargets">
		<label class="sr-only">Zielgruppe</label>
		<f:form.select prependOptionValue="0" prependOptionLabel="Alle Zielgruppen" property="targets" options="{targets}" class="form-control" />
	</div>
</f:section>

<f:section name="types">
	<div class="col-sm-6 filter filterTypes">
		<label class="sr-only">Eintragsart</label>
		<f:form.select prependOptionValue="" prependOptionLabel="Alle Eintragsarten" property="type" options="{types}" class="form-control" />
	</div>
</f:section>

<f:section name="years">
	<div class="col-sm-6 filter filterYear">
		<label class="sr-only">Jahresangabe</label>
		<f:form.select prependOptionValue="0" prependOptionLabel="Ohne Jahresangabe" property="year" options="{years}" class="form-control" />
	</div>
</f:section>