<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:spaceless>
		<v:variable.set name="cropMaxCharacters" value="{f:if(condition: settings.cropMaxCharacters, then: settings.cropMaxCharacters, else: '9999')}" />
	</f:spaceless>
	<div class="row row-news news-item news-item-employee article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
		<div class="col-lg-8 col-content">
			<div class="news-item-content">
				<h2>{newsItem.title}</h2>
				<div class="text">
					{newsItem.bodytext -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
				</div>
				<f:if condition="{newsItem.mooxTemplateHecoLink}">
					<v:variable.set name="title" value="{newsItem.mooxTemplateHecoLink->v:iterator.explode(glue:' ')->v:iterator.last()}" />
					<div class="link">
						<f:link.typolink parameter="{newsItem.mooxTemplateHecoLink}">{f:if(condition:'{title}!=\'_blank\'',then:title)}</f:link.typolink>
					</div>
				</f:if>
				<f:if condition="{newsItem.falRelatedFiles -> f:count()}>0}">
					<v:variable.set name="downloadFile" value="{newsItem.falRelatedFiles.0}" />
					<f:if condition="{downloadFile}">
						<div class="downloads">
							<a class="btn btn-primary btn-download" href="{downloadFile.url}">{f:if(condition:downloadFile.title,then:downloadFile.title,else:downloadFile.name)}</a>
						</div>
					</f:if>
				</f:if>
			</div>
		</div>
		<f:if condition="{newsItem.falMedia}">
			<f:then>
				<f:alias map="{image: newsItem.falMedia.0}">
					<f:if condition="{image.originalResource.type} == 2">
						<f:then>
							<f:alias map="{image: newsItem.falMedia.0}">
								<f:if condition="{image.originalResource.type} == 2">
									<div class="col-lg-4 col-image news-lightbox{f:if(condition:'{v:media.image.width(src:image.uid,treatIdAsReference: 1)}>380',then:' bg-contain')}" style="background-image:url({v:uri.image(src:image.uid,maxH:400,treatIdAsReference:1)})">
										<div class="news-item-image">
											<a class="lightbox" href="{v:uri.image(src: image.uid, maxW: 1280, treatIdAsReference: 1)}" title="{image.originalResource.title}">
												<span class="news-item-image-spacer"></span>
											</a>
										</div>
									</div>
								</f:if>
							</f:alias>
						</f:then>
						<f:else>
							<div class="col-lg-4 col-image"><div class="news-item-image"></div></div>
						</f:else>
					</f:if>
				</f:alias>
			</f:then>
			<f:else>
				<div class="col-lg-4 col-image"><div class="news-item-image"></div></div>
			</f:else>
		</f:if>
	</div>
</div>