<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	  data-namespace-typo3-fluid="true">

	<f:spaceless>
		<v:variable.set name="cropMaxCharacters" value="{f:if(condition: settings.cropMaxCharacters, then: settings.cropMaxCharacters, else: '250')}" />
	</f:spaceless>
	<div class="row row-news news-item news-item-history article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
		<div class="col-lg-6 col-content">
			<div class="news-item-content">
				<h2>{newsItem.title}</h2>
				<div class="text">
					<f:if condition="{newsItem.teaser}">
						<f:then>
							{newsItem.teaser -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
						</f:then>
						<f:else>
							{newsItem.bodytext -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
						</f:else>
					</f:if>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-image col-image-left">
			<div class="news-item-image news-item-image-left">
				<f:if condition="{newsItem.falMedia}">
					<f:alias map="{imageLeft: newsItem.falMedia.0}">
						<f:if condition="{imageLeft.originalResource.type} == 2">
							<a class="lightbox" href="{v:uri.image(src: imageLeft.uid, maxW: 1280, treatIdAsReference: 1)}" title="{imageLeft.originalResource.title}">
								<img src="{v:uri.image(src: imageLeft.uid, maxW: 640, treatIdAsReference: 1)}" title="{imageLeft.originalResource.title}" alt="{imageLeft.originalResource.alternative}" class="img-fluid" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}">
							</a>
						</f:if>
					</f:alias>
				</f:if>
			</div>
		</div>
		<div class="col-lg-3 col-image col-image-right">
			<div class="news-item-image news-item-image-right">
				<f:if condition="{newsItem.falMedia}">
					<f:alias map="{imageRight: newsItem.falMedia.1}">
						<f:if condition="{imageRight.originalResource.type} == 2">
							<a class="lightbox" href="{v:uri.image(src: imageRight.uid, maxW: 1280, treatIdAsReference: 1)}" title="{imageRight.originalResource.title}">
								<img src="{v:uri.image(src: imageRight.uid, maxW: 640, treatIdAsReference: 1)}" title="{imageRight.originalResource.title}" alt="{imageRight.originalResource.alternative}" class="img-fluid" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}">
							</a>
						</f:if>
					</f:alias>
				</f:if>
			</div>
		</div>
	</div>
</div>