{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace n=Neulandlotsen\MooxNews\ViewHelpers}
{namespace rx=Reelworx\RxShariff\ViewHelper}

<v:variable.set name="ArticleDetailLink"><v:format.url.decode>{v:site.url() -> v:format.substring(length: '-1')}<n:link newsItem="{newsItem}" settings="{settings}" uriOnly="1" /></v:format.url.decode></v:variable.set>
<rx:shariff data="{url: ArticleDetailLink, mail-url: 'mailto:', theme: 'grey'}" services="whatsapp,facebook,twitter,googleplus,mail" enableBackend="1" />