<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />

<!--
	=====================
		Templates/Tag/List.html
-->

<f:section name="content">
	<f:if condition="{tags}">
		<ul class="news-tags">
			<f:for each="{tags}" as="tag">
				<li>
					<f:if condition="{tag.uid} == {overwriteDemand.tags}">
						<f:then>
							<f:link.page title="{tag.title}" class="active" pageUid="{settings.listPid}" additionalParams="{tx_mooxnews_pi1:{overwriteDemand:{tags: tag}}}">
								{tag.title}
							</f:link.page>
						</f:then>
						<f:else>
							<f:link.page title="{tag.title}" pageUid="{settings.listPid}" additionalParams="{tx_mooxnews_pi1:{overwriteDemand:{tags: tag}}}">
								{tag.title}
							</f:link.page>
						</f:else>
					</f:if>

				</li>
			</f:for>
		</ul>
	</f:if>
</f:section>
</html>