<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<tr class="db_list_normal category-row" id="category-row-{category.uid}">	
		<f:render partial="Table/Body/Columns" arguments="{table:'sys_category',fields:fields,item:category,replacements:replacements,fieldsSeparator:fieldsSeparator,depth:depth}" />
		<f:render partial="Table/Body/Mod4/Controls" arguments="{table:'sys_category',groupedFolders:groupedFolders,folders:folders,category:category}" />
	</tr>
	<f:render partial="Module/Mod4/List/Body/Item/Detail" arguments="{conf:conf,fields:fields,category:category,labels:labels}" />
	
</div>