<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div id="moox-news-module-body" class="moox-module-body" data-url="{f:uri.action(action:'list',noCache:1)}" data-return-url="{returnUrl}">	
		<f:if condition="{categories->f:count()}>0">
			<f:then>							
				<f:form class="moox-module-table-wrapper well well-sm clearfix" id="moox-module-multiple-selector-form" name="multiple" action="multiple" noCache="1">					
					<table class="table table-striped table-hover">
						<thead>
							<tr class="t3-row-header">
								<f:for each="{fields}" as="field" iteration="iteration">
									<f:render partial="Table/Header/Column" arguments="{ordering:ordering, filter:filter, field:field, iteration:iteration}" />																						
								</f:for>
								<th class="col-control">Funktionen</th>
							</tr>
						</thead>
						<tbody>
							
							<v:variable.set name="depth" value="0" />
							<f:render section="tree" arguments="{_all}" />
						</tbody>						
					</table>						
				</f:form>						
			</f:then>
			<f:else>
				<f:be.infobox>Keine Kategorien gefunden</f:be.infobox>
			</f:else>
		</f:if>
	</div>
	
	<f:section name="tree">
		<f:for each="{categories}" as="category" iteration="iteration">		
			<f:if condition="({filter.hidden}=='') || ({category.hidden}==false && {filter.hidden}==0) || ({category.hidden}==true && {filter.hidden}==1)">
				<f:render partial="Module/Mod4/List/Body/Item" arguments="{_all}" />
				<f:if condition="{category.children->f:count()}>0">
					<v:variable.set name="categories" value="{category.children}" />
					<v:variable.set name="depth" value="{v:math.sum(a:depth,b:1)}" />
					<f:render section="tree" arguments="{_all}" />
					<v:variable.set name="depth" value="{v:math.subtract(a:depth,b:1)}" />
				</f:if>
			</f:if>
		</f:for>
	</f:section>
</div>