﻿<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div id="moox-news-module-filter" class="moox-module-filter" data-url="{f:uri.action(action:'filter',noCache:1)}">	
		<f:form class="well well-sm well-filter form-inline use-ajax" id="moox-module-filter-form" name="filter" object="{filter}" action="filter" noCache="1">
			<f:render partial="Module/List/Filter/Page" arguments="{_all}" />
			<f:render partial="Module/List/Filter/Hidden" arguments="{_all}" />		
			<f:comment><f:render partial="Module/List/Filter/Query" arguments="{_all}" /></f:comment>
			
			<f:if condition="{filter->f:count()}>2">
				<f:then>
					<div class="form-group">
						<f:link.action class="btn btn-default btn-mobile-block filter-reset" action="filter" arguments="{reset:1}" title="Filter zurücksetzen">
							<core:icon identifier="actions-edit-undo" size="small" /> Filter zurücksetzen
						</f:link.action>
					</div>
				</f:then>				
			</f:if>
		</f:form>
	</div>
	
</div>