<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">
	
	<f:layout name="General" />
	<!--
		=====================
			Templates/News/List.html
	-->
	
	<f:section name="content">
		<!-- Snipper -->
		<v:asset.script name="snippper-js" path="/typo3conf/ext/moox_news/Resources/Public/Contrib/Snipper/JavaScript/Snipper.js" dependencies="jquery" group="moox-news" standalone="TRUE" movable="TRUE" external="TRUE" />
		<div class="container">
			<div class="news-calendar-view">
				<div class="news-calendar-navi">
					<f:link.action class="news-calendar-navi-prev" action="calendar" arguments="{pointer:prev.pointer}" title="{prev.name}">
						<i class="fa fa-chevron-left" aria-hidden="true"></i>
					</f:link.action>
					<span class="news-calendar-navi-current">Seminare {current.name}</span>
					<f:link.action class="news-calendar-navi-next" action="calendar" arguments="{pointer:next.pointer}" title="{next.name}">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</f:link.action>
				</div>
				<div class="news-calendar-header">
					<div class="news-calendar-day news-calendar-day-1">Mo<span class="hidden-xs hidden-sm">ntag</span></div>
					<div class="news-calendar-day news-calendar-day-2">Di<span class="hidden-xs hidden-sm">enstag</span></div>
					<div class="news-calendar-day news-calendar-day-3">Mi<span class="hidden-xs hidden-sm">ttwoch</span></div>
					<div class="news-calendar-day news-calendar-day-4">Do<span class="hidden-xs hidden-sm">nnerstag</span></div>
					<div class="news-calendar-day news-calendar-day-5">Fr<span class="hidden-xs hidden-sm">eitag</span></div>
					<div class="news-calendar-day news-calendar-day-6">Sa<span class="hidden-xs hidden-sm">mstag</span></div>
					<div class="news-calendar-day news-calendar-day-7">So<span class="hidden-xs hidden-sm">nntag</span></div>
				</div>
				<div class="news-calendar-body">
					<f:for each="{calendar}" as="item" iteration="iterator">
						<div class="news-calendar-day news-calendar-weekday-{item.weekday} news-calendar-day-{item.day} news-calendar-day-{f:if(condition:item.active,then:'active',else:'notactive')}">
							<div class="news-calendar-day-header">{item.day}</div>
							<div class="news-calendar-day-items">
								<f:for each="{item.items}" as="event" iteration="iterator">
									<a href="{n:link(newsItem:event,uriOnly:1,settings:settings)}" title="{event.title}" class="news-calendar-day-item" data-uid="{event.uid}" data-container="body" data-trigger="hover focus" data-toggle="popover">{event.title}</a>
									<div class="news-calendar-day-popover-wrap" id="news-calendar-day-popover-{event.uid}">
										<div class="news-calendar-day-popover">
											<div class="news-calendar-day-popover-header">
												<h3>{event.title}</h3>
												<h4>{event.mooxNewsSeminarStartdate -> f:format.date(format:'%d. %B %Y')}<f:if condition="{event.mooxNewsSeminarEnddate}>0"> - {event.mooxNewsSeminarEnddate -> f:format.date(format:'%d. %B %Y')}</f:if></h4>
											</div>
											<div class="news-calendar-day-popover-body">
												<div class="news-calendar-day-popover-teaser">{event.teaser}</div>
												<a class="news-calendar-day-popover-link visible-xs" href="{n:link(newsItem:event,uriOnly:1,settings:settings)}" title="{event.title}">Mehr</a>												
											</div>
										</div>
									</div>
								</f:for>
							</div>
						</div>
					</f:for>
				</div>
			</div>
		</div>
		<v:asset.script>			
			$(document).ready(function(){
				$.fn.snipper.defaults.height = 100;
				var snipParagraphs = function(){
					//$('.news-calendar-day-items').snipper({height:'80px'});
				};

				snipParagraphs();
				$(window).resize(snipParagraphs);
				$("[data-toggle=popover]").popover({
					html: true,
					container: '.news-calendar-view',
					content: function() {
						return $("#news-calendar-day-popover-"+$(this).data("uid")).html();
					},
					placement: function (context, source) {
						var position = $(source).position();
						var width = $(source).width();
						var windowWidth = $(window).width();						
						if(windowWidth<800)
						{
							return "bottom";
						} else {
							if (eval(position.left+(width/2)) > eval(windowWidth/2)) {
								return "left";
							} else {
								return "right";
							}
						}
						
					}
				});

				$("[data-toggle=popover]").on('click', function (e) {
					var is_touch_device = ("ontouchstart" in window) || window.DocumentTouch && document instanceof DocumentTouch;
					if(is_touch_device)
					{
						if(!$(this).hasClass('focused'))
						{
							$("[data-toggle=popover]").removeClass('focused');
							$(this).addClass('focused');
							e.preventDefault();
						}												
					}					
				});
				/*
				$('body').on('click', function (e) {
					//did not click a popover toggle or popover
					if ($(e.target).data('toggle') !== 'popover'
						&& $(e.target).parents('.popover.in').length === 0) { 
						$('[data-toggle="popover"]').popover('hide');
					}
				});
				*/
			});
		</v:asset.script>
	</f:section>

</html>