<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	  xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
	  data-namespace-typo3-fluid="true">

	<f:layout name="Detail" />
	
	<f:section name="content">
		<f:if condition="{newsItem}">
			<f:spaceless>
				{v:variable.typoscript(path: 'plugin.tx_mooxcore.settings') -> v:variable.set(name: 'coreSettings')}
				<v:variable.set name="siteName" value="{f:if(condition:coreSettings.siteName,then:coreSettings.siteName,else:'{v:site.name()}')}" />
				<v:variable.set name="pageTitle" value="{f:if(condition:'{v:page.info(field:\"seo_title\")}',then:'{v:page.info(field:\"seo_title\")}',else:'{v:page.info(field:\"title\")}')}" />
				<v:page.header.title title="{siteName} {coreSettings.meta.titleDivider} {pageTitle} {coreSettings.meta.titleDivider} {f:if(condition:newsItem.alternativeTitle,then:newsItem.alternativeTitle,else:newsItem.title)}" />
			</f:spaceless>
			<div class="news-detail news-detail-marketing infinite-scrolling">
				<v:page.resources.fal as="media" uid="{v:page.info(field:'uid')}">
					<f:if condition="{media}">
						<v:variable.set name="files" value="{media -> v:iterator.filter(filter:5,propertyName:'type')}" />
						<f:if condition="{files -> f:count()}>0">
							<v:variable.set name="downloadFile" value="{files.0}" />
						</f:if>
					</f:if>
				</v:page.resources.fal>
				<div class="row row-news-detail">
					<div class="col-lg-3">
						<h3 class="news-detail-year">{v:page.info(field:'nav_title')}</h3>
					</div>
					<div class="col-lg-5">
						<h2 class="news-detail-title">{v:page.info(field:'title')}</h2>
						<h4 class="news-detail-substitle">{v:page.info(field:'subtitle')}</h4>
					</div>
					<div class="col-lg-4 col-download">
                        <f:if condition="{downloadFile}">
                            <a class="btn btn-outline-primary btn-download" href="{downloadFile.url}">{f:if(condition:downloadFile.title,then:downloadFile.title,else:downloadFile.name)}</a>
                        </f:if>
					</div>
				</div>
                <div class="news-detail-subnavi">
                    <f:for each="{newsItems}" as="item" iteration="iteration">
                        <n:link class="news-detail-subnavi-link{f:if(condition:'{item.uid}=={newsItem.uid}',then:' active')}" newsItem="{item}" settings="{settings}" title="{item.title}">{item.title}</n:link>
                    </f:for>
                </div>

                <f:render partial="Detail/InfiniteGallery" arguments="{newsItem:newsItem,currentPage:currentPage,rowsPerLoad:4,imageCols:3}" />
			</div>
		</f:if>
	</f:section>
</html>