<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">
	
	<f:layout name="General" />

	<f:section name="content">
		<f:spaceless>
			<f:switch expression="{settings.templateLayout}">
				<f:case value="1">
					{v:variable.set(value:'history infinite-scrolling' ,name:"class")}
					{v:variable.set(value:'History',name:"Partial")}
				</f:case>
				<f:case value="2">
					{v:variable.set(value:'employee infinite-scrolling' ,name:"class")}
					{v:variable.set(value:'Employee',name:"Partial")}
					<f:render partial="List/FilterEmployee" section="form" arguments="{_all}" />
				</f:case>
				<f:defaultCase>
					{v:variable.set(value:'default ',name:"class")}
				</f:defaultCase>
			</f:switch>
		</f:spaceless>
		<f:if condition="{news}">
			<f:then>
				<div class="news-list news-list-{class} clearfix" id="news-container-{contentObjectData.uid}">
					<f:if condition="{settings.hidePagination}">
						<f:then>
							<f:for each="{news}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item{Partial}" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</f:then>
						<f:else>
							<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
								<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
									<f:render partial="List/Item{Partial}" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</n:widget.paginate>
						</f:else>
					</f:if>
				</div>
			</f:then>
		</f:if>
	</f:section>

</html>