<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Pdf" />

	<f:section name="content"><f:if condition="{newsItem}">
		<h1>{newsItem.title}</h1>
		<f:format.html>{newsItem.bodytext}</f:format.html>
	</f:if></f:section>

	<f:section name="css"><style>
		body {
			font-family: Arial, Verdana, sans-serif;
			font-size: 14px;
		}
	</style></f:section>
</div>