<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:layout name="Template" />

	<f:section name="content">
		<div class="moox-module moox-news-module moox-news-module-mod1 " id="{v:system.uniqId(prefix: 'moox-news-module-')}">
			<div class="form-group">
				<label for="title">Titel der Vorlage</label>
				<f:form.textfield class="form-control" required="1" type="text" property="title" placeholder="Titel der Vorlage" />
			</div>
			<div class="form-group">
				<label for="category">Kategorie</label>
				<f:form.select class="form-control" options="{categories}" property="category" />
			</div>
			<div class="form-group">
				<label for="subject">Mail-Betreff</label>
				<f:form.textfield class="form-control" required="1" type="text" property="subject" placeholder="Mail-Betreff" />
			</div>
			<div class="form-group">
				<label for="template">HTML/FLUID-Code der Vorlage</label>
				<f:form.textarea class="form-control" property="template" rows="25" />
			</div>	
		</div>
	</f:section>

</div>