<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<v:asset.script path="{f:uri.resource(path: 'JavaScript/ajax.js', extensionName: 'moox_news')}" dependencies="jquery" standalone="1" movable="TRUE" trim="1" />
	<v:asset.script path="{f:uri.resource(path: 'JavaScript/Contrib/selectivity-full.min.js', extensionName: 'moox_news')}" name="selectivity-js" dependencies="jquery" standalone="1" movable="TRUE" trim="1" external="1" />
	<v:asset.script path="{f:uri.resource(path: 'JavaScript/Contrib/bootstrap-datepicker/bootstrap-datepicker.min.js', extensionName: 'moox_news')}" name="bootstrap-datepicker-js" dependencies="jquery" standalone="1" movable="TRUE" trim="1" external="1" />
	<v:asset.script path="{f:uri.resource(path: 'JavaScript/Contrib/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js', extensionName: 'moox_news')}" name="bootstrap-datepicker-js-de" dependencies="jquery,bootstrap-datepicker-js" standalone="1" movable="TRUE" trim="1" external="1" />
	<v:asset.script path="{f:uri.resource(path: 'JavaScript/datepicker.js', extensionName: 'moox_news')}" dependencies="jquery,bootstrap-datepicker-js" standalone="1" movable="TRUE" trim="1" />
	<v:asset.style path="{f:uri.resource(path: 'Css/Contrib/selectivity-full.min.css', extensionName: 'moox_news')}" name="selectivity-css" trim="1" external="1" />
	<v:asset.style path="{f:uri.resource(path: 'Css/Contrib/bootstrap-datepicker/bootstrap-datepicker3.min.css', extensionName: 'moox_news')}" name="bootstrap-datepicker-css" trim="1" external="1" />
	<v:asset.style path="{f:uri.resource(path: 'Css/ajax.css', extensionName: 'moox_news')}" dependencies="selectivity-css,bootstrap-datepicker-css" trim="1" external="1" />

	<input type="hidden" id="ajaxnews-c{contentObjectData.uid}-url" value="{f:uri.action(pluginName:'pi4',controller:'Ajax',noCache:'1',extensionName:'MooxNews',pageType:7777)}">
	<input type="hidden" id="ajaxnews-c{contentObjectData.uid}-page-title" value="">
	<input type="hidden" id="ajaxnews-c{contentObjectData.uid}-page" value="1">
	<input type="hidden" id="ajaxnews-c{contentObjectData.uid}-count" value="{count}">
	<input type="hidden" id="ajaxnews-c{contentObjectData.uid}-pages" value="{pages}">
	<input type="hidden" id="ajaxnews-c{contentObjectData.uid}-perpage" value="{settings.list.paginate.itemsPerPage}">
	<input type="hidden" id="ajaxnews-c{contentObjectData.uid}-mode" value="{settings.list.paginate.mode}">
	<input type="hidden" id="ajaxnews-c{contentObjectData.uid}-settings" value='{v:format.json.encode(value: settings)}'>
	
</div>
