<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:section name="form">
		<div class="row">		
			<f:form name="overwriteDemand" object="{overwriteDemand}" actionUri="{f:uri.page(noCache: 1)}" method="POST" class="form-inline ajaxnews-filter-form" additionalAttributes="{role: 'form'}">
				<div class="col-sm-9">
					<f:if condition="{showPrimaryFilter}">
						<f:if condition="{settings.hideTypeFilter}!=1">
							<f:if condition="{types -> f:count()}>0">
								<f:render section="types" arguments="{types: types,contentObjectData: contentObjectData}" />						
							</f:if>
						</f:if>
						<f:if condition="{settings.hideCategoryFilter}!=1">
							<f:if condition="{categories}">
								<f:render section="categories" arguments="{categories: categories, categoriesTree:categoriesTree,contentObjectData: contentObjectData}" />						
							</f:if>
						</f:if>
						<f:if condition="{settings.hideTagFilter}!=1">
							<f:if condition="{tags}">						
								<f:render section="tags" arguments="{tags: tags,contentObjectData: contentObjectData}" />					
							</f:if>
						</f:if>
						<f:if condition="{settings.hideTargetFilter}!=1">
							<f:if condition="{targets}">						
								<f:render section="targets" arguments="{targets: targets,contentObjectData: contentObjectData}" />						
							</f:if>
						</f:if>
						<f:if condition="{settings.hideYearFilter}!=1">
							<f:if condition="{years}">
								<f:render section="years" arguments="{years: years,contentObjectData: contentObjectData}" />						
							</f:if>
						</f:if>					
					</f:if>				
					<f:if condition="{settings.hidePeriodFilter}!=1">
						<f:render section="period" arguments="{contentObjectData: contentObjectData}" />										
					</f:if>
					<f:if condition="{settings.hideQueryFilter}!=1">
						<f:render section="query" arguments="{contentObjectData: contentObjectData}" />					
					</f:if>
					<f:comment>
						<f:render section="charSelect" arguments="{charList: charList, contentObjectData: contentObjectData}" />
					</f:comment>
					<f:if condition="{extendedFilters -> f:count()}>0">
						<f:render section="extendedFilters" arguments="{extendedFilters: extendedFilters,contentObjectData: contentObjectData}" />					
					</f:if>
					<f:comment>
						<f:render section="charNavigation" arguments="{charList: charList, contentObjectData: contentObjectData}" />
					</f:comment>
				</div>
				<div class="col-sm-3 text-right">
					<f:form.submit value="filtern" class="btn btn-default ajaxnews-filter-submit" />
					<f:link.page style="display: none" class="btn btn-default btn-block ajaxnews-filter-reset">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Filter zurücksetzen					
					</f:link.page>
				</div>
			</f:form>		
		</div>	
	</f:section>

	<f:section name="categories">
		<f:form.select id="ajaxnews-c{contentObjectData.uid}-filter-categories" class="ajaxnews-filter-categories" prependOptionValue="all" prependOptionLabel="Alle Kategorien" property="categories" options="{categories}" class="form-control ajaxnews-filter ajaxnews-filter-select ajaxnews-filter-categories" />
		<f:form.hidden id="ajaxnews-c{contentObjectData.uid}-filter-categoryConjunction" class="ajaxnews-filter-categoryConjunction" property="categoryConjunction" value="or" />
		<f:form.hidden id="ajaxnews-c{contentObjectData.uid}-filter-includeSubCategories" class="ajaxnews-filter-includeSubCategories" property="includeSubCategories" value="1" />	
	</f:section>

	<f:section name="tags">
		<f:form.select id="ajaxnews-c{contentObjectData.uid}-filter-tag" prependOptionValue="all" prependOptionLabel="Alle Tags" property="tags" options="{tags}" class="form-control ajaxnews-filter ajaxnews-filter-select ajaxnews-filter-tag" />
	</f:section>

	<f:section name="targets">
		<f:form.select id="ajaxnews-c{contentObjectData.uid}-filter-target" prependOptionValue="all" prependOptionLabel="Alle Zielgruppen" property="targets" options="{targets}" class="form-control ajaxnews-filter ajaxnews-filter-select ajaxnews-filter-target" />	
	</f:section>

	<f:section name="types">
		<f:form.select id="ajaxnews-c{contentObjectData.uid}-filter-type" prependOptionValue="all" prependOptionLabel="Alle Eintragsarten" property="type" options="{types}" class="form-control ajaxnews-filter ajaxnews-filter-select ajaxnews-filter-type" />	
	</f:section>

	<f:section name="years">
		<f:form.select id="ajaxnews-c{contentObjectData.uid}-filter-year" prependOptionValue="all" prependOptionLabel="Alle Jahre" property="year" options="{years}" class="form-control ajaxnews-filter ajaxnews-filter-select ajaxnews-filter-year" />	
	</f:section>

	<f:section name="period">	
		<div class="input-group date">						
			<f:form.textfield id="ajaxnews-c{contentObjectData.uid}-filter-dateFrom" property="dateFrom" placeholder="Von" class="form-control ajaxnews-filter ajaxnews-filter-datepicker ajaxnews-filter-dateFrom" />
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-calendar"></i>
			</span>
		</div>	
		<div class="input-group date">						
			<f:form.textfield id="ajaxnews-c{contentObjectData.uid}-filter-dateTo" property="dateTo" placeholder="Bis" class="form-control ajaxnews-filter ajaxnews-filter-datepicker ajaxnews-filter-dateTo" />
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-calendar"></i>
			</span>
		</div>
	</f:section>

	<f:section name="query">
		<f:form.textfield placeholder="Suchtext" id="ajaxnews-c{contentObjectData.uid}-filter-query" property="query" class="form-control ajaxnews-filter ajaxnews-filter-input ajaxnews-filter-query" />	
	</f:section>

	<f:section name="charSelect">
		<f:form.select id="ajaxnews-c{contentObjectData.uid}-filter-char" prependOptionValue="all" prependOptionLabel="Alle" property="char" options="{charList}" class="form-control ajaxnews-filter ajaxnews-filter-select ajaxnews-filter-char" />
	</f:section>

	<f:section name="charNavigation">
		<div class="ajaxnews-char-navigation">
			<span class="ajaxnews-char ajaxnews-char-all ajaxnews-char-active ajaxnews-char-first" data-field="ajaxnews-c{contentObjectData.uid}-filter-char" data-char="all">Alle</span>
			<f:for each="{charList}" key="char" as="text" iteration="iteration">
				<f:if condition="{char}!='other'">
					<span class="ajaxnews-char ajaxnews-char-{char}" data-field="ajaxnews-c{contentObjectData.uid}-filter-char" data-char="{char}">{text}</span>
				</f:if>
			</f:for>
			<span class="ajaxnews-char ajaxnews-char-other ajaxnews-char-last" data-field="ajaxnews-c{contentObjectData.uid}-filter-char" data-char="other">Andere</span>
		</div>
		<f:form.hidden id="ajaxnews-c{contentObjectData.uid}-filter-char" property="char" class="ajaxnews-filter ajaxnews-filter-input ajaxnews-filter-char" value="all" />
	</f:section>

	<f:section name="extendedFilters">
		<f:for each="{extendedFilters}" as="filter" iteration="iteration">				
			<f:if condition="{filter.type}=='select'">
				<f:then>
					<v:variable.set name="dependClasses" value="" />
					<v:variable.set name="displayClasses" value="" />
					<f:if condition="{filter.depends -> f:count()}>0">
						<v:variable.set name="dependClasses" value="" />
						<f:for each="{filter.depends}" as="depend">	
							<v:variable.set name="dependClasses" value="{dependClasses} ajaxnews-filter-depends-{depend}" />
						</f:for>
					</f:if>
					<v:variable.set name="displayDependClasses" value="" />
					<f:if condition="{filter.displayDepends -> f:count()}>0">
						<v:variable.set name="displayDependClasses" value="" />
						<f:for each="{filter.displayDepends}" as="displayDepend">	
							<v:variable.set name="displayDependClasses" value="{displayDependClasses} ajaxnews-filter-displays-{displayDepend}" />
						</f:for>
					</f:if>
					<f:if condition="{displayDependClasses}!=''">
						<v:variable.set name="displayClasses" value=" hidden ajaxnews-filter-displays" />
					</f:if>
					<f:form.select id="ajaxnews-c{contentObjectData.uid}-filter-{filter.name}" property="{filter.name}" options="{filter.items}" class="form-control ajaxnews-filter ajaxnews-filter-select ajaxnews-filter-{filter.name}{dependClasses}{displayClasses}{displayDependClasses}" />
				</f:then>
				<f:else>
					<f:form.textfield placeholder="{filter.label}" size="30" id="ajaxnews-c{contentObjectData.uid}-filter-{filter.name}" property="{filter.name}" class="form-control ajaxnews-filter ajaxnews-filter-input ajaxnews-filter-{filter.name}" />
				</f:else>
			</f:if>
		</f:for>	
	</f:section>

</div>