<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<n:excludeDisplayedNews newsItem="{newsItem}" />
	<div id="ajaxnews-item-{newsItem.uid}" class="ajaxnews-item well news-list-item article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
		<h3 itemprop="headline">
			<f:link.action id="ajaxnews-fetch-detail-{newsItem.uid}" class="ajaxnews-fetch-detail" arguments="{news:newsItem,contentObjectUid:contentObject.uid}" title="{newsItem.title}" action="detail" controller="News" extensionName="MooxNews">
				{newsItem.title}
			</f:link.action>
		</h3>
		<f:render partial="General/AdditionalInformation" arguments="{_all}" />
		<div class="row news-list-item-content">
			<f:if condition="{newsItem.falMedia}">
				<div class="col-sm-4 col-sm-push-8 news-list-teaser-image">
					<f:if condition="{newsItem.falMediaPreviews}">
						<f:link.action id="ajaxnews-fetch-detail-{newsItem.uid}" class="ajaxnews-fetch-detail" arguments="{news:newsItem,contentObjectUid:contentObject.uid}" title="{newsItem.title}" action="detail" controller="News" extensionName="MooxNews">
							<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
								<f:if condition="{mediaElement.originalResource.type} == 2">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 1200, treatIdAsReference: 1)}" media="(min-width: 1200px)">
										<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 992, treatIdAsReference: 1)}" media="(min-width: 992px)">
										<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 768, treatIdAsReference: 1)}" media="(min-width: 768px)">
										<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 640, treatIdAsReference: 1)}" media="(min-width: 640px)">
										<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 480, treatIdAsReference: 1)}" media="(min-width: 480px)">
										<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 400, treatIdAsReference: 1)}" media="(min-width: 400px)">
										<!--[if IE 9]></video><![endif]-->
										<img srcset="{v:uri.image(src: mediaElement.uid, maxW: 320, treatIdAsReference: 1)}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" class="img-responsive" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}">
									</picture>
								</f:if>
								<f:if condition="{mediaElement.originalResource.type} == 4">
									<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
								</f:if>
							</f:alias>
						</f:link.action>
					</f:if>
				</div>
			</f:if>
			<div class="{f:if(condition: newsItem.falMedia, then: 'col-sm-8 col-sm-pull-4', else: 'col-sm-12')} news-list-teaser-text">
				<div class="lead" itemprop="description">
					<v:variable.set name="cropMaxCharacters" value="{f:if(condition: settings.cropMaxCharacters, then: settings.cropMaxCharacters, else: '250')}" />
					<f:if condition="{newsItem.teaser}">
						<f:then>
							{newsItem.teaser -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
						</f:then>
						<f:else>
							{newsItem.bodytext -> f:format.crop(maxCharacters: '{cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
						</f:else>
					</f:if>
				</div>
				<v:extension.loaded extensionName="rx_shariff">
					<f:then>
						<f:render partial="General/RxShariff" arguments="{_all}" />
					</f:then>
				</v:extension.loaded>
				<f:link.action id="ajaxnews-fetch-detail-{newsItem.uid}" class="btn btn-primary btn-read-more ajaxnews-fetch-detail" arguments="{news:newsItem,contentObjectUid:contentObject.uid}" title="{newsItem.title}" action="detail" controller="News" extensionName="MooxNews">
					<f:translate key="more-link" />
				</f:link.action>
			</div>
		</div>
	</div>
	
</div>
