<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <v:menu entryLevel="3" levels="1" useShortcutUid="1" useShortcutData="1">
        <f:if condition="{menu}">
            <f:if condition="{menu->f:count()}>0">
                <div class="row news-filter-pages{f:if(condition:'{menu->f:count()}>12',then:' scrollable')}{f:if(condition:'{menu->f:count()}>12 && {currentPage}',then:' auto-scroll')}" data-page="{currentPage}" data-group="1" data-group-max="{menu->f:count()->v:math.division(b:12)->v:math.ceil()}">
                    <f:if condition="{menu->f:count()}>12">
                        <div class="col-1">
                            <a class="news-filter-page-prev disabled" href="javascript:void()">&laquo;</a>
                        </div>
                    </f:if>
                    <div class="col-{f:if(condition:'{menu->f:count()}<=12',then:12,else:10)}">
                        <div class="row row-pages">
                            <f:for each="{menu}" as="page" iteration="iterator">
                                <div class="col-2 col-lg-1 text-center page-group page-group-{v:math.division(a:iterator.cycle,b:12)->v:math.ceil()}{f:if(condition:'{page.uid}=={currentPage}',then:' active')}" data-page="{page.uid}" data-group="{v:math.division(a:iterator.cycle,b:12)->v:math.ceil()}" data-pos="{iterator.cycle}">
                                    <f:link.page class="news-filter-page{f:if(condition:'{page.uid}=={currentPage}',then:' active')}" pageUid="{page.uid}">{page.title}</f:link.page>
                                </div>
                            </f:for>
                        </div>
                    </div>
                    <f:if condition="{menu->f:count()}>12">
                        <div class="col-1 text-right">
                            <a class="news-filter-page-next" href="javascript:void()">&raquo;</a>
                        </div>
                    </f:if>
                </div>
            </f:if>
        </f:if>
    </v:menu>

</div>