<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:if condition="!{settings.hideYearFilter}">
        <f:spaceless>
            <n:years settings="{settings}" excludeEmptyYear="1" as="years" />
            <f:if condition="{showAllFilter}">
                <f:then>
                    <v:variable.set name="offset" value="1" />
                </f:then>
                <f:else>
                    <v:variable.set name="offset" value="0" />
                </f:else>
            </f:if>
        </f:spaceless>
        <f:if condition="{years -> f:count()}>0">
            <div class="row news-filter-years{f:if(condition:'{years->f:count()}>12 && {overwriteDemand.calendar}',then:' auto-scroll')}" data-year="{overwriteDemand.calendar}" data-group="1" data-group-max="{years->f:count()->v:math.division(b:12)->v:math.ceil()}">
                <f:if condition="{years -> f:count()}>12">
                    <div class="col-1">
                        <a class="news-filter-year-prev disabled" href="javascript:void()">&laquo;</a>
                    </div>
                </f:if>
                <div class="col-{f:if(condition:'{years->f:count()}<=12',then:12,else:10)}">
                    <div class="row row-years">
                        <f:if condition="{showAllFilter}">
                            <div class="col-2 col-lg-1 text-center year-group year-group-1{f:if(condition:'!{overwriteDemand.calendar}',then:' active')}" data-year="all" data-group="1" data-pos="1">
                                <f:link.action class="news-filter-year{f:if(condition:'{year}=={overwriteDemand.calendar}',then:' active')}">Alle</f:link.action>
                            </div>
                        </f:if>
                        <f:for each="{years}" as="year" iteration="iterator">
                            <div class="col-2 col-lg-1 text-center year-group year-group-{v:math.sum(a:iterator.cycle,b:offset)->v:math.division(b:12)->v:math.ceil()}{f:if(condition:'{year}=={overwriteDemand.calendar}',then:' active')}" data-year="{year}" data-group="{v:math.sum(a:iterator.cycle,b:offset)->v:math.division(b:12)->v:math.ceil()}" data-pos="{v:math.sum(a:iterator.cycle,b:offset)}">
                                <f:link.action class="news-filter-year{f:if(condition:'{year}=={overwriteDemand.calendar}',then:' active')}" arguments="{overwriteDemand:{calendar:year}}">{year}</f:link.action>
                            </div>
                        </f:for>
                    </div>
                </div>
                <f:if condition="{years -> f:count()}>12">
                    <div class="col-1 text-right">
                        <a class="news-filter-year-next" href="javascript:void()">&raquo;</a>
                    </div>
                </f:if>
            </div>

        </f:if>
    </f:if>

</div>