<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">
	  
	<f:if condition="{pages}!=''">
		<div class="content-pages-container">
			<f:for each="{v:iterator.explode(content: pages, glue: ',')}" as="page">
				<v:variable.set name="info" value="{n:getPageInfo(uid: page)}" />
				<div class="content-page content-page-{page}">
					<f:render partial="Detail/ContentPage" arguments="{page:page, info:info, settings:settings}"/>				
				</div>
			</f:for>
		</div>
	</f:if>
	
</div>


