<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     data-namespace-typo3-fluid="true">
	  
	<f:for each="{extendedFields}" as="extendedField" iteration="iteration">	
		<f:if condition="{extendedField.extkey}=={newsItem.type}">													
			<v:variable.set name="extendedFieldValue" value="{n:getExtendedField(newsItem:newsItem, extendedFieldName:extendedField.name)}" />
			<f:switch expression="{extendedField.addToMooxNewsFrontendDetailView.type}">
				<f:case value="date">
					<f:if condition="{extendedFieldValue}>0">
						<div>
							<strong><v:l key="{extendedField.label}" />:</strong><br />
							<f:format.date format="d.m.Y">{extendedFieldValue}</f:format.date>
						</div>
					</f:if>																			
				</f:case>
				<f:case value="datetime">					
					<f:if condition="{extendedFieldValue}>0">
						<div>
							<strong><v:l key="{extendedField.label}" />:</strong><br />
							<f:format.date format="d.m.Y H:i:s">{extendedFieldValue}</f:format.date>
						</div>
					</f:if>																				
				</f:case>
				<f:case value="currency">
					<div>
						<strong><v:l key="{extendedField.label}" />:</strong><br />
						<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." prependCurrency="FALSE" separateCurrency="TRUE" decimals="2">{extendedFieldValue}</f:format.currency>
					</div>
				</f:case>
				<f:defaultCase>
					<f:if condition="{extendedFieldValue}!=''">
						<div>
							<strong><v:l key="{extendedField.label}" />:</strong><br />
							{extendedFieldValue}
						</div>
					</f:if>
				</f:defaultCase>
			</f:switch>													
		</f:if>
	</f:for>
	
</div>