<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     data-namespace-typo3-fluid="true">

	<div class="mediaelement">
		<div class="mediaelement-video">
			<n:mediaFactory classes="{settings.interfaces.falMedia.video}" element="{mediaElement}" width="{settings.detail.media.video.width}"
				height="{settings.detail.media.video.height}" />
		</div>


		<f:if condition="{mediaElement.originalResource.description}">
			<div class="medialement-alternative-content">
				<p class="news-img-caption">
					{mediaElement.originalResource.description}
				</p>
			</div>
		</f:if>
	</div>
	
</div>
