<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     data-namespace-typo3-fluid="true">
	 
	<div class="mediaelement mediaelement-image lightbox-gallery">
		<f:if condition="{settings.detail.media.image.lightbox}">
			<f:then>
				<a class="image-lightbox" rel="{settings.detail.media.image.lightbox}" title="{mediaElement.caption}" href="{f:uri.image(src:'{mediaElement.uid}' treatIdAsReference:1 maxWidth:'800')}">
					<f:image src="{mediaElement.uid}" treatIdAsReference="1" class="img-responsive" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.detail.media.image.maxWidth}" maxHeight="{settings.detail.media.image.maxHeight}" />
				</a>
			</f:then>
			<f:else>
				<f:image src="{mediaElement.uid}" treatIdAsReference="1" class="img-responsive" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.detail.media.image.maxWidth}" maxHeight="{settings.detail.media.image.maxHeight}" />
			</f:else>
		</f:if>
	</div>
	<f:if condition="{mediaElement.originalResource.description}">
		<p class="news-img-caption">
			{mediaElement.originalResource.description}
		</p>
	</f:if>
	
</div>
