<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     data-namespace-typo3-fluid="true">

	<f:if condition="{newsItem}">
		<f:if condition="{newsItem.falMedia}">
			<v:variable.set name="showRightColumn" value="TRUE" />
		</f:if>
		<f:if condition="{newsItem.relatedFiles}">
			<v:variable.set name="showRightColumn" value="TRUE" />
		</f:if>
		<f:if condition="{newsItem.falRelatedFiles}">
			<v:variable.set name="showRightColumn" value="TRUE" />
		</f:if>
		<f:if condition="{newsItem.relatedLinks}">
			<v:variable.set name="showRightColumn" value="TRUE" />
		</f:if>
		<f:if condition="{newsItem.allRelatedSorted}">
			<v:variable.set name="showRightColumn" value="TRUE" />
		</f:if>
		<div id="ajaxnews-detail-{newsItem.uid}" class="news news-single ajaxnews-detail">
			<div class="article well">
				<div class="news-header">
					<f:if condition="{newsItem.alternativeTitle}">
						<f:then>
							<h2>{newsItem.alternativeTitle}</h2>
						</f:then>
						<f:else>
							<h2>{newsItem.title}</h2>
						</f:else>
					</f:if>
					<f:render partial="General/AdditionalInformation" arguments="{_all}" />
				</div>
				<div class="news-content">
					<div class="row">
						<div class="{f:if(condition: showRightColumn, then: 'col-sm-8', else: 'col-sm-12')}">
							<div class="news-main-content">
								<f:if condition="{newsItem.teaser}">
									<span class="news-teaser lead"><f:format.html>{newsItem.teaser}</f:format.html></span>
								</f:if>
								<f:format.html>{newsItem.bodytext}</f:format.html>
								<f:if condition="{extendedFields -> f:count()}>0">
									<p><f:render partial="Detail/ExtendedFields" arguments="{newsItem:newsItem,extendedFields:extendedFields}" /></p>
								</f:if>
								<f:if condition="{newsItem.contentElements}">
									<f:cObject typoscriptObjectPath="lib.tx_mooxnews.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
								</f:if>
								<f:render partial="Detail/ContentPagesContainer" arguments="{pages: newsItem.contentPages, settings:settings}" />
							</div>
						</div>
						<div class="{f:if(condition: showRightColumn, then: 'col-sm-4', else: 'col-sm-12')}">
							<div class="news-right-content">
								<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
								<f:if condition="{newsItem.falMedia}">
									<hr />
								</f:if>

								<f:if condition="{newsItem.relatedFiles}">
									<h4><f:translate key="related-files" /></h4>
									<div class="list-group news-related news-related-files">
										<f:for each="{newsItem.relatedFiles}" as="relatedFile">
											<n:format.fileDownload file="uploads/tx_mooxnews/{relatedFile.file}" target="_blank" class="list-group-item" secure="{newsItem.uid}" configuration="{settings.relatedFiles.download}">
												<h5 class="list-group-item-heading">
													<span class="fa fa-file-o"></span>&nbsp;
													<f:if condition="{relatedFile.title}">
														<f:then>{relatedFile.title}</f:then>
														<f:else>{relatedFile.file}</f:else>
													</f:if>
												</h5>
											</n:format.fileDownload>
										</f:for>
									</div>
									<hr />
								</f:if>

								<f:if condition="{newsItem.falRelatedFiles}">
									<h4><f:translate key="related-files" /></h4>
									<div class="list-group news-related news-related-files">
										<f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
											<n:format.fileDownload file="{relatedFile.originalResource.publicUrl}" target="_blank" class="list-group-item" secure="{newsItem.uid}" configuration="{settings.relatedFiles.download}">
												<h5 class="list-group-item-heading">
													<f:switch expression="{relatedFile.originalResource.originalFile.properties.extension}">
														<f:case value="pdf"><span class="fa fa-file-pdf-o"></span>&nbsp;</f:case>
														<f:case value="xls"><span class="fa fa-file-excel-o"></span>&nbsp;</f:case>
														<f:case value="xlsx"><span class="fa fa-file-excel-o"></span>&nbsp;</f:case>
														<f:case value="jpg"><span class="fa fa-file-image-o"></span>&nbsp;</f:case>
														<f:case value="jpeg"><span class="fa fa-file-image-o"></span>&nbsp;</f:case>
														<f:case value="png"><span class="fa fa-file-image-o"></span>&nbsp;</f:case>
														<f:case value="gif"><span class="fa fa-file-image-o"></span>&nbsp;</f:case>
														<f:case value="ppt"><span class="fa fa-file-powerpoint-o"></span>&nbsp;</f:case>
														<f:case value="zip"><span class="fa fa-file-archive-o"></span>&nbsp;</f:case>
														<f:case value="rar"><span class="fa fa-file-archive-o"></span>&nbsp;</f:case>
														<f:case value="doc"><span class="fa fa-file-word-o"></span>&nbsp;</f:case>
														<f:case value="docs"><span class="fa fa-file-word-o"></span>&nbsp;</f:case>
														<f:case value="html"><span class="fa fa-file-code-o"></span>&nbsp;</f:case>
														<f:case value="txt"><span class="fa fa-file-text-o"></span>&nbsp;</f:case>
														<f:case value="mp3"><span class="fa fa-file-audio-o"></span>&nbsp;</f:case>
														<f:case value="wav"><span class="fa fa-file-audio-o"></span>&nbsp;</f:case>
														<f:case value="mpeg"><span class="fa fa-file-video-o"></span>&nbsp;</f:case>
														<f:case value="mp4"><span class="fa fa-file-video-o"></span>&nbsp;</f:case>
														<f:defaultCase><span class="fa fa-file-o"></span>&nbsp;</f:defaultCase>
													</f:switch>
													<f:if condition="{relatedFile.title}">
														<f:then>{relatedFile.title}</f:then>
														<f:else>{relatedFile.originalResource.originalFile.name}</f:else>
													</f:if>
												</h5>
												<f:if condition="{relatedFile.description}"><p class="list-group-item-text"><small>{relatedFile.description}</small></p></f:if>
											</n:format.fileDownload>
										</f:for>
									</div>
									<hr />
								</f:if>

								<f:if condition="{newsItem.relatedLinks}">
									<h4><f:translate key="related-links" /></h4>
									<div class="list-group news-related news-related-links">
										<f:for each="{newsItem.relatedLinks}" as="relatedLink">
											<f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" class="list-group-item" target="{n:targetLink(link:relatedLink.uri)}">
												<h5 class="list-group-item-heading"><span class="fa fa-external-link"></span>&nbsp;{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</h5>
												<f:if condition="{relatedLink.description}"><p class="list-group-item-text"><small>{relatedLink.description}</small></p></f:if>
											</f:link.page>
										</f:for>
									</div>
									<hr />
								</f:if>

								<f:if condition="{newsItem.allRelatedSorted}">
									<h4><f:translate key="related-news" /></h4>
									<div class="list-group news-related news-related-news">
										<ul class="list-group">
											<f:for each="{newsItem.allRelatedSorted}" as="related">
												<n:link newsItem="{related}" class="list-group-item" settings="{settings}">
													<h5 class="list-group-item-heading"><span class="fa fa-newspaper-o"></span>&nbsp;{related.title}</h5>
													<p class="list-group-item-text"><small><n:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</n:format.date></small></p>
												</n:link>
											</f:for>
										</ul>
									</div>
								</f:if>
							</div>
						</div>
					</div>
				</div>
				<div class="news-footer">
					<div class="row">
						<div class="{f:if(condition: showRightColumn, then: 'col-sm-8', else: 'col-sm-12')}">
							<v:extension.loaded extensionName="rx_shariff">
								<f:then>
									<f:render partial="General/RxShariff" arguments="{_all}" />
								</f:then>
							</v:extension.loaded>

							<div class="news-backlink-wrap">
								<f:if condition="{settings.backPid}">
									<f:then>
										<f:link.page pageUid="{settings.backPid}" class="btn btn-default">
											<f:translate key="back-link" />
										</f:link.page>
									</f:then>
									<f:else>
										<f:link.page id="ajaxnews-close-detail-{newsItem.uid}" class="btn btn-default ajaxnews-close-detail">
											<f:translate key="back-link" />
										</f:link.page>
									</f:else>
								</f:if>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</f:if>
	
</div>