<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:be.container includeCssFiles="{modulecss:'{f:uri.resource(path:\'Css/Backend/module.css\')}',mod2css:'{f:uri.resource(path:\'Css/Backend/mod2.css\')}'}" includeRequireJsModules="{0:'TYPO3/CMS/MooxNewsSeminar/Backend/Mod2',1:'TYPO3/CMS/Backend/Modal',1:'TYPO3/CMS/Backend/Tooltip'}">
		<div class="module" data-module-id="" data-module-name="">	
			<div class="module-loading-indicator"></div>
			<div class="module-docheader t3js-module-docheader" style="height: auto">
				<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: auto">
					<div class="module-docheader-bar-column-left"></div>
					<div class="module-docheader-bar-column-right text-right">
						<div class="module-name">Referenten</div>
					</div>
				</div>
				<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto">
					<div class="module-docheader-bar-column-left">
						<div class="btn-toolbar" role="toolbar" aria-label="">
							<f:render section="buttons" />												
						</div>
					</div>
					<div class="module-docheader-bar-column-right">
						<div class="btn-toolbar" role="toolbar" aria-label="">
							<f:be.buttons.shortcut />
							<f:link.external uri="{returnUrl}" title="Neu laden" style="margin-left: 10px">
								<core:icon identifier="actions-refresh" size="small" />
							</f:link.external>
							<f:link.external uri="{returnUrl}" target="blank" title="In neuem Fenster öffnen"  style="margin-left: 10px">
								<core:icon identifier="actions-window-open" size="small" />
							</f:link.external>
						</div>
					</div>
				</div>
			</div>	
			<div class="module-body t3js-module-body" style="padding-top: 59px;">
				<f:flashMessages queueIdentifier="extbase.flashmessages.tx_mooxnews.backend" />	
				<f:render section="content" />
			</div>			
		</div>
	</f:be.container>
	
</div>