<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:if condition="{languages->f:count()}>1">
		<f:spaceless>
			<f:if condition="{newsItem.l10nParent}>0">
				<f:then>
					{n:be.translations(newsItem:newsItem.l10nParent,languages:languages,as:'translations')}
				</f:then>
				<f:else>
					{n:be.translations(newsItem:newsItem.uid,languages:languages,as:'translations')}
				</f:else>
			</f:if>
		</f:spaceless>
	</f:if>
	<tr class="db_list_normal news-row" id="news-row-{newsItem.uid}">
		<td class="col-multiple">
			<f:form.checkbox class="selector-checkbox" name="selection[]" value="{newsItem.uid}" />
		</td> 
		<f:render partial="Table/Body/Columns" arguments="{table:table,fields:fields,item:newsItem,replacements:replacements,fieldsSeparator:fieldsSeparator}" />
		<f:render partial="Table/Body/Mod1/Controls" arguments="{table:table,groupedFolders:groupedFolders,folders:folders,controls:controls,filter:filter,languages:languages,translations:translations,storagePage:storagePage,conf:conf,item:newsItem,defaultPreviewBaseUrl:defaultPreviewBaseUrl,returnUrl:returnUrl}" />
	</tr>
	<f:render partial="Module/Mod1/List/Body/Item/Detail" arguments="{conf:conf,fields:previewFields,item:newsItem,replacements:replacements,filter:filter,languages:languages,translations:translations,previewPartials:previewPartials,returnUrl:returnUrl}" />
	
</div>