<div class="news-administration"
	 xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers">
	<n:includeFile path="../typo3conf/ext/moox_news/Resources/Public/Css/Backend/administration.css" />
	<f:flashMessages />
	<f:render section="content" />
</div>