{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{settings.isArchiv}">
	<f:then>
		<h2>Sehr geehrte Damen und Herren,</h2>
	</f:then>
	<f:else>
		[#v:variable.set name="salutation" value="Guten Tag" #//]
		[#f:switch expression="[#gender#]"#/]
			[#f:case value="1"#/]
				[#v:variable.set name="salutation" value="Sehr geehrter Herr" #//]
			[#/f:case#/]
			[#f:case value="2">
				[#v:variable.set name="salutation" value="Sehr geehrte Frau" #//]
			[#/f:case#/]
			[#f:case value="default" default="1"#/]
				 [#v:variable.set name="salutation" value="Guten Tag" #//]
			[#/f:case#/]
		[#/f:switch#/]
		[#f:if condition="[#lastName#] != ''"#/]
			[#f:then#/]
				<h2>[#salutation#] [#f:if condition="[#title#]!="#/][#title#] [#/f:if#/][#lastName#],</h2>																	
			[#/f:then#/]
			[#f:else#/]
				<h2>Sehr geehrte Damen und Herren,</h2>
			[#/f:else#/]
		[#/f:if#/]
	</f:else>
</f:if>