<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	{v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4') -> v:variable.set(name: 'bootstrapSettings')}
	<f:if condition="{data.tx_mooxbootstrap4_visibility} && {data.list_type}!='mooxnews_pi1'">
		<v:variable.set name="bootstrapVisibility" value="{v:iterator.explode(content:data.tx_mooxbootstrap4_visibility,glue:',')}" />
		<f:if condition="{v:condition.iterator.contains(needle:'hidden-moox_news_detail',haystack:bootstrapVisibility,then:1,else:0)} && {bootstrapSettings.visibility.hidden-moox_news_detail}">
			<v:variable.set name="bootstrapVisibilityCss" value="d-none" />
			<v:variable.set name="hidden-moox_news" value="1" />
		</f:if>
		<f:if condition="!{hidden-moox_news} && {v:condition.iterator.contains(needle:'hidden-moox_news_filter',haystack:bootstrapVisibility,then:1,else:0)} && {bootstrapSettings.visibility.hidden-moox_news_filter}">
			<v:variable.set name="bootstrapVisibilityCss" value="d-none" />
			<v:variable.set name="hidden-moox_news" value="1" />
		</f:if>
		<f:if condition="!{hidden-moox_news} && {v:condition.iterator.contains(needle:'hidden-moox_news_pagination',haystack:bootstrapVisibility,then:1,else:0)} && {bootstrapSettings.visibility.hidden-moox_news_pagination}">
			<v:variable.set name="bootstrapVisibilityCss" value="d-none" />
			<v:variable.set name="hidden-moox_news" value="1" />
		</f:if>
	</f:if>
	<f:if condition="!{hidden-moox_news}">
		<f:if condition="{data.frame_class} != none">
			<f:then>
				<f:if condition="{data.tx_mooxbootstrap4_shadow}">
					<v:variable.set name="boostrapShadowCss" value="{data.tx_mooxbootstrap4_shadow}" />
				</f:if>
				<f:if condition="({data.tx_mooxbootstrap4_card} && {data.tx_mooxbootstrap4_card}!='blockquote' && {data.tx_mooxbootstrap4_card_include_header}) || !{data.tx_mooxbootstrap4_card}">
					<v:variable.set name="boostrapCss" value="{data.tx_mooxbootstrap4_card}{f:if(condition:boostrapShadowCss,then:' {boostrapShadowCss}')}" />
				</f:if>
				<f:if condition="{data.tx_mooxbootstrap4_visibility}'">
					<f:if condition="{v:condition.iterator.contains(needle:'hidden-xs',haystack:bootstrapVisibility,then:1,else:0)}">
						<v:variable.set name="bootstrapVisibilityCss" value="d-none" />
						<v:variable.set name="hidden-xs" value="1" />
					</f:if>
					<f:if condition="{v:condition.iterator.contains(needle:'hidden-sm',haystack:bootstrapVisibility,then:1,else:0)}">
						<f:then>
							<f:if condition="!{hidden-xs}">
								<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-sm-none',else:'d-sm-none')}" />
							</f:if>
							<v:variable.set name="hidden-sm" value="1" />
						</f:then>
						<f:else>
							<f:if condition="{hidden-xs}">
								<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-sm-block',else:'d-sm-block')}" />
							</f:if>
						</f:else>
					</f:if>
					<f:if condition="{v:condition.iterator.contains(needle:'hidden-md',haystack:bootstrapVisibility,then:1,else:0)}">
						<f:then>
							<f:if condition="!{hidden-sm}">
								<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-md-none',else:'d-md-none')}" />
							</f:if>
							<v:variable.set name="hidden-md" value="1" />
						</f:then>
						<f:else>
							<f:if condition="{hidden-sm}">
								<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-md-block',else:'d-md-block')}" />
							</f:if>
						</f:else>
					</f:if>
					<f:if condition="{v:condition.iterator.contains(needle:'hidden-lg',haystack:bootstrapVisibility,then:1,else:0)}">
						<f:then>
							<f:if condition="!{hidden-md}">
								<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-lg-none',else:'d-lg-none')}" />
							</f:if>
							<v:variable.set name="hidden-lg" value="1" />
						</f:then>
						<f:else>
							<f:if condition="{hidden-md}">
								<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-lg-block',else:'d-lg-block')}" />
							</f:if>
						</f:else>
					</f:if>
					<f:if condition="{v:condition.iterator.contains(needle:'hidden-xl',haystack:bootstrapVisibility,then:1,else:0)}">
						<f:then>
							<f:if condition="!{hidden-lg}">
								<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-xl-none',else:'d-xl-none')}" />
							</f:if>
							<v:variable.set name="hidden-xl" value="1" />
						</f:then>
						<f:else>
							<f:if condition="{hidden-lg}">
								<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-xl-block',else:'d-xl-block')}" />
							</f:if>
						</f:else>
					</f:if>
					<f:if condition="{v:condition.iterator.contains(needle:'hidden-print',haystack:bootstrapVisibility,then:1,else:0)}">
						<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-print-none',else:'d-print-none')}" />
					</f:if>
					<f:if condition="{v:condition.iterator.contains(needle:'hidden-minimal',haystack:bootstrapVisibility,then:1,else:0)}">
						<v:variable.set name="bootstrapVisibilityCss" value="{f:if(condition:bootstrapVisibilityCss,then:'{bootstrapVisibilityCss} d-minimal-none',else:'d-minimal-none')}" />
					</f:if>
				</f:if>
				<f:if condition="{data.tx_mooxbootstrap4_container}">
					<div class="{data.tx_mooxbootstrap4_container}">
				</f:if>
				<f:switch expression="{data.list_type}">
					<f:case value="mooxnews_pi1_old">
						<f:render section="Main" optional="true" />
					</f:case>
					<f:defaultCase>
						<div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}{f:if(condition:boostrapCss,then:' {boostrapCss}')}{f:if(condition:bootstrapVisibilityCss,then:' {bootstrapVisibilityCss}')}">
							<f:if condition="{data._LOCALIZED_UID}">
								<a id="c{data._LOCALIZED_UID}"></a>
							</f:if>
							<f:render section="Before" optional="true">
								<f:render partial="DropIn/Before/All" arguments="{_all}" />
							</f:render>
							<f:if condition="{data.tx_mooxbootstrap4_card} && {data.tx_mooxbootstrap4_card}!='blockquote' && {data.tx_mooxbootstrap4_card_include_header}">
								<div class="card-header">
							</f:if>
							<f:if condition="{data.tx_mooxbootstrap4_card} && {data.tx_mooxbootstrap4_card}=='blockquote'">
								<f:switch expression="{data.header_position}">
									<f:case value="right">
										<v:variable.set name="blockquote-align" value=" text-right" />
									</f:case>
									<f:case value="center">
										<v:variable.set name="blockquote-align" value=" text-center" />
									</f:case>
									<f:defaultCase>
										<v:variable.set name="blockquote-align" value=" text-left" />
									</f:defaultCase>
								</f:switch>
								<v:variable.set name="subheader" value="{data.subheader}" />
								<v:variable.set name="data.subheader" value="" />
								<blockquote class="blockquote{blockquote-align}{f:if(condition:boostrapShadowCss,then:' {boostrapShadowCss}')}">
							</f:if>
							<f:if condition="!{bootstrapSettings.visibility.hidden-moox_news_detail}">
								<f:render section="Header" optional="true">
									<f:render partial="Header/All" arguments="{_all}" />
								</f:render>
							</f:if>
							<f:if condition="{data.tx_mooxbootstrap4_card} && {data.tx_mooxbootstrap4_card}!='blockquote' && {data.tx_mooxbootstrap4_card_include_header}">
						</div>
						<div class="card-body">
		</f:if>
		<f:if condition="{data.tx_mooxbootstrap4_card} && {data.tx_mooxbootstrap4_card}!='blockquote' && !{data.tx_mooxbootstrap4_card_include_header}">
			<div class="{data.tx_mooxbootstrap4_card}{f:if(condition:boostrapCss,then:' {boostrapCss}')}{f:if(condition:boostrapShadowCss,then:' {boostrapShadowCss}')}">
				<div class="card-body">
		</f:if>
		<f:render section="Main" optional="true" />
		<f:if condition="{data.tx_mooxbootstrap4_card} && {data.tx_mooxbootstrap4_card}!='blockquote' && !{data.tx_mooxbootstrap4_card_include_header}">
			</div>
			</div>
		</f:if>
		<f:if condition="{data.tx_mooxbootstrap4_card} && {data.tx_mooxbootstrap4_card}!='blockquote' && {data.tx_mooxbootstrap4_card_include_header}">
			</div>
		</f:if>
		<f:if condition="{data.tx_mooxbootstrap4_card} && {data.tx_mooxbootstrap4_card}=='blockquote'">
			<f:if condition="{subheader}"><footer class="blockquote-footer">{subheader}</footer></f:if>
			</blockquote>
		</f:if>
		<f:render section="Footer" optional="true">
			<f:render partial="Footer/All" arguments="{_all}" />
		</f:render>
		<f:render section="After" optional="true">
			<f:render partial="DropIn/After/All" arguments="{_all}" />
		</f:render>
		</div>
		</f:defaultCase>
		</f:switch>
		<f:if condition="{data.tx_mooxbootstrap4_container}">
			</div>
		</f:if>
		</f:then>
		<f:else>
			<a id="c{data.uid}"></a>
			<f:if condition="{data._LOCALIZED_UID}">
				<a id="c{data._LOCALIZED_UID}"></a>
			</f:if>
			<f:if condition="{data.space_before_class}">
				<div class="frame-space-before-{data.space_before_class}"></div>
			</f:if>
			<f:render section="Before" optional="true">
				<f:render partial="DropIn/Before/All" arguments="{_all}" />
			</f:render>
			<f:render section="Header" optional="true">
				<f:render partial="Header/All" arguments="{_all}" />
			</f:render>
			<f:render section="Main" optional="true" />
			<f:render section="Footer" optional="true">
				<f:render partial="Footer/All" arguments="{_all}" />
			</f:render>
			<f:render section="After" optional="true">
				<f:render partial="DropIn/After/All" arguments="{_all}" />
			</f:render>
			<f:if condition="{data.space_after_class}">
				<div class="frame-space-after-{data.space_after_class}"></div>
			</f:if>
		</f:else>
	</f:if>
	</f:if>
</f:spaceless>
</html>
