<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div id="moox-news-module-body" class="moox-module-body" data-url="{f:uri.action(action:'list',noCache:1)}" data-return-url="{returnUrl}">	
		<f:if condition="{news->f:count()}>0">
			<f:then>			
				<f:be.widget.paginate objects="{news}" as="paginatedNews" configuration="{
					itemsPerPage: filter.perPage, 
					insertAbove: 0, 
					insertBelow: 1
				}">
					<f:form class="moox-module-table-wrapper well well-sm clearfix" id="moox-module-multiple-selector-form" name="multiple" action="multiple" noCache="1">					
						<div class="table-responsive">
							<table class="table table-striped table-hover">
								<thead>
									<tr class="t3-row-header">
										<th class="col-multiple">
											<f:form.checkbox name="allTop" class="moox-module-multiple-all" value="" />
										</th>
										<f:for each="{fields}" as="field" iteration="iteration">
											<f:render partial="Table/Header/Column" arguments="{ordering:ordering, filter:filter, field:field, iteration:iteration}" />
										</f:for>
										<th class="col-control">Funktionen</th>
									</tr>
								</thead>
								<tbody>
									<f:for each="{paginatedNews}" as="newsItem" iteration="iteration">				
										<f:render partial="Module/List/Body/Item" arguments="{_all}" />							
									</f:for>
								</tbody>						
							</table>
						</div>
						<div class="moox-module-multiple-functions">
							<f:form.checkbox name="allBottom" class="moox-module-multiple-all" value="" />
							<span class="selector-counter"><strong>0</strong> Einträge gewählt</span>
							<f:form.select class="function-selector" options="{multipleFunctions}" name="function" id="function" class="form-control" style="width: auto;display:inline" />
							<f:form.hidden name="returnUrl" value="{returnUrl}" />
							<f:form.submit class="btn btn-primary btn-execute" value="ausführen" />
						</div>						
					</f:form>					
				</f:be.widget.paginate>
			</f:then>
			<f:else>
				<f:if condition="{types->f:count()}>1">
					<f:then>
						<f:be.infobox>Keine Einträge gefunden</f:be.infobox>
					</f:then>
					<f:else>						
						<f:be.infobox>Kein<f:if condition="{types -> v:iterator.first()}=='News'">e</f:if> {types -> v:iterator.first()} gefunden</f:be.infobox>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</div>
	
</div>