<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div id="moox-mailer-module-body" class="moox-module-body" data-url="{f:uri.action(action:'list',noCache:1)}" data-return-url="{returnUrl}">	
		<f:if condition="{templates->f:count()}>0">
			<f:then>			
				<mc:be.widget.paginate objects="{templates}" as="paginatedTemplates" configuration="{
					itemsPerPage: filter.perPage, 
					insertAbove: 0, 
					insertBelow: 1
				}">
					<f:form class="moox-module-table-wrapper well well-sm clearfix" id="moox-module-multiple-selector-form" name="multiple" action="multiple" noCache="1">
					
						<table class="table table-striped table-hover">
							<thead>
								<tr class="t3-row-header">
									<f:for each="{fields}" as="field" iteration="iteration">
										<f:render partial="Table/Header/Column" arguments="{ordering:ordering, filter:filter, field:field, iteration:iteration}" />																						
									</f:for>
									<th class="col-control">Funktionen</th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{paginatedTemplates}" as="template" iteration="iteration">												
									<f:render partial="Module/Mod9/List/Body/Item" arguments="{_all}" />
								</f:for>
							</tbody>						
						</table>
						<f:comment>
							<div class="moox-module-multiple-functions well well-sm">
								<f:form.checkbox name="allBottom" class="moox-module-multiple-all" value="" />
								<span class="selector-counter"><strong>0</strong> Einträge gewählt</span>
								<f:form.select class="function-selector" options="{multipleFunctions}" name="function" id="function" class="form-control" style="width: auto;display:inline" />
								<f:form.hidden name="returnUrl" value="{returnUrl}" />
								<f:form.submit class="btn btn-primary btn-execute" value="ausführen" />
							</div>
						</f:comment>
					</f:form>		
				</mc:be.widget.paginate>
			</f:then>
			<f:else>
				<f:be.infobox>Keine Vorlagen gefunden</f:be.infobox>
			</f:else>
		</f:if>
	</div>
	
</div>