<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:for each="{replacements}" as="replacement">
		<v:variable.set name="category.title" value="{v:format.replace(substring: replacement.search, content: category.title, replacement: replacement.replace)}" />
	</f:for>		
	<tr class="db_list_normal category-detail" style="display:none" id="category-detail-{category.uid}">	
		<td colspan="{v:math.sum(a:'{fields->f:count()}',b:1)}">
			<div class="form-horizontal well well-sm" style="margin-bottom:0px;padding-left:49px;padding-top:10px">
				<div class="form-group" style="margin-bottom:0px">
					<label for="title" class="col-sm-2 control-label" style="text-align:left">Name:</label>
					<div class="col-sm-10 form-control-static">
						<div class="value">{f:format.raw(value: category.title)}</div>
					</div>		
				</div>
				<f:if condition="{category.filterTitle}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="description" class="col-sm-2 control-label" style="text-align:left">Name in Filterbox:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{f:format.raw(value: category.filterTitle)}</div>
						</div>
					</div>
				</f:if>
				<f:if condition="{category.description}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="description" class="col-sm-2 control-label" style="text-align:left">Beschreibung:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{f:format.raw(value: category.description)}</div>
						</div>
					</div>
				</f:if>
				<f:if condition="{category.seoTitle}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="seoTitle" class="col-sm-2 control-label" style="text-align:left">[SEO] &gt;title&lt;-Tag:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{f:format.raw(value: category.seoTitle)}</div>
						</div>
					</div>
				</f:if>
				<f:if condition="{category.seoDescription}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="seoDescription" class="col-sm-2 control-label" style="text-align:left">[SEO] Meta-Beschreibung:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{f:format.raw(value: category.seoDescription)}</div>
						</div>
					</div>
				</f:if>
				<f:if condition="{category.seoText}">
					<div class="form-group" style="margin-bottom:0px">
						<label for="seoText" class="col-sm-2 control-label" style="text-align:left">[SEO] Text:</label>
						<div class="col-sm-10 form-control-static">
							<div class="value">{f:format.raw(value: category.seoText)}</div>
						</div>
					</div>
				</f:if>
			</div>
		</td>							
	</tr>
	
</div>