<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:mc="http://typo3.org/ns/Neulandlotsen/MooxCore/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:for each="{fields}" as="field" iteration="iteration">	
		<v:variable.set name="text" value="" />
		<v:variable.set name="class" value="" />
		<f:switch expression="{field.name}">
			<f:defaultCase>
				<f:if condition="{field.type}!=''">
					<f:then>
						<f:switch expression="{field.type}">
							<f:case value="datetime">
								<v:variable.set name="text" value="{mc:getValue(item:item,field:field.name)}" />
								<f:if condition="{text}>0">
									<f:then>
										<f:if condition="{text -> f:format.date(format:'H:i')}!='00:00'">
											<f:then>
												<v:variable.set name="text" value="{f:format.date(format: 'd.m.Y', date: text)} {f:format.date(format: 'H:i', date: text)} Uhr" />
											</f:then>
											<f:else>
												<v:variable.set name="text" value="{f:format.date(format: 'd.m.Y', date: text)}" />
											</f:else>
										</f:if>										
									</f:then>
									<f:else>
										<v:variable.set name="text" value="" />
									</f:else>
								</f:if>
							</f:case>
							<f:case value="date">
								<v:variable.set name="text" value="{mc:getValue(item:item,field:field.name)}" />
								<f:if condition="{text}>0">
									<f:then>
										<v:variable.set name="text" value="{f:format.date(format: 'd.m.Y', date: text)}" />	
									</f:then>
									<f:else>
										<v:variable.set name="text" value="" />
									</f:else>
								</f:if>
							</f:case>
							<f:defaultCase>
								<v:variable.set name="text" value="{mc:getValue(item:item,field:field.name)}" />
								<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
							</f:defaultCase>
						</f:switch>
					</f:then>
					<f:else>
						<v:variable.set name="text" value="{mc:getValue(item:item,field:field.name)}" />
						<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
					</f:else>
				</f:if>	
			</f:defaultCase>
		</f:switch>
		<f:for each="{field.additional}" as="additionalField">
			<f:switch expression="{additionalField.name}">
				<f:defaultCase>
					<f:if condition="{additionalField.type}!=''">
						<f:then>
							<f:switch expression="{additionalField.type}">
								<f:case value="datetime">
									<v:variable.set name="additionalText" value="{mc:getValue(item:item,field:additionalField.name)}" />
									<f:if condition="{additionalText}>0">
										<f:then>
											<f:if condition="{additionalText -> f:format.date(format:'H:i')}!='00:00'">
												<f:then>
													<v:variable.set name="additionalText" value="{f:format.date(format: 'd.m.Y', date: additionalText)}<br />{f:format.date(format: 'H:i', date: additionalText)} Uhr" />
												</f:then>
												<f:else>
													<v:variable.set name="additionalText" value="{f:format.date(format: 'd.m.Y', date: additionalText)}" />
												</f:else>
											</f:if>		
										</f:then>
										<f:else>
											<v:variable.set name="additionalText" value="" />
										</f:else>
									</f:if>
								</f:case>
								<f:case value="date">
									<v:variable.set name="additionalText" value="{mc:getValue(item:item,field:additionalField.name)}" />
									<f:if condition="{additionalText}>0">
										<f:then>
											<v:variable.set name="additionalText" value="{f:format.date(format: "d.m.Y", date: additionalText)}" />	
										</f:then>
										<f:else>
											<v:variable.set name="additionalText" value="" />
										</f:else>
									</f:if>
								</f:case>
								<f:defaultCase>
									<v:variable.set name="additionalText" value="{mc:getValue(item:item,field:additionalField.name)}" />
									<v:variable.set name="additionalText" value="{f:format.stripTags(value: additionalText)}" />
								</f:defaultCase>
							</f:switch>
						</f:then>
						<f:else>
							<v:variable.set name="additionalText" value="{mc:getValue(item:item,field:additionalField.name)}" />
							<v:variable.set name="additionalText" value="{f:format.stripTags(value: additionalText)}" />
						</f:else>
					</f:if>				
				</f:defaultCase>
			</f:switch>
			<v:variable.set name="text" value="{text}{fieldsSeparator}{additionalText}" />
		</f:for>
		<v:variable.set name="title" value="{text}" />
		<f:for each="{replacements}" as="replacement">		
			<v:variable.set name="text" value="{v:format.replace(substring: replacement.search, content: text, replacement: replacement.replace)}" />
		</f:for>
		<v:variable.set name="fulltext" value="{text}" />
		<f:if condition="{field.length}>0">
			<v:variable.set name="text" value="{text -> f:format.crop(maxCharacters: field.length)}" />				
		</f:if>
		<f:if condition="{field.preventWordwrap}">
			<v:variable.set name="text" value="{text -> v:format.replace(substring: ' ', replacement: '&nbsp;')}" />				
		</f:if>
		<f:if condition="{iteration.isFirst}">
			<f:then>
				<td>
					<a href="#" class="t3js-contextmenutrigger" data-table="{table}" data-uid="{item.uid}" style="text-decoration:none">
						<span data-toggle="tooltip" data-title="UID:{item.uid}" data-html="true" data-placement="right" data-original-title="" title="">
							<mc:be.buttons.iconForRecord table="{table}" uid="{item.uid}" title="{item.autoName}" />
						</span>
					</a>					
					<a class="show-detail {class}" style="margin-left:5px" href="#" data-uid="{item.uid}">
						<span class="icon-down"><core:icon identifier="actions-move-down" size="small" /></span><span class="icon-up" style="display:none"><core:icon identifier="actions-move-up" size="small" /></span> {text -> f:format.raw()}
					</a>								
				</td>
			</f:then>
			<f:else>
				<td class="col-{field.name}"<f:if condition="{field.name}=='uid'"> align="right"</f:if>>				
					<span title="{title} [UID: {item.uid}]"<f:if condition="{class}"> class="{class}"</f:if>><span data-toggle="tooltip" data-title="{fulltext}" data-html="true" data-placement="right" data-original-title="" title="">{text -> f:format.raw()}<f:if condition="{field.name}=='uid'"><f:if condition="{settings.shortcutUrl}"> <f:link.external uri="{v:format.replace(content:settings.shortcutUrl,substring:'#uid#',replacement:text)}" target="_blank"><core:icon identifier="mimetypes-x-content-link" size="small" /></f:link.external></f:if></f:if></span></span>
				</td>
			</f:else>
		</f:if>				
	</f:for>
	
</div>