<html xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="DefaultPage" />

    <f:section name="Configuration">
        <flux:form id="mooxtemplatehecocontactpage" label="LLL:flux.form.label.contactpage">
            <flux:form.option.icon value="EXT:moox_template_heco/Resources/Public/Icons/Templates/Page/ContactPage.png" />
            <flux:field.checkbox name="pinContactMenu" label="LLL:flux.form.label.contactpage.pinContactMenu" />
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" name="maincontent" label="LLL:flux.form.label.contactpage.maincontent" />
                </flux:grid.row>
                <flux:grid.row>
                    <flux:grid.column colPos="30" name="bottomcontent" label="LLL:flux.form.label.contactpage.bottomcontent" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Content">
        <f:spaceless>
            {v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.templates.ContactPage') -> v:variable.set(name: 'templateSettings')}
            <v:page.rootline as="rootline">
                <v:variable.set name="backgroundImage" value="{media.0}" />
            </v:page.rootline>
            <f:if condition="!{pinContactMenu}">
                <v:variable.set name="showBacklink" value="1" />
                <v:variable.set name="backendLabel" value="Zurück zur Übersicht" />
            </f:if>
        </f:spaceless>
        <f:render partial="Header" arguments="{_all}" />
        <f:render partial="Navigation" section="Default" arguments="{_all}" />
        <!--TYPO3SEARCH_begin-->
        <main role="main">
            <div class="page-content contactpage">
                <div class="contactmap-background">
                    <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/contact_map.png" class="img-background" title="heco: Karte"/>
                    <div class="contactmap-overlay">
                        <div class="container">
                            <f:render partial="Navigation" section="Breadcrumb" arguments="{_all}" />
                        </div>
                    </div>
                </div>
                <div class="contactmenu-header">
                    <div class="container">
                        <f:if condition="{pinContactMenu}">
                            <f:then>
                                <div class="contactmenu-header-info">
                                    {f:translate(key:'template.contactpage.selectLabel')}
                                </div>
                            </f:then>
                            <f:else>
                                <div class="contactmenu-header-switch" data-default-text="{f:translate(key:'template.contactpage.selectLabel')}" data-page-title="{page.title}">
                                    <span class="title">{page.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</span><i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                            </f:else>
                        </f:if>
                    </div>
                </div>
                <div class="contactmenu-background"<f:if condition="!{pinContactMenu}"> style="display:none"</f:if>>
                    <img src="/typo3conf/ext/moox_template_heco/Resources/Public/Images/contact_background.png" class="img-background" title="heco: Karte"/>
                    <div class="contactmenu-overlay">
                        <div class="container">
                            <v:menu entryLevel="2" levels="1" useShortcutUid="{bootstrapSettings.navigation.main.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.main.useShortcutData}">
                                <f:if condition="{menu}">
                                    <div class="row row-contactpage-menu">
                                        <f:for each="{menu}" as="page" iteration="iteration">
                                           <div class="col-12 col-md-{f:if(condition:'{iteration.index}>0',then:6,else:12)} col-lg-{f:if(condition:'{iteration.index}>0',then:3,else:6)} col-contactpage-menu">
                                               <div class="contactpage-box">
                                                   <h2>{page.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</h2>
                                                   <f:if condition="{page.hasSubPages}">
                                                       <v:menu pageUid="{page.uid}" expandAll="TRUE">
                                                           <f:if condition="{menu}">
                                                               <div class="contactpage-list">
                                                                   <f:if condition="{iteration.index}>0">
                                                                       <f:then>
                                                                           <f:for each="{menu}" as="subpage" iteration="iterationSubpage">
                                                                               <div class="contactpage-item">
                                                                                   <span class="circle"></span><a href="{f:uri.page(pageUid:subpage.uid)}" class="link" title="{subpage.title}">{subpage.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</a>
                                                                               </div>
                                                                           </f:for>
                                                                       </f:then>
                                                                       <f:else>
                                                                           <div class="row row-contactpage-list">
                                                                               <div class="col-12 col-sm-6 col-contactpage-list">
                                                                                   <f:for each="{menu}" as="subpage" iteration="iterationSubpage">
                                                                                       <div class="contactpage-item">
                                                                                           <span class="circle"></span><a href="{f:uri.page(pageUid:subpage.uid)}" class="link" title="{subpage.title}">{subpage.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</a>
                                                                                       </div>
                                                                                       <f:if condition="{v:math.modulo(a:iterationSubpage.cycle,b:8)}==0">
                                                                                            </div>
                                                                                            <div class="col-12 col-sm-6 col-contactpage-list">
                                                                                       </f:if>
                                                                                   </f:for>
                                                                               </div>
                                                                           </div>
                                                                       </f:else>
                                                                   </f:if>
                                                               </div>
                                                           </f:if>
                                                       </v:menu>
                                                   </f:if>
                                               </div>
                                            </div>
                                        </f:for>
                                    </div>
                                </f:if>
                            </v:menu>
                        </div>
                    </div>
                </div>
                <f:if condition="!{pinContactMenu}">
                    <v:content.render column="0" as="mainContents">
                        <f:if condition="{mainContents -> f:count()}>0">
                            <div class="background-white">
                                <div class="container">
                                    <v:content.render column="0" />
                                </div>
                            </div>
                        </f:if>
                    </v:content.render>
                    <v:content.render column="30" as="bottomContents">
                        <f:if condition="{bottomContents -> f:count()}>0">
                            <div class="background-grey">
                                <div class="container">
                                    <v:content.render column="30" />
                                </div>
                            </div>
                        </f:if>
                    </v:content.render>
                </f:if>
            </div>
        </main>
        <!--TYPO3SEARCH_end-->
        <f:render partial="Footer" arguments="{_all}" />
    </f:section>

</html>

