<html xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="DefaultPage" />

    <f:section name="Configuration">
        <flux:form id="mooxtemplatehecodefaultpage" label="LLL:flux.form.label.defaultpage">
            <flux:form.option.icon value="EXT:moox_template_heco/Resources/Public/Icons/Templates/Page/DefaultPage.png" />
            <flux:field.custom name="description" label="LLL:flux.form.label.nooptions" />
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" name="maincontent" label="LLL:flux.form.label.defaultpage.maincontent" />
                </flux:grid.row>
                <flux:grid.row>
                    <flux:grid.column colPos="30" name="bottomcontent" label="LLL:flux.form.label.defaultpage.bottomcontent" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Content">
        <f:spaceless>{v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.templates.DefaultPage') -> v:variable.set(name: 'templateSettings')}</f:spaceless>
        <f:render partial="Header" arguments="{_all}" />
        <f:render partial="Navigation" section="Default" arguments="{_all}" />
        <!--TYPO3SEARCH_begin-->
        <main role="main">
            <div class="page-content defaultpage">
                <div class="container">
                    <f:render partial="Navigation" section="Breadcrumb" arguments="{_all}" />
                </div>
                <v:content.render column="0" as="mainContents">
                    <f:if condition="{mainContents -> f:count()}>0">
                        <div class="background-white">
                            <div class="container">
                                <v:content.render column="0" />
                            </div>
                        </div>
                    </f:if>
                </v:content.render>
                <v:content.render column="30" as="bottomContents">
                    <f:if condition="{bottomContents -> f:count()}>0">
                        <div class="background-grey">
                            <div class="container">
                                <v:content.render column="30" />
                            </div>
                        </div>
                    </f:if>
                </v:content.render>
            </div>
        </main>
        <!--TYPO3SEARCH_end-->
        <f:render partial="Footer" arguments="{_all}" />
    </f:section>

</html>