<html xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="DefaultPage" />

    <f:section name="Configuration">
        <flux:form id="mooxtemplatehecoexhibitionpage" label="LLL:flux.form.label.exhibitionpage">
            <flux:form.option.icon value="EXT:moox_template_heco/Resources/Public/Icons/Templates/Page/ExhibitionPage.png" />
            <flux:field.custom name="description" label="LLL:flux.form.label.nooptions" />
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" colspan="3" name="maincontent" label="LLL:flux.form.label.exhibitionpage.maincontent" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Content">
        <f:spaceless>
            {v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.templates.ExhibitionPage') -> v:variable.set(name: 'templateSettings')}
        </f:spaceless>
        <f:render partial="Header" arguments="{_all}" />
        <f:render partial="Navigation" section="Default" arguments="{_all}" />
        <!--TYPO3SEARCH_begin-->
        <main role="main">
            <div class="page-content exhibitionpage container">
                <f:render partial="Navigation" section="Breadcrumb" arguments="{_all}" />
                <div class="background-white">
                    <v:menu pageUid="{page.uid}" levels="1" useShortcutUid="{bootstrapSettings.navigation.main.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.main.useShortcutData}">
                        <f:if condition="{menu}">
                            <div class="row row-exhibitionpage-teaser">
                                <f:for each="{menu}" as="page" iteration="iteration">
                                    <f:spaceless>
                                        <v:page.resources.fal as="media" uid="{page.uid}">
                                            <f:if condition="{media}">
                                                <v:variable.set name="teaserImage" value="{media.0}" />
                                            </f:if>
                                        </v:page.resources.fal>
                                    </f:spaceless>
                                    <div class="col-12 col-md-6 col-lg-3 col-exhibitionpage-teaser">
                                        <a href="{f:uri.page(pageUid:page.uid)}" class="exhibitionpage-teaser" title="{f:if(condition: page.nav_title, then: page.nav_title, else: page.title)}">
                                            <f:if condition="{teaserImage}">
                                                <div class="exhibitionpage-teaser-image">
                                                    <f:image src="{teaserImage.url}" treatIdAsReference="1" maxHeight="267" class="img-exhibitionpage-teaser" title="{page.title}" />
                                                    <div class="exhibitionpage-teaser-image-overlay">
                                                        <h2 class="exhibitionpage-teaser-image-title">
                                                            {page.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}
                                                        </h2>
                                                    </div>
                                                </div>
                                            </f:if>
                                            <h2 class="exhibitionpage-teaser-title">
                                                {page.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}
                                            </h2>
                                            <f:if condition="{page.subtitle}">
                                                <h3 class="exhibitionpage-teaser-subtitle">
                                                    {page.subtitle -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}
                                                </h3>
                                            </f:if>
                                        </a>
                                    </div>
                                </f:for>
                            </div>
                        </f:if>
                    </v:menu>
                </div>
            </div>
        </main>
        <!--TYPO3SEARCH_end-->
        <f:render partial="Footer" arguments="{_all}" />
    </f:section>

</html>