<html xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="DefaultPage" />

    <f:section name="Configuration">
        <flux:form id="mooxtemplatehecoknowledgepage" label="LLL:flux.form.label.knowledgepage">
            <flux:form.option.icon value="EXT:moox_template_heco/Resources/Public/Icons/Templates/Page/KnowledgePage.png" />
            <flux:field.custom name="description" label="LLL:flux.form.label.nooptions" />
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" colspan="3" name="maincontent" label="LLL:flux.form.label.knowledgepage.maincontent" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Content">
        <f:spaceless>
            {v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.templates.KnowledgePage') -> v:variable.set(name: 'templateSettings')}
        </f:spaceless>
        <f:render partial="Header" arguments="{_all}" />
        <f:render partial="Navigation" section="Default" arguments="{_all}" />
        <!--TYPO3SEARCH_begin-->
        <main role="main">
            <div class="page-content knowledgepage container">
                <f:render partial="Navigation" section="Breadcrumb" arguments="{_all}" />
                <div class="background-white">
                    <v:menu entryLevel="2" levels="1" useShortcutUid="{bootstrapSettings.navigation.main.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.main.useShortcutData}">
                        <f:if condition="{menu}">
                            <div class="row row-knowledgepage-teaser">
                                <f:for each="{menu}" as="page" iteration="iteration">
                                    <f:spaceless>
                                        <v:page.resources.fal as="media" uid="{page.uid}">
                                            <f:if condition="{media}">
                                                <v:variable.set name="teaserImage" value="{media.0}" />
                                            </f:if>
                                        </v:page.resources.fal>
                                    </f:spaceless>
                                    <div class="col-12 col-md-6 col-knowledgepage-teaser">
                                        <div class="knowledgepage-teaser" style="background-image: url({teaserImage.url})">
                                            <h2 class="knowledgepage-teaser-title">
                                                {page.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}
                                            </h2>
                                            <f:if condition="{page.subtitle}">
                                                <h3 class="knowledgepage-teaser-subtitle">
                                                    {page.subtitle}
                                                </h3>
                                            </f:if>
                                            <v:menu pageUid="{page.uid}" expandAll="TRUE">
                                                <f:if condition="{menu}">
                                                    <div class="knowledgepage-list">
                                                        <f:for each="{menu}" as="subpage" iteration="iterationSubpage">
                                                            <div class="knowledgepage-item">
                                                                <span class="circle"></span><a href="{f:uri.page(pageUid:subpage.uid)}" class="link" title="{f:if(condition: subpage.nav_title, then: subpage.nav_title, else: subpage.title)}">{subpage.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}</a>
                                                            </div>
                                                        </f:for>
                                                    </div>
                                                </f:if>
                                            </v:menu>
                                        </div>
                                    </div>
                                </f:for>
                            </div>
                        </f:if>
                    </v:menu>
                </div>
            </div>
        </main>
        <!--TYPO3SEARCH_end-->
        <f:render partial="Footer" arguments="{_all}" />
    </f:section>

</html>