<html xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="DefaultPage" />

    <f:section name="Configuration">
        <flux:form id="mooxtemplatehecomarketingpage" label="LLL:flux.form.label.marketingpage">
            <flux:form.option.icon value="EXT:moox_template_heco/Resources/Public/Icons/Templates/Page/MarketingPage.png" />
            <flux:field.custom name="description" label="LLL:flux.form.label.nooptions" />
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" colspan="3" name="maincontent" label="LLL:flux.form.label.marketingpage.maincontent" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Content">
        <f:spaceless>
            {v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.templates.MarketingPage') -> v:variable.set(name: 'templateSettings')}
        </f:spaceless>
        <f:render partial="Header" arguments="{_all}" />
        <f:render partial="Navigation" section="Default" arguments="{_all}" />
        <!--TYPO3SEARCH_begin-->
        <main role="main">
            <div class="page-content marketingpage container">
                <f:render partial="Navigation" section="Breadcrumb" arguments="{_all}" />
                <div class="background-white">
                    <v:menu pageUid="{page.uid}" levels="1" useShortcutUid="{bootstrapSettings.navigation.main.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.main.useShortcutData}">
                        <f:if condition="{menu}">
                            <div class="row row-marketingpage-teaser">
                                <f:for each="{menu}" as="page" iteration="iteration">
                                    <f:spaceless>
                                        <v:page.resources.fal as="media" uid="{page.uid}">
                                            <f:if condition="{media}">
                                                <v:variable.set name="images" value="{media -> v:iterator.filter(filter:2,propertyName:'type')}" />
                                                <f:if condition="{images -> f:count()}>0">
                                                    <v:variable.set name="teaserImage" value="{images.0}" />
                                                </f:if>
                                            </f:if>
                                        </v:page.resources.fal>
                                    </f:spaceless>
                                    <div class="col-12 col-md-6 col-lg-3 col-marketingpage-teaser">
                                        <a href="{f:uri.page(pageUid:page.uid)}" class="marketingpage-teaser" title="{f:if(condition: page.nav_title, then: page.nav_title, else: page.title)}">
                                            <f:if condition="{teaserImage}">
                                                <div class="marketingpage-teaser-image">
                                                    <f:image src="{teaserImage.url}" treatIdAsReference="1" maxHeight="267" class="img-marketingpage-teaser" title="{page.title}" />
                                                    <div class="marketingpage-teaser-image-overlay">
                                                        <div class="marketingpage-teaser-image-overlay-inner">
                                                            <h2 class="marketingpage-teaser-image-year">
                                                                {page.nav_title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}
                                                            </h2>
                                                            <f:if condition="{page.title}">
                                                                <h3 class="marketingpage-teaser-image-title">
                                                                    {page.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}
                                                                </h3>
                                                            </f:if>
                                                            <f:if condition="{page.title}">
                                                                <h4 class="marketingpage-teaser-image-subtitle">
                                                                    {page.subtitle -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}
                                                                </h4>
                                                            </f:if>
                                                        </div>
                                                    </div>
                                                </div>
                                            </f:if>
                                            <h2 class="marketingpage-teaser-year">
                                                {page.nav_title}
                                            </h2>
                                        </a>
                                    </div>
                                </f:for>
                            </div>
                        </f:if>
                    </v:menu>
                </div>
            </div>
        </main>
        <!--TYPO3SEARCH_end-->
        <f:render partial="Footer" arguments="{_all}" />
    </f:section>

</html>