<html xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="DefaultPage" />

    <f:section name="Configuration">
        <flux:form id="mooxtemplatehecostartpage" label="LLL:flux.form.label.startpage">
            <flux:form.option.icon value="EXT:moox_template_heco/Resources/Public/Icons/Templates/Page/StartPage.png" />
            <f:comment>
                <flux:form.sheet name="products" label="LLL:flux.form.sheet.startpage.products">
                    <flux:field.input name="linkTargetProduct1"
                                      label="LLL:flux.form.label.startpage.linkTargetProduct1">
                        <flux:wizard.link activeTab="url" />
                    </flux:field.input>
                    <flux:field.input name="linkTargetProduct2"
                                      label="LLL:flux.form.label.startpage.linkTargetProduct2">
                        <flux:wizard.link activeTab="url" />
                    </flux:field.input>
                    <flux:field.input name="linkTargetProduct3"
                                      label="LLL:flux.form.label.startpage.linkTargetProduct3">
                        <flux:wizard.link activeTab="url" />
                    </flux:field.input>
                    <flux:field.input name="linkTargetProduct4"
                                      label="LLL:flux.form.label.startpage.linkTargetProduct4">
                        <flux:wizard.link activeTab="url" />
                    </flux:field.input>
                    <flux:field.input name="linkTargetProduct5"
                                      label="LLL:flux.form.label.startpage.linkTargetProduct5">
                        <flux:wizard.link activeTab="url" />
                    </flux:field.input>
                    <flux:field.input name="linkTargetProduct6"
                                      label="LLL:flux.form.label.startpage.linkTargetProduct6">
                        <flux:wizard.link activeTab="url" />
                    </flux:field.input>
                    <flux:field.input name="linkTargetProduct7"
                                      label="LLL:flux.form.label.startpage.linkTargetProduct7">
                        <flux:wizard.link activeTab="url" />
                    </flux:field.input>
                    <flux:field.input name="linkTargetProducts"
                                      label="LLL:flux.form.label.startpage.linkTargetProducts">
                        <flux:wizard.link activeTab="url" />
                    </flux:field.input>
                </flux:form.sheet>
            </f:comment>
            <flux:form.sheet name="socialMedia" label="LLL:flux.form.sheet.startpage.socialMedia">
                <flux:field.input name="linkTargetFacebook"
                                  label="LLL:flux.form.label.startpage.linkTargetFacebook">
                    <flux:wizard.link activeTab="url" />
                </flux:field.input>
                <flux:field.input name="linkTargetYoutube"
                                  label="LLL:flux.form.label.startpage.linkTargetYoutube">
                    <flux:wizard.link activeTab="url" />
                </flux:field.input>
                <flux:field.input name="linkTargetWordpress"
                                  label="LLL:flux.form.fields.linkTargetWordpress">
                    <flux:wizard.link activeTab="url" />
                </flux:field.input>
            </flux:form.sheet>
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" colspan="3" name="maincontent" label="LLL:flux.form.label.startpage.maincontent" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Content">
        <f:spaceless>
            {v:variable.typoscript(path: 'plugin.tx_mooxtemplateheco.templates.StartPage') -> v:variable.set(name: 'templateSettings')}
            <v:page.resources.fal as="media">
                <f:if condition="{media}">
                    <v:variable.set name="backgroundImage" value="{media.0}" />
                </f:if>
            </v:page.resources.fal>
        </f:spaceless>
        <f:render partial="Header" arguments="{_all}" />
        <f:render partial="Navigation" section="Default" arguments="{_all}" />
        <!--TYPO3SEARCH_begin-->
        <main role="main">
            <div class="page-content startpage">
                <div class="startpage-background">
                    <f:if condition="{backgroundImage}">
                        <img src="{backgroundImage.url}" class="img-background" title="heco: Hintergrund"/>
                    </f:if>
                    <div class="startpage-overlay">
                        <div class="container">
                            <h1>{page.subtitle}</h1>
                            <v:menu entryLevel="{bootstrapSettings.navigation.main.entryLevel}" levels="1" pageUid="{bootstrapSettings.navigation.main.startPage}" useShortcutUid="{bootstrapSettings.navigation.main.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.main.useShortcutData}">
                                <f:if condition="{menu}">
                                    <div class="row row-startpage-teaser">
                                        <f:for each="{menu}" as="page" iteration="iteration">
                                            <f:spaceless>
                                                <v:page.resources.fal as="media" uid="{page.uid}">
                                                    <f:if condition="{media}">
                                                        <v:variable.set name="teaserImage" value="{media.0}" />
                                                    </f:if>
                                                </v:page.resources.fal>
                                            </f:spaceless>
                                            <div class="col-12 col-md-6 col-lg-3 col-startpage-teaser">
                                                <a href="{f:uri.page(pageUid:page.uid)}" class="startpage-teaser" title="{f:if(condition: page.nav_title, then: page.nav_title, else: page.title)}">
                                                    <f:if condition="{teaserImage}">
                                                        <div class="startpage-teaser-image">
                                                            <img src="{teaserImage.url}" class="img-fluid img-teaser" title="{f:if(condition: page.nav_title, then: page.nav_title, else: page.title)}"/>
                                                        </div>
                                                        <div class="startpage-teaser-title">
                                                            {page.title -> v:format.replace(substring:'myheco',replacement:'<span class="myheco"><em>my</em>heco</span>') -> f:format.raw()}
                                                        </div>
                                                    </f:if>
                                                </a>
                                            </div>
                                        </f:for>
                                    </div>
                                </f:if>
                            </v:menu>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--TYPO3SEARCH_end-->
        <f:render partial="Footer" arguments="{_all}" />
    </f:section>

</html>