#moox-news-seminar-module-overlay {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
}

table th {
	background-color: #666;
	color: #FFF;
}

table th a {
	color: #DDD;
}

table th a.active {
	color: #FFF;
}

table th a:hover, table th a:visited, table th a:active {
	color: #FFF;
}

table th .ordering-icon {
	margin-left: 5px;
	background-color: #888;
	border-radius: 3px;
}

table th .ordering-icon:hover {	
	filter:alpha(opacity=70); /* IE */
	-moz-opacity: 0.70; /* Mozilla */
	opacity: 0.70; /* Opera */
}

table th .ordering-icon-active {
	filter:alpha(opacity=70); /* IE */
	-moz-opacity: 0.70; /* Mozilla */
	opacity: 0.70; /* Opera */
}

@media (max-width: 768px) {
	.btn-mobile-block {
		width: 100%;
	}
	.btn-group-mobile-block {
		width: 100%;
	}
	.btn-group-mobile-block .btn {
		text-align: left;
		width: 100%;
	}	
	.btn-group-mobile-block .btn {
		text-align: left;
		width: 100%;
	}	
	.btn-group-mobile-block ul {
		width: 100%;
	}	
}

.moox-module-filter .form-group {
	margin-bottom: 3px;
}

.moox-module-filter form.well-sm {
	padding-bottom: 6px;
}

/* Remove Internet Explorer native clear button */
.moox-news-seminar-module .has-feedback.has-clear  input::-ms-clear  {
        display: none;
}
    
.moox-news-seminar-module .has-feedback.has-clear .form-control-clear {
		
	margin-right: 5px;	
	color: #bbb;
	color: rgba(0, 0, 0, 0.4);

	/*
	 * Enable pointer events as they have been disabled since Bootstrap 3.3
	 * See https://github.com/twbs/bootstrap/pull/14104
	 */
	pointer-events: auto;	
}

.moox-news-seminar-module .has-feedback.has-clear .form-control-clear:hover {
	color: #777;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
	
.moox-news-seminar-module .has-feedback.has-clear.has-empty-value .form-control-clear {
    display: none;
}

.moox-news-seminar-module .pagination {
	margin-top: 0px;
	margin-bottom: 0px;
}

.moox-news-seminar-module .moox-module-body .community-detail .form-control-static .text {
	background-color: #FFF;
	padding: 8px;
	padding-right: 33%;
	width: 98%;
	margin-bottom: 2px;
}

.moox-news-seminar-module .moox-module-filter .well-filter {
	padding-bottom: 0px;
}

.moox-news-seminar-module .moox-module-filter .btn-group-field-selector .dropdown-menu {
	min-width: 700px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.moox-news-seminar-module .moox-module-filter .btn-group-field-selector .dropdown-menu ul {
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
}

.moox-news-seminar-module .moox-module-filter .btn-group-field-selector .dropdown-menu ul li input[type='checkbox'] {
	vertical-align: top;
}

.moox-news-seminar-module .moox-module-filter .btn-group-field-selector .dropdown-menu ul li.divider {
	margin-top: 2px;
	margin-bottom: 2px;
}

.moox-news-seminar-module .moox-module-filter .btn-group-field-selector .dropdown-menu ul {
	padding-left: 10px;
	padding-right: 10px;
}

.moox-news-seminar-module .moox-module-filter .btn-group-field-selector .dropdown-menu div.filter-buttons {
	background-color: #6daae0;
	clear: both;
}

.moox-module-dropdown {
	padding: 0px;
	background-color: #FFF;
	border: 1px solid #d7d7d7;
	max-height: 600px;
	overflow: auto;
}

.moox-module-dropdown li a {
	color: #555;
	padding: 8px;	
	padding-top: 5px;
	padding-bottom: 5px;
}

.moox-module-dropdown li label {
	color: #555;	
}

.moox-module-dropdown li a:hover {
	color: #555;
	background-color: #F5F5F5;	
}

.moox-module-dropdown li.divider {
	margin:0px;	
	background-color: #d7d7d7;
}

.moox-module-dropdown li.dropdown-header {
	padding-left: 8px;
}

.moox-module-table-wrapper table {
	margin-bottom: 0px;
	background-color: #FFF;
}

.moox-module-table-wrapper nav.pagination-wrap {
	margin-top: 10px;
	clear: both;
}

.moox-module-table-wrapper nav.pagination-wrap ul.pagination {
	/*float: right;*/
}

.moox-module-table-wrapper .table-striped>tbody>tr.community-row:nth-of-type(odd) {
	background-color: #FFF;
}
.moox-module-table-wrapper .table-striped>tbody>tr.community-row:nth-of-type(odd):hover {
	background-color: #EEE;
}

.moox-module-table-wrapper tr.community-detail, .moox-module-table-wrapper tr.community-detail:hover {
	background-color: #F9F9F9;
}

.moox-module-table-wrapper tr.community-detail td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.moox-module-table-wrapper tr th .ordering a {
	text-decoration: none;
}

.moox-module-table-wrapper tr.community-detail td .well {
	background-color:#eee;
}

.moox-module-table-wrapper tr.community-detail td .form-control-static .value div {
	margin-bottom: 3px;
}

.moox-module-multiple-functions {
	margin-top: 10px;
	padding-left: 7px;
	display: none;
	margin-bottom: 10px;
	background-color: #FFF;
}

.moox-module-multiple-functions input {
	display: inline-block;
}

.moox-module-multiple-confirmation {
	margin-top: 20px;
	padding-left: 7px;	
}

.moox-module-multiple-functions .selector-counter {
	display: inline-block;
	background-color: #5599FF;
    color: #FFF;
    border: 1px solid #006bcd;
    border-radius: 2px;
    line-height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 15px;
}

.moox-module-filter .form-group {
	margin-bottom: 6px;
}

.moox-module .well {
	background-color: #DDDDDD;
	border-radius: 0px;
	padding: 8px;
	margin-bottom: 8px;
}

.moox-module .moox-control {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 5px;	
	padding-right: 5px;
	display: inline-block;
	/*
	border: 1px solid transparent;
	border-left: 1px solid #eee;
	*/
	line-height: 28px;
	background-color: #eee;	
}

.moox-module .moox-control .icon {	
	vertical-align: middle;	
}

.moox-module .moox-control:hover {	
	/*border: 1px solid #6daae0;*/
	background-color: #fff;
}

.moox-module .moox-control-success, .moox-module .moox-control-ok {
	background-color: #5cb85c;
	color: #FFF;
	font-size: 12px;
	vertical-align: middle;
	/*font-weight: bold;*/
	text-align: center;
}
.moox-module .moox-control-success:hover, .moox-module .moox-control-ok:hover {
	background-color: #398439;
}

.moox-module .moox-control-warning {
	background-color: #f0ad4e;
	color: #FFF;
	font-size: 12px;
	line-height: 28px;
	/*font-weight: bold;*/
	text-align: center;
}
.moox-module .moox-control-warning:hover {
	background-color: #ec971f;
}

.moox-module .moox-control-error, .moox-module .moox-control-danger {
	background-color: #d9534f;
	color: #FFF;
	font-size: 12px;
	/*font-weight: bold;*/
	text-align: center;
}
.moox-module .moox-control-error:hover, .moox-module .moox-control-danger:hover {
	background-color: #ac2925;
}

.moox-module .moox-control-group {
	display: inline-block;	
}

.module .typo3-messages {
	margin-top: 15px;
}

.module .typo3-messages .alert {
	margin-bottom: 5px;
}

.module .module-name {
	text-transform: uppercase;
	background-color: #666;
	padding: 2px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.2em;
	display: block;
	color: #FFF;
	border-radius: 2px;
}

.moox-news-seminar-module input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
.moox-news-seminar-module input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
.moox-news-seminar-module input[type="search"]::-webkit-search-decoration,
.moox-news-seminar-module input[type="search"]::-webkit-search-cancel-button,
.moox-news-seminar-module input[type="search"]::-webkit-search-results-button,
.moox-news-seminar-module input[type="search"]::-webkit-search-results-decoration { display: none; }