<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div class="form-group">
		<label class="sr-only" for="perPage">Tags pro Seite</label>
		<f:form.select property="perPage" options="{
			10:'10 Tags pro Seite',
			25:'25 Tags pro Seite',
			50:'50 Tags pro Seite',
			100:'100 Tags pro Seite',
			500:'500 Tags pro Seite'
		}" id="perPage" class="form-control is-grouped-filter auto-submit" />
	</div>
	
</div>