<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<tr class="db_list_normal tag-row" id="tag-row-{tag.uid}">	
		<f:render partial="Table/Body/Columns" arguments="{table:'tx_mooxnews_domain_model_tag',fields:fields,item:tag,replacements:replacements,fieldsSeparator:fieldsSeparator}" />
		<f:render partial="Table/Body/Mod3/Controls" arguments="{table:'tx_mooxnews_domain_model_tag',groupedFolders:groupedFolders,folders:folders,tag:tag}" />
	</tr>
	<f:render partial="Module/Mod3/List/Body/Item/Detail" arguments="{conf:conf,fields:fields,tag:tag,labels:labels}" />
	
</div>