<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     data-namespace-typo3-fluid="true">
	 
	<div class="article-additional-information bottom-space-base">
		<f:if condition="{newsItem.author}">
			<span class="fa fa-user"></span>&nbsp;<f:translate key="author" arguments="{0:newsItem.author}" /><span class="divider">&nbsp;|&nbsp;</span>
		</f:if>
		<span class="fa fa-calendar"></span>&nbsp;<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}"><f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date><meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" /></time>
		<f:if condition="{newsItem.firstCategory}">
			<span class="divider">&nbsp;|&nbsp;</span><span class="fa fa-tag"></span>&nbsp;<span class="label label-info">{newsItem.firstCategory.title}</span>
		</f:if>
		<f:if condition="{newsItem.tags}">
			<span class="divider">&nbsp;|&nbsp;</span><span class="fa fa-tags"></span>&nbsp;
			<span class="news-list-tags" itemprop="keywords">
				<f:for each="{newsItem.tags}" as="tag">
					<span class="label label-info">{tag.title}</span>
				</f:for>
			</span>
		</f:if>
	</div>
	
</div>