<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
     data-namespace-typo3-fluid="true">

	<v:variable.set name="ArticleDetailLink"><v:format.url.decode>{v:site.url() -> v:format.substring(length: '-1')}<n:link newsItem="{newsItem}" settings="{settings}" uriOnly="1" /></v:format.url.decode></v:variable.set>
	<rx:shariff data="{url: ArticleDetailLink, mail-url: 'mailto:', theme: 'grey'}" services="whatsapp,facebook,twitter,googleplus,mail" enableBackend="1" />
	
</div>