<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 xmlns:m="http://typo3.org/ns/Neulandlotsen/MooxNewsSeminar/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:section name="addSpeaker">
		<f:if condition="{n:be.security.check(permission:'tables_modify',value:'tx_mooxnewsseminar_domain_model_speaker')}">
			<a title="Referent hinzufügen" href="{m:be.link(action:'add',table:'tx_mooxnewsseminar_domain_model_speaker',storagePage:filter.page,returnUrl:returnUrl)}" class="btn btn-default btn-sm">
				<core:icon identifier="list_icon_moox_news_seminar_speaker" overlay="overlay-new" size="small" /> Referent
			</a>
		</f:if>
	</f:section>
			
</div>