<f:layout name="NewsletterForm" />

<f:section name="content">	
	<div class="tx-moox-mailer-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />  Neuer Newsletter</h1>
		<div class="tx-moox-mailer-admin-body">			
			<div class="tx-moox-mailer-admin-form">
				<f:if condition="{noDraftFolders}">
					<f:then>
						<div class="typo3-messages">
							<div class="typo3-message message-warning">
								<div class="message-header">Keine Entwurfs-Ordner gefunden.</div>
								<div class="message-body">Legen Sie über den Seitenbaum zunächst einen Entwurfs-Ordner <span class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-pages t3-icon-pages-contains-mxdrafts">&nbsp;</span> an und erstellen darin einen Entwurf in Form einer normalen Webseite, damit Sie diese über den Mailer als Newsletter versenden können.</div>
							</div>
						</div>
					</f:then>
					<f:else>
						<f:if condition="{drafts -> f:count()}<1">
							<div class="typo3-messages">
								<div class="typo3-message message-warning">
									<div class="message-header">Keine Entwürfe gefunden.</div>
									<div class="message-body">Legen Sie über den Seitenbaum innerhalb eines Entwurfs-Ordners <span class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-pages t3-icon-pages-contains-mxdrafts">&nbsp;</span> einen Entwurf in Form einer normalen Webseite an, damit Sie diese über den Mailer als Newsletter versenden können.</div>
								</div>
							</div>
						</f:if>
					</f:else>
				</f:if>
				<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.page}"> has-error</f:if>">
					Entwurfs-Seite (* Pflichtfeld für Versand)
				</div>
				<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.page}"> has-error</f:if>">
					<select id="newsletter-page" name="tx_mooxmailer_moox_mooxmailermailermanagement[add][page]">				
						<option value="0">Kein Entwurf gewählt</option>
						<f:if condition="{drafts -> f:count()}>0">
							<f:for each="{drafts}" as="folders" iteration="iteration">
								<optgroup label="{folders.title}">
									<f:for each="{folders.items}" as="draft" iteration="iteration2">
										<option value="{draft.uid}"<f:if condition="{draft.uid}=={object.page}"> selected="selected"</f:if>>{draft.title}</option>
									</f:for>
								</optgroup>
							</f:for>
						</f:if>
					</select>
				</div>
				<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.title}"> has-error</f:if>">
					Titel (* Pflichtfeld)
				</div>
				<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.title}"> has-error</f:if>">
					<f:form.textfield required="1" type="text" property="title" placeholder="Titel" id="newsletter-title" />
				</div>
				<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.subject}"> has-error</f:if>">
					Betreff (* Pflichtfeld)
				</div>
				<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.subject}"> has-error</f:if>">
					<f:form.textfield required="1" type="text" property="subject" placeholder="Betreff" id="newsletter-subject" />
				</div>	
				<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.senderEmail}"> has-error</f:if>">
					Absender-Adresse (* Pflichtfeld)
				</div>
				<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.senderEmail}"> has-error</f:if>">
					<f:form.textfield required="1" type="text" property="senderEmail" placeholder="Absender-Adresse" id="newsletter-sender-email" />
				</div>	
				<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.senderName}"> has-error</f:if>">
					Absender-Name (* Pflichtfeld)
				</div>
				<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.senderName}"> has-error</f:if>">
					<f:form.textfield required="1" type="text" property="senderName" placeholder="Absender-Name" id="newsletter-sender-name" />
				</div>
				<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.replyToEmail}"> has-error</f:if>">
					Antwort-Adresse
				</div>
				<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.replyToEmail}"> has-error</f:if>">
					<f:form.textfield type="text" property="replyToEmail" placeholder="Antwort-Adresse" id="newsletter-reply-to-email" />
				</div>
				<f:if condition="{userFolders -> f:count()}>0">
					<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.userFolders}"> has-error</f:if>">
						Benutzer-Ordner an dessen Benutzer der Newsletter gesendet werden soll
					</div>
					<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.userFolders}"> has-error</f:if>">
						<f:form.select multiple="1" size="5" property="userFolders" id="newsletter-user-folders" options="{userFolders}" />
					</div>
				</f:if>
				<f:if condition="{addressFolders -> f:count()}>0">
					<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.addressFolders}"> has-error</f:if>">
						Adress-Ordner an dessen Adressen der Newsletter gesendet werden soll
					</div>
					<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.addressFolders}"> has-error</f:if>">
						<f:form.select multiple="1" size="5" property="addressFolders" id="newsletter-address-folders" options="{addressFolders}" />
					</div>
				</f:if>
				<f:if condition="{zipmodes -> f:count()}>0">
					<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.zipmode}"> has-error</f:if>">
						Modus zur Eingrenzung von Postleitzahlen
					</div>
					<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.zipmode}"> has-error</f:if>">
						<f:form.select size="1" property="zipmode" id="newsletter-zipmode" prependOptionLabel="Keine Einschränkung nach Postleitzahlen" prependOptionValue="" options="{zipmodes}" />
					</div>
				</f:if>
				<div id="newsletter-ziplist-wrapper" style="display:<f:if condition="{object.zipmode}=='list'"><f:then>block</f:then><f:else>none</f:else></f:if>">
					<div class="tx-moox-mailer-admin-form-header<f:if condition="{allErrors.ziplist}"> has-error</f:if>">
						Freie Postleitzahlenliste (kommagetrennt)
					</div>
					<div class="tx-moox-mailer-admin-form-item<f:if condition="{allErrors.ziplist}"> has-error</f:if>">
						<f:form.textarea property="ziplist" id="newsletter-ziplist" rows="10" style="height: 150px" />
					</div>
				</div>
				<f:if condition="{testAddressFolders -> f:count()}>0">
					<div class="tx-moox-mailer-admin-form-header">
						[Testversand] Adress-Ordner an dessen Adressen Test-Newsletter gesendet werden sollen
					</div>
					<div class="tx-moox-mailer-admin-form-item">
						<f:form.select multiple="1" size="5" property="testAddressFolders" id="newsletter-test-address-folders" options="{testAddressFolders}" />
					</div>
				</f:if>
				<f:if condition="{moveToFolders -> f:count()}<1">
					<div class="typo3-messages">
						<div class="typo3-message message-warning">
							<div class="message-header">Keine Archiv-Ordner gefunden.</div>
							<div class="message-body">Wenn Sie den Newsletter-Entwurf nach dem Versenden in einen speziellen Archiv-Ordner verschieben wollen, legen Sie zunächst über den Seitenbaum einen entsprechenden Archiv-Ordner <span class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-pages t3-icon-pages-contains-mxsent">&nbsp;</span> an, um ihn hier wählen zu können. Beachten Sie außerdem, dass der Archiv-Ordner eine spezielles statisches Template benötigt. Bei Fragen hierzu wenden Sie sich an Ihren Administrator.</div>
						</div>
					</div>
				</f:if>
				<div class="tx-moox-mailer-admin-form-header">
					Soll der Entwurf nach dem Senden in einen Archiv-Ordner verschoben werden
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.select property="moveToFolder" id="newsletter-move-to-folder" options="{moveToFolders}" />
				</div>
				<div class="tx-moox-mailer-admin-form-header">
					Autologin für Benutzer nutzen (falls möglich)
				</div>
				<div class="tx-moox-mailer-admin-form-item">
					<f:form.checkbox property="autologin" id="newsletter-autologin" value="1" />
				</div>
				<f:form.hidden property="redirectorController" id="newsletter-redirector-controller" />
				<f:form.hidden property="redirectorAction" id="newsletter-redirector-action" />
				<f:form.hidden property="currentUserEmail" id="newsletter-current-user-email" />
			</div>
		</div>
		<f:if condition="FALSE">
			<f:if condition="{object.page}>0">
				<h1 class="newsletter-preview"><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />  Newsletter-Vorschau</h1>
				<div class="tx-moox-mailer-admin-body">				
					<f:if condition="{users -> f:count()}>0">											
						<f:render partial="UserSelector" arguments="{currentUser: currentUser, users: users}" />
					</f:if>
					<div class="tx-moox-mailer-admin-iframe">					
						<div class="tx-moox-mailer-admin-iframe-content">
							<iframe src="<f:uri.action action="previewIframe" arguments="{page: object.page, autoLoginUser: currentUser.uid}" />" marginheight="0" marginwidth="0" frameborder="0"></iframe>
						</div>
					</div>
				</div>
			</f:if>
		</f:if>
	</div>
</f:section>