{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mx=Neulandlotsen\MooxMailer\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">	
	<div class="tx-moox-mailer-admin">	
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> Neuer Entwurf [Ordner-Auswahl]</h1>
		<div class="tx-moox-mailer-admin-body">
			<div class="tx-moox-mailer-admin-filter tx-moox-mailer-admin-filter-folder">
				<div class="filter-field">					
					<div id="selected-folder">
						<span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-pages-contains-mxmailer" data-identifier="tcarecords-pages-contains-mxmailer"><span class="icon-markup"><img src="/typo3conf/ext/moox_mailer/ext_icon.svg" width="16" height="16"></span></span> 
						<span id="folder-expander" class="pointer"><core:icon identifier="actions-move-down" /></span>
						<span class="pointer folder" title="<f:if condition="{page}>0"><f:then>Pfad: <f:for each="{rootline}" as="path">\{path.title}</f:for> [UID: {page}]</f:then><f:else>Newsletter ohne Ordner</f:else></f:if>"><f:if condition="{folder}">{mx:getPageInfo(uid: folder, field: 'title')} / </f:if><f:if condition="{page}>0"><f:then>{mx:getPageInfo(uid: page, field: 'title')}&nbsp;&nbsp;&nbsp;[UID: {page} | Rootpage: {rootpage.title}]</f:then><f:else>Newsletter ohne Ordner</f:else></f:if></span>
					</div>
					<div class="clear"></div>
				</div>				
				<div class="folder-list" id="folder-list">
					<f:if condition="{folders}">
						<f:then>
							<f:render partial="NewsletterFolderList" arguments="{page: page, folders: folders, uid: uid, action: 'addFolderSelect', redirectorController: redirectorController, redirectorAction: redirectorAction}" />
						</f:then>
						<f:else>
							<div class="folder-noothers">Keine anderen Ordner gefunden</div>
						</f:else>
					</f:if>
					<div class="folder-list-footer">							
						<a href="#" id="folder-list-close" class="pointer" title="schließen">schließen <core:icon identifier="actions-close" /></a>
					</div>
				</div>
			</div>
			<div class="add-folder-select-buttons">	
				<f:link.action action="add" controller="Newsletter" arguments="{uid: uid, redirectorController: redirectorController, redirectorAction: redirectorAction}" class="tx-moox-mailer-admin-buttons-continue" title="Weiter zum Entwurfs-Formular">
					Weiter zum Entwurfs-Formular
				</f:link.action>
			</div>
		</div>
	</div>

</f:section>