{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mx=Neulandlotsen\MooxMailer\ViewHelpers}

<f:layout name="Newsletter" />

<f:section name="content">	
	<div class="tx-moox-mailer-admin">	
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />  Newsletter</h1>
		<div class="tx-moox-mailer-admin-body">			
			<div class="tx-moox-mailer-admin-filter tx-moox-mailer-admin-filter-folder">
				<div class="filter-field">					
					<div id="selected-folder">
						<img class="current-folder-icon pointer" width="16" height="16" alt="Liste" align="center" title="Liste" src="../typo3/sysext/t3skin/icons/module_web_list.gif">
						<span id="folder-expander" class="pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
						<span class="pointer folder" title="<f:if condition="{page}>0"><f:then>Pfad: <f:for each="{rootline}" as="path">\{path.title}</f:for> [UID: {page}]</f:then><f:else>Newsletter ohne Ordner</f:else></f:if>"><f:if condition="{folder}">{mx:getPageInfo(uid: folder, field: 'title')} / </f:if><f:if condition="{page}>0"><f:then>{mx:getPageInfo(uid: page, field: 'title')}&nbsp;&nbsp;&nbsp;[UID: {page} | Rootpage: {rootpage.title}]</f:then><f:else>Newsletter ohne Ordner</f:else></f:if></span>
					</div>
					<div class="clear"></div>
				</div>				
				<div class="folder-list" id="folder-list">
					<f:if condition="{folders}">
						<f:then>
							<f:render partial="NewsletterFolderList" arguments="{page: page, folders: folders}" />
						</f:then>
						<f:else>
							<div class="folder-noothers">Keine anderen Ordner gefunden</div>
						</f:else>
					</f:if>
					<div class="folder-list-footer">							
						<a href="#" id="folder-list-close" class="pointer" title="schließen">schließen <core:icon identifier="actions-close" /></a>
					</div>
				</div>
			</div>
			<div class="tx-moox-mailer-admin-filter">
				<f:form noCache="1" method="POST" id="filterForm" name="filter" object="{filter}">
					<div class="filter-field">	
						<f:form.select property="state" id="filter-state" class="filter-state" options="{0:'Zeige Entwürfe',1:'Zeige gesendete Newsletter'}" />
						<f:form.select property="perPage" id="filter-per-page" class="filter-per-page" options="{10:'10 Newsletter pro Seite',25:'25 Newsletter pro Seite',50:'50 Newsletter pro Seite',100:'100 Newsletter pro Seite',500:'500 Newsletter pro Seite'}" />
					</div>
					<div class="filter-field">	
						<f:form.textfield type="text" property="query" id="filter-query" class="filter-query" placeholder="Suchbegriff eingeben" id="filter-query" />
						<f:form.submit property="submit" id="filter-submit" class="filter-submit" value="suchen" />
						<div class="clear"></div>
					</div>
				</f:form>
			</div>
			<div class="tx-moox-mailer-admin-info">
				<f:if condition="{newsletters -> f:count()}>0">
					<f:then>						
						<f:be.widget.paginate objects="{newsletters}" as="paginatedNewsletters" configuration="{itemsPerPage: filter.perPage}">
							<div class="tx-moox-mailer-admin-table">
								<table cellpadding="0" cellspacing="0" border="0" width="100%">
									<thead>
										<tr>
											<th></th>
											<th>Titel 
												<span class="sort-asc<f:if condition="{filter.sortField}=='title'"><f:if condition="{filter.sortDirection}=='ASC'"> active</f:if></f:if>">
													<f:link.action action="index" arguments="{filter: {sortField: 'title',sortDirection: 'ASC'}}" title="Aufsteigend sortieren">
														&#9650;
													</f:link.action>
												</span> 
												<span class="sort-desc<f:if condition="{filter.sortField}=='title'"><f:if condition="{filter.sortDirection}=='DESC'"> active</f:if></f:if>">
													<f:link.action action="index" arguments="{filter: {sortField: 'title',sortDirection: 'DESC'}}" title="Absteigend sortieren">
														&#9660;
													</f:link.action>
												</span> 
											</th>
											<f:if condition="{filter.state}==1">
												<th>Gesendet 
													<span class="sort-asc<f:if condition="{filter.sortField}=='sent'"><f:if condition="{filter.sortDirection}=='ASC'"> active</f:if></f:if>">
														<f:link.action action="index" arguments="{filter: {sortField: 'sent',sortDirection: 'ASC'}}" title="Aufsteigend sortieren">
															&#9650;
														</f:link.action>
													</span> 
													<span class="sort-desc<f:if condition="{filter.sortField}=='sent'"><f:if condition="{filter.sortDirection}=='DESC'"> active</f:if></f:if>">
														<f:link.action action="index" arguments="{filter: {sortField: 'sent',sortDirection: 'DESC'}}" title="Absteigend sortieren">
															&#9660;
														</f:link.action>
													</span>
												</th>
											</f:if>
										</tr>
									</thead>
									<f:render partial="NewsletterList" arguments="{newsletters: paginatedNewsletters, pagination: pagination, filter: filter, conf: conf}" />								
								</table>							
							</div>
						</f:be.widget.paginate>
						<div class="clear"></div>						
					</f:then>
					<f:else>
						<div class="tx-moox-mailer-admin-nonewsletters">
							Derzeit sind keine Newsletter in diesem Ordner vorhanden.
						</div>
					</f:else>
				</f:if>
			</div>		
		</div>
	</div>

</f:section>