<f:layout name="Newsletter" />

<f:section name="content">	
	<div class="tx-moox-mailer-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />  {object.title}</h1>
		<div class="tx-moox-mailer-admin-body">			
			<div class="tx-moox-mailer-admin-newsletter-show">
				Status: {state} | {processed} Mail(s) versendet | {prepared} Mail(s) austehend
				<f:if condition="{log}!=''">
					<div class="tx-moox-mailer-admin-newsletter-log">
						<div class="tx-moox-mailer-admin-newsletter-log-header">Log-Datei</div>
						<div class="tx-moox-mailer-admin-newsletter-log-content">
							<f:format.raw>{log}</f:format.raw>
						</div>
					</div>
				</f:if>
			</div>
		</div>		
	</div>
</f:section>