{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mx=Neulandlotsen\MooxMailer\ViewHelpers}

<f:layout name="Newsletter" />

<f:section name="content">	
	<div class="tx-moox-mailer-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />  {object.title}</h1>		
		<div class="tx-moox-mailer-admin-stats">				
			<div class="tx-moox-mailer-admin-stats-header">									
				<mx:replaceMarkers object="{object}">{object.subject}</mx:replaceMarkers>				
			</div>
			<div class="tx-moox-mailer-admin-stats-body">
				<div class="tx-moox-mailer-admin-stats-table">
					<div class="tx-moox-mailer-admin-stats-table-header">
						Statistik
					</div>
					<table width="100%" cellspacing="0" cellpadding="0">
						<tr>
							<td><strong>Status:</strong></td>
							<td>
								<v:variable.set name="jobState" value="" />
								<f:if condition="{object.job}!=''">
									<v:variable.set name="jobState" value="{mx:getJobState(type:'newsletter',object:object)}" />
									<div class="stats-state">
										<div class="stats-state-outer<f:if condition="{jobState.completed}"> completed</f:if>">
											<f:if condition="{jobState.percentageOpposite}>0">
												<f:then>
													<div class="stats-state-inner" style="width: {jobState.percentageOpposite}%">&nbsp;</div>
												</f:then>
												<f:else>
													{jobState.description}
												</f:else>															
											</f:if>
										</div>
										<div class="stats-state-percentage">
											{jobState.percentage}%
										</div>
										<div class="stats-state-info">
											{jobState.processed} von {jobState.sent} Mail(s) versendet.
											<f:if condition="{jobState.left}>0">															
												Noch {jobState.left} Mail(s) übrig.
											</f:if>
										</div>
									</div>
								</f:if>
								<f:if condition="{jobState.processed}!=''">
									<f:then>
										<v:variable.set name="received" value="{jobState.processed}" />
									</f:then>
									<f:else>
										<v:variable.set name="received" value="{object.sentCount}" />
									</f:else>															
								</f:if>
								<v:variable.set name="received" value="{v:math.subtract(a: received, b: object.fails)}" />
								<v:variable.set name="received" value="{v:math.subtract(a: received, b: object.bounces)}" />
							</td>
						</tr>
						<tr>
							<td><strong>Gesendet am:</strong></td>
							<td><f:format.date format="d.m.Y H:i:s">{object.sent}</f:format.date></td>
						</tr>
						<tr>
							<td><strong>Gesendete Mails:</strong></td>
							<td>{object.sentCount}</td>
						</tr>
						<tr>
							<td><strong>Fehler beim Versand:</strong></td>
							<td>{object.fails}</td>
						</tr>
						<tr>
							<td><strong>Rücklaufer (Bounces):</strong></td>
							<td>{object.bounces}</td>
						</tr>
						<tr>
							<td><strong>Zugestellte Mails:</strong></td>
							<td>{received}</td>
						</tr>
						<tr>
							<td><strong>Erste Öffnung:</strong></td>
							<td>
								<f:if condition="{object.firstOpening}>0">
									<f:then>
										<f:format.date format="d.m.Y H:i:s">{object.firstOpening}</f:format.date>
									</f:then>
									<f:else>
										Bisher noch keine Öffnung
									</f:else>
								</f:if>														
							</td>
						</tr>
						<tr>
							<td><strong>Letzte Öffnung:</strong></td>
							<td>
								<f:if condition="{object.lastOpening}>0">
									<f:then>
										<f:format.date format="d.m.Y H:i:s">{object.lastOpening}</f:format.date>
									</f:then>
									<f:else>
										Bisher noch keine Öffnung
									</f:else>
								</f:if>														
							</td>
						</tr>
						<tr>
							<td><strong>Öffnungen [absolut]:</strong></td>
							<td>{object.openings}</td>
						</tr>
						<tr>
							<td><strong>Öffnungen [unique]:</strong></td>
							<td>{object.openingsUnique}</td>
						</tr>
						<tr>
							<td><strong>Erster Klick:</strong></td>
							<td>
								<f:if condition="{object.firstClick}>0">
									<f:then>
										<f:format.date format="d.m.Y H:i:s">{object.firstClick}</f:format.date>
									</f:then>
									<f:else>
										Bisher noch kein Klick
									</f:else>
								</f:if>														
							</td>
						</tr>
						<tr>
							<td><strong>Letzter Klick:</strong></td>
							<td>
								<f:if condition="{object.lastClick}>0">
									<f:then>
										<f:format.date format="d.m.Y H:i:s">{object.lastClick}</f:format.date>
									</f:then>
									<f:else>
										Bisher noch kein Klick
									</f:else>
								</f:if>														
							</td>
						</tr>
						<tr>
							<td><strong>Klicks [absolut]:</strong></td>
							<td>{object.clicks}</td>
						</tr>
						<tr>
							<td><strong>Klicks [unique]:</td>
							<td>{object.clicksUnique}</td>
						</tr>											
					</table>
				</div>	
				<f:if condition="{clicks -> f:count()}>0">
					<div class="tx-moox-mailer-admin-stats-table">
						<div class="tx-moox-mailer-admin-stats-table-header">
							Top 10 Links
						</div>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<th><strong>Klicks</strong></th>
								<th><strong>Url</strong></th>
								<th><strong>ID</strong></th>
								<th><strong>Target</strong></th>
							</tr>
							<f:for each="{clicks}" as="click" iteration="iteration">
								<tr>
									<td>{click.clicks}</td>
									<td>
										<a href="{click.url}" target="_blank"><span class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxmailer_domain_model_click t3-icon-tx_mooxmailer_domain_model_click-default">&nbsp;</span></a>
										<span title="{click.url}">{click.url -> f:format.crop(maxCharacters:80)}</span>
									</td>
									<td>{click.id}</td>
									<td>{click.target}</td>
								</tr>													
							</f:for>
						</table>
					</div>
				</f:if>
				<div style="text-align: right; margin-top: 15px">
					<f:link.action style="background-color: #BBB;color: #FFF;display: inline-block;padding: 8px" action="statsPdf" arguments="{uid:object.uid}" title="Statistik für {object.title} anzeigen">
						<img valign="middle" class="icon-newsletter-stats-pdf" src="{f:uri.resource(path:'Icons/icon-stats-pdf.png')}" width="16" height="16" alt="Statistik downloaden" title="Statistik downloaden" /> Statistik downloaden
					</f:link.action>
				</div>
			</div>
		</div>
				
	</div>
</f:section>