{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mx=Neulandlotsen\MooxMailer\ViewHelpers}

<div style="margin: 20px">			
	<div style="background-color:#666;color:#FFF;padding:5px">
		Statistik
	</div>
	<div style="background-color:#FFF;">
		<table width="100%" cellspacing="0" cellpadding="0">
			<v:variable.set name="jobState" value="" />
			<f:if condition="{object.job}!=''">
				<tr>
					<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Status:</strong></td>
					<td style="border-bottom: 2px solid #EEE;padding: 5px">						
						<v:variable.set name="jobState" value="{mx:getJobState(type:'newsletter',object:object)}" />
						{jobState.processed} von {jobState.sent} Mail(s) versendet ({jobState.percentage}%).
						<f:if condition="{jobState.left}>0">															
							<br />Noch {jobState.left} Mail(s) übrig.
						</f:if>						
					</td>
				</tr>
			</f:if>
			<f:if condition="{jobState.processed}!=''">
				<f:then>
					<v:variable.set name="received" value="{jobState.processed}" />
				</f:then>
				<f:else>
					<v:variable.set name="received" value="{object.sentCount}" />
				</f:else>															
			</f:if>
			<v:variable.set name="received" value="{v:math.subtract(a: received, b: object.fails)}" />
			<v:variable.set name="received" value="{v:math.subtract(a: received, b: object.bounces)}" />
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Gesendet am:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><f:format.date format="d.m.Y H:i:s">{object.sent}</f:format.date></td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Gesendete Mails:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px">{object.sentCount}</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Fehler beim Versand:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px">{object.fails}</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Rücklaufer (Bounces):</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px">{object.bounces}</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Zugestellte Mails:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px">{received}</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Erste Öffnung:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><f:format.date format="d.m.Y H:i:s">{object.firstOpening}</f:format.date></td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Letzte Öffnung:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><f:format.date format="d.m.Y H:i:s">{object.lastOpening}</f:format.date></td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Öffnungen [absolut]:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px">{object.openings}</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Öffnungen [unique]:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px">{object.openingsUnique}</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Erster Klick:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><f:format.date format="d.m.Y H:i:s">{object.firstClick}</f:format.date></td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Letzter Klick:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><f:format.date format="d.m.Y H:i:s">{object.lastClick}</f:format.date></td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Klicks [absolut]:</strong></td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px">{object.clicks}</td>
			</tr>
			<tr>
				<td style="border-bottom: 2px solid #EEE;padding: 5px"><strong>Klicks [unique]:</td>
				<td style="border-bottom: 2px solid #EEE;padding: 5px">{object.clicksUnique}</td>
			</tr>											
		</table>
	</div>
</div>

<f:if condition="{clicks -> f:count()}>0">
	<div style="margin: 20px">
		<div style="background-color:#666;color:#FFF;padding:5px">
			<strong>Top 10 Links</strong>
		</div>
		<div style="background-color:#FFF;">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<th style="background-color:#AAA;border-bottom: 2px solid #EEE;padding: 5px"><strong>Klicks</strong></th>
					<th style="background-color:#AAA;border-bottom: 2px solid #EEE;padding: 5px"><strong>Url</strong></th>
					<th style="background-color:#AAA;border-bottom: 2px solid #EEE;padding: 5px"><strong>ID</strong></th>
					<th style="background-color:#AAA;border-bottom: 2px solid #EEE;padding: 5px"><strong>Target</strong></th>
				</tr>
				<f:for each="{clicks}" as="click" iteration="iteration">
					<tr>
						<td style="border-bottom: 2px solid #EEE;padding: 5px">{click.clicks}</td>
						<td style="border-bottom: 2px solid #EEE;padding: 5px">
							<a href="{click.url}" target="_blank">
								{click.url -> f:format.crop(maxCharacters:60)}
							</a>
						</td>
						<td style="border-bottom: 2px solid #EEE;padding: 5px">{click.id}</td>
						<td style="border-bottom: 2px solid #EEE;padding: 5px">{click.target}</td>
					</tr>													
				</f:for>
			</table>
		</div>
	</div>
</f:if>		