<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:section name="sys_category">
		<f:comment>			
			<f:if condition="{folders -> f:count()}>0">			
				<f:render partial="Table/Body/Mod4/Controls/Move" arguments="{_all}" />
			</f:if>		
		</f:comment>
		<a class="moox-control" href="#" onclick="top.launchView('sys_category', '{category.uid}'); return false;" title="Infos von {category.title} anzeigen [UID: {category.uid}]">
			<core:icon identifier="actions-document-info" />
		</a>
		<f:comment>
			<a class="moox-control" href="{n:be.link(action:'add',table:'sys_category',parent:category.uid,storagePage:category.pid,returnUrl:returnUrl)}" title="Unterkategorie für {category.title} [UID: {category.uid}] hinzufügen">
				<core:icon identifier="actions-add" />					
			</a>
		</f:comment>
		<a class="moox-control" href="{n:be.link(action:'edit',table:'sys_category',uid:category.uid,returnUrl:returnUrl)}" title="{category.title} bearbeiten [UID: {category.uid}]">
			<core:icon identifier="actions-document-open" />	
		</a>
		<f:if condition="{category.hidden} == 1">
			<f:then>
				<a class="moox-control" href="{n:be.issueCommand(parameters: 'data[sys_category][{category.uid}][hidden]=0', redirectUrl: returnUrl)}" title="Kategorie aktivieren">
					<core:icon identifier="actions-edit-unhide" />
				</a>
			</f:then>
			<f:else>
				<a class="moox-control" href="{n:be.issueCommand(parameters: 'data[sys_category][{category.uid}][hidden]=1', redirectUrl: returnUrl)}" title="Kategorie deaktivieren">
					<core:icon identifier="actions-edit-hide" />
				</a>
			</f:else>
		</f:if>				
		<n:be.removeCategory category="{category}" />		
	</f:section>
	
	<td class="col-control">
		<div class="btn-toolbar pull-right" role="toolbar">		
			<div class="btn-group" role="group">
				<f:switch expression="{table}">
					<f:case value="sys_category">															
						<f:render section="sys_category" arguments="{_all}" />
					</f:case>							
				</f:switch>			
			</div>
		</div>
	</td>
	
</div>