<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<tr class="db_list_normal template-row" id="template-row-{template.uid}">	
		<f:comment>
			<td class="col-multiple">
				<f:form.checkbox class="selector-checkbox" name="selection[]" value="{newsItem.uid}" />
			</td> 
		</f:comment>
		<f:render partial="Table/Body/Columns" arguments="{table:'tx_mooxmailer_domain_model_template',fields:fields,item:template,replacements:replacements,fieldsSeparator:fieldsSeparator}" />
		<f:render partial="Table/Body/Mod9/Controls" arguments="{table:'tx_mooxmailer_domain_model_template',folders:folders,template:template}" />
	</tr>
	<f:render partial="Module/Mod9/List/Body/Item/Detail" arguments="{conf:conf,fields:fields,template:template,labels:labels}" />
	
</div>