{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{action}=='folderSelect'">
	<f:then>
		<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/newsletter.css')}" />
		<v:variable.set name="javascriptFile" value="{f:uri.resource(path:'JavaScript/newsletter.js')}" />
	</f:then>
	<f:else>
		<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/mailer.css')}" />
		<v:variable.set name="javascriptFile" value="{f:uri.resource(path:'JavaScript/mailer.js')}" />
	</f:else>
</f:if>
<f:be.container includeCssFiles="{admincss: cssFile}" includeJsFiles="{adminjs: javascriptFile}" loadExtJsTheme="false" loadJQuery="true">
	<span id="getUserListAjaxUrl" style="display: none">{f:uri.action(action: 'getUserListAjax')}</span>
	<div class="module">
		<div class="module-loading-indicator"></div>
		<div class="module-docheader t3js-module-docheader" style="height: auto;">
			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: auto;">
				<div class="module-docheader-bar-column-left">
					<f:be.buttons.csh />
					<f:if condition="{role}">
						<f:then>
							<f:be.security.ifHasRole role="{role}">
								<f:be.menus.actionMenu>
									<f:be.menus.actionMenuItem label="Übersicht" controller="Mailer" action="index" />
									<f:comment><f:be.menus.actionMenuItem label="Newsletter" controller="Newsletter" action="index" /></f:comment>
									<f:if condition="{tasks -> f:count()}>0">
										<f:be.menus.actionMenuItem label="Tasks" controller="Mailer" action="showTask" />
									</f:if>									
									<f:be.menus.actionMenuItem label="Task-Vorlagen" controller="Template" action="index" />
									<f:be.menus.actionMenuItem label="Task-Vorlagen-Zeitpläne" controller="Schedule" action="index" />
								</f:be.menus.actionMenu>
							</f:be.security.ifHasRole>							
						</f:then>
						<f:else>
							<f:be.menus.actionMenu>
								<f:be.menus.actionMenuItem label="Übersicht" controller="Mailer" action="index" />
								<f:comment><f:be.menus.actionMenuItem label="Newsletter" controller="Template" action="index" /></f:comment>								
								<f:if condition="{tasks -> f:count()}>0">
									<f:be.menus.actionMenuItem label="Tasks" controller="Mailer" action="showTask" />
								</f:if>								
								<f:be.menus.actionMenuItem label="Task-Vorlagen" controller="Template" action="index" />
								<f:be.menus.actionMenuItem label="Task-Vorlagen-Zeitpläne" controller="Schedule" action="index" />
							</f:be.menus.actionMenu>	
						</f:else>
					</f:if>					
				</div>
				<div class="module-docheader-bar-column-right">
					<f:if condition="{page} != 0">
						<f:be.pagePath />
						<f:be.pageInfo />
					</f:if>
				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">
				<div class="module-docheader-bar-column-left">
					<f:if condition="{action}==''">
						<v:variable.set name="action" value="default" />
					</f:if>
					<f:switch expression="{action}">
						<f:case value="folderSelect">
							<a class="btn btn-default btn-sm t3js-editform-close" href="<f:uri.action controller="{redirectorController}" action="{redirectorAction}" />">
								<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-close" data-identifier="actions-document-close"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-close.svg" width="16" height="16"></span></span>
							</a>												
						</f:case>
						<f:defaultCase>
							<f:if condition="{noFolders}">
								<f:else>
									<f:link.action class="btn btn-default" action="addFolderSelect" controller="Newsletter" arguments="{redirectorController: 'Mailer', redirectorAction: 'index'}" title="Neuer Newsletter-Entwurf">
										<span class="fa fa-plus-square fa-lg" aria-hidden="true"></span>
									</f:link.action>
								</f:else>
							</f:if>
						</f:defaultCase>
					</f:switch>
				</div>
				<div class="module-docheader-bar-column-right">
					<f:if condition="{page} != 0">
						<f:be.buttons.shortcut />
					</f:if>
				</div>
			</div>
		</div>
		<div class="module-body t3js-module-body" style="padding-top: 89px;">
			<f:flashMessages />
			<f:render section="content" />			
		</div>
	</div>
</f:be.container>