{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/newsletter.css')}" />
<v:variable.set name="javascriptFile" value="{f:uri.resource(path:'JavaScript/newsletter.js')}" />

<f:be.container includeCssFiles="{admincss: cssFile}" includeJsFiles="{adminjs: javascriptFile}" loadExtJsTheme="false" loadJQuery="true">
	<div class="module">
		<f:form action="{action}" controller="Newsletter" arguments="{pagination: pagination}" noCache="1" method="POST" id="NewsletterForm" name="{action}" object="{object}">
			<div class="module-loading-indicator"></div>
			<div class="module-docheader t3js-module-docheader" style="height: auto;">			
				<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: auto;">
					<div class="module-docheader-bar-column-left">
						<f:be.buttons.csh />
						<f:be.menus.actionMenu>
							<f:be.menus.actionMenuItem label="Newsletter" controller="Newsletter" action="index" />
							<f:be.menus.actionMenuItem label="Tasks" controller="Mailer" action="showTask" />
							<f:be.menus.actionMenuItem label="Übersicht" controller="Mailer" action="index" />											
							<f:be.menus.actionMenuItem label="Task-Vorlagen" controller="Template" action="index" />
							<f:be.menus.actionMenuItem label="Task-Vorlagen-Zeitpläne" controller="Schedule" action="index" />
						</f:be.menus.actionMenu>									
					</div>
					<div class="module-docheader-bar-column-right">
						<f:if condition="{page} != 0">
							<f:be.pagePath />
							<f:be.pageInfo />
						</f:if>
					</div>
				</div>
				<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">
					<div class="module-docheader-bar-column-left">
						<f:switch expression="{action}">
							<f:case value="add">
								<a class="btn btn-default btn-sm t3js-editform-close" href="<f:uri.action controller="{object.redirectorController}" action="{object.redirectorAction}" />&tx_mooxmailer_moox_mooxmailermailermanagement[@widget_0][currentPage]={pagination.currentPage}">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-close" data-identifier="actions-document-close"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-close.svg" width="16" height="16"></span></span>
								</a>
								<f:form.button type="submit" property="save" class="btn btn-default btn-sm" title="speichern">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save" data-identifier="actions-document-save"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-save.svg" width="16" height="16"></span></span>
								</f:form.button>													
								<f:form.button type="submit" property="saveAndClose" class="btn btn-default btn-sm" title="speichern und zur Liste" value="">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save-close" data-identifier="actions-document-save-close"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-save-close.svg" width="16" height="16"></span></span>
								</f:form.button>
								<f:form.button type="submit" property="saveAndNew" class="btn btn-default btn-sm" title="speichern und danach neuen Newsletter anlegen" value="">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save-new" data-identifier="actions-document-save-new"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-save-new.svg" width="16" height="16"></span></span>
								</f:form.button>
							</f:case>
							<f:case value="edit">
								<a class="btn btn-default btn-sm t3js-editform-close" href="<f:uri.action controller="{object.redirectorController}" action="{object.redirectorAction}" />&tx_mooxmailer_moox_mooxmailermailermanagement[@widget_0][currentPage]={pagination.currentPage}">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-close" data-identifier="actions-document-close"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-close.svg" width="16" height="16"></span></span>
								</a>
								<f:form.button type="submit" property="save" class="btn btn-default btn-sm" title="speichern">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save" data-identifier="actions-document-save"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-save.svg" width="16" height="16"></span></span>
								</f:form.button>														
								<f:form.button type="submit" property="saveAndClose" class="btn btn-default btn-sm" title="speichern und zur Liste" value="">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save-close" data-identifier="actions-document-save-close"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-save-close.svg" width="16" height="16"></span></span>
								</f:form.button>
								<f:form.button type="submit" property="saveAndNew" class="btn btn-default btn-sm" title="speichern und danach neuen Newsletter anlegen" value="">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-document-save-new" data-identifier="actions-document-save-new"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-save-new.svg" width="16" height="16"></span></span>
								</f:form.button>
								<f:link.action class="btn btn-default btn-sm t3js-editform-delete-record" action="delete" arguments="{uid:object.uid,pagination:pagination, redirectorController: object.redirectorController, redirectorAction: object.redirectorAction}" onclick="return window.confirm('Wollen Sie diesen Entwurf wirklich löschen?')" title="{item.title} löschen">
									<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-edit-delete" data-identifier="actions-edit-delete"><span class="icon-markup"><img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-edit-delete.svg" width="16" height="16"></span></span>
								</f:link.action>								
							</f:case>
						</f:switch>
					</div>
					<div class="module-docheader-bar-column-right">
						<f:if condition="{page} != 0">
							<f:be.buttons.shortcut />
						</f:if>
					</div>
				</div>			
			</div>
			<div id="module-body t3js-module-body" style="padding: 25px; padding-top: 89px;">
				<f:flashMessages />
				<f:render section="content" />				
			</div>
		</f:form>
	</div>	
</f:be.container>