{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/newsletter.css')}" />
<v:variable.set name="javascriptFile" value="{f:uri.resource(path:'JavaScript/newsletter.js')}" />

<f:be.container includeCssFiles="{admincss: cssFile}" includeJsFiles="{adminjs: javascriptFile}" loadExtJsTheme="false" loadJQuery="true">
	<div class="typo3-fullDoc tx-moox-mailer-admin">
		<div id="typo3-docheader">			
			<div class="typo3-docheader-functions">				
				<div class="left">
					<f:be.buttons.csh />						
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Newsletter" controller="Newsletter" action="index" />						
						<f:be.menus.actionMenuItem label="Übersicht" controller="Mailer" action="index" />											
						<f:be.menus.actionMenuItem label="Task-Vorlagen" controller="Template" action="index" />
						<f:be.menus.actionMenuItem label="Task-Vorlagen-Zeitpläne" controller="Schedule" action="index" />
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:if condition="{page} > 0">
						<f:be.pagePath />
						<f:be.pageInfo />
					</f:if>					
					<f:be.buttons.shortcut />
				</div>
			</div>			
		</div>		
		<div class="typo3-docheader-buttons">
			<div class="buttongroup">
				<div class="left">
					<f:if condition="{action}==''">
						<v:variable.set name="action" value="default" />
					</f:if>
					<f:switch expression="{action}">
						<f:case value="show">
							<a href="<f:uri.action action="index" />&tx_mooxmailer_moox_mooxmailermailermanagement[@widget_0][currentPage]={pagination.currentPage}">
								<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
							</a>								
						</f:case>
						<f:case value="stats">
							<a href="<f:uri.action action="index" />&tx_mooxmailer_moox_mooxmailermailermanagement[@widget_0][currentPage]={pagination.currentPage}">
								<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
							</a>								
						</f:case>
						<f:defaultCase>
							<f:link.action action="add" title="Neuer Newsletter-Entwurf">
								<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-new">&nbsp;</span>
							</f:link.action>
						</f:defaultCase>
					</f:switch>
				</div>				
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages />				
				<f:render section="content" />
			</div>
		</div>		
	</div>
</f:be.container>