{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/mailer.css')}" />
<v:variable.set name="javascriptFile" value="{f:uri.resource(path:'JavaScript/mailer.js')}" />

<f:be.container includeCssFiles="{admincss: cssFile}" includeJsFiles="{adminjs: javascriptFile}" loadExtJsTheme="false" loadJQuery="true">
	<span id="getUserListAjaxUrl" style="display: none">{f:uri.action(action: 'getUserListAjax')}</span>
	<div class="typo3-fullDoc tx-moox-mailer-admin">
		<div id="typo3-docheader">			
			<div class="typo3-docheader-functions">				
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Tasks" controller="Mailer" action="showTask" />
						<f:be.menus.actionMenuItem label="Übersicht" controller="Mailer" action="index" />
						<f:be.menus.actionMenuItem label="Newsletter" controller="Newsletter" action="index" />						
						<f:be.menus.actionMenuItem label="Task-Vorlagen" controller="Template" action="index" />
						<f:be.menus.actionMenuItem label="Task-Vorlagen-Zeitpläne" controller="Schedule" action="index" />						
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>			
		</div>
		<div class="typo3-docheader-buttons">&nbsp;</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages />				
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>