{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/mailer.css')}" />
<v:variable.set name="javascriptFile" value="{f:uri.resource(path:'JavaScript/mailer.js')}" />

<f:be.container includeCssFiles="{admincss: cssFile}" includeJsFiles="{adminjs: javascriptFile}" loadExtJsTheme="false" loadJQuery="true">
	<span id="getUserListAjaxUrl" style="display: none">{f:uri.action(action: 'getUserListAjax')}</span>
	<div class="typo3-fullDoc tx-moox-mailer-admin">
		<div id="typo3-docheader">			
			<div class="typo3-docheader-functions">				
				<div class="left">
					<f:be.buttons.csh />						
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Task-Vorlagen" controller="Template" action="index" />
						<f:be.menus.actionMenuItem label="Task-Vorlagen-Zeitpläne" controller="Schedule" action="index" />
						<f:be.menus.actionMenuItem label="Übersicht" controller="Mailer" action="index" />
						<f:comment><f:be.menus.actionMenuItem label="Tasks" controller="Mailer" action="showTask" /></f:comment>
						<f:comment><f:be.menus.actionMenuItem label="Newsletter" controller="Newsletter" action="index" /></f:comment>
					</f:be.menus.actionMenu>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>			
		</div>		
		<f:form action="{action}" controller="Template" noCache="1" method="POST" id="{action}TemplateForm" name="{action}" object="{object}">
			<div class="typo3-docheader-buttons">
				<div class="buttongroup">
					<div class="left" style="margin-left:30px;margin-top: 10px">
						<f:switch expression="{action}">
							<f:case value="add">
								<f:link.action action="index" class="btn btn-default" title="Abbrechen">
									<core:icon identifier="actions-close" />									
								</f:link.action>
								<f:form.button type="submit" class="btn btn-default" property="save" title="speichern" value="">
									<core:icon identifier="actions-document-save" />
								</f:form.button>	
								<f:form.button type="submit" class="btn btn-default" property="saveAndClose" title="speichern und zur Liste" value="">
									<core:icon identifier="actions-document-save-close" />
								</f:form.button>
								<f:form.button type="submit" class="btn btn-default" property="saveAndNew" title="speichern und danach neue Vorlage anlegen" value="">
									<core:icon identifier="actions-document-save-new" />
								</f:form.button>
							</f:case>
							<f:case value="edit">
								<f:link.action action="index" class="btn btn-default" title="Abbrechen">
									<core:icon identifier="actions-close" />									
								</f:link.action>
								<f:form.button type="submit" class="btn btn-default" property="save" title="speichern" value="">
									<core:icon identifier="actions-document-save" />
								</f:form.button>	
								<f:form.button type="submit" class="btn btn-default" property="saveAndClose" title="speichern und zur Liste" value="">
									<core:icon identifier="actions-document-save-close" />
								</f:form.button>
								<f:form.button type="submit" class="btn btn-default" property="saveAndNew" title="speichern und danach neue Vorlage anlegen" value="">
									<core:icon identifier="actions-document-save-new" />
								</f:form.button>								
							</f:case>
							<f:defaultCase>
								<f:link.action action="add" class="btn btn-default" title="Neue Vorlage">
									<core:icon identifier="mimetypes-x-content-template-static" overlay="overlay-new" />									
								</f:link.action>
							</f:defaultCase>
						</f:switch>
					</div>
				</div>
			</div>
			<div id="typo3-docbody" style="margin-top: 10px">
				<div id="typo3-inner-docbody">
					<f:flashMessages />				
					<f:render section="content" />
				</div>
			</div>
		</f:form>
	</div>
</f:be.container>