<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<tr class="db_list_normal">	
		<f:render partial="Table/Body/Columns" arguments="{table:'tx_mooxnews_domain_model_template',fields:fields,item:template,replacements:replacements,fieldsSeparator:fieldsSeparator}" />
		<f:render partial="Table/Body/Controls" arguments="{table:'tx_mooxnews_domain_model_template',folders:folders,template:template}" />																								
	</tr>
	
</div>