<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
     data-namespace-typo3-fluid="true">

	<f:if condition="{news}">
		<f:then>
			<f:comment>
				<v:variable.set name="listGroupTmp" value="" />
				<v:variable.set name="groupsOpened" value="0" />
				<v:variable.set name="groupsClosed" value="0" />
			</f:comment>
			<f:for each="{news}" as="newsItem" iteration="iteration">
				<f:comment>	
					<f:if condition="{settings.list.paginate.mode}!='append'">
						<f:if condition="{demand.type}=='moox_news_extender'">
							<v:variable.set name="extendedFieldName" value="mooxNewsExtenderNewFilter" />
							<v:variable.set name="noGroup" value="Ungruppiert" />				
						</f:if>
						<f:if condition="{demand.type}=='moox_news_repertoire'">
							<v:variable.set name="extendedFieldName" value="mooxNewsRepertoireComposer" />
							<v:variable.set name="noGroup" value="Ohne Komponist" />				
						</f:if>
					</f:if>
					<f:if condition="{extendedFieldName}!=''">
						<f:then>
							<v:variable.set name="panel" value="0" />
							<v:variable.set name="listGroup" value="{n:getExtendedField(newsItem:newsItem, extendedFieldName:extendedFieldName)}" />
							<f:if condition="{listGroup}==''">
								<v:variable.set name="listGroup" value="{noGroup}" />
							</f:if>
							<v:variable.set name="groupClosed" value="0" />
							<f:if condition="{listGroup}!={listGroupTmp}">								
								<f:if condition="{listGroupTmp}!=''">								
									</div>
									</div>
									<v:variable.set name="groupsClosed" value="{v:math.sum(a: groupsClosed, b: 1)}" />							
								</f:if>
								<v:variable.set name="groupsOpened" value="{v:math.sum(a: groupsOpened, b: 1)}" />
								<div class="panel panel-default">
									<div class="panel-heading">
										<strong>{listGroup}</strong>
									</div>
									<div class="panel-body">
								<v:variable.set name="listGroupTmp" value="{listGroup}" />
							</f:if>
						</f:then>
						<f:else>
							<v:variable.set name="panel" value="1" />
						</f:else>
					</f:if>
				</f:comment>
				<f:render partial="List/Item" arguments="{_all}" />			
			</f:for>
			<f:comment>
				<f:if condition="{groupsOpened}>{groupsClosed}">
					</div>
					</div>		
				</f:if>
			</f:comment>
		</f:then>
		<f:else>
			<div class="ajaxnews-no-news-found">
				<div class="alert alert-info" role="alert"><f:translate key="list_nonewsfound" /></div>
			</div>
		</f:else>
	</f:if>
	<input type="hidden" id="ajaxnews-filter-count" value="{count}">
	<input type="hidden" id="ajaxnews-filter-pages" value="{pages}">

</div>