<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
      data-namespace-typo3-fluid="true">

	<f:layout name="Request" />

	<f:section name="content">	
		<f:render partial="Detail/Item" arguments="{_all}" />	
		<input type="hidden" id="ajaxnews-request-title" value="{newsItem.title}">
	</f:section>
	
</html>