<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<tr class="db_list_normal target-row" id="target-row-{target.uid}">	
		<f:render partial="Table/Body/Columns" arguments="{table:'tx_mooxnews_domain_model_target',fields:fields,item:target,replacements:replacements,fieldsSeparator:fieldsSeparator}" />
		<f:render partial="Table/Body/Mod2/Controls" arguments="{table:'tx_mooxnews_domain_model_target',groupedFolders:groupedFolders,folders:folders,target:target}" />
	</tr>
	<f:render partial="Module/Mod2/List/Body/Item/Detail" arguments="{conf:conf,fields:fields,target:target,labels:labels}" />
	
</div>