<div class="tx-moox-mailer-admin-buttons">
	<f:link.action action="showTask" class="tx-moox-mailer-admin-buttons-info{f:if(condition: isInfo, then: ' active')}" title="Übersicht anzeigen">Übersicht anzeigen</f:link.action>
	<f:link.action action="showNews" class="tx-moox-mailer-admin-buttons-mails{f:if(condition: isMails, then: ' active')}" title="Gewählte Nachrichten">Gewählte Nachrichten</f:link.action>	
	<f:link.action action="executeTask" class="tx-moox-mailer-admin-buttons-execute{f:if(condition: isExecute, then: ' active')}" title="Manuell ausführen" onclick="return window.confirm('Wollen Sie den Mailvorgang für diesen Task wirklich manuell starten?');">Manuell ausführen</f:link.action>
	<f:link.action action="previewTask" class="tx-moox-mailer-admin-buttons-preview{f:if(condition: isPreview, then: ' active')}" title="Vorschau anzeigen">Vorschau anzeigen</f:link.action>
	<f:if condition="{currentTask.lastRunLogfile}">
		<f:link.action action="showLog" class="tx-moox-mailer-admin-buttons-logfile{f:if(condition: isLog, then: ' active')}" title="Letzte Logdatei">Letzte Logdatei</f:link.action>	
	</f:if>
</div>