{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tbody>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Versendet werden</td>
		<td class="tx-moox-mailer-admin-table-value">
			<core:icon identifier="ext-news-type-default" /> MOOX-News
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Nächste Ausführung</td>
		<td class="tx-moox-mailer-admin-table-value">
			<core:icon identifier="actions-edit-pick-date" /> {currentTask.nextRun}<br />
			[ in {currentTask.nextRunCountdown.day} Tag(en), {currentTask.nextRunCountdown.std} Stunde(n), {currentTask.nextRunCountdown.min} Minute(n) und {currentTask.nextRunCountdown.sec} Sekunde(n) ]
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Zu versendende Mails bei nächster Ausführung</td>
		<td class="tx-moox-mailer-admin-table-value">{mailCount} Mail(s)</td>
	</tr>
	<f:if condition="{mailCount}">
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
			<td class="tx-moox-mailer-admin-table-label">Zu versendende News bei nächster Ausführung</td>
			<td class="tx-moox-mailer-admin-table-value">{newsCount} News</td>
		</tr>
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
			<td class="tx-moox-mailer-admin-table-label">Betroffene Benutzer bei nächster Ausführung</td>
			<td class="tx-moox-mailer-admin-table-value">{userCount} Benutzer</td>
		</tr>
	</f:if>
	<f:if condition="{currentTask.lastRunLogfile}">
		<f:then>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
				<td class="tx-moox-mailer-admin-table-label">Letzte Ausführung [Start]</td>
				<td class="tx-moox-mailer-admin-table-value"><core:icon identifier="actions-edit-pick-date" /> {currentTask.lastRunStart}</td>
			</tr>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
				<td class="tx-moox-mailer-admin-table-label">Letzte Ausführung [Ende]</td>
				<td class="tx-moox-mailer-admin-table-value"><core:icon identifier="actions-edit-pick-date" /> {currentTask.lastRunEnd}</td>
			</tr>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
				<td class="tx-moox-mailer-admin-table-label">Letzte Ausführung [Logdatei]</td>
				<td class="tx-moox-mailer-admin-table-value">/maildir/logs/{currentTask.lastRunLogfile}</td>
			</tr>
		</f:then>
		<f:else>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
				<td class="tx-moox-mailer-admin-table-label">Letzte Ausführung</td>
				<td class="tx-moox-mailer-admin-table-value">keine Ausführung innerhalb der letzten 7 Tage</td>
			</tr>
		</f:else>
	</f:if>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Format</td>
		<td class="tx-moox-mailer-admin-table-value">{currentTask.format}</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Betreff</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.subject}">
				<f:then>
					{currentTask.subject}
					<f:if condition="{currentTask.forceSubject}">
						<f:then>
							<br />[ Achtung: Dieser Betreff wird derzeit erzwungen ]
						</f:then>				
					</f:if>
				</f:then>
				<f:else>
					kein Betreff
				</f:else>
			</f:if>	
		
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Absender</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.senderName}">{currentTask.senderName}<br /></f:if>
			&lt;{currentTask.senderAddress}&gt;
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Antwort-Adresse</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.replyToAddress}!=''">
				<f:then>
					{currentTask.replyToAddress}			
				</f:then>
				<f:else>
					Keine Antwort-Adresse
				</f:else>
			</f:if>			
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Kopie an</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.cc -> f:count()}>0">
				<f:then>
					<f:for each="{currentTask.cc}" as="cc" iteration="iteration">
						{cc}{f:if(condition: iteration.isLast, else: '<br />')}
					</f:for>					
				</f:then>
				<f:else>
					Keine CC-Adressen
				</f:else>
			</f:if>
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Blindkopie an</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.bcc -> f:count()}>0">
				<f:then>
					<f:for each="{currentTask.bcc}" as="bcc" iteration="iteration">
						{bcc}{f:if(condition: iteration.isLast, else: '<br />')}
					</f:for>
				</f:then>
				<f:else>
					Keine BCC-Adressen
				</f:else>
			</f:if>
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Eingeschlossen News-Ordner</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.newsFolders -> f:count()}>0">
				<f:then>
					<f:for each="{currentTask.newsFolders}" as="folder" iteration="iteration">
						{folder.title} [{folder.uid}]{f:if(condition: iteration.isLast, else: '<br />')}
					</f:for>
				</f:then>
				<f:else>
					Keine News-Ordner ausgewählt
				</f:else>
			</f:if>
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Erweiterte News-Einschränkung</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.sendRestrictedNewsOnly}">
				<f:then>
					Es werden nur News versendet die mit Berechtigungen versehen wurden
				</f:then>
				<f:else>
					News werden ohne weitere Einschränkungen versendet
				</f:else>
			</f:if>	
		</td>
	</tr>	
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Eingeschlossen Fe-User-Ordner</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.userFolders -> f:count()}>0">
				<f:then>
					<f:for each="{currentTask.userFolders}" as="folder" iteration="iteration">
						{folder.title} [{folder.uid}]{f:if(condition: iteration.isLast, else: '<br />')}
					</f:for>
				</f:then>
				<f:else>
					Keine Fe-User-Ordner ausgewählt
				</f:else>
			</f:if>
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Ausgeschlossene Fe-User-Gruppen</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.excludedUserGroups -> f:count()}>0">
				<f:then>
					<f:for each="{currentTask.excludedUserGroups}" as="group" iteration="iteration">
						{group.title} [{group.uid}]{f:if(condition: iteration.isLast, else: '<br />')}
					</f:for>
				</f:then>
				<f:else>
					Keine Fe-User-Gruppen ausgeschlossen
				</f:else>
			</f:if>
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Erweiterte Fe-User-Einschränkung</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.sendToUsersWithGroupsOnly}">
				<f:then>
					Es werden nur News an Benutzer versendet die mindestens einer Gruppe angehören
				</f:then>
				<f:else>
					Keine weiteren Einschränkungen definiert
				</f:else>
			</f:if>	
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Eingeschlossene Adress-Ordner</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.addressFolders -> f:count()}>0">
				<f:then>
					<f:for each="{currentTask.addressFolders}" as="folder" iteration="iteration">
						{folder.title} [{folder.uid}]{f:if(condition: iteration.isLast, else: '<br />')}
					</f:for>
				</f:then>
				<f:else>
					Keine Adress-Ordner ausgewählt
				</f:else>
			</f:if>
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Eingeschlossen News-Kategorien</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.includedCategories -> f:count()}>0">
				<f:then>
					<f:for each="{currentTask.includedCategories}" as="category" iteration="iteration">
						{category.title} [{category.uid}]{f:if(condition: iteration.isLast, else: '<br />')}
					</f:for>
				</f:then>
				<f:else>
					Alle Kategorien
				</f:else>
			</f:if>
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Ausgeschlossen News-Kategorien</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.excludedCategories -> f:count()}>0">
				<f:then>
					<f:for each="{currentTask.excludedCategories}" as="category" iteration="iteration">
						{category.title} [{category.uid}]{f:if(condition: iteration.isLast, else: '<br />')}
					</f:for>
				</f:then>
				<f:else>
					Keine Kategorien ausgeschlossen
				</f:else>
			</f:if>
		</td>
	</tr>
	<f:if condition="{whitelist -> f:count()}>0">
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
			<td class="tx-moox-mailer-admin-table-label">Mailfilter</td>
			<td class="tx-moox-mailer-admin-table-value">aktiviert</td>
		</tr>
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
			<td class="tx-moox-mailer-admin-table-label">Mailfilter [Whitelist]</td>
			<td class="tx-moox-mailer-admin-table-value">
				<f:for each="{whitelist}" as="pattern" iteration="iteration">
					{pattern}{f:if(condition: iteration.isLast, else: '<br />')}
				</f:for>
			</td>
		</tr>
	</f:if>	
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Vorlage</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.template.uid}">
				<f:then>
					{currentTask.template.title} [{currentTask.template.uid}]
					<f:if condition="{currentTask.forceScheduledTemplateInSingleMailing}">
						<f:then>
							<br />[ Achtung: Die gewählte Vorlage wird derzeit in allen Einzelmails erzwungen ]
						</f:then>				
					</f:if>
				</f:then>
				<f:else>
					Vorlagen-Zeitplan wird verwendet.
				</f:else>
			</f:if>		
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Vorlagen-Zeitplan</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.schedule.uid}">
				<f:then>
					{currentTask.schedule.title} [{currentTask.schedule.uid}]
					<f:if condition="{schedule.template.title}!=''">
					<br />Aktuelles Template: {schedule.template.title} [{schedule.template.uid}]
					</f:if>
					<f:if condition="{currentTask.forceTemplateInSingleMailing}">
						<f:then>
							<br />[ Achtung: Die Nutzung des gewählten Vorlagen-Zeitplans wird derzeit erzwungen ]
						</f:then>				
					</f:if>
				</f:then>
				<f:else>
					Kein Vorlagen-Zeitplan ausgeschlossen
				</f:else>
			</f:if>					
		</td>
	</tr>
	<f:if condition="{extConf.useBounceHandling}">
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
			<td class="tx-moox-mailer-admin-table-label">Bounce-Handling</td>
			<td class="tx-moox-mailer-admin-table-value">
				<f:if condition="{extConf.bounceDomain}">
					<f:then>
						aktiviert
					</f:then>
					<f:else>
						deaktviert (Bounce-Domain benötigt)
					</f:else>
				</f:if>			
			</td>
		</tr>
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
			<td class="tx-moox-mailer-admin-table-label">Bounce-Domain</td>
			<td class="tx-moox-mailer-admin-table-value">
				<f:if condition="{extConf.bounceDomain}">
					<f:then>
						{extConf.bounceDomain}
					</f:then>
					<f:else>
						Keine Bounce-Domain angegeben
					</f:else>
				</f:if>			
			</td>
		</tr>
	</f:if>
	<f:if condition="{extConf.useSMTP}">
		<f:then>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
				<td class="tx-moox-mailer-admin-table-label">SMTP-Einstellungen</td>
				<td class="tx-moox-mailer-admin-table-value">
					ExtConf (overwrite)		
				</td>
			</tr>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
				<td class="tx-moox-mailer-admin-table-label">SMTP-Server</td>
				<td class="tx-moox-mailer-admin-table-value">
					<f:if condition="{extConf.smtpServer}">
						<f:then>
							{extConf.smtpServer}
						</f:then>
						<f:else>
							kein SMTP-Server angegeben
						</f:else>
					</f:if>
				</td>
			</tr>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
				<td class="tx-moox-mailer-admin-table-label">SMTP-Benutzername</td>
				<td class="tx-moox-mailer-admin-table-value">
					<f:if condition="{extConf.smtpUsername}">
						<f:then>
							{extConf.smtpUsername}
						</f:then>
						<f:else>
							kein SMTP-Benutzername angegeben
						</f:else>
					</f:if>		
				</td>
			</tr>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
				<td class="tx-moox-mailer-admin-table-label">SMTP-Passwort</td>
				<td class="tx-moox-mailer-admin-table-value">
					<f:if condition="{extConf.smtpPassword}">
						<f:then>
							{extConf.smtpPassword}
						</f:then>
						<f:else>
							kein SMTP-Passwort angegeben
						</f:else>
					</f:if>			
				</td>
			</tr>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
				<td class="tx-moox-mailer-admin-table-label">SMTP-Encryption</td>
				<td class="tx-moox-mailer-admin-table-value">
					<f:if condition="{extConf.smtpEncrypt}">
						<f:then>
							{extConf.smtpEncrypt}
						</f:then>
						<f:else>
							kein SMTP-Encryption angegeben
						</f:else>
					</f:if>			
				</td>
			</tr>
		</f:then>
		<f:else>
			<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
				<td class="tx-moox-mailer-admin-table-label">SMTP-Einstellungen</td>
				<td class="tx-moox-mailer-admin-table-value">
					TYPO3-Standard		
				</td>
			</tr>
		</f:else>
	</f:if>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Versandart</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:switch expression="{currentTask.sendMode}">
				<f:case value="cumulated">
					Kumulierter Versand (Alles in einer Mail)
				</f:case>
				<f:case value="single">
					Einzelversand (Ein Mail pro News)
				</f:case>
				<f:defaultCase>
					Keine Versandart gewählt
				</f:defaultCase>
			</f:switch>
			<f:if condition="{currentTask.sendSingleMails}">
				<f:then>
					<br /><br />[ Achtung: Einzelversand wird derzeit in jedem Fall erzwungen ]
				</f:then>				
			</f:if>	
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Versandzyklus [Daemon]</td>
		<td class="tx-moox-mailer-admin-table-value">Alle {daemonTask.interval.min} Minute(n), {daemonTask.mailsPerProcess} Mails pro Ausführung</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
		<td class="tx-moox-mailer-admin-table-label">Nächster Versand [Daemon]</td>
		<td class="tx-moox-mailer-admin-table-value">
			<core:icon identifier="actions-edit-pick-date" /> {daemonTask.nextRun}<br />
			[ in {daemonTask.nextRunCountdown.day} Tag(en), {daemonTask.nextRunCountdown.std} Stunde(n), {daemonTask.nextRunCountdown.min} Minute(n) und {daemonTask.nextRunCountdown.sec} Sekunde(n) ]
		</td>
	</tr>
	<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
		<td class="tx-moox-mailer-admin-table-label">Debug-Modus</td>
		<td class="tx-moox-mailer-admin-table-value">
			<f:if condition="{currentTask.debug}">
				<f:then>
					aktiviert
				</f:then>
				<f:else>
					deaktiviert
				</f:else>
			</f:if>	
		</td>
	</tr>
	<f:if condition="{currentTask.debug}">
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-odd">
			<td class="tx-moox-mailer-admin-table-label">Debug-Mail-Adresse</td>
			<td class="tx-moox-mailer-admin-table-value">{currentTask.debugAddress}</td>
		</tr>
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-even">
			<td class="tx-moox-mailer-admin-table-label">Debug-Mail-Limit</td>
			<td class="tx-moox-mailer-admin-table-value">{currentTask.debugMailLimit} Mail(s) pro Versand</td>
		</tr>
	</f:if>
</tbody>