{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tbody>
	<f:for each="{news}" as="item" iteration="iteration">
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-{f:if(condition: iteration.isEven, then: 'odd', else: 'even')}{f:if(condition: iteration.isLast, then: ' tx-moox-mailer-admin-table-row-last')}">
			<td class="tx-moox-mailer-admin-table-value" style="width: 100px">
				<f:link.action action="removeNews" arguments="{uid:item.uid}" onclick="return window.confirm('Wollen Sie diese News wirklich aus dem Versandprozess entfernen? Hinweis: Die News wird in diesem Fall nur nicht versendet, aber nicht gelöscht.');" title="{item.title} entfernen">
					<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
				</f:link.action>
				<f:link.action action="previewNews" arguments="{uid:item.uid}" title="{item.title} in Vorschau anzeigen">
					<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-view">&nbsp;</span>
				</f:link.action>				
			</td>
			<td class="tx-moox-mailer-admin-table-value">
				<a class="news-item-expander" href="javascript:toggleInfoField('#news-info-field-{item.uid}')" title="{item.title} [UID: {item.uid}]">								
					<span id="news-info-field-{item.uid}-expander" class="news-item-expander-reset pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
					{item.title -> f:format.crop(maxCharacters: 60)}
				</a>
			</td>		
		</tr>
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-{f:if(condition: iteration.isEven, then: 'odd', else: 'even')}{f:if(condition: iteration.isLast, then: ' tx-moox-mailer-admin-table-row-last')} news-info-field" id="news-info-field-{item.uid}">
			<td></td>
			<td>
				<div class="news-info-field-content">
					<f:if condition="{item.dateTime}">
						<div class="news-info-field-content-inner">
							<strong>Datum:</strong><br /><f:format.date format="d.m.Y H:i">{item.dateTime}</f:format.date>
						</div>
					</f:if>
					<f:if condition="{item.teaser}">
						<div class="news-info-field-content-inner">
							<strong>Teaser:</strong><br />{item.teaser}
						</div>
					</f:if>
					<f:if condition="{item.category.title}">
						<div class="news-info-field-content-inner">
							<strong>Haupt-Kategorie:</strong><br />{item.category.title}
						</div>
					</f:if>
					<f:if condition="{item.categories -> f:count()}>1">					
						<div class="news-info-field-content-inner">
							<strong>Weitere Kategorien:</strong><br />
							<f:for each="{item.categories}" as="category" iteration="iteration2">
								<f:if condition="{category.uid}!={item.category.uid}">
									<span title="UID: {category.uid}">{category.title}</span>
									{f:if(condition: iteration2.isLast, else: '<br />')}
								</f:if>
							</f:for>
						</div>
					</f:if>					
					<f:if condition="{item.feGroupsExtended}">
						<div class="news-info-field-content-inner">
							<strong>Gruppen mit Zugriffsberechtigung:</strong><br />
							<f:for each="{item.feGroupsExtended}" as="group" iteration="iteration3">																
								<span class="<v:condition.iterator.contains then="allowed" needle="{group.uid}" haystack="{currentUser.feGroupsUids}" />" title="UID: {group.uid}">						
									{group.title}
									<v:condition.iterator.contains needle="{group.uid}" haystack="{currentUser.feGroupsUids}">
										<img valign="middle" width="16" height="16" alt="Anzeigen" title="Anzeigen" src="../typo3/sysext/viewpage/ext_icon.gif">
									</v:condition.iterator.contains>
								</span>
								{f:if(condition: iteration2.isLast, else: '<br />')}								
							</f:for>
						</div>
					</f:if>
				</div>
			</td>
		</tr>
	</f:for>
</tbody>