<ul class="list-unstyled">
	<li class="folder pointer<f:if condition="{page} == {folder.uid}"> active</f:if>">
		<f:link.action controller="{f:if(condition: controller, then: controller, else: 'Newsletter')}" action="{f:if(condition: action, then: action, else: 'index')}" arguments="{uid: uid, redirectorController: redirectorController, redirectorAction: redirectorAction}" additionalParams="{id:0}" title="Newsletter ohne Ordner"><span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-pages-contains-mxmailer" data-identifier="tcarecords-pages-contains-mxmailer"><span class="icon-markup"><img src="/typo3conf/ext/moox_mailer/ext_icon.svg" width="16" height="16">	</span></span> Newsletter ohne Ordner</f:link.action>
	</li>
	<f:for each="{folders}" as="folder" iteration="iteration">			
		<li class="folder pointer<f:if condition="{page} == {folder.uid}"> active</f:if>">
			<f:link.action controller="{f:if(condition: controller, then: controller, else: 'Newsletter')}" action="{f:if(condition: action, then: action, else: 'index')}" arguments="{uid: uid, redirectorController: redirectorController, redirectorAction: redirectorAction}" additionalParams="{id:folder.uid}" title="UID: {folder.uid}"><f:if condition="{folder.folder}">&nbsp;&nbsp;&nbsp;&nbsp;</f:if><span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-pages-contains-mxmailer" data-identifier="tcarecords-pages-contains-mxmailer"><span class="icon-markup"><img src="/typo3conf/ext/moox_mailer/ext_icon.svg" width="16" height="16">	</span></span> {folder.title}<span style="float: right" title="Pfad: <f:for each="{folder.rootline}" as="path">\{path.title}</f:for> [UID: {folder.uid}]">[UID: {folder.uid} | Rootpage: {folder.rootpage.title}]</span></f:link.action>
		</li>		
	</f:for>
</ul>