{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace mx=Neulandlotsen\MooxMailer\ViewHelpers}

<div class="newsletter-details-content">										
	<div class="newsletter-details-content-inner">
		<strong>Gesendet am:</strong><br /><f:format.date format="d.m.Y H:i:s">{item.sent}</f:format.date>
	</div>
	<div class="newsletter-details-content-inner">
		<strong>Betreff:</strong><br />{item.sentSubject}
	</div>	
	<div class="newsletter-details-content-inner">
		<strong>Seite die versendet wurde:</strong><br />{mx:getPageInfo(uid: item.page, field: 'title')} [UID: {item.page}]
	</div>
	<f:if condition="{item.userFolders}!=''">
		<v:variable.set name="userFolders" value="{mx:getFolders(serializedFolders: item.userFolders)}" />
		<f:if condition="{userFolders -> f:count()}>0">
			<div class="newsletter-details-content-inner">
				<strong>Eingeschlossene Benutzer-Ordner:</strong><br />
				<f:for each="{userFolders}" as="userFolder" iteration="iteration">
					<span title="{userFolder.title} [UID: {userFolder.uid}]">{userFolder.title}</span>{f:if(condition: iteration.isLast, else: ',')}
				</f:for>
			</div>
		</f:if>
	</f:if>
	<f:if condition="{item.addressFolders}!=''">
		<v:variable.set name="addressFolders" value="{mx:getFolders(serializedFolders: item.addressFolders)}" />
		<f:if condition="{addressFolders -> f:count()}>0">
			<div class="newsletter-details-content-inner">
				<strong>Eingeschlossene Benutzer-Ordner:</strong><br />
				<f:for each="{addressFolders}" as="addressFolder" iteration="iteration">
					<span title="{addressFolder.title} [UID: {addressFolder.uid}]">{addressFolder.title}</span>{f:if(condition: iteration.isLast, else: ',')}
				</f:for>
			</div>
		</f:if>
	</f:if>
	<div class="newsletter-details-content-inner">
		<strong>Absender-Name:</strong><br />{item.senderName}
	</div>
	<div class="newsletter-details-content-inner">
		<strong>Absender-Email:</strong><br />{item.senderEmail}
	</div>
	<div class="newsletter-details-content-inner">
		<strong>Autogin:</strong><br />{f:if(condition: item.autologin, then: 'aktiviert', else: 'deaktiviert')}
	</div>
	<div class="newsletter-details-content-inner">
		<strong>Erstellt am:</strong><br /><f:format.date format="d.m.Y H:i:s">{item.crdate}</f:format.date>
	</div>	
	<div class="newsletter-details-content-inner">
		<strong>Newsletter-UID:</strong><br />{item.uid}
	</div>					
</div>