{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tbody>
	<f:for each="{newsletters}" as="item" iteration="iteration">
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-{f:if(condition: iteration.isEven, then: 'odd', else: 'even')}{f:if(condition: iteration.isLast, then: ' tx-moox-mailer-admin-table-row-last')}">
			<td class="tx-moox-mailer-admin-table-value" style="width: 120px">
				<f:if condition="{filter.state}==0">
					<f:then>
						<f:link.action action="delete" arguments="{uid:item.uid,pagination:pagination}" onclick="return window.confirm('Wollen Sie diesen Entwurf wirklich löschen?')" title="{item.title} löschen">
							<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
						</f:link.action>
					</f:then>
					<f:else>
						<f:if condition="{conf.allowDeleteSentNewsletters}">
							<f:link.action action="delete" arguments="{uid:item.uid,pagination:pagination}" onclick="return window.confirm('Wollen Sie diesen Newsletter wirklich löschen?')" title="{item.title} löschen">
								<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
							</f:link.action>
						</f:if>
					</f:else>
				</f:if>
				<f:if condition="{filter.state}==0">
					<f:then>
						<f:link.action action="edit" arguments="{uid:item.uid,pagination:pagination}" title="{item.title} bearbeiten">
							<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>
						</f:link.action>
					</f:then>
					<f:else>
						<f:if condition="{conf.allowEditSentNewsletters}">
							<f:link.action action="edit" arguments="{uid:item.uid,pagination:pagination}" title="{item.title} bearbeiten">
								<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>
							</f:link.action>
						</f:if>
					</f:else>
				</f:if>				
				<f:if condition="{filter.state}==0">
					<f:then>
						<f:if condition="{item.page}>0">
							<v:variable.set name="isSendable" value="{item.addressFolders}{item.userFolders}" />
							<f:if condition="{isSendable}!=''">						
								<f:then>
									<v:variable.set name="isSendable" value="true" />
								</f:then>
								<f:else>
									<v:variable.set name="isSendable" value="false" />
								</f:else>						
							</f:if>
						</f:if>
						<f:if condition="{isSendable}">
							<f:then>
								<f:link.action action="send" arguments="{uid:item.uid,pagination:pagination}" onclick="return window.confirm('Wollen Sie diesen Newsletter wirklich versenden?')" title="{item.title} versenden">
									<img valign="middle" class="icon-newsletter-send" src="{f:uri.resource(path:'Icons/icon-send.png')}" width="16" height="16" alt="Newsletter versenden" title="Newsletter versenden" />
								</f:link.action>
							</f:then>
							<f:else>
								<img valign="middle" class="icon-newsletter-send" src="{f:uri.resource(path:'Icons/icon-nosend.png')}" width="16" height="16" alt="Newsletter noch nicht vollständig" title="Newsletter noch nicht vollständig" />
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:link.action action="add" arguments="{uid:item.uid,pagination:pagination}" title="{item.title} versenden">
							<img valign="middle" class="icon-newsletter-recycle" src="{f:uri.resource(path:'Icons/icon-recycle.png')}" width="16" height="16" alt="Newsletter recyclen" title="Newsletter recyclen" />
						</f:link.action>
						<f:link.action action="show" arguments="{uid:item.uid,pagination:pagination}" title="{item.title} anzeigen">
							<img valign="middle" class="icon-newsletter-show" src="{f:uri.resource(path:'Icons/icon-show.png')}" width="16" height="16" alt="Newsletter anzeigen" title="Newsletter anzeigen" />
						</f:link.action>
						<f:if condition="{conf.useMailerTracking}">
							<f:link.action action="stats" arguments="{uid:item.uid,pagination:pagination}" title="Statistik für {item.title} anzeigen">
								<img valign="middle" class="icon-newsletter-stats" src="{f:uri.resource(path:'Icons/icon-stats.png')}" width="16" height="16" alt="Statistik anzeigen" title="Statistik anzeigen" />
							</f:link.action>
						</f:if>
						<f:link.action action="toggleNewsletterState" arguments="{uid:item.uid,pagination:pagination}" title="UID: {item.uid} {f:if(condition: item.hidden, then: 'aktivieren', else: 'deaktivieren')}">
							<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-{f:if(condition: item.hidden, then: 'unhide', else: 'hide')}">&nbsp;</span>
						</f:link.action>
					</f:else>
				</f:if>				
			</td>
			<td class="tx-moox-mailer-admin-table-value">
				<a class="newsletter-expander" href="javascript:toggleDetails('#newsletter-details-{item.uid}')" title="{item.forename} {item.surname} [UID: {item.uid}]">
					<span id="newsletter-details-{item.uid}-expander" class="newsletter-details-expander-reset pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
					{item.title}
				</a>
			</td>
			<f:if condition="{filter.state}==1">
				<td class="tx-moox-mailer-admin-table-value">
					<f:format.date format="d.m.Y H:i:s">{item.sent}</f:format.date>			
				</td>
			</f:if>
		</tr>
		<tr class="newsletter-details" id="newsletter-details-{item.uid}">
			<td colspan="3">
				<f:if condition="{filter.state}==1">
					<f:then>
						<f:render partial="NewsletterDetailsSent" arguments="{item: item}" />
					</f:then>
					<f:else>
						<f:render partial="NewsletterDetails" arguments="{item: item}" />
					</f:else>
				</f:if>
			</td>
		</tr>
	</f:for>
</tbody>