<div class="tx-moox-mailer-admin-options">
	<div class="tx-moox-mailer-admin-option">
		<label for="tasks">Gewählter MOOX-News-Mailer-Task</label> 
		<div id="task-selector">						
			<core:icon identifier="mimetypes-x-tx_scheduler_task_group" />
			<span id="task-expander" class="pointer"><core:icon identifier="actions-move-down" /></span>
			<span class="pointer" title="{currentTask.taskUid} [UID: {currentTask.taskUid} | Nächste Ausführung: {currentTask.nextRun}]">
				<f:if condition="{currentTask}">
					<f:then>
						{currentTask.description}&nbsp;&nbsp;&nbsp;[UID: {currentTask.taskUid} | Nächste Ausführung: <core:icon identifier="actions-edit-pick-date" /> {currentTask.nextRun}]
					</f:then>
					<f:else>
						Keine Mailer-Jobs gefunden
					</f:else>
				</f:if>
			</span>					
		</div>
		<div class="clear"></div>
	</div>
	<div class="task-list" id="task-list">
		<f:if condition="{tasks -> f:count()}>1">
			<f:then>
				<f:render partial="TaskList" arguments="{currentTask: currentTask, tasks: tasks}" />				
			</f:then>
			<f:else>
				<div class="task-noothers">Keine anderen Jobs gefunden</div>
			</f:else>
		</f:if>
		<div class="task-list-footer">				
			<a href="#" id="task-list-close" class="pointer" title="schließen">schließen <core:icon identifier="actions-close" /></a>
		</div>
	</div>
</div>