{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tbody>
	<f:for each="{schedules}" as="item" iteration="iteration">
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-{f:if(condition: iteration.isEven, then: 'odd', else: 'even')}{f:if(condition: iteration.isLast, then: ' tx-moox-mailer-admin-table-row-last')}">
			<td class="tx-moox-mailer-admin-table-value" style="width: 100px">
				<f:link.action action="delete" arguments="{uid:item.uid}" onclick="return window.confirm('Wollen Sie diesen Vorlagen-Zeitplan wirklich löschen? Falls der Zeitplan derzeit für einen Mailer-Task gewählt wurde, verliert er dort seine Wirkung.')" title="{item.title} löschen">
					<core:icon identifier="actions-edit-delete" />
				</f:link.action>
				<f:link.action action="edit" arguments="{uid:item.uid}" title="{item.title} bearbeiten">
					<core:icon identifier="actions-document-open" />
				</f:link.action>				
			</td>
			<td class="tx-moox-mailer-admin-table-value">
				<span title="UID: {item.uid}"><core:icon identifier="mimetypes-x-tx_scheduler_task_group" /></span>
				{item.title -> f:format.crop(maxCharacters: 60)}				
			</td>		
		</tr>		
	</f:for>
</tbody>