<ul class="list-unstyled">
	<f:for each="{tasks}" as="task" iteration="iteration">
		<f:if condition="{currentTask.taskUid} != {task.taskUid}">
			<li class="task pointer">
				<f:link.action action="setCurrentTask" arguments="{taskUid:task.taskUid}" title="{task.description} [UID: {task.taskUid}]">
					<core:icon identifier="mimetypes-x-tx_scheduler_task_group" />
					<span class="task-title">{task.description}</span>
					<span style="float: right">[UID: {task.taskUid} | Nächste Ausführung: <core:icon identifier="actions-edit-pick-date" /> {task.nextRun}]</span>
				</f:link.action>
			</li>
		</f:if>
	</f:for>
</ul>