{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tbody>
	<f:for each="{templates}" as="item" iteration="iteration">
		<tr class="tx-moox-mailer-admin-table-row tx-moox-mailer-admin-table-row-{f:if(condition: iteration.isEven, then: 'odd', else: 'even')}{f:if(condition: iteration.isLast, then: ' tx-moox-mailer-admin-table-row-last')}">
			<td class="tx-moox-mailer-admin-table-value" style="width: 100px">
				<f:if condition="{item.uid}!=1">
					<f:then>
						<f:link.action action="delete" arguments="{uid:item.uid}" onclick="return window.confirm('Wollen Sie diese Vorlagen wirklich löschen? Falls die Vorlage derzeit für einen Mailer-Task gewählt wurde, wird stattdessen auf die Standardvorlage zurückgegriffen.')" title="{item.title} löschen">
							<core:icon identifier="actions-edit-delete" />
						</f:link.action>		
					</f:then>
					<f:else>
						<span title="Die Standard-Vorlage kann nicht gelöscht werden"><core:icon identifier="actions-edit-delete" overlay="overlay-warning" /></span>
					</f:else>
				</f:if>
				<f:link.action action="edit" arguments="{uid:item.uid}" title="{item.title} bearbeiten">
					<core:icon identifier="actions-document-open" />
				</f:link.action>				
			</td>
			<td class="tx-moox-mailer-admin-table-value">
				<span title="UID: {item.uid}"><core:icon identifier="mimetypes-x-content-template-static" /></span>
				<f:if condition="{item.uid}==1">[Standard-Vorlage] </f:if>{item.title -> f:format.crop(maxCharacters: 100)}			
			</td>		
		</tr>		
	</f:for>
</tbody>