{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="tx-moox-mailer-admin-filter">
	<div class="tx-moox-mailer-admin-option">								
		<div id="user-selector">						
			<img class="current-user-icon pointer" width="16" height="16" alt="Liste" align="center" title="Liste" src="../typo3/sysext/t3skin/icons/module_web_list.gif">
			<span id="user-expander" class="pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
			<span id="newsletter-preview-iframe-display" class="pointer">
			<f:if condition="{currentUser}">
				<f:then>
					<f:if condition="{currentUser.type}=='feuser'">
						<f:then>
							{currentUser.lastName} {currentUser.firstName} | {currentUser.username} | {currentUser.email}&nbsp;&nbsp;&nbsp;[UID: {currentUser.uid}]
						</f:then>
						<f:else>
							{currentUser.lastName} {currentUser.firstName} | {currentUser.email}&nbsp;&nbsp;&nbsp;[Adresse]
						</f:else>
					</f:if>											
				</f:then>
				<f:else>
					Alle Benutzer/Addressen
				</f:else>
			</f:if>
			</span>					
		</div>
		<div class="clear"></div>
	</div>
	<div class="user-list" id="user-list">
		<f:if condition="{users -> f:count()}>20">
			<div class="user-list-navigation">
				<a href="#userNav0">Nach oben</a>										
				<f:for each="{users}" as="user" iteration="iteration">
					<f:if condition="{currentUser.email} != {user.email}">			
						<f:if condition="{user.lastName} != ''">
							<f:then>
								<v:variable.set name="firstChar" value="{v:format.substring(content: user.lastName, start: 0, length: 1)}" />
							</f:then>
							<f:else>
								<f:if condition="{user.firstName} != ''">
									<f:then>
										<v:variable.set name="firstChar" value="{v:format.substring(content: user.firstName, start: 0, length: 1)}" />
									</f:then>
									<f:else>
										<v:variable.set name="firstChar" value="{v:format.substring(content: user.username, start: 0, length: 1)}" />
									</f:else>
								</f:if>								
							</f:else>
						</f:if>
						<f:if condition="{firstChar} != {currentChar}">
							<v:variable.set name="currentChar" value="{firstChar}" />					
							<a href="#userNav{currentChar}">{currentChar}</a>					
						</f:if>
					</f:if>
				</f:for>
			</div>
		</f:if>
		<div class="user-list-inner">	
			<ul class="list-unstyled">
				<f:if condition="{page}">
					<f:then>						
						<li class="user pointer" id="userNav0" style="display: none">
							<a href="javascript:reloadIframe('#newsletter-preview-iframe','<f:uri.action absolute="1" noCache="1" action="previewIframe" controller="Newsletter" arguments="{page: page}" />','Alle Benutzer/Adressen','')" title="Alle Benutzer/Adressen">
								<span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-user-group-frontend">&nbsp;</span>
								<span class="user-title">Alle Benutzer/Adressen</span>
							</a>
						</li>
					</f:then>
						<f:if condition="{currentUser}">
							<li class="user pointer" id="userNav0">
								<a href="javascript:changePreviewUser('')" title="Alle Benutzer/Adressen">
									<span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-user-group-frontend">&nbsp;</span>
									<span class="user-title">Alle Benutzer/Adressen</span>
								</a>
							</li>
						</f:if>
					<f:else>
						
					</f:else>
				</f:if>
				<f:for each="{users}" as="user" iteration="iteration">
					<f:if condition="{currentUser.email} != {user.email}">
						<f:if condition="{users -> f:count()}>20">
							<f:if condition="{user.lastName} != ''">
								<f:then>
									<v:variable.set name="firstChar" value="{v:format.substring(content: user.lastName, start: 0, length: 1)}" />
								</f:then>
								<f:else>
									<v:variable.set name="firstChar" value="{v:format.substring(content: user.firstName, start: 0, length: 1)}" />
								</f:else>
							</f:if>
							<f:if condition="{firstChar} != {currentChar}">
								<v:variable.set name="currentChar" value="{firstChar}" />
								<li class="separator">
									<a id="userNav{currentChar}">{currentChar}</a>
								</li>
							</f:if>
						</f:if>
						<li class="user pointer" id="userNav{user.uid}">
							<f:if condition="{user.type}=='feuser'">
								<f:then>
									<f:if condition="{page}">
										<f:then>
											<a href="javascript:reloadIframe('#newsletter-preview-iframe','<f:uri.action absolute="1" noCache="1" action="previewIframe" controller="Newsletter" arguments="{page: page, autoLoginUser: user.uid}" />','{user.lastName} {user.firstName} | {user.username} | {user.email}&nbsp;&nbsp;&nbsp;[UID: {user.uid}]','{user.email}')" title="{user.lastName} {user.firstName} | {user.username} [{user.email}]">
												<span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-user-frontend">&nbsp;</span>
												<span class="user-title">{user.lastName} {user.firstName} | {user.username} | {user.email}</span>
												<span style="float: right">[UID: {user.uid}]</span>
											</a>
										</f:then>
										<f:else>
											<a href="javascript:changePreviewUser('{user.email}')" title="{user.lastName} {user.firstName} | {user.username} [{user.email}]">
												<span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-user-frontend">&nbsp;</span>
												<span class="user-title">{user.lastName} {user.firstName} | {user.username} | {user.email}</span>
												<span style="float: right">[UID: {user.uid}]</span>
											</a>
										</f:else>
									</f:if>
								</f:then>
								<f:else>
									<a href="javascript:changePreviewUser('{user.email}')" title="{user.lastName} {user.firstName} [{user.email}]">
										<span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-user-frontend">&nbsp;</span>
										<span class="user-title">{user.lastName} {user.firstName} | {user.email}</span>
										<span style="float: right">[Adresse]</span>
									</a>
								</f:else>
							</f:if>
						</li>			
					</f:if>
				</f:for>
			</ul>				
		</div>
		<div class="user-list-footer">				
			<a href="#" id="user-list-close" class="pointer" title="schließen">schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span></a>
		</div>
	</div>
</div>