{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<ul class="list-unstyled">
	<f:if condition="{currentUser}">
		<li class="user pointer" id="userNav0">
			<f:link.action action="setCurrentUser" arguments="{email:''}" title="Alle Benutzer">
				<span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-user-group-frontend">&nbsp;</span>
				<span class="task-title">Alle Benutzer</span>
			</f:link.action>
		</li>
	</f:if>
	<f:for each="{users}" as="user" iteration="iteration">
		<f:if condition="{currentUser.email} != {user.email}">
			<f:if condition="{users -> f:count()}>20">
				<f:if condition="{user.lastName} != ''">
					<f:then>
						<v:variable.set name="firstChar" value="{v:format.substring(content: user.lastName, start: 0, length: 1)}" />
					</f:then>
					<f:else>
						<f:if condition="{user.firstName} != ''">
							<f:then>
								<v:variable.set name="firstChar" value="{v:format.substring(content: user.firstName, start: 0, length: 1)}" />
							</f:then>
							<f:else>
								<v:variable.set name="firstChar" value="{v:format.substring(content: user.username, start: 0, length: 1)}" />
								<v:variable.set name="firstChar" value="{v:format.case(string: firstChar, case: 'upper')}" />								
							</f:else>
						</f:if>
					</f:else>
				</f:if>
				<f:if condition="{firstChar} != {currentChar}">
					<v:variable.set name="currentChar" value="{firstChar}" />
					<li class="separator">
						<a id="userNav{currentChar}">{currentChar}</a>
					</li>
				</f:if>
			</f:if>
			<li class="user pointer">
				<f:if condition="{user.type}=='feuser'">
					<f:then>
						<f:link.action action="setCurrentUser" arguments="{email:user.email}" title="{user.lastName} {user.firstName} | {user.username} [{user.email}]">
							<span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-user-frontend">&nbsp;</span>
							<span class="task-title">{user.lastName} {user.firstName} | {user.username} | {user.email}</span>
							<span style="float: right">[UID: {user.uid}]</span>
						</f:link.action>
					</f:then>
					<f:else>
						<f:link.action action="setCurrentUser" arguments="{email:user.email}" title="{user.lastName} {user.firstName} [{user.email}]">
							<span class="t3-icon t3-icon-status t3-icon-status-user t3-icon-user-frontend">&nbsp;</span>
							<span class="task-title">{user.lastName} {user.firstName} | {user.email}</span>
							<span style="float: right">[Adresse]</span>
						</f:link.action>
					</f:else>
				</f:if>
			</li>			
		</f:if>
	</f:for>
</ul>