<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:section name="Default">
        <f:if condition="{bootstrapSettings.navigation.main.show} && {bootstrapSettings.navigation.main.startPage}">
            <nav class="navbar{f:if(condition:bootstrapSettings.navigation.main.additionalClass,then:' {bootstrapSettings.navigation.main.additionalClass}')}" id="main-navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-label">MENÜ</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-nav">
                    <v:menu entryLevel="{bootstrapSettings.navigation.main.entryLevel}" pageUid="{bootstrapSettings.navigation.main.startPage}" useShortcutUid="{bootstrapSettings.navigation.main.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.main.useShortcutData}" classLast="nav-item-last" classFirst="nav-item-first" >
                        <f:if condition="{menu}">
                            <ul style="margin:0px;" class="navbar-nav mr-auto">
                                <f:for each="{menu}" as="page0" iteration="iteration">
                                    <li class="nav-item{f:if(condition:page0.hasSubPages,then:' dropdown')} p{page0.uid} color-{page0.layout} {page0.class}">
                                        <f:if condition="{page0.hasSubPages}">
                                            <f:then>
                                                <f:comment>EBENE 2</f:comment>
                                                <a accesskey="{iteration.cycle}" class="nav-link dropdown-toggle" href="{page0.link}" id="dropdown-{page0.uid}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}">{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}</a>
                                                <v:menu pageUid="{page0.uid}" expandAll="TRUE">
                                                    <f:if condition="{menu}">
                                                        <ul class="dropdown-menu" aria-labelledby="dropdown-{page0.uid}">
                                                            <f:for each="{menu}" as="page1" iteration="iteration">
                                                                <li class="nav-item dropdown">
                                                                    <f:if condition="{page1.hasSubPages}">
                                                                        <f:then>
                                                                            <f:comment>EBENE 3</f:comment>
                                                                            <a class="dropdown-item dropdown-toggle" href="{page1.link}" id="dropdown-{page1.uid}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{f:if(condition: page1.nav_title, then: page1.nav_title, else: page1.title)}">{f:if(condition: page1.nav_title, then: page1.nav_title, else: page1.title)}<f:if condition="{page1.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                                            <v:menu pageUid="{page1.uid}" expandAll="TRUE">
                                                                                <f:if condition="{menu}">
                                                                                    <ul class="dropdown-menu" aria-labelledby="dropdown-{page1.uid}">
                                                                                        <f:for each="{menu}" as="page2" iteration="iteration">
                                                                                            <li class="nav-item dropdown">
                                                                                                <f:if condition="{page2.hasSubPages}">
                                                                                                    <f:then>
                                                                                                        <f:comment>EBENE 4</f:comment>
                                                                                                        <a class="dropdown-item dropdown-toggle" href="{page2.link}" id="dropdown-{page2.uid}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{f:if(condition: page2.nav_title, then: page2.nav_title, else: page2.title)}">{f:if(condition: page2.nav_title, then: page2.nav_title, else: page2.title)}<f:if condition="{page2.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                                                                        <v:menu pageUid="{page2.uid}" expandAll="TRUE">
                                                                                                            <f:if condition="{menu}">
                                                                                                                <ul class="dropdown-menu" aria-labelledby="dropdown-{page2.uid}">
                                                                                                                    <f:for each="{menu}" as="page3" iteration="iteration">
                                                                                                                        <li class="nav-item dropdown">
                                                                                                                            <f:if condition="{page3.hasSubPages}">
                                                                                                                                <f:then>
                                                                                                                                    <f:comment>EBENE 5</f:comment>
                                                                                                                                    <a class="dropdown-item dropdown-toggle" href="{page3.link}" id="dropdown-{page3.uid}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{f:if(condition: page3.nav_title, then: page3.nav_title, else: page3.title)}">{f:if(condition: page3.nav_title, then: page3.nav_title, else: page3.title)}<f:if condition="{page3.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                                                                                                    <v:menu pageUid="{page3.uid}" expandAll="TRUE">
                                                                                                                                        <f:if condition="{menu}">
                                                                                                                                            <ul class="dropdown-menu" aria-labelledby="dropdown-{page3.uid}">
                                                                                                                                                <f:for each="{menu}" as="page4" iteration="iteration">
                                                                                                                                                    <li>
                                                                                                                                                        <a class="dropdown-item" href="{page4.link}" title="{f:if(condition: page4.nav_title, then: page4.nav_title, else: page4.title)}">{f:if(condition: page4.nav_title, then: page4.nav_title, else: page4.title)}<f:if condition="{page4.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                                                                                                                    </li>
                                                                                                                                                </f:for>
                                                                                                                                            </ul>
                                                                                                                                        </f:if>
                                                                                                                                    </v:menu>
                                                                                                                                </f:then>
                                                                                                                                <f:else>
                                                                                                                                    <a class="dropdown-item" href="{page3.link}" title="{f:if(condition: page3.nav_title, then: page3.nav_title, else: page3.title)}">{f:if(condition: page3.nav_title, then: page3.nav_title, else: page3.title)}<f:if condition="{page3.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                                                                                                </f:else>
                                                                                                                            </f:if>
                                                                                                                        </li>
                                                                                                                    </f:for>
                                                                                                                </ul>
                                                                                                            </f:if>
                                                                                                        </v:menu>
                                                                                                    </f:then>
                                                                                                    <f:else>
                                                                                                        <a class="dropdown-item" href="{page2.link}" title="{f:if(condition: page2.nav_title, then: page2.nav_title, else: page2.title)}">{f:if(condition: page2.nav_title, then: page2.nav_title, else: page2.title)}<f:if condition="{page2.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                                                                    </f:else>
                                                                                                </f:if>
                                                                                            </li>
                                                                                        </f:for>
                                                                                    </ul>
                                                                                </f:if>
                                                                            </v:menu>
                                                                        </f:then>
                                                                        <f:else>
                                                                            <a class="dropdown-item" href="{page1.link}" title="{f:if(condition: page1.nav_title, then: page1.nav_title, else: page1.title)}">{f:if(condition: page1.nav_title, then: page1.nav_title, else: page1.title)}<f:if condition="{page1.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                                        </f:else>
                                                                    </f:if>
                                                                </li>
                                                            </f:for>
                                                        </ul>
                                                    </f:if>
                                                </v:menu>
                                            </f:then>
                                            <f:else>
                                                <a accesskey="{iteration.cycle}" class="nav-link" href="{page0.link}" title="{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}">{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}<f:if condition="{page0.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                            </f:else>
                                        </f:if>
                                    </li>
                                </f:for>
                            </ul>
                        </f:if>
                    </v:menu>
                </div>
            </nav>
        </f:if>
    </f:section>

    <f:section name="Meta">
        <f:if condition="{bootstrapSettings.navigation.meta.show} && {bootstrapSettings.navigation.meta.startPage}">
            <nav class="nav nav-meta{f:if(condition:bootstrapSettings.navigation.meta.additionalClass,then:' {bootstrapSettings.navigation.meta.additionalClass}')}">
                <v:menu entryLevel="{bootstrapSettings.navigation.meta.entryLevel}" pageUid="{bootstrapSettings.navigation.meta.startPage}" useShortcutUid="{bootstrapSettings.navigation.meta.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.meta.useShortcutData}" classLast="nav-item-last" classFirst="nav-item-first" >
                    <f:if condition="{menu}">
                        <f:for each="{menu}" as="page0" iteration="iteration">
                            <a accesskey="{iteration.cycle}" class="nav-link" href="{page0.link}" title="{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}">{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}<f:if condition="{page0.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                        </f:for>
                    </f:if>
                </v:menu>
            </nav>
        </f:if>
    </f:section>

    <f:section name="Sidebar">
        <f:if condition="{bootstrapSettings.navigation.sidebar.show}">
            <v:menu entryLevel="{bootstrapSettings.navigation.sidebar.entryLevel}" levels="{bootstrapSettings.navigation.sidebar.levels}" expandAll="{bootstrapSettings.navigation.sidebar.expandAll}" classLast="nav-item-sidebar-last" classFirst="nav-item-sidebar-first" useShortcutUid="{bootstrapSettings.navigation.sidebar.useShortcutUid}" useShortcutData="{bootstrapSettings.navigation.sidebar.useShortcutData}">
                <f:if condition="{menu}">
                    <ul class="nav nav-sidebar{f:if(condition:bootstrapSettings.navigation.sidebar.additionalClass,then:' {bootstrapSettings.navigation.sidebar.additionalClass}')}">
                        <f:for each="{menu}" as="page0" iteration="iteration">
                            <li class="nav-item">
                                <a href="{page0.link}" class="nav-link {page0.class}" title="{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}">{f:if(condition: page0.nav_title, then: page0.nav_title, else: page0.title)}<f:if condition="{page0.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                <f:if condition="{page0.active} && {page0.hasSubPages}">
                                    <f:then>
                                        <v:menu pageUid="{page0.uid}" expandAll="TRUE" useShortcutUid="TRUE">
                                            <f:if condition="{menu}">
                                                <ul class="nav">
                                                    <f:for each="{menu}" as="page1" iteration="iteration">
                                                        <li class="nav-item">
                                                            <a href="{page1.link}" class="nav-link {page1.class}" title="{f:if(condition: page1.nav_title, then: page1.nav_title, else: page1.title)}">{f:if(condition: page1.nav_title, then: page1.nav_title, else: page1.title)}<f:if condition="{page1.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                            <f:if condition="{page1.active} && {page1.hasSubPages}">
                                                                <f:then>
                                                                    <v:menu pageUid="{page1.uid}" expandAll="TRUE" useShortcutUid="TRUE">
                                                                        <f:if condition="{menu}">
                                                                            <ul class="nav">
                                                                                <f:for each="{menu}" as="page2" iteration="iteration">
                                                                                    <li class="nav-item">
                                                                                        <a href="{page2.link}" class="nav-link {page2.class}" title="{f:if(condition: page2.nav_title, then: page2.nav_title, else: page2.title)}">{f:if(condition: page2.nav_title, then: page2.nav_title, else: page2.title)}<f:if condition="{page2.current}"><span class="sr-only">(aktuelle)</span></f:if></a>
                                                                                    </li>
                                                                                </f:for>
                                                                            </ul>
                                                                        </f:if>
                                                                    </v:menu>
                                                                </f:then>
                                                            </f:if>
                                                        </li>
                                                    </f:for>
                                                </ul>
                                            </f:if>
                                        </v:menu>
                                    </f:then>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </f:if>
            </v:menu>
        </f:if>
    </f:section>

    <f:section name="Breadcrumb">
        <nav class="navi-breadcrumb clearfix" aria-label="breadcrumb">
            <v:page.breadCrumb as="breadcrumb" showHiddenInMenu="1" entryLevel="2" levels="1" expandAll="1" class="breadcrumb" classFirst="first" classLast="last" classActive="active" classCurrent="current" useShortcutUid="true" linkActive="1" linkCurrent="1" endLevel="4">
                <f:if condition="{breadcrumb -> f:count()}">
                    <div class="breadcrumb">
                        <f:for each="{breadcrumb}" as="breadcrumbItem" iteration="iteration">
                            <li class="breadcrumb-item {breadcrumbItem.class}">
                                <f:if condition="!{breadcrumbItem.current}">
                                    <f:then>
                                        <a href="{f:uri.page(pageUid:breadcrumbItem.uid)}" class="breadcrumb-link" title="{f:if(condition: breadcrumbItem.nav_title, then: breadcrumbItem.nav_title, else: breadcrumbItem.title)}">
                                            {breadcrumbItem.title}
                                        </a>
                                    </f:then>
                                    <f:else>
                                        {breadcrumbItem.title}
                                    </f:else>
                                </f:if>
                            </li>
                        </f:for>
                    </div>
                </f:if>
            </v:page.breadCrumb>
        </nav>
    </f:section>

</div>