<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	
	<f:layout name="ContentDefault" />
	
	<f:section name="Configuration">
		<flux:form id="MooxVideoPlayer_2" label="Videoplayer_2" enabled="false">
			<flux:form.option.group value="MOOX" />
			<flux:form.option.icon value="EXT:moox_core/ext_icon.svg" />
			<flux:field.file name="file" allowed="mp4" label="Videodatei" showThumbnails="1" useFalRelation="1" />
		</flux:form>
	</f:section>
	
	<f:section name="Preview">
		<div class="panel panel-primary">
			<div class="panel-heading">Videoplayer_2</div>
			<div class="panel-body">
				<p><strong>{position}</strong></p>
				<f:if condition="{location}"><p>{location}</p></f:if>
				<f:if condition="{file}">
					<p>
						Videodatei: <a target="_blank" href="<v:resource.file identifier="{file}" treatIdAsUid="1" as="download">/{download.url}</v:resource.file>" title="Datei herunterladen"><v:resource.file identifier="{file}" treatIdAsUid="1" as="download">/{download.url}</v:resource.file></a>
					<p>
				</f:if>
			</div>
		</div>
	</f:section>
	
	<f:section name="Main">
		<f:if condition="{file}">
			<v:asset.script name="mediaplayer_js" group="moox" dependencies="jquery" path="/{f:uri.resource(path:'Contrib/ProgressionPlayer/build/mediaelement-and-player.min.js')}" standalone="TRUE" movable="FALSE" external="TRUE" />
			<v:asset.script name="mediaplayer_playlist_js" group="moox" dependencies="jquery" path="/{f:uri.resource(path:'Contrib/ProgressionPlayer/build/mep-feature-playlist.js')}" standalone="TRUE" movable="FALSE" external="TRUE" />

			<div class="moox-videoplayer">
				<video id="moox-videoplayer-{record.uid}" class="progression-single progression-skin" controls="controls" preload="none">
					<source src="<v:resource.file identifier="{file}" treatIdAsUid="1" as="download">/{download.url}</v:resource.file>" type="video/mp4" title="mp4">
				</video>

				<script>
				$('#moox-videoplayer-{record.uid}').mediaelementplayer({
					startVolume: 0.5,
					features: ['playpause','current','progress','duration','tracks','volume','fullscreen']
					});
				</script>
			</div>
		</f:if>
	</f:section>
</div>