<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="ContentDefault" />

	<f:section name="Configuration">
		<flux:form id="mooxhiddenbox" label="Box für versteckten Inhalt" enabled="false" enabled="0">
			<flux:form.option.group value="MOOX" />
			<flux:form.option.icon value="EXT:moox_core/ext_icon.svg" />
			<flux:form.content name="content" />
			<flux:field.checkbox name="hiddenOnLoad" label="Box-Inhalt beim Laden verstecken" default="0" />
			<flux:field.input name="groupId" label="Eindeutige ID für Gruppierung mehrerer Boxen" />			
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<strong>Verstecker Inhalt</strong></br>
		Beim Laden versteckt: {f:if(condition:hiddenOnLoad,then:'ja',else:'nein')}<br>
		CSS-ID: {record.uid}<br>
		CSS-GROUP: {record.pid}{f:if(condition:groupId,then:'-')}{groupId}
	</f:section>

	<f:section name="Main">
		<div id="moox-hidden-box-{record.uid}" data-group="moox-hidden-box-{record.pid}{f:if(condition:groupId,then:'-')}{groupId}" class="moox-hidden-box moox-hidden-box-{record.pid}{f:if(condition:groupId,then:'-')}{groupId}{f:if(condition:hiddenOnLoad,then:' hidden')}">
			<flux:content.render area="content" />
		</div>
	</f:section>
	
</div>
