<div xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:spaceless>
        <v:variable.set name="siteName" value="{f:if(condition:coreSettings.siteName,then:coreSettings.siteName,else:'{v:site.name()}')}" />
        <v:variable.set name="faviconPathCore" value="/{v:extension.path.resources(extensionName:'MooxCore',path:'Icons/Favicons{f:if(condition:coreSettings.faviconSubfolder,then:\'/{coreSettings.faviconSubfolder}\')}')}" />
        <v:variable.set name="faviconPath" value="/{v:extension.path.resources(extensionName:coreSettings.faviconProviderExtKey,path:'Icons/Favicons{f:if(condition:coreSettings.faviconSubfolder,then:\'/{coreSettings.faviconSubfolder}\')}')}" />
        <v:variable.set name="faviconPathAbsolute" value="{v:extension.path.absolute(extensionName:coreSettings.faviconProviderExtKey,path:'Resources/Public/Icons/Favicons{f:if(condition:coreSettings.faviconSubfolder,then:\'/{coreSettings.faviconSubfolder}\')}')}" />
        <f:if condition="!{noTitle}">
            <v:page.header.title title="{siteName} {coreSettings.meta.titleDivider} {f:if(condition:page.seo_title,then:page.seo_title,else:page.title)}" />
        </f:if>
        <f:comment>
            <v:page.header.meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        </f:comment>
        <v:page.header.meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <f:if condition="{coreSettings.meta.geo-lat} && {coreSettings.meta.geo-long}">
            <v:page.header.meta name="geo.position" content="{coreSettings.meta.geo-lat};{coreSettings.meta.geo-long}" />
            <v:page.header.meta name="ICBM" content="{coreSettings.meta.geo-lat}, {coreSettings.meta.geo-long}" />
        </f:if>
        <f:if condition="{coreSettings.meta.geo-region}">
            <v:page.header.meta name="geo.region" content="{coreSettings.meta.geo-region}" />
        </f:if>
        <f:if condition="{coreSettings.meta.geo-placename}">
            <v:page.header.meta name="geo.placename" content="{coreSettings.meta.geo-placename}" />
        </f:if>
        <v:page.header.meta name="application-name" content="{siteName}" />
        <v:page.header.meta name="og:type" content="{coreSettings.meta-type}" />
        <v:page.header.meta name="og:site_name" content="{siteName}" />
        <f:if condition="{coreSettings.meta.theme-color}">
            <v:page.header.meta name="theme-color" content="{coreSettings.meta.theme-color}" />
        </f:if>
        <f:switch expression="{coreSettings.robots}">
            <f:case value="all">
                <v:page.header.meta name="robots" content="all" />
            </f:case>
            <f:case value="index-follow">
                <v:page.header.meta name="robots" content="index,follow" />
            </f:case>
            <f:case value="noindex-nofollow">
                <v:page.header.meta name="robots" content="noindex,nofollow" />
            </f:case>
        </f:switch>
        <f:if condition="{google}">
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/manifest.json')}">
                <v:page.header.link rel="manifest" href="{faviconPath}/manifest.json" />
            </f:if>
            <f:if condition="{coreSettings.google-site-verification}">
                <v:page.header.meta name="google-site-verification" content="{coreSettings.google-site-verification}" />
            </f:if>
        </f:if>
        <f:if condition="{microsoft}">
            <f:if condition="{coreSettings.meta.msApplicationTitleColor}">
                <v:page.header.meta name="msapplication-TileColor" content="{coreSettings.meta.msApplicationTitleColor}" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/mstile-144x144.png')}">
                <v:page.header.meta name="msapplication-TileImage" content="{faviconPath}/mstile-144x144.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/browserconfig.xml')}">
                <v:page.header.meta name="msapplication-config" content="{faviconPath}/browserconfig.xml" />
            </f:if>
        </f:if>
        <f:if condition="{apple}">
            <v:page.header.meta name="apple-mobile-web-app-capable" content="yes" />
            <v:page.header.meta name="apple-mobile-web-app-title" content="{siteName}" />
            <f:if condition="{coreSettings.meta.apple-mobile-web-app-status-bar-style}">
                <v:page.header.meta name="apple-mobile-web-app-status-bar-style" content="{settings.apple-mobile-web-app-status-bar-style}" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon.png')}">
                <v:page.header.link rel="apple-touch-icon" href="{faviconPath}/apple-touch-icon.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-57x57.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '57x57'}" href="{faviconPath}/apple-touch-icon-57x57.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-60x60.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '60x60'}" href="{faviconPath}/apple-touch-icon-60x60.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-72x72.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '72x72'}" href="{faviconPath}/apple-touch-icon-72x72.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-76x76.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '76x76'}" href="{faviconPath}/apple-touch-icon-76x76.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-114x114.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '114x114'}" href="{faviconPath}/apple-touch-icon-114x114.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-120x120.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '120x120'}" href="{faviconPath}/apple-touch-icon-120x120.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-144x144.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '144x144'}" href="{faviconPath}/apple-touch-icon-144x144.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-152x152.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '152x152'}" href="{faviconPath}/apple-touch-icon-152x152.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/apple-touch-icon-180x180.png')}">
                <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '180x180'}" href="{faviconPath}/apple-touch-icon-180x180.png" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/safari-pinned-tab.svg')}">
                <v:page.header.link rel="mask-icon" href="{faviconPath}/safari-pinned-tab.svg" additionalAttributes="{color: '#006eb7'}" />
            </f:if>
        </f:if>
        <f:if condition="{favicons}">
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/favicon.ico')}">
                <f:then>
                    <v:page.header.link rel="shortcut icon" href="{faviconPath}/favicon.ico" />
                </f:then>
                <f:else>
                    <v:page.header.link rel="shortcut icon" href="{faviconPathCore}/favicon.ico" />
                </f:else>
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/favicon-196x196.png')}">
                <v:page.header.link rel="icon" type="image/png" href="{faviconPath}/favicon-196x196.png" additionalAttributes="{sizes: '196x196'}" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/favicon-192x192.png')}">
                <v:page.header.link rel="icon" type="image/png" href="{faviconPath}/favicon-192x192.png" additionalAttributes="{sizes: '192x192'}" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/favicon-160x160.png')}">
                <v:page.header.link rel="icon" type="image/png" href="{faviconPath}/favicon-160x160.png" additionalAttributes="{sizes: '160x160'}" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/favicon-96x96.png')}">
                <v:page.header.link rel="icon" type="image/png" href="{faviconPath}/favicon-96x96.png" additionalAttributes="{sizes: '96x96'}" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/favicon-32x32.png')}">
                <v:page.header.link rel="icon" type="image/png" href="{faviconPath}/favicon-32x32.png" additionalAttributes="{sizes: '32x32'}" />
            </f:if>
            <f:if condition="{v:media.exists(then:1,else:0,file:'{faviconPathAbsolute}/favicon-16x16.png')}">
                <v:page.header.link rel="icon" type="image/png" href="{faviconPath}/favicon-16x16.png" additionalAttributes="{sizes: '16x16'}" />
            </f:if>
        </f:if>
    </f:spaceless>

</div>
