<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Core/DefaultContent" />

    <f:section name="Configuration">
        {v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.contents.mooxbootstrap4_2columns') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <flux:form id="2columns" enabled="{contentSettings.enabled}">
            <flux:form.option.group value="Bootstrap" />
            <flux:form.option.icon value="EXT:moox_bootstrap4/Resources/Public/Icons/Content/3Columns.png" />
            <flux:form.sheet name="configuration" label="{ll}:flux.2columns.sheet.configuration">
                <flux:field.select name="split"
                                   label="{ll}:flux.2columns.fields.split"
                                   items="{contentSettings.splits}"
                                   default="{contentSettings.defaults.split}"
                />
                <flux:field.select name="colClass"
                                   label="{ll}:flux.2columns.fields.colClass"
                                   items="{contentSettings.colClasses}"
                                   default="{contentSettings.defaults.colClass}"
                />
                <flux:field.input name="rowClass"
                                  label="{ll}:flux.2columns.styles.rowClass"
                                  default="{contentSettings.defaults.rowClass}"
                />
                <flux:field.input name="col1Class"
                                  label="{ll}:flux.2columns.styles.col1Class"
                                  default="{contentSettings.defaults.col1Class}"
                />
                <flux:field.input name="col2Class"
                                  label="{ll}:flux.2columns.styles.col2Class"
                                  default="{contentSettings.defaults.col2Class}"
                />
                <flux:field.checkbox name="backendSplit"
                                     label="{ll}:flux.2columns.fields.backendSplit"
                                     default="{contentSettings.defaults.backendSplit}"
                />
                <v:variable.set name="cols" value="{v:iterator.explode(content:split,glue:'-')}" />
                <flux:grid>
                    <flux:grid.row>
                        <flux:grid.column colPos="0" colspan="{f:if(condition:backendSplit,then:cols.0,else:1)}" name="col1" label="{ll}:flux.2columns.fields.split.left"/>
                        <flux:grid.column colPos="1" colspan="{f:if(condition:backendSplit,then:cols.1,else:1)}" name="col2" label="{ll}:flux.2columns.fields.split.right"/>
                    </flux:grid.row>
                </flux:grid>
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview"></f:section>

    <f:section name="Main">
        <v:variable.set name="cols" value="{v:iterator.explode(content:split,glue:'-')}" />
        <div class="row{f:if(condition:rowClass,then:' {rowClass}')}">
            <div class="col{f:if(condition:'{colClass}==\'col\'',then:'-{cols.0}')}{f:if(condition:col1Class,then:' {col1Class}')}{f:if(condition:'{colClass}!=\'col\'',then:' {colClass}-{cols.0}')}">
                <flux:content.render area="col1"/>
            </div>
            <div class="col{f:if(condition:'{colClass}==\'col\'',then:'-{cols.1}')}{f:if(condition:col2Class,then:' {col2Class}')}{f:if(condition:'{colClass}!=\'col\'',then:' {colClass}-{cols.1}')}">
                <flux:content.render area="col2"/>
            </div>
        </div>
    </f:section>

</div>