<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Core/DefaultContent" />

    <f:section name="Configuration">
        {v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.contents.mooxbootstrap4_accordion') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <flux:form id="accordion" enabled="{contentSettings.enabled}">
            <flux:form.option.group value="Bootstrap" />
            <flux:form.option.icon value="EXT:moox_bootstrap4/ext_icon.svg" />
            <flux:form.sheet name="content" label="{ll}:flux.accordion.sheet.content">
                <flux:form.section name="elements" label="{ll}:flux.accordion.fields.elements">
                    <flux:form.object name="element" label="{ll}:flux.accordion.fields.element">
                        <flux:field.input name="headerText"
                                          label="{ll}:flux.accordion.fields.header.text"
                        />
                        <flux:field.text name="text"
                                         label="{ll}:flux.accordion.fields.text"
                                         clear="1"
                                         enableRichText="1"
                        />
                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>
            <flux:form.sheet name="configuration" label="{ll}:flux.accordion.sheet.configuration">
                <flux:field.select name="styleBackgroundAndColor"
                                   label="{ll}:flux.accordion.style.backgroundAndColor"
                                   items="{
                                              0:{0:'{ll}:flux.accordion.style.backgroundAndColor.bg-primary',1:'bg-primary'},
                                              1:{0:'{ll}:flux.accordion.style.backgroundAndColor.bg-secondary',1:'bg-secondary'},
                                              2:{0:'{ll}:flux.accordion.style.backgroundAndColor.bg-success',1:'bg-success'},
                                              3:{0:'{ll}:flux.accordion.style.backgroundAndColor.bg-danger',1:'bg-danger'},
                                              4:{0:'{ll}:flux.accordion.style.backgroundAndColor.bg-warning',1:'bg-warning'},
                                              5:{0:'{ll}:flux.accordion.style.backgroundAndColor.bg-info',1:'bg-info'},
                                              6:{0:'{ll}:flux.accordion.style.backgroundAndColor.bg-light',1:'bg-light'},
                                              7:{0:'{ll}:flux.accordion.style.backgroundAndColor.bg-dark',1:'bg-dark'}
                                          }"
                                   default="{contentSettings.defaults.styleBackgroundAndColor}"
                />
                <flux:field.select name="headerSize"
                                   label="{ll}:flux.accordion.fields.header.size"
                                   items="{
                                            0:{0:'normal',1:'div'},
                                            1:{0:'H1',1:'1'},
                                            2:{0:'H2',1:'2'},
                                            3:{0:'H3',1:'3'},
                                            4:{0:'H4',1:'4'},
                                            5:{0:'H5',1:'5'}
                                          }"
                                   default="{contentSettings.defaults.headerSize}"
                />
                <flux:field.checkbox name="allCollapsed"
                                     label="{ll}:flux.accordion.fields.allCollapsed"
                                     default="{contentSettings.defaults.allCollapsed}"
                />
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <p><f:translate key="{ll}:flux.accordion.count" /> {elements -> f:count()}</p>
        <f:if condition="{elements -> f:count()}">
            <f:then>
                <ul class="list-group">
                    <f:for each="{elements}" as="element" iteration="iteration">
                        <f:for each="{element}" as="elementData">
                            <li class="list-group-item">{elementData.headerText}</li>
                        </f:for>
                    </f:for>
                </ul>
            </f:then>
        </f:if>
    </f:section>

    <f:section name="Main">
        <div class="accordion" id="accordion{record.uid}">
            <f:if condition="{elements}">
                <f:for each="{elements}" as="element" iteration="iteration">
                    <f:for each="{element}" as="elementData">
                        <div class="card {f:if(condition: '{styleBackgroundAndColor} == bg-light', then: '{styleBackgroundAndColor}', else: 'text-white {styleBackgroundAndColor}')}">
                            <f:if condition="{headerSize} == div">
                                <f:then>
                                    <div class="card-header" id="header{iteration.cycle}">
                                        <div class="mb-0">
                                            <button class="btn btn-link{f:if(condition:'{iteration.isFirst} && !{allCollapsed}', else: ' collapsed')}" type="button" data-toggle="collapse" data-target="#collapse{iteration.cycle}" aria-expanded="{f:if(condition:'{iteration.isFirst} && !{allCollapsed}', then: 'true', else: 'false')}" aria-controls="collapse{iteration.cycle}">
                                                {elementData.headerText}
                                            </button>
                                        </div>
                                    </div>
                                </f:then>
                                <f:else>
                                    <div class="card-header" id="header{iteration.cycle}">
                                        <h{headerSize} class="mb-0">
                                            <button class="btn btn-link{f:if(condition:'{iteration.isFirst} && !{allCollapsed}', else: ' collapsed')}" type="button" data-toggle="collapse" data-target="#collapse{iteration.cycle}" aria-expanded="{f:if(condition:'{iteration.isFirst} && !{allCollapsed}', then: 'true', else: 'false')}" aria-controls="collapse{iteration.cycle}">
                                                {elementData.headerText}
                                            </button>
                                        </h{headerSize}>
                                    </div>
                                </f:else>
                            </f:if>
                            <div id="collapse{iteration.cycle}" class="collapse{f:if(condition:'{iteration.isFirst} && !{allCollapsed}', then: ' show')}" aria-labelledby="header{iteration.cycle}" data-parent="#accordion{record.uid}">
                                <div class="card-body">
                                    <f:format.html>{elementData.text}</f:format.html>
                                </div>
                            </div>
                        </div>
                    </f:for>
                </f:for>
            </f:if>
        </div>
    </f:section>

</div>