<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Core/DefaultContent" />

    <f:section name="Configuration">
        {v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.contents.mooxbootstrap4_alert') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <flux:form id="alert" enabled="{contentSettings.enabled}">
            <flux:form.option.group value="Bootstrap" />
            <flux:form.option.icon value="EXT:moox_bootstrap4/ext_icon.svg" />
            <flux:form.sheet name="content" label="{ll}:flux.alert.sheet.content">
                <flux:field.input name="headerText"
                                  label="{ll}:flux.alert.fields.header.text"
                                  displayCond="FIELD:configuration.header:=:header"
                />
                <flux:field.input name="additionalTextText"
                                  label="{ll}:flux.alert.fields.additionalText"
                                  displayCond="FIELD:configuration.additionalText:=:additionalText"
                />
                <flux:field.text  name="text"
                                  label="{ll}:flux.alert.fields.text"
                                  clear="1"
                                  enableRichText="1"
                />
            </flux:form.sheet>
            <flux:form.sheet name="configuration" label="{ll}:flux.alert.sheet.configuration">
                <flux:field.select name="styleBackgroundAndColor"
                                   label="{ll}:flux.alert.style.backgroundAndColor"
                                   items="{
                                              0:{0:'{ll}:flux.alert.style.backgroundAndColor.alert-primary',1:'alert-primary'},
                                              1:{0:'{ll}:flux.alert.style.backgroundAndColor.alert-secondary',1:'alert-secondary'},
                                              2:{0:'{ll}:flux.alert.style.backgroundAndColor.alert-success',1:'alert-success'},
                                              3:{0:'{ll}:flux.alert.style.backgroundAndColor.alert-danger',1:'alert-danger'},
                                              4:{0:'{ll}:flux.alert.style.backgroundAndColor.alert-warning',1:'alert-warning'},
                                              5:{0:'{ll}:flux.alert.style.backgroundAndColor.alert-info',1:'alert-info'},
                                              6:{0:'{ll}:flux.alert.style.backgroundAndColor.alert-light',1:'alert-light'},
                                              7:{0:'{ll}:flux.alert.style.backgroundAndColor.alert-dark',1:'alert-dark'}
                                          }"
                                   default="{contentSettings.defaults.styleBackgroundAndColor}"
                />
                <flux:field.select name="header"
                                   label="{ll}:flux.alert.fields.header"
                                   items="{
                                            0:{0:'{ll}:flux.alert.fields.header.noHeader',1:''},
                                            1:{0:'{ll}:flux.alert.fields.header.header',1:'header'}
                                          }"
                                   default="{contentSettings.defaults.header}"
                                   requestUpdate="TRUE"
                />
                <flux:field.select name="headerSize"
                                   label="{ll}:flux.alert.fields.header.size"
                                   items="{
                                            0:{0:'normal',1:'div'},
                                            1:{0:'H1',1:'1'},
                                            2:{0:'H2',1:'2'},
                                            3:{0:'H3',1:'3'},
                                            4:{0:'H4',1:'4'},
                                            5:{0:'H5',1:'5'}
                                          }"
                                   default="{contentSettings.defaults.headerSize}"
                                   displayCond="FIELD:header:=:header"
                />
                <flux:field.select name="additionalText"
                                   label="{ll}:flux.alert.fields.additionalText"
                                   items="{
                                            0:{0:'{ll}:flux.alert.fields.additionalText.noAdditionalText',1:''},
                                            1:{0:'{ll}:flux.alert.fields.additionalText.additionalText',1:'additionalText'}
                                          }"
                                   default="{contentSettings.defaults.additionalText}"
                                   requestUpdate="TRUE"
                />
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <v:variable.set name="isBackend" value="1" />
        <f:render section="Alert" arguments="{_all}" />
    </f:section>

    <f:section name="Main">
        <f:render section="Alert" arguments="{_all}" />
    </f:section>

    <f:section name="Alert">
        <div class="alert {styleBackgroundAndColor}" role="alert">
            <f:if condition="{header}">
                <f:then>
                    <f:if condition="{headerSize} == div">
                        <f:then>
                            <div class="alert-heading">{headerText}</div>
                        </f:then>
                        <f:else>
                            <h{headerSize} class="alert-heading">{headerText}</h{headerSize}>
                        </f:else>
                    </f:if>
                </f:then>
            </f:if>
            <f:if condition="{additionalText}">
                <f:then>
                    <p>{additionalTextText}</p>
                </f:then>
            </f:if>
            <f:if condition="{header} || {additionalText}">
                <f:then>
                    <hr>
                </f:then>
            </f:if>
            <f:if condition="{text}">
                <f:then>
                    <f:if condition="{isBackend}">
                        <f:then>
                            <p class="mb-0">{text-> f:format.stripTags(allowedTags:'<br>')}</p>
                        </f:then>
                        <f:else>
                            <p class="mb-0">{text -> f:format.html()}</p>
                        </f:else>
                    </f:if>
                </f:then>
            </f:if>
        </div>
    </f:section>

</div>