<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Core/DefaultContent" />

    <f:section name="Configuration">
        {v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.contents.mooxbootstrap4_blockquote') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <flux:form id="blockquote" enabled="{contentSettings.enabled}">
            <flux:form.option.group value="Bootstrap" />
            <flux:form.option.icon value="EXT:moox_bootstrap4/ext_icon.svg" />
            <flux:form.sheet name="content" label="{ll}:flux.blockquote.sheet.content">
               <flux:field.text  name="text"
                                  label="{ll}:flux.blockquote.fields.text"
                                  clear="1"
                                  enableRichText="1"
                />
                <flux:field.input name="footer"
                                  label="{ll}:flux.blockquote.fields.footer"
                />
            </flux:form.sheet>
            <flux:form.sheet name="configuration" label="{ll}:flux.blockquote.sheet.configuration">
                <flux:field.select name="textAlign"
                                   label="{ll}:flux.blockquote.textAlign"
                                   items="{
                                              0:{0:'{ll}:flux.blockquote.textAlign.left',1:'text-left'},
                                              1:{0:'{ll}:flux.blockquote.textAlign.center',1:'text-center'},
                                              2:{0:'{ll}:flux.blockquote.textAlign.right',1:'text-right'}
                                          }"
                                   default="{contentSettings.defaults.textAlign}"
                />
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <v:variable.set name="isBackend" value="1" />
        <f:render section="Blockquote" arguments="{_all}" />
    </f:section>

    <f:section name="Main">
        <f:render section="Blockquote" arguments="{_all}" />
    </f:section>

    <f:section name="Blockquote">
        <blockquote class="blockquote {textAlign}">
            {text -> f:format.html()}
            <f:if condition="{footer}"><footer class="blockquote-footer">{footer}</footer></f:if>
        </blockquote>
    </f:section>

</div>