<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Core/DefaultContent" />

    <f:section name="Configuration">
        {v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.contents.mooxbootstrap4_button') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <flux:form id="button" enabled="{contentSettings.enabled}">
            <flux:form.option.group value="Bootstrap" />
            <flux:form.option.icon value="EXT:moox_bootstrap4/ext_icon.svg" />
            <flux:form.sheet name="content" label="{ll}:flux.button.sheet.content">
                <flux:field.input name="linkText"
                                  label="{ll}:flux.button.fields.linkText"
                                  required="1"
                />
                <flux:field.input name="linkTarget"
                                  label="{ll}:flux.button.fields.linkTarget"
                                  required="1">
                    <flux:wizard.link activeTab="Page"
                                      label="{ll}:flux.button.fields.linkTarget"
                    />
                </flux:field.input>
            </flux:form.sheet>
            <flux:form.sheet name="configuration" label="{ll}:flux.button.sheet.configuration">
                <flux:field.select name="styleBackgroundAndColor"
                                   label="{ll}:flux.button.style.backgroundAndColor"
                                   items="{
                                              0:{0:'{ll}:flux.button.style.backgroundAndColor.btn-primary',1:'btn-primary'},
                                              1:{0:'{ll}:flux.button.style.backgroundAndColor.btn-secondary',1:'btn-secondary'},
                                              2:{0:'{ll}:flux.button.style.backgroundAndColor.btn-success',1:'btn-success'},
                                              3:{0:'{ll}:flux.button.style.backgroundAndColor.btn-danger',1:'btn-danger'},
                                              4:{0:'{ll}:flux.button.style.backgroundAndColor.btn-warning',1:'btn-warning'},
                                              5:{0:'{ll}:flux.button.style.backgroundAndColor.btn-info',1:'btn-info'},
                                              6:{0:'{ll}:flux.button.style.backgroundAndColor.btn-light',1:'btn-light'},
                                              7:{0:'{ll}:flux.button.style.backgroundAndColor.btn-dark',1:'btn-dark'},
                                              8:{0:'{ll}:flux.button.style.backgroundAndColor.btn-link',1:'btn-link'}
                                          }"
                                   default="{contentSettings.defaults.styleBackgroundAndColor}"
                />
                <flux:field.checkbox name="outline"
                                     label="{ll}:flux.button.fields.outline"
                                     default="{contentSettings.defaults.outline}"
                />
                <flux:field.select name="size"
                                   label="{ll}:flux.button.fields.size"
                                   items="{
                                            0:{0:'normal',1:''},
                                            1:{0:'large',1:'btn-lg'},
                                            2:{0:'small',1:'btn-sm'}
                                          }"
                                   default="{contentSettings.defaults.size}"
                />
                <flux:field.checkbox name="block"
                                     label="{ll}:flux.button.fields.block"
                                     default="{contentSettings.defaults.block}"
                />
                <flux:field.select name="alignment"
                                   label="{ll}:flux.button.fields.alignment"
                                   items="{
                                            0:{0:'{ll}:flux.button.fields.alignment.standard',1:''},
                                            1:{0:'{ll}:flux.button.fields.alignment.left',1:'text-left'},
                                            2:{0:'{ll}:flux.button.fields.alignment.center',1:'text-center'},
                                            3:{0:'{ll}:flux.button.fields.alignment.right',1:'text-right'}
                                          }"
                                   default="{contentSettings.defaults.alignment}"
                />
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <f:render section="Button" arguments="{_all}" />
    </f:section>

    <f:section name="Main">
        <f:render section="Button" arguments="{_all}" />
    </f:section>

    <f:section name="Button">
        <f:if condition="{alignment}">
            <f:then>
                <div class="{alignment}">
                    <f:link.typolink parameter="{linkTarget}" class="btn {f:if(condition: '{outline}', then: '{v:format.replace(content: \'{styleBackgroundAndColor}\', substring: \'btn-\', replacement: \'btn-outline-\', count: 1, caseSensitive: 1)}', else: '{styleBackgroundAndColor}')}{f:if(condition: '{size}', then: ' {size}', else: '')}{f:if(condition: '{block}', then: ' btn-block', else: '')}">{linkText}</f:link.typolink>
                </div>
            </f:then>
            <f:else>
                <f:link.typolink parameter="{linkTarget}" class="btn {f:if(condition: '{outline}', then: '{v:format.replace(content: \'{styleBackgroundAndColor}\', substring: \'btn-\', replacement: \'btn-outline-\', count: 1, caseSensitive: 1)}', else: '{styleBackgroundAndColor}')}{f:if(condition: '{size}', then: ' {size}', else: '')}{f:if(condition: '{block}', then: ' btn-block', else: '')}">{linkText}</f:link.typolink>
            </f:else>
        </f:if>
    </f:section>

</div>