<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Core/DefaultContent" />

    <f:section name="Configuration">
        {v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.contents.mooxbootstrap4_card') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <flux:form id="card" enabled="{contentSettings.enabled}">
            <flux:form.option.group value="Bootstrap" />
            <flux:form.option.icon value="EXT:moox_bootstrap4/ext_icon.svg" />
            <flux:form.sheet name="content" label="{ll}:flux.card.sheet.content">
                <flux:field.input name="headerText"
                                  label="{ll}:flux.card.fields.header.text"
                                  displayCond="FIELD:configuration.header:=:header"
                />
                <flux:field.inline.fal collapseAll="true"
                                       name="image"
                                       label="{ll}:flux.card.fields.image"
                                       createNewRelationLinkTitle="{ll}:flux.card.fields.chooseImage"
                                       required="1"
                                       allowedExtensions="jpg,png,svg"
                                       maxItems="1"
                                       minItems="1"
                                       displayCond="FIELD:configuration.header:=:image"
                />
                <flux:field.input name="title"
                                  label="{ll}:flux.card.fields.title"
                />
                <flux:field.input name="subtitle"
                                  label="{ll}:flux.card.fields.subtitle"
                />
                <flux:field.text name="text"
                                 label="{ll}:flux.card.fields.text"
                                 clear="1"
                                 enableRichText="1"
                />
                <flux:field.input name="linkText"
                                  label="{ll}:flux.card.fields.linkText"
                />
                <flux:field.input name="linkTarget"
                                  label="{ll}:flux.card.fields.linkTarget">
                    <flux:wizard.link activeTab="Page"
                                      label="{ll}:flux.card.fields.linkTarget"
                    />
                </flux:field.input>
            </flux:form.sheet>
            <flux:form.sheet name="configuration" label="{ll}:flux.card.sheet.configuration">
                <flux:field.select name="styleBackgroundAndColor"
                                   label="{ll}:flux.card.style.backgroundAndColor"
                                   items="{
                                              0:{0:'{ll}:flux.card.style.backgroundAndColor.bg-primary',1:'bg-primary'},
                                              1:{0:'{ll}:flux.card.style.backgroundAndColor.bg-secondary',1:'bg-secondary'},
                                              2:{0:'{ll}:flux.card.style.backgroundAndColor.bg-success',1:'bg-success'},
                                              3:{0:'{ll}:flux.card.style.backgroundAndColor.bg-danger',1:'bg-danger'},
                                              4:{0:'{ll}:flux.card.style.backgroundAndColor.bg-warning',1:'bg-warning'},
                                              5:{0:'{ll}:flux.card.style.backgroundAndColor.bg-info',1:'bg-info'},
                                              6:{0:'{ll}:flux.card.style.backgroundAndColor.bg-light',1:'bg-light'},
                                              7:{0:'{ll}:flux.card.style.backgroundAndColor.bg-dark',1:'bg-dark'}
                                          }"
                                   default="{contentSettings.defaults.styleBackgroundAndColor}"
                />
                <flux:field.select name="styleTextAlignment"
                                   label="{ll}:flux.card.style.textAlignment"
                                   items="{
                                            0:{0:'{ll}:flux.card.style.textAlignment.text-left',1:'text-left'},
                                            1:{0:'{ll}:flux.card.style.textAlignment.text-center',1:'text-center'},
                                            2:{0:'{ll}:flux.card.style.textAlignment.text-right',1:'text-right'}
                                          }"
                                   default="{contentSettings.defaults.styleTextAlignment}"
                />
                <flux:field.select name="header"
                                   label="{ll}:flux.card.fields.header"
                                   items="{
                                            0:{0:'{ll}:flux.card.fields.header.noHeader',1:''},
                                            1:{0:'{ll}:flux.card.fields.header.header',1:'header'},
                                            2:{0:'{ll}:flux.card.fields.header.image',1:'image'}
                                          }"
                                   default="{contentSettings.defaults.header}"
                                   requestUpdate="TRUE"
                />
                <flux:field.select name="headerSize"
                                   label="{ll}:flux.card.fields.header.size"
                                   items="{
                                            0:{0:'normal',1:'div'},
                                            1:{0:'H1',1:'1'},
                                            2:{0:'H2',1:'2'},
                                            3:{0:'H3',1:'3'},
                                            4:{0:'H4',1:'4'},
                                            5:{0:'H5',1:'5'}
                                          }"
                                   default="{contentSettings.defaults.headerSize}"
                                   displayCond="FIELD:header:=:header"
                />
                <flux:field.select name="titleSize"
                                   label="{ll}:flux.card.fields.title.size"
                                   items="{
                                            0:{0:'H1',1:'1'},
                                            1:{0:'H2',1:'2'},
                                            2:{0:'H3',1:'3'},
                                            3:{0:'H4',1:'4'},
                                            4:{0:'H5',1:'5'}
                                          }"
                                   default="{contentSettings.defaults.titleSize}"
                />
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <f:if condition="{title}">
            <div><strong>{title}</strong></div>
        </f:if>
        <f:if condition="{title}">
            <div>{subtitle}</div>
        </f:if>
    </f:section>

    <f:section name="Main">
        <div class="card {f:if(condition: '{styleBackgroundAndColor} == bg-light', then: '{styleBackgroundAndColor}', else: 'text-white {styleBackgroundAndColor}')} {styleTextAlignment} mb-3">
            <f:if condition="{header} == header">
                <f:then>
                    <f:if condition="{headerSize} == div">
                        <f:then>
                            <div class="card-header">{headerText}</div>
                        </f:then>
                        <f:else>
                            <h{headerSize} class="card-header">{headerText}</h{headerSize}>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{header} == image">
                        <f:then>
                            {v:content.resources.fal(field: 'image') -> v:iterator.first() -> v:variable.set(name: 'image')}
                            <f:if condition="{image}">
                                <img class="card-img-top" src="{f:uri.image(treatIdAsReference:1,src:image.id,maxWidth:1170,crop:image.crop)}" title="{f:if(condition:image.title,then:image.title,else:image.name)}" alt="{f:if(condition:image.title,then:image.title,else:image.name)}" />
                            </f:if>
                        </f:then>
                    </f:if>
                </f:else>
            </f:if>
            <div class="card-body">
                <f:if condition="{title}">
                    <f:then>
                        <h{titleSize} class="card-title">{title}</h{titleSize}>
                    </f:then>
                </f:if>
                <f:if condition="{subtitle}">
                    <f:then>
                        <v:variable.set value="{v:math.sum(a: titleSize, b: 2)}" name="subtitleSize" />
                        <h{subtitleSize} class="card-subtitle">{subtitle}</h{subtitleSize}>
                    </f:then>
                </f:if>
                <f:if condition="{text}">
                    <f:then>
                        <p class="card-text"><f:format.html>{text}</f:format.html></p>
                    </f:then>
                </f:if>
                <f:if condition="{linkTarget}">
                    <f:then>
                        <f:link.typolink parameter="{linkTarget}" class="card-link{f:if(condition: '{styleBackgroundAndColor} == bg-light', then: '', else: ' text-white')}">{f:if(condition: '{linkText}', then: '{linkText}', else: '{f:uri.typolink(parameter: linkTarget)}')}</f:link.typolink>
                    </f:then>
                </f:if>
            </div>
        </div>
    </f:section>

</div>