<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Core/DefaultContent" />

    <f:section name="Configuration">
        {v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.contents.mooxbootstrap4_carousel') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <flux:form id="carousel" enabled="{contentSettings.enabled}">
            <flux:form.option.group value="Bootstrap" />
            <flux:form.option.icon value="EXT:moox_bootstrap4/ext_icon.svg" />
            <flux:form.sheet name="slides" label="{ll}:flux.carousel.sheet.slides">
                <flux:form.section name="slides" label="{ll}:flux.carousel.fields.elements">
                    <flux:form.object name="slide" label="{ll}:flux.carousel.fields.element">
                        <flux:field.input name="title" label="{ll}:flux.carousel.fields.title" />
                        <flux:field.text name="text" clear="1" enableRichText="1" label="{ll}:flux.carousel.fields.text" />
                        <flux:field.input name="linkText" label="{ll}:flux.carousel.fields.linkText" />
                        <flux:field.input name="linkTarget" label="{ll}:flux.carousel.fields.linkTarget">
                            <flux:wizard.link activeTab="Page" label="{ll}:flux.carousel.fields.linkTarget" />
                        </flux:field.input>
                        <flux:field.file allowed="jpg,png,gif,svg" useFalRelation="1" name="image" label="{ll}:flux.carousel.fields.image" showThumbnails="1" />
                    </flux:form.object>
                </flux:form.section>
            </flux:form.sheet>
            <flux:form.sheet name="settings" label="{ll}:flux.carousel.sheet.settings">
                <flux:field.checkbox name="autoSlide"
                                     label="{ll}:flux.carousel.fields.autoSlide"
                                     default="{contentSettings.defaults.autoSlide}"
                />
                <flux:field.checkbox name="wrap"
                                     label="{ll}:flux.carousel.fields.wrap"
                                     default="{contentSettings.defaults.wrap}"
                />
                <flux:field.select name="pause"
                                   label="{ll}:flux.carousel.fields.pause"
                                   items="{
                                             0:{0:'{ll}:flux.carousel.fields.pause.none',1:'false'},
                                             1:{0:'{ll}:flux.carousel.fields.pause.hover',1:'hover'}
                                          }"
                                   default="{contentSettings.defaults.pause}"
                />
                <flux:field.input  name="interval"
                                   label="{ll}:flux.carousel.fields.interval"
                                   maximum="100000"
                                   minimum="1000"
                                   eval="int"
                                   default="{contentSettings.defaults.interval}"
                />
                <flux:field.select name="transition"
                                   label="{ll}:flux.carousel.fields.transition"
                                   items="{
                                             0:{0:'{ll}:flux.carousel.fields.transition.none',1:''},
                                             1:{0:'{ll}:flux.carousel.fields.transition.slide',1:'slide'},
                                             2:{0:'{ll}:flux.carousel.fields.transition.fade',1:'slide carousel-fade'}
                                          }"
                                   default="{contentSettings.defaults.transition}"
                />
                <flux:field.checkbox name="showArrows"
                                     label="{ll}:flux.carousel.fields.showArrows"
                                     default="{contentSettings.defaults.showArrows}"
                />
                <flux:field.checkbox name="showIndicators"
                                     label="{ll}:flux.carousel.fields.showIndicators"
                                     default="{contentSettings.defaults.showIndicators}"
                />
            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
        <p><f:translate key="{ll}:flux.carousel.count" /> {slides -> f:count()}</p>
        <f:if condition="{slides -> f:count()}">
            <f:then>
                <ul class="list-group">
                    <f:for each="{slides}" as="slide" iteration="iteration">
                        <f:for each="{slide}" as="slideData">
                            <li class="list-group-item"><core:icon identifier="content-carousel-image" size="small" /> {slideData.title}</li>
                        </f:for>
                    </f:for>
                </ul>
            </f:then>
        </f:if>
    </f:section>

    <f:section name="Main">
        <f:if condition="{slides}">
            <div id="carousel-item-{record.uid}" class="carousel moox-carousel shadow{f:if(condition:transition,then:' {transition}')} mt-3" data-interval="{interval}" data-pause="{pause}"{f:if(condition:wrap,then:' data-wrap="true"')}{f:if(condition:autoSlide,then:' data-ride="carousel"')}>
                <f:if condition="{showIndicators}">
                    <ol class="carousel-indicators">
                        <f:if condition="{slides->f:count()}>0">
                            <f:for each="{slides}" as="slide" iteration="iteration">
                                <li data-target="#carousel-item-{record.uid}" data-slide-to="{iteration.index}" class="{f:if(condition:'{iteration.isFirst}', then: 'active')}"></li>
                            </f:for>
                        </f:if>
                    </ol>
                </f:if>
                <div class="carousel-inner">
                    <f:for each="{slides}" as="slide" iteration="iteration">
                        <div class="carousel-item{f:if(condition:'{iteration.isFirst}', then: ' active')}">
                            <f:for each="{slide}" as="slideData">
                                <f:if condition="{slideData.image} && {v:condition.string.isNumeric(then:1,else:0,value:slideData.image)}">
                                    <f:then>
                                        <f:image src="file:{item.image}" title="{slideData.title}" alt="{slideData.title}" class="d-block w-100" />
                                    </f:then>
                                </f:if>
                                <div class="carousel-caption">
                                    <h5 class="font-weight-bold">{slideData.title -> f:format.raw()}</h5>
                                    <div class="carousel-caption-text">{slideData.text -> f:format.html()}</div>
                                    <p><a href="{f:uri.typolink(parameter: slideData.linkTarget)}" class="font-weight-bold">{slideData.linkText}</a></p>
                                </div>
                            </f:for>
                        </div>
                    </f:for>
                </div>
                <f:if condition="{showArrows}">
                    <a class="carousel-control-prev" href="#carousel-item-{record.uid}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-item-{record.uid}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </f:if>
            </div>
        </f:if>

    </f:section>

</div>