<div xmlns="http://www.w3.org/1999/xhtml" lang="de"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Core/DefaultContent" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxbootstrap4.contents.mooxbootstrap4_dynamictable') -> v:variable.set(name: 'contentSettings')}
        {v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
		<flux:form id="dynamictable" enabled="{contentSettings.enabled}">			
			<f:if condition="{colcount}<1">
				<v:variable.set name="colcount" value="1" />
			</f:if>
			<flux:form.option.group value="Bootstrap" />
			<flux:form.option.icon value="EXT:moox_bootstrap4/ext_icon.svg" />
			<flux:form.sheet name="table" label="{ll}:flux.dynamictable.sheet.table">
				<flux:form.section name="rows" label="{ll}:flux.dynamictable.fields.rows">
					<flux:form.object name="row" label="{ll}:flux.dynamictable.fields.row">
						<v:iterator.for from="1" to="20" iteration="i">
							<v:variable.set name="label" value="{v:variable.get(name: 'th_col_{i.cycle}')}" />
							<v:variable.set name="type" value="{v:variable.get(name: 'td_col_{i.cycle}_type')}" />
							<f:if condition="{label}==''">
								<v:variable.set name="label" value="{f:translate(key:'{ll}:flux.dynamictable.fields.row.label')} {i.cycle}" />
							</f:if>
							<f:switch expression="{type}">
								<f:case value="text">
									<flux:field.text displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" />
								</f:case>
								<f:case value="editor">
									<flux:field.text enableRichText="1" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}" />
								</f:case>
								<f:case value="date">
									<flux:field.input eval="date" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}" />
								</f:case>
								<f:case value="datetime">
									<flux:field.input eval="datetime" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}" />
								</f:case>
								<f:case value="email">
									<flux:field.input eval="email" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}" />
								</f:case>
								<f:case value="link">
									<flux:field.input  name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}">
										<flux:wizard.link activeTab="url" />
									</flux:field.input>
								</f:case>
								<f:case value="file">
									<flux:field.file useFalRelation="1" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}" />
								</f:case>
								<f:case value="image">
									<flux:field.file allowed="jpg,png,gif,svg" useFalRelation="1" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}" />
								</f:case>
								<f:defaultCase>
									<flux:field.input displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}" label="{label}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.value')}" />
								</f:defaultCase>
							</f:switch>				
						</v:iterator.for>
						<flux:field.select name="class" label="{ll}:flux.dynamictable.fields.row.class" items="{
								default:'{f:translate(key:\'{ll}:flux.dynamictable.fields.row.class.default\')}',
								success:'{f:translate(key:\'{ll}:flux.dynamictable.fields.row.class.success\')}',
								info:'{f:translate(key:\'{ll}:flux.dynamictable.fields.row.class.info\')}',
								warning:'{f:translate(key:\'{ll}:flux.dynamictable.fields.row.class.warning\')}',
								danger:'{f:translate(key:\'{ll}:flux.dynamictable.fields.row.class.danger\')}'
							}" default="{contentSettings.defaults.row.class}"  />
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="cols" label="{ll}:flux.dynamictable.sheet.cols" description="{ll}:flux.dynamictable.sheet.cols.hint">
				<v:iterator.for from="1" to="20" iteration="i">
					<flux:field.input displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="th_col_{i.cycle}" label="{f:translate(key:'{ll}:flux.dynamictable.fields.header.name')} {i.cycle}" requestUpdate="1" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.header')}" />
					<flux:field.select displayCond="FIELD:settings.colcount:>=:{i.cycle}" label="{f:translate(key:'{ll}:flux.dynamictable.fields.header.align')} {i.cycle}" name="th_col_{i.cycle}_align" items="{
								left:'{f:translate(key:\'{ll}:flux.dynamictable.fields.align.left\')}',
								right:'{f:translate(key:\'{ll}:flux.dynamictable.fields.align.right\')}',
								center:'{f:translate(key:\'{ll}:flux.dynamictable.fields.align.center\')}'
							}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.headerAlign')}" />
					<flux:field.select displayCond="FIELD:settings.colcount:>=:{i.cycle}" label="{f:translate(key:'{ll}:flux.dynamictable.fields.header.valign')} {i.cycle}" name="th_col_{i.cycle}_valign" items="{
								align-top:'{f:translate(key:\'{ll}:flux.dynamictable.fields.valign.top\')}',
								align-middle:'{f:translate(key:\'{ll}:flux.dynamictable.fields.valign.middle\')}',
								align-bottom:'{f:translate(key:\'{ll}:flux.dynamictable.fields.valign.bottom\')}'
							}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.headerValign')}" />
					<flux:field.select displayCond="FIELD:settings.colcount:>=:{i.cycle}" label="{f:translate(key:'{ll}:flux.dynamictable.fields.header.textWrap')} {i.cycle}" name="th_col_{i.cycle}_textWrap" items="{
								text-wrap:'{f:translate(key:\'{ll}:flux.dynamictable.fields.textWrap.wrap\')}',
								text-nowrap:'{f:translate(key:\'{ll}:flux.dynamictable.fields.textWrap.nowrap\')}'
							}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.headerTextWrap')}" />
				</v:iterator.for>
			</flux:form.sheet>
			<flux:form.sheet name="settings" label="{ll}:flux.dynamictable.sheet.settings">
				<flux:field.select name="colcount" label="{ll}:flux.dynamictable.fields.colcount" items="{1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12,13:13,14:14,15:15,16:16:17:17,18:18,19:19,20:20}" default="{contentSettings.defaults.colcount}" requestUpdate="1" />
				<flux:field.select name="class" label="{ll}:flux.dynamictable.fields.class" items="{
						table-default:'{f:translate(key:\'{ll}:flux.dynamictable.fields.class.table-default\')}',
						table-striped:'Gestreifte Tabelle',
						table-bordered:'Gerahmte Tabelle',
						table-condensed:'Kompakte Tabelle'
					}" default="{contentSettings.defaults.class}"  />
				<flux:field.checkbox name="headers" label="{ll}:flux.dynamictable.fields.headers" default="{contentSettings.defaults.headers}" />
				<flux:field.checkbox name="headersLeft" label="{ll}:flux.dynamictable.fields.headersLeft" default="{contentSettings.defaults.headersLeft}" />
				<f:comment>
					<flux:field.select label="{ll}:flux.dynamictable.fields.headersAlign" name="headersAlign" items="{
							left:'{f:translate(key:\'{ll}:flux.dynamictable.fields.headersAlign.left\')}',
							right:'{f:translate(key:\'{ll}:flux.dynamictable.fields.headersAlign.right\')}',
							center:'{f:translate(key:\'{ll}:flux.dynamictable.fields.headersAlign.center\')}'
						}" default="{contentSettings.defaults.headersAlign}" />
					<flux:field.checkbox name="numbering" label="{ll}:flux.dynamictable.fields.numbering" default="{contentSettings.defaults.numbering}" />
				</f:comment>
				<flux:field.input name="caption" label="{ll}:flux.dynamictable.fields.caption" default="{contentSettings.defaults.caption}"/>
			</flux:form.sheet>
			<flux:form.sheet name="colSettings" label="{ll}:flux.dynamictable.sheet.colSettings" description="{ll}:flux.dynamictable.sheet.colSettings.hint">
				<v:iterator.for from="1" to="20" iteration="i">
					<v:variable.set name="baseLabel" value="{v:variable.get(name: 'th_col_{i.cycle}')}" />
					<f:if condition="{baseLabel}==''">
						<f:then>
							<v:variable.set name="label" value="{f:translate(key:'{ll}:flux.dynamictable.fields.type')} {i.cycle}" />
						</f:then>
						<f:else>
							<v:variable.set name="label" value="{f:translate(key:'{ll}:flux.dynamictable.fields.type')} \"{baseLabel}\"" />
						</f:else>
					</f:if>
					<flux:field.select label="{label}" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}_type" items="{
						default:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.default\')}',
						text:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.text\')}',
						editor:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.editor\')}',
						date:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.date\')}',
						datetime:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.datetime\')}',
						link:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.link\')}',
						email:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.email\')}',
						image:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.image\')}',
						file:'{f:translate(key:\'{ll}:flux.dynamictable.fields.type.file\')}'
					}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.type')}" />
					<f:if condition="{baseLabel}==''">
						<f:then>
							<v:variable.set name="labelAlign" value="{f:translate(key:'{ll}:flux.dynamictable.fields.align')} {i.cycle}" />
							<v:variable.set name="labelValign" value="{f:translate(key:'{ll}:flux.dynamictable.fields.valign')} {i.cycle}" />
							<v:variable.set name="labelTextWrap" value="{f:translate(key:'{ll}:flux.dynamictable.fields.textWrap')} {i.cycle}" />
						</f:then>
						<f:else>
							<v:variable.set name="labelAlign" value="{f:translate(key:'{ll}:flux.dynamictable.fields.align')} \"{baseLabel}\"" />
							<v:variable.set name="labelValign" value="{f:translate(key:'{ll}:flux.dynamictable.fields.valign')} \"{baseLabel}\"" />
							<v:variable.set name="labelTextWrap" value="{f:translate(key:'{ll}:flux.dynamictable.fields.textWrap')} \"{baseLabel}\"" />
						</f:else>
					</f:if>
					<flux:field.select label="{labelAlign}" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}_align" items="{
							header:'{f:translate(key:\'{ll}:flux.dynamictable.fields.align.header\')}',
							left:'{f:translate(key:\'{ll}:flux.dynamictable.fields.align.left\')}',
							right:'{f:translate(key:\'{ll}:flux.dynamictable.fields.align.right\')}',
							center:'{f:translate(key:\'{ll}:flux.dynamictable.fields.align.center\')}'
						}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.align')}" />
					<flux:field.select label="{labelValign}" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}_valign" items="{
								header:'{f:translate(key:\'{ll}:flux.dynamictable.fields.valign.header\')}',
								align-top:'{f:translate(key:\'{ll}:flux.dynamictable.fields.valign.top\')}',
								align-middle:'{f:translate(key:\'{ll}:flux.dynamictable.fields.valign.middle\')}',
								align-bottom:'{f:translate(key:\'{ll}:flux.dynamictable.fields.valign.bottom\')}'
							}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.valign')}" />
					<flux:field.select label="{labelTextWrap}" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}_textWrap" items="{
								header:'{f:translate(key:\'{ll}:flux.dynamictable.fields.textWrap.header\')}',
								text-wrap:'{f:translate(key:\'{ll}:flux.dynamictable.fields.textWrap.wrap\')}',
								text-nowrap:'{f:translate(key:\'{ll}:flux.dynamictable.fields.textWrap.nowrap\')}'
							}" default="{v:variable.get(name:'contentSettings.defaults.col.{i.cycle}.textWrap')}" />
					<f:comment>
						<f:if condition="{baseLabel}==''">
							<f:then>
								<v:variable.set name="label" value="Zeilen-Design für Spalte {i.cycle}" />
							</f:then>
							<f:else>
								<v:variable.set name="label" value="Zeilen-Design für Spalte \"{baseLabel}\"" />
							</f:else>
						</f:if>
						<flux:field.select label="{label}" displayCond="FIELD:settings.colcount:>=:{i.cycle}" name="td_col_{i.cycle}_class" items="{
								default:'Normale Zeile',
								success:'Grüne Zeile',
								info:'Blaue Zeile',
								warning:'Gelbe Zeile',
								danger:'Rote Zeile'
							}" default="default"  />
					</f:comment>
				</v:iterator.for>
			</flux:form.sheet>
		</flux:form>
		
	</f:section>
	
	<f:section name="Table">
		<f:spaceless>
			{v:variable.set(value:"LLL:EXT:moox_bootstrap4/Resources/Private/Language/locallang.xlf",name:"ll")}
		</f:spaceless>
		<div class="table-responsive">
			<table class="table {class}"<f:if condition="{preview}"> style="margin-bottom:0px"</f:if>>			
				<f:if condition="{caption}"><caption>{caption}</caption></f:if>					
				<f:if condition="{headers}">
					<thead>
						<tr>
							<f:if condition="{numbering}"><th class="text-{headersAlign}">#</th></f:if>					
							<v:iterator.for from="1" to="{colcount}" iteration="i">
								<f:if condition="{v:variable.get(name: 'th_col_{i.cycle}')}">
									<f:then>
										<th class="text-{v:variable.get(name:'th_col_{i.cycle}_align')} {v:variable.get(name:'th_col_{i.cycle}_valign')} {v:variable.get(name:'th_col_{i.cycle}_textWrap')}">{v:variable.get(name: 'th_col_{i.cycle}')}</th>
									</f:then>
									<f:else>
										<th class="text-{v:variable.get(name:'th_col_{i.cycle}_align')} {v:variable.get(name:'th_col_{i.cycle}_valign')} {v:variable.get(name:'th_col_{i.cycle}_textWrap')}"><f:if condition="{preview}">{f:translate(key:'{ll}:flux.dynamictable.fields.row.label')} {i.cycle}</f:if></th>
									</f:else>
								</f:if>
							</v:iterator.for>
						</tr>
					</thead>
				</f:if>
				<tbody>
					<f:for each="{rows}" as="row" iteration="iteration">
						<tr class="{v:variable.get(name: "row.row.class")}">
							<f:if condition="{numbering}"><th scope="row">{iteration.cycle}</th></f:if>
							<v:iterator.for from="1" to="{colcount}" iteration="i">
								<f:spaceless>
									<v:variable.set name="type" value="{v:variable.get(name: 'td_col_{i.cycle}_type')}" />
									<v:variable.set name="value" value="{v:variable.get(name: 'row.row.td_col_{i.cycle}')}" />
									<v:variable.set name="extension" value="" />
									<f:if condition="{value}">
										<f:if condition="{type}=='file'">
											<v:variable.set name="value" value="{f:uri.typolink(parameter:'file:{value}')}" />
										</f:if>
										<f:if condition="{type}=='image'">
											<v:variable.set name="value" value="{f:uri.image(src:'file:{value}')}" />
										</f:if>
										<f:if condition="{type}=='file' || {type}=='link'">
											<f:if condition="{type}=='link'">
												<v:variable.set name="values" value="{value -> v:iterator.explode(glue:' ')}" />
												<v:variable.set name="value" value="{values -> v:iterator.first()}" />
												<v:variable.set name="title" value="{values -> v:iterator.last()}" />
												<v:variable.set name="extension" value="{value -> v:iterator.explode(glue:'.') -> v:iterator.last() -> v:format.case(case:'lower')}" />
											</f:if>
											<v:variable.set name="extension" value="{value -> v:iterator.explode(glue:'.') -> v:iterator.last() -> v:format.case(case:'lower')}" />
											<f:switch expression="{extension}">
												<f:case value="pdf">
													<v:variable.set name="icon" value="file-pdf-o" />
												</f:case>
												<f:case value="doc">
													<v:variable.set name="icon" value="file-word-o" />
												</f:case>
												<f:case value="docx">
													<v:variable.set name="icon" value="file-word-o" />
												</f:case>
												<f:defaultCase>
													<f:if condition="{type}=='file'">
														<f:then>
															<v:variable.set name="icon" value="file-o" />
														</f:then>
														<f:else>
															<v:variable.set name="icon" value="external-link" />
														</f:else>
													</f:if>
												</f:defaultCase>
											</f:switch>
										</f:if>
										<f:switch expression="{type}">
											<f:case value="text">
												<v:variable.set name="value" value="{value -> f:format.nl2br()}" />
											</f:case>
											<f:case value="editor">
												<v:variable.set name="value" value="{value -> f:format.html()}" />
											</f:case>
											<f:case value="date">
												<v:variable.set name="value" value="{value -> f:format.date(format:'d.m.Y')}" />
											</f:case>
											<f:case value="datetime">
												<v:variable.set name="value" value="{value -> f:format.date(format:'d.m.Y H:i')}" />
											</f:case>
											<f:case value="email">
												<v:variable.set name="value">
													<f:link.email email="{value}" />
												</v:variable.set>
											</f:case>
											<f:case value="link">
												<v:variable.set name="value">
													<f:link.typolink parameter="{value}" title="{f:if(condition:'{title}==\'-\' || {title}==\'_blank\'',then:value,else:title)}">
														<f:if condition="{title}=='-' || {title}=='_blank'">
															<f:then>
																<i class="fa fa-{icon}" aria-hidden="true"></i>
															</f:then>
															<f:else>
																{title}
															</f:else>
														</f:if>
													</f:link.typolink>
												</v:variable.set>
											</f:case>
											<f:case value="file">
												<v:variable.set name="value">
													<a href="{value}" title="Datei anzeigen/herunterladen">
														<i class="fa fa-{icon}" aria-hidden="true"></i>
													</a>
												</v:variable.set>
											</f:case>
											<f:case value="image">
												<v:variable.set name="value">
													<img src="{value}" class="img-fluid" />
												</v:variable.set>
											</f:case>
										</f:switch>
									</f:if>
									<v:variable.set name="align" value="{v:variable.get(name:'td_col_{i.cycle}_align')}" />
									<f:if condition="{align}=='header'">
										<v:variable.set name="align" value="{v:variable.get(name:'th_col_{i.cycle}_align')}" />
									</f:if>
									<v:variable.set name="valign" value="{v:variable.get(name:'td_col_{i.cycle}_valign')}" />
									<f:if condition="{valign}=='header'">
										<v:variable.set name="valign" value="{v:variable.get(name:'th_col_{i.cycle}_valign')}" />
									</f:if>
									<v:variable.set name="textWrap" value="{v:variable.get(name:'td_col_{i.cycle}_textWrap')}" />
									<f:if condition="{textWrap}=='header'">
										<v:variable.set name="textWrap" value="{v:variable.get(name:'th_col_{i.cycle}_textWrap')}" />
									</f:if>
								</f:spaceless>
								<f:if condition="{headersLeft} && {i.cycle}==1">
									<f:then>
										<th class="text-{align} {valign} {textWrap} type-{type}{f:if(condition:extension,then:' file-{extension}')}">{value}</th>
									</f:then>
									<f:else>
										<td class="text-{align} {valign} {textWrap} type-{type}{f:if(condition:extension,then:' file-{extension}')}">{value}</td>
									</f:else>
								</f:if>		
							</v:iterator.for>
						</tr>
					</f:for>						
				</tbody>
			</table>
		</div>
	</f:section>
	
	<f:section name="Preview"><v:variable.set name="preview" value="1" /><f:render section="Table" arguments="{_all}" /></f:section>
	<f:section name="Main"><f:render section="Table" arguments="{_all}" /></f:section>
	
</div>