<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:section name="categoryTree">
		<ul class="depth-{depth}">
			<f:for each="{categories}" as="category">
				<v:variable.set name="selected" value="0" />
				<v:condition.type.isArray value="{filter.categories}">
					<v:condition.iterator.contains needle="{category.item.uid}" haystack="{filter.categories}">
						<v:variable.set name="selected" value="1" />											
					</v:condition.iterator.contains>
				</v:condition.type.isArray>
				<li class="depth-{depth}">
					<label>
						<core:icon identifier="mimetypes-x-sys_category" /> 
						<f:form.checkbox name="filter[categories][]" value="{category.item.uid}" checked="{selected}" class="is-category-filter is-grouped-filter" /> {category.item.title} <small>[UID:{category.item.uid}]</small>
					</label>
					<f:if condition="{category.children}">
						<f:render section="categoryTree" arguments="{categories: category.children,filter:filter,depth:'{v:math.sum(a: depth, b:1)}'}" />						
					</f:if>
				</li>				
			</f:for>			
		</ul>
	</f:section> 
	
	<f:if condition="{categories->f:count()}>0">
		<div class="form-group">
			<div class="btn-group btn-group-category-selector btn-group-mobile-block">
				<button type="button" class="btn btn-default category-selector dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="current">
						<f:if condition="{filter.categories}">
							<f:then>
								<v:condition.type.isArray value="{filter.categories}">
									<f:then>
										<core:icon identifier="mimetypes-x-sys_category" overlay="overlay-list" /> Ausgewählte Kategorien
									</f:then>
									<f:else>
										<core:icon identifier="mimetypes-x-sys_category" /> Alle Kategorien
									</f:else>
								</v:condition.type.isArray>
							</f:then>
							<f:else>
								<core:icon identifier="mimetypes-x-sys_category" /> Alle Kategorien
							</f:else>
						</f:if>
					</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu moox-module-dropdown">
					<li>
						<div class="filter-buttons text-right">
							<div class="btn-group">
								<f:form.button type="button" class="btn btn-info btn-category-selector-clear">
									<core:icon identifier="actions-close" /> Auswahl aufheben
								</f:form.button>
								<f:form.button type="submit" class="btn btn-info btn-category-selector-submit">							
									<core:icon identifier="actions-database-reload" /> Auswahl übernehmen
								</f:form.button>
							</div>
						</div>
						<f:render section="categoryTree" arguments="{filter:filter,categories:categories,depth:0}" />
						<div class="filter-buttons text-right">
							<div class="btn-group">
								<f:form.button type="button" class="btn btn-info btn-category-selector-clear">
									<core:icon identifier="actions-close" /> Auswahl aufheben
								</f:form.button>
								<f:form.button type="submit" class="btn btn-info btn-category-selector-submit">							
									<core:icon identifier="actions-database-reload" /> Auswahl übernehmen
								</f:form.button>
							</div>
						</div>
					</li>				
				</ul>
			</div>		
		</div>
	</f:if>
</div>
	