<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	 
	<f:if condition="{groups->f:count()}>0">
		<div class="form-group">
			<div class="btn-group btn-group-mobile-block">
				<button type="button" class="btn btn-default group-selector dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="current">
						<f:if condition="{filter.group}!=''">
							<f:then>
								<f:if condition="{filter.group}=='none'">
									<f:then>
										<core:icon identifier="apps-pagetree-drag-place-denied" size="small" /> News ohne Zugriffsrechte
									</f:then>
									<f:else>
										<core:icon identifier="status-user-group-frontend" size="small" /> {n:getFeGroupInfo(uid:filter.group,field:'title')} [UID: {filter.group}]
									</f:else>
								</f:if>							
							</f:then>
							<f:else>
								<core:icon identifier="status-user-group-frontend" size="small" /> Alle News
							</f:else>
						</f:if>
					</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="#" class="group-selector auto-submit" data-uid="all"><core:icon identifier="status-user-group-frontend" size="small" /> Alle News</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="#" class="group-selector auto-submit" data-uid="none"><core:icon identifier="apps-pagetree-drag-place-denied" size="small" /> Benutzer ohne Zugriffsrechte</a>
					</li>
					<li role="separator" class="divider"></li>
					<f:for each="{groups}" as="group" >
						<li>																	
							<a href="#" class="group-selector auto-submit" data-uid="{group.uid}"><core:icon identifier="status-user-group-frontend" size="small" /> {group.title} [UID: {group.uid}]</a>
						</li>					
					</f:for>		
				</ul>
			</div>
			<f:form.hidden property="group" class="group-selector is-grouped-filter" />
		</div>
	</f:if>
	
</div>