<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div class="form-group">
		<label class="sr-only" for="istopnews">Ist Top-Eintrag?</label>
		<f:form.select property="istopnews" prependOptionLabel="Alle Einträge" options="{
			1:'nur Top-Einträge',
			0:'nur andere Einträge'
		}" id="istopnews" class="form-control is-grouped-filter auto-submit" />
	</div>
	
</div>