<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:if condition="{languages->f:count()}>1">
		<f:spaceless>
			<f:if condition="{filter.language}">
				<f:then>
					<v:variable.set name="flag" value="{v:variable.get(name:'languages.{filter.language}.flagIdentifier')}" />
					<v:variable.set name="title" value="{v:variable.get(name:'languages.{filter.language}.title')}" />
				</f:then>
				<f:else>
					<v:variable.set name="flag" value="{v:variable.get(name:'languages.0.flagIdentifier')}" />
					<v:variable.set name="title" value="{v:variable.get(name:'languages.0.title')}" />
				</f:else>
			</f:if>
			<v:variable.set name="defaultLanguageId" value="{v:variable.get(name:'languages.0.languageId',useRawKeys:1)}" />
		</f:spaceless>
		<div class="form-group">
			<div class="btn-group btn-language-selector btn-group-mobile-block">
				<button type="button" class="btn btn-default language-selector dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="current">
						<img height="16" src="/typo3/sysext/core/Resources/Public/Icons/Flags/{flag->v:format.replace(substring:'flags-',replacement:'')->v:format.case(case:'upper')}.png" /> {title}<f:if condition="!{filter.language} || {filter.language}=={defaultLanguageId}"> [Standard]</f:if>
					</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu moox-module-dropdown">
					<f:for each="{languages}" as="language" iteration="iteration">
						<f:if condition="(!{filter.language} && {iteration.index}>0) || {language.languageId}!={filter.language}">
							<li role="separator" class="divider"></li>
							<li title="{language.title}">
								<a href="#" class="language-selector auto-submit" data-id="{f:if(condition:'{iteration.index}>0',then:language.languageId,else:'')}">
									<img height="16" src="/typo3/sysext/core/Resources/Public/Icons/Flags/{language.flagIdentifier->v:format.replace(substring:'flags-',replacement:'')->v:format.case(case:'upper')}.png" /> {language.title}<f:if condition="{language.languageId}=={defaultLanguageId}"> [Standard]</f:if>
								</a>
							</li>
						</f:if>
					</f:for>		
				</ul>
			</div>
			<f:form.hidden property="language" class="language-selector is-grouped-filter" />
		</div>
	</f:if>
</div>
	