<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">
	
	<f:if condition="{types->f:count()}>1">
		<div class="form-group">
			<div class="btn-group btn-type-selector btn-group-mobile-block">
				<button type="button" class="btn btn-default type-selector dropdown-toggle" style="width:100%" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="current">
						<f:if condition="{filter.type}!=''">
							<f:then>
								<core:icon identifier="list_icon_{filter.type}" size="small" /> {v:variable.get(name:"types.{filter.type}")}
							</f:then>
							<f:else>
								<core:icon identifier="actions-filter" size="small" /> Alle Typen
							</f:else>
						</f:if>
					</span> <span class="caret"></span>
				</button>
				<ul class="dropdown-menu moox-module-dropdown">
					<li>
						<a href="#" class="type-selector auto-submit" data-id="">
							<core:icon identifier="actions-filter" size="small" /> Alle Typen
						</a>
					</li>		
					<f:for each="{types}" as="label" key="type" iteration="iteration">
						<li role="separator" class="divider"></li>
						<li title="{label}">																	
							<a href="#" class="type-selector auto-submit" data-id="{type}">
								<core:icon identifier="list_icon_{type}" size="small" /> {label}
							</a>
						</li>						
					</f:for>		
				</ul>
			</div>
			<f:form.hidden property="type" class="type-selector is-grouped-filter" />
		</div>
	</f:if>
</div>
	