<div xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:n="http://typo3.org/ns/Neulandlotsen/MooxNews/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<div class="form-group">
		<label class="sr-only" for="year">Jahresfilter</label>
		<f:form.select property="year" options="{years}" prependOptionLabel="Alle Jahre" prependOptionValue="" id="year" class="form-control is-grouped-filter auto-submit" />
	</div>
	
</div>